<app-card-title [cardTitle]="role?.name" [cardSubtitle]="'Edit ' + role?.name + ' details below.'"></app-card-title>
<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#role" data-toggle="tab">Role Information</a>
            </li>
            <li>
                <a href="#composites" data-toggle="tab">Manage Composites</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="role" class="tab-pane active in">
                <app-role-form (formSubmitted)="updateRole($event)"></app-role-form>
            </div>
            <div id="composites" class="tab-pane">
                <app-client-role-picker [activeRoleId]="role?.id"></app-client-role-picker>
            </div>
        </div>
    </div>
</div>