<div class="header-new">
  <a [routerLink]="['../../']" class="opacity-half float-left mr-1 color-white" style="margin-top: 3px;" matTooltip="Go Back" mat-icon-button>
    <mat-icon>arrow_back</mat-icon>
  </a>
  <h1 *ngIf='role'>Edit {{role.name}}</h1>

  <button mat-mini-fab class="ml-2 bg-red z-1" *ngIf="canDelete" matTooltip="Delete Role" (click)="deleteRole()">
    <mat-icon>delete_outline</mat-icon>
  </button>
</div>

<mat-tab-group class="content-body">

    <mat-tab label="Role Information">
        <div class="wrapper">
            <app-role-form [allowSave]="canUpdate" (formSubmitted)="updateRole($event)"></app-role-form>
        </div>
    </mat-tab>

    <mat-tab label="Client Composites">
        <div class="wrapper">
            <app-client-role-picker [allowSave]="canUpdate" *ngIf="role" [activeRoleId]="role.id"></app-client-role-picker>
        </div>
    </mat-tab>

    <mat-tab label="Realm Composites">
        <div class="wrapper">
            <app-realm-role-picker [allowSave]="canUpdate" *ngIf="role" [activeRoleId]="role.id"></app-realm-role-picker>
        </div>
    </mat-tab>

    <mat-tab label="Users">
        <div class="wrapper">
            <app-view-users [canUpdate]="canUpdate" *ngIf="role" [activeRole]="role"></app-view-users>
        </div>
    </mat-tab>

    <mat-tab label="MicroApps">
        <div class="wrapper">
            <app-app-mapper [canUpdate]="canUpdate" *ngIf="role" [activeRole]="role"></app-app-mapper>
        </div>
    </mat-tab>

</mat-tab-group>
