<h2>MicroApps</h2>

<table class="table">
  <thead>
    <tr>
      <th>MicroApp</th>
      <th>Client</th>
      <th>Type</th>
      <th>Permissions</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let awp of apps">
      <td>
        {{awp.app.appTitle}}
      </td>

      <td>
        {{awp.app.clientName}}
      </td>

      <td>
        <span *ngIf="awp.app.native" tooltip="Native Application" tooltip-position="top">Native</span>
        <span *ngIf="!awp.app.native" tooltip="3rd Party Application" tooltip-position="top">Third Party</span>
      </td>

      <td>
        <div class="mdc-chip-set" *ngFor="let p of awp.permissions" [ngClass]="{'bg-green': p.active, 'bg-red': !p.active}">
          <div class="mdc-chip" tabindex="0">
            <div class="mdc-chip__text">{{p.name}}</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>