<app-card-title [cardTitle]="'MicroApps'"></app-card-title>

<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>MicroApp Name</th>
            <th>Client Name</th>
            <th>Type</th>
            <th>Permissions</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let awp of apps">

            <td>
              {{awp.app.appTitle}}
            </td>

            <td>
              {{awp.app.clientName}}
            </td>

            <td>
              <span *ngIf="awp.app.native" tooltip="Native Application" tooltip-position="top">
                Native
              </span>
              <span *ngIf="!awp.app.native" tooltip="3rd Party Application" tooltip-position="top">
                Third Party
              </span>
            </td>

            <td>
              <span *ngFor="let p of awp.permissions" [ngClass]="{'label-success': p.active, 'label-warning': !p.active}">
                <span class="label">{{p.name}}</span>
              </span>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>