<div class="row">
    <div class="col-lg-12">
        <div class="form-group">
            <div class="upload-bg text-center" (dragover)="handleDrag($event)" (dragenter)="handleDrag($event)" (dragleave)="handleDrag($event)" (drop)="handleDrop($event)" (click)="handleClick($event)">
                <span class="icon-upload-settings icon-upload"></span>
                <h3 class="upload-title">Upload App Bundle</h3>
                <p class="upload-body">Please upload in a Zip format</p>
                <p class="upload-body">Drag your files or click in this area to upload your file</p>
            </div>
            <input #fileUpload class="file-upload" type="file" style="display: none" accept="application/zip" (change)="filePicked($event)">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <button class="btn-primary btn" type="button" (click)="confirmFile()">Upload</button>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success margin-top" role="alert">
            <span class="icon-results-settings icon-upload icon-success-color"></span>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" [ngStyle]="{'width': uploadProgress + '%'}"></div>
            </div>
            <i class="alert-date">{{activeFile?.name}}</i>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-danger" *ngIf="errorMessage">
            <strong>Error: </strong> {{errorMessage}}
        </div>
    </div>
</div>