<app-drag-drop-file-picker
    [title]="'Upload App Bundle'"
    [description]="'Please upload in .zip format'"
    [accept]="'application/zip'"
    (fileChosen)="filePicked($event)">
</app-drag-drop-file-picker>

<button mat-flat-button color="primary" (click)="confirmFile()">Upload</button>

<!-- <app-standard-file-progress-bar [activeFile]="activeFile" [uploadProgress]="uploadProgress"></app-standard-file-progress-bar> -->
<mat-progress-bar mode="buffer"></mat-progress-bar>

<div class="alert alert-danger" *ngIf="errorMessage">
    <strong>Error: </strong> {{errorMessage}}
</div>
