<div class="table-container">
  <app-listview-toolbar
    searchPlaceholder="Search widgets"
    (search)="search($event)"
    [showCreateButton]="false"
  ></app-listview-toolbar>
  <table class="table">
    <thead>
      <tr>
        <th>Widget</th>
        <th>Custom Element Tag</th>
        <th>Boostrapper Module</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let widget of widgets">
        <td>
          <a href="#" class="pointer-events cursor-default">
            <mat-icon class="avatar float-left" style="margin-top:-7px;">widgets</mat-icon>
            {{widget.widgetTitle}}
          </a>
        </td>

        <td>
          <div class="faux-chip monospace opacity-twothird mx-0 size-12">{{widget.widgetTag}}</div>
        </td>
        
        <td>
          {{widget.widgetBootstrap}}
        </td>
      </tr>
      <tr *ngIf="widgets.length === 0">
        <td class="no-block" colspan="3">
          No widgets founds.
        </td>
      </tr>
    </tbody>
  </table>
</div>