<h2>Role Mappings</h2>

<h3>Assigned Roles</h3>

<div *ngFor="let role of roles">
  <app-bind-checkbox-input [label]="role.name" [(value)]="role.active"></app-bind-checkbox-input>
</div>

<div *ngIf="canUpdate">
  <button type="button" class="btn-primary btn" (click)="update()">
    Save
  </button>
</div>

<h3>Effective Roles</h3>

<ul class="list-group">
  <li class="list-group-item active">
    Role Name
  </li>

  <li class="list-group-item" *ngFor="let role of effectiveRoles">
    {{role.name}}
  </li>
</ul>
