<h2>Role Mappings</h2>
<mat-grid-list cols="4" rowHeight="650">
  <mat-grid-tile colspan="3">
    <mat-list class="position-absolute" style="top: 0;">
      <mat-list-item >
        <h3>Assigned Roles</h3>
      </mat-list-item>
      <mat-list-item class="half-width display-inline-block" *ngFor="let role of roles">
        <app-bind-checkbox-input [label]="role.name" [(value)]="role.active"></app-bind-checkbox-input>
      </mat-list-item>
      <mat-list-item>
        <button mat-flat-button color="primary" class="mt-1" *ngIf="canUpdate" (click)="update()">Save</button>
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-list class="position-absolute" style="top: 0;">
      <mat-list-item>
        <h3>Effective Roles</h3>
      </mat-list-item>
      <mat-list-item>
        <h4>Role Name</h4>
      </mat-list-item>
      <mat-list-item *ngFor="let role of effectiveRoles">
        {{role.name}}
      </mat-list-item>
    </mat-list>
  </mat-grid-tile>
</mat-grid-list>