<app-page-title pageTitle="Microapp Manager"></app-page-title>

<mat-tab-group class="content-body">
    <mat-tab label="Microapps">
      <div class="wrapper">
        <app-list-all-apps
          [allItems]="allApps"
          [vendors]="vendors"
          (refresh)="listApps()"
        ></app-list-all-apps>
      </div>
    </mat-tab>

    <mat-tab label="Shared Requests">
      <div class="wrapper">
        <app-shared-requests-tab></app-shared-requests-tab>
      </div>
    </mat-tab>
</mat-tab-group>