<div class="opendash-card-title-bg">
  <!--
      <div class="icon-float-right" tooltip="Add Microapp" tooltip-position="top">
          <span class="icon-title-right-settings icon-add"></span>
        </div>
      -->
  <app-card-title [cardTitle]="'Current MicroApps'"
    [cardSubtitle]="'The following is a complete list of native and installed MicroApps in OpenDash 360.'">
  </app-card-title>
</div>

<div class="row">
  <div class="col-lg-12">
    <ul class="nav nav-pills horizontal-opendash">
      <li class="active">
        <a href="#activeMicroApps" data-toggle="tab">Active MicroApps</a>
      </li>
      <li>
        <a href="#pendingMicroApps" data-toggle="tab">Pending MicroApps</a>
      </li>
      <li>
        <a href="#nativeApps" data-toggle="tab">Native MicroApps</a>
      </li>
    </ul>
    <div class="tab-content tab-content-rmf clearfix">
      <div id="activeMicroApps" class="tab-pane active in">
        <app-list-approved-apps [apps]="approvedApps"></app-list-approved-apps>
      </div>
      <div id="pendingMicroApps" class="tab-pane">
        <app-list-pending-apps [apps]="pendingApps"></app-list-pending-apps>
      </div>
      <div id="nativeApps" class="tab-pane">
        <app-list-native-apps [apps]="nativeApps"></app-list-native-apps>
      </div>
    </div>
  </div>
</div>