<div *ngIf="!profileError && profile">
	<button mat-mini-fab [matMenuTriggerFor]="menuUser" class="ml-2 mr-1 bg-gray round">
    	<mat-icon mat-list-icon class="color-darkgray">person</mat-icon> 
    </button>

	<mat-menu #menuUser="matMenu">
		<button mat-menu-item matTooltip="Edit Account at Keycloak">
			<a [href]="accountURL" target="_blank">
				<mat-icon mat-list-icon>perm_identity</mat-icon> My Account
			</a>
		</button>
		<button mat-menu-item matTooltip="Logout" (click)="logout()">
			<mat-icon mat-list-icon>logout</mat-icon> Logout
		</button>
	</mat-menu>
</div>

<div *ngIf="profileError">
    <mat-icon mat-mini-fab color="red">account_circle</mat-icon>
    <h4 mat-line color="red">Error Loading Profile</h4>
</div>