// SIDEBAR / USER MENU

// Adjustments to default button positioning/size
.userTrigger {
}

.parentButton {
    width: 100%;
    text-align: left;
    color: #fff;
    font-weight: 400;
}

.userIcon {
    font-size: 16px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 2.7;
    margin-left: 0;
    float: left;
    display: inline-block;
    margin-left: 5px !important;
    margin-right: 14px !important;
    margin-top: 3px;
}