// SIDEBAR / USER MENU

// Adjustments to default button positioning/size
.userTrigger {
}

.parentButton {
    width: calc(100% - 10px);
    color: #fff;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.2s ease all;
    display: flex;
    align-items: center;

    &:hover { opacity: 1; }
}

.userIcon {
    margin: 5px 10px;
    float: left;
    width: 30px;
    height: 30px;

    &.image {
        background-color: #0063BF;
        
        .avatar-image {
            width: 20px;
            height: 20px;
            vertical-align: middle;
        }
    }

    .avatar-content {
        height: 30px;
        width: 30px;
    }
    
    &.initial {
    }
}
