<mat-list-item *ngIf="!profileError && profile">
	<button mat-button [matMenuTriggerFor]="menuUser" class="userTrigger">
    	<mat-icon mat-list-icon>account_circle</mat-icon> 
    	{{profile.firstName}} {{profile.lastName}}
    </button>

	<mat-menu #menuUser="matMenu">
		<button mat-menu-item matTooltip="Edit Account at Keycloak">
			<a [href]="accountURL" target="_blank">
				<mat-icon mat-list-icon>perm_identity</mat-icon> My Account
			</a>
		</button>
		<button mat-menu-item matTooltip="Logout" disabled>
			<mat-icon mat-list-icon>logout</mat-icon> Logout
		</button>
	</mat-menu>
</mat-list-item>

<mat-list-item *ngIf="profileError">
    <mat-icon mat-list-icon>account_circle</mat-icon>
    <h4 mat-line>Error Loading Profile</h4>
</mat-list-item>
