<div class="content-body interior">
  <mat-horizontal-stepper #stepper>
    <mat-step>
      <form>
        <ng-template matStepLabel>Basic Information</ng-template>
        <h2>Basic Information</h2>
        <div class="half-width display-inline-block vertical-top">
          <mat-form-field>
            <input matInput placeholder="Last, First Name, Middle Initial">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Email Address">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Phone Number (DSN or Commercial)">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Mailing Address">
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="State">
                <mat-option value="option">Alabama</mat-option>
                <mat-option value="option">Alaska</mat-option>
                <mat-option value="option">Arizona</mat-option>
                <mat-option value="option">Arkansas</mat-option>
                <mat-option value="option">California</mat-option>
                <mat-option value="option">Colorado</mat-option>
                <mat-option value="option">Connecticut</mat-option>
                <mat-option value="option">Delaware</mat-option>
                <mat-option value="option">Florida</mat-option>
                <mat-option value="option">Georgia</mat-option>
                <mat-option value="option">Hawaii</mat-option>
                <mat-option value="option">Idaho</mat-option>
                <mat-option value="option">Illinois</mat-option>
                <mat-option value="option">Indiana</mat-option>
                <mat-option value="option">Iowa</mat-option>
                <mat-option value="option">Kansas</mat-option>
                <mat-option value="option">Kentucky</mat-option>
                <mat-option value="option">Louisiana</mat-option>
                <mat-option value="option">Maine</mat-option>
                <mat-option value="option">Maryland</mat-option>
                <mat-option value="option">Massachusetts</mat-option>
                <mat-option value="option">Michigan</mat-option>
                <mat-option value="option">Minnesota</mat-option>
                <mat-option value="option">Mississippi</mat-option>
                <mat-option value="option">Missouri</mat-option>
                <mat-option value="option">Montana</mat-option>
                <mat-option value="option">Nebraska</mat-option>
                <mat-option value="option">Nevada</mat-option>
                <mat-option value="option">New Hampshire</mat-option>
                <mat-option value="option">New Jersey</mat-option>
                <mat-option value="option">New Mexico</mat-option>
                <mat-option value="option">New York</mat-option>
                <mat-option value="option">North Carolina</mat-option>
                <mat-option value="option">North Dakota</mat-option>
                <mat-option value="option">Ohio</mat-option>
                <mat-option value="option">Oklahoma</mat-option>
                <mat-option value="option">Oregon</mat-option>
                <mat-option value="option">Pennsylvania</mat-option>
                <mat-option value="option">Rhode Island</mat-option>
                <mat-option value="option">South Carolina</mat-option>
                <mat-option value="option">South Dakota</mat-option>
                <mat-option value="option">Tennessee</mat-option>
                <mat-option value="option">Texas</mat-option>
                <mat-option value="option">Utah</mat-option>
                <mat-option value="option">Vermont</mat-option>
                <mat-option value="option">Virginia</mat-option>
                <mat-option value="option">Washington</mat-option>
                <mat-option value="option">West Virginia</mat-option>
                <mat-option value="option">Wisconsin</mat-option>
                <mat-option value="option">Wyoming</mat-option>
                <mat-option value="option">District of Columbia</mat-option>
                <mat-option value="option">Puerto Rico</mat-option>
                <mat-option value="option">Guam</mat-option>
                <mat-option value="option">American Samoa</mat-option>
                <mat-option value="option">U.S. Virgin Islands</mat-option>
                <mat-option value="option">Northern Mariana Islands</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="ZIP Code">
          </mat-form-field>
        </div>

        <div class="half-width display-inline-block vertical-top">
          <small class="pb-1">Citizenship</small><br>
          <mat-button-toggle-group class="mb-2">
            <mat-button-toggle>US</mat-button-toggle>
            <mat-button-toggle>FN</mat-button-toggle>
            <mat-button-toggle>Other</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field>
            <input matInput placeholder="Organization">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Symbol/Department">
          </mat-form-field>
          <small class="pb-1">Designation</small><br>
          <mat-button-toggle-group class="mb-2">
            <mat-button-toggle>Military</mat-button-toggle>
            <mat-button-toggle>Civilian</mat-button-toggle>
            <mat-button-toggle>Contractor</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-form-field>
            <input matInput placeholder="Job Title & Grade/Rank">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Directorate/Division/Branch">
          </mat-form-field>
        </div>

        <div class="text-right mt-2">
          <button
            type="button"
            mat-stroked-button
            routerLink="/portal/my-registration/"
            color="secondary"
            matTooltip="Return to Overview"
            class="float-left"
          >
            <mat-icon>refresh</mat-icon>
            My Registration
          </button>
          <button
            type="button"
            mat-raised-button
            matStepperNext
            color="primary"
            matTooltip="Next Step"
            class="ml-2"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <mat-card class="float-right ml-4">
        <h3 class="ml-1 mt-1 mb-0">Form Progress</h3>
        <mat-list>
          <mat-list-item>
            <mat-icon mat-list-icon class="avatar bg-green color-white"
              >check</mat-icon
            >
            <p mat-line>System Authorization Access Form (SAAR DD2875)</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon class="avatar bg-blue color-white"
              >edit</mat-icon
            >
            <p mat-line>Acceptable Use Policy</p>
          </mat-list-item>
          <mat-list-item>
            <mat-icon mat-list-icon class="avatar bg-gray color-white"
              >assignment</mat-icon
            >
            <p mat-line>PCTE NDA</p>
          </mat-list-item>
        </mat-list>
      </mat-card>

      <form class="full-width display-none">
        <ng-template matStepLabel>Required Forms</ng-template>
        <h2>Required Forms</h2>
        <h3>System Authorization Access Form (SAAR) DD2875</h3>
        <div>text and form</div>
        <div class="text-right mt-2">
          <button
            type="button"
            mat-stroked-button
            routerLink="/portal/my-registration/"
            color="secondary"
            matTooltip="Return to Overview"
            class="float-left"
          >
            <mat-icon>refresh</mat-icon>
            My Registration
          </button>
          <button
            type="button"
            mat-button
            matStepperPrevious
            matTooltip="Previous Step"
            class="mr-1"
          >
            Back
          </button>
          <button
            type="button"
            mat-raised-button
            matStepperNext
            color="primary"
            matTooltip="Next Step"
          >
            Next
          </button>
        </div>
      </form>

      <form class="full-width">
        <ng-template matStepLabel>Required Forms</ng-template>
        <h2>Required Forms</h2>
        <h3>Acceptable Use Policy</h3>
        <div>text and form</div>
        <div class="text-right mt-2">
          <button
            type="button"
            mat-stroked-button
            routerLink="/portal/my-registration/"
            color="secondary"
            matTooltip="Return to Overview"
            class="float-left"
          >
            <mat-icon>refresh</mat-icon>
            My Registration
          </button>
          <button
            type="button"
            mat-button
            matStepperPrevious
            matTooltip="Previous Step"
            class="mr-1"
          >
            Back
          </button>
          <button
            type="button"
            mat-raised-button
            matStepperNext
            color="primary"
            matTooltip="Next Step"
          >
            Next
          </button>
        </div>
      </form>

      <form class="full-width display-none">
        <ng-template matStepLabel>Required Forms</ng-template>
        <h2>Required Forms</h2>
        <h3>PCTE NDA</h3>
        <div>text and form</div>
        <div class="text-right mt-2">
          <button
            type="button"
            mat-stroked-button
            routerLink="/portal/my-registration/"
            color="secondary"
            matTooltip="Return to Overview"
            class="float-left"
          >
            <mat-icon>refresh</mat-icon>
            My Registration
          </button>
          <button
            type="button"
            mat-button
            matStepperPrevious
            matTooltip="Previous Step"
            class="mr-1"
          >
            Back
          </button>
          <button
            type="button"
            mat-raised-button
            matStepperNext
            color="primary"
            matTooltip="Next Step"
          >
            Next
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Certifications</ng-template>
      <h2>Certifications</h2>
      <h3>Certification Name</h3>
      <div>
        Date issued, date expires, certification status radio (active,
        inactive), certification file upload, cert provider logo file (automated
        based on name if possible)
      </div>
      <div class="text-right mt-2">
        <button
          type="button"
          mat-stroked-button
          routerLink="/portal/my-registration/"
          color="secondary"
          matTooltip="Return to Overview"
          class="float-left"
        >
          <mat-icon>refresh</mat-icon>
          My Registration
        </button>
        <button
          type="button"
          mat-button
          matStepperPrevious
          matTooltip="Previous Step"
          class="mr-1"
        >
          Back
        </button>
        <button
          type="button"
          mat-raised-button
          matStepperNext
          color="primary"
          matTooltip="Next Step"
        >
          Next
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Complete</ng-template>
      <h2>Complete Registration</h2>
      <div>Confirmation of previous forms</div>
      <div class="text-right mt-2">
        <button
          type="button"
          mat-stroked-button
          routerLink="/portal/my-registration/"
          color="secondary"
          matTooltip="Return to Overview"
          class="float-left"
        >
          <mat-icon>refresh</mat-icon>
          My Registration
        </button>
        <button
          type="button"
          mat-stroked-button
          (click)="stepper.reset()"
          matTooltip="Reset Forms"
          class="mr-1"
        >
          Reset
        </button>
        <button
          type="button"
          mat-button
          matStepperPrevious
          matTooltip="Previous Step"
          class="mr-1"
        >
          Back
        </button>
        <button
          type="button"
          mat-raised-button
          matTooltip="Submit Registration"
          color="primary"
        >
          Submit
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
