<mat-form-field class="form-field">
  <mat-chip-list #chipList aria-label="Granted MicroApps">
    <mat-chip
      *ngFor="let opt of selectedOptions; let i = index"
      [removable]="true"
      (removed)="remove(i)"
    >
      {{ opt.display }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Choose an App..."
      #input
      [formControl]="inputCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let opt of filteredOptions | async" [value]="opt">
      {{ opt.display }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
