<!-- <h2>Edit User Profile</h2> -->

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
    <mat-list>
        <mat-list-item class="mb-2">
            <app-text-input
                [type]="'text'"
                [label]="'First Name'"
                [placeholder]="'John'"
                [maxChars]="250"
                [errorMsg]="'Error!'"
                [controlName]="'firstName'"
                [formGroup]="form"
                [errorMsgClassList]="'alert-danger'"
                [fullWidth]="true"
            ></app-text-input>
        </mat-list-item>

        <mat-list-item class="mb-2">
            <app-text-input
                [type]="'text'"
                [label]="'Last Name'"
                [placeholder]="'Doe'"
                [maxChars]="250"
                [errorMsg]="'Error!'"
                [controlName]="'lastName'"
                [formGroup]="form"
                [errorMsgClassList]="'alert-danger'"
                [fullWidth]="true"
            ></app-text-input>
        </mat-list-item>

        <mat-list-item>
            <app-text-input
                [type]="'text'"
                [label]="'Email Address'"
                [placeholder]="'john.doe@email.com'"
                [maxChars]="254"
                [errorMsg]="'Error!'"
                [controlName]="'email'"
                [formGroup]="form"
                [errorMsgClassList]="'alert-danger'"
                [fullWidth]="true"
            ></app-text-input>
        </mat-list-item>

        <mat-list-item>
            <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
        </mat-list-item>

    </mat-list>
</form>
