    <div class="pcte-registration-bg-right">

        <div class="row">
            <div class="col-12">
                <div class="container padding-bottom-none">
                    <img class="registration-logo" src="assets/images/army-pcte-logo.png"
                        alt="Persistent Cyber Training Environment">
                </div>

                <div class="classHeader">
                    <span>This page contains dynamic content -- Highest classification is:
                        <strong>UNCLASSIFIED</strong>
                    </span>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-6">
                            <div class="center-bg">
                                <h2 *ngIf="this.registration">{{this.registration.title}}</h2>
                                <p>You will be completing the following steps in order to request access to the PCTE platform.</p>


                                    <mat-accordion *ngIf="this.registration" class="full-width vertical-stepper">
                                        <mat-expansion-panel *ngFor="let step of registration.overview" class="stepper-bg">
                                          <mat-expansion-panel-header>
                                              <mat-panel-title>{{step.title}}</mat-panel-title>
                                          </mat-expansion-panel-header>
                                          <span [innerHTML]="step.content | safeHtml"></span>
                                        </mat-expansion-panel>
                                      </mat-accordion>                          


                                      <button mat-flat-button color="primary" class="btn-existing-user" [routerLink]="['/registration/basic-info']">
                                        Begin Registration</button>
                                      <button mat-flat-button color="primary" class="btn-return" [routerLink]="['/']">
                                       Cancel</button>



                            </div>
                        </div>


                        <div class="col-4">
                            <div class="right-bg">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="foot-container">
            <img class="footer-logo" src="assets/images/foot-logo.png" alt="OpenDash360 PEOstri">
        </div>


