<div class="pcte-registration-bg-right">
  <div class="row">
    <div class="col-12">
      <div class="container pcte-landing-header padding-bottom-none">
        <img class="registration-logo" src="assets/images/army-pcte-logo.png"
          alt="Persistent Cyber Training Environment">
        <h1 *ngIf="this.registration">{{this.registration.title}}</h1>
        <p>You will be completing the following steps in order to request access to the PCTE platform.</p>
      </div>
      <div class="container padding-top-sm left-bg">
        <div class="row">
          <div class="col-6">
            <mat-accordion *ngIf="this.registration" class="full-width vertical-stepper">
              <mat-expansion-panel *ngFor="let step of registration.overview" class="stepper-bg">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{step.title}}</mat-panel-title>
                </mat-expansion-panel-header>
                <span [innerHTML]="step.content | safeHtml"></span>
              </mat-expansion-panel>
            </mat-accordion>
            <div class="mt-3">
              <a [routerLink]="['/registration/basic-info']" matTooltipPosition="right" [matTooltipDisabled]="browserCompatible && networkAccessible" [matTooltip]="platformTooltip">
                <button mat-flat-button color="primary" class="btn-blue btn-block" [disabled]="!browserCompatible || !networkAccessible">
                  <mat-icon class="login-icon" matSuffix>check</mat-icon>
                  <span class="btn-text">
                    Begin Registration Online
                  </span>
                </button>
              </a>
              <a [routerLink]="['/registration/manual']">
                <button mat-flat-button color="primary" class="btn-purple btn-block">
                  <mat-icon class="login-icon" matSuffix>check</mat-icon>
                  <span class="btn-text">
                    Begin Registration Manually
                  </span>
                </button>
              </a>
              <a class="back" [routerLink]="['/']">
                Go Back
              </a>
            </div>
          </div>
          <div class="col-6">
            <div class="right-bg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-corner alert-dismissible fade show" role="alert">
  <div class="alert-header">
    Platform Compatibility
  </div>
  <div class="alert-body">

    <button mat-flat-button color="primary" class="btn-transparent">
      <div [ngClass]="{'warning-icon': !browserCompatible, 'success-icon': browserCompatible}">
        <mat-icon class="login-icon alert-ic" matSuffix [ngClass]="{'success-icon': browserCompatible}">
          {{browserCompatible ? 'checkl' : 'warning'}}
        </mat-icon>
      </div>
      <span class="btn-text">
        Browser {{browserCompatible ? 'Support' : 'Support'}}
      </span>
      <mat-icon *ngIf="!browserCompatible"  class="icon-info" matSuffix matTooltipClass="alert-info-tooltip"
        matTooltipPosition="above" matTooltip="Browser not supported. We recommend the latest version of Chrome.">info</mat-icon>
    </button>
    <button mat-flat-button color="primary" class="btn-transparent">
      <div [ngClass]="{'warning-icon': !networkAccessible, 'success-icon': networkAccessible}">
        <mat-icon class="login-icon alert-ic" matSuffix [ngClass]="{'success-icon': networkAccessible}">
          {{networkAccessible ? 'checkl' : 'warning'}}
        </mat-icon>
      </div>
      <span class="btn-text">
        Network {{networkAccessible ? 'Access' : 'Access'}}
      </span>
      <mat-icon *ngIf="!networkAccessible" class="icon-info" matSuffix matTooltipClass="alert-info-tooltip"
        matTooltipPosition="above" matTooltip="Necessary port blocked at the network level. Please contact an administrator.">info</mat-icon>
    </button>

  </div>
</div>

<div class="foot-container">
  <img class="footer-logo-left" src="assets/images/peostri-logo.png" alt="PEOSTRI Logos">
  <img class="footer-logo-left" style="float:right;" src="assets/images/foot-logo.png" alt="OpenDash360 Logo">
</div>
