.pageSizeSelect{
    width: 50px;
}

.paginator{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.filter-wrapper {
    padding: 0 24px;
    display: block;
    margin-bottom: -20px;
}