<app-basic-string-filter [labelText]="'Search by Name, Email, or User Name'" [placeholderText]="'Enter Search Criteria Here'"
(searchUpdated)="searchUpdated($event)"></app-basic-string-filter>
<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-force text-center">Status</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>User ID</th>
            <th>Email Address</th>
            <th class="table-force text-center">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users | stringFilter:'firstName,lastName,username,email':search">
            <td class="text-center">
              <span *ngIf="user.enabled" tooltip="Enabled" tooltip-position="top">
                <span class="icon-success-color icon-enabled-no-click"></span>
              </span>
            </td>

            <td>
              <a class="table-edit-hover" (click)="addUser(user)">
                <div>{{user.username}}</div>
                <div class="icon-primary-color icon-add"></div>
              </a>
            </td>

            <td>
              {{user.firstName}} {{user.lastName}}
            </td>

            <td>
              {{user.id}}
            </td>

            <td>
              {{user.email}}
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>