<app-basic-string-filter [labelText]="'Search by Name, Email, or User Name'" [placeholderText]="'Enter Search Criteria Here'"
(searchUpdated)="searchUpdated($event)"></app-basic-string-filter>
<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-force text-center">Status</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>User ID</th>
            <th>Email Address</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of users | stringFilter:'firstName,lastName,username,email':search">
            <td class="text-center">
              <span *ngIf="user.enabled" tooltip="Enabled" tooltip-position="top">
                  <span class="bg-success uk-circle-shape"></span>
              </span>

              <span *ngIf="!user.enabled" tooltip="Enabled" tooltip-position="top">
                  <span class="bg-warning uk-circle-shape"></span>
              </span>
            </td>

            <td>
              {{user.firstName}} {{user.lastName}}
            </td>

            <td>
              {{user.username}}
            </td>

            <td>    
              <input readonly value="{{user.id}}">
            </td>

            <td>
              {{user.email}}
            </td>

            <td>
              <a (click)="addUser(user)">
                <button class="btn-sm btn-success btn">Add to Role</button>
              </a>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>