.expand-alert-rmf{
    display: inline-block; 
    margin: 0px auto; 
    position: fixed; 
    transition: all 2.5s ease-in-out 2.5s; 
    z-index: 1031; 
    bottom: 20px; 
    right: 20px; 
}

.close-alert{
    position: absolute; right: 10px; top: 5px; z-index: 10312;
}

.alert-title{
    font-size: 1.2rem;
}

.alert-message{
    font-size: .9rem;
    display: block;
}

.alert-slideout-close{
    font-size: 1rem !important;
    color: $white;
    float: right;
    position: absolute !important;
    top: 5px !important;
    right: 10px !important;
    padding: 0px !important;
    background: transparent;
}

.alert{
    position: inherit;
}

.alert-success{
    border:none;
    border-left: 5px solid $success;
}

.alert-warning{
    border:none;
    border-left: 5px solid $warning;
}

.alert-danger{
    border:none;
    border-left: 5px solid $danger;
}

.alert-info{
    border:none;
    border-left: 5px solid $info;
}


.alert-date{
    font-size: 85%;
    opacity: .5;
    margin-bottom:7px;
    margin-bottom: 10px;
    display: block; 
}

.alert .fa-angle-right{
    float: right;
    margin-top: 3px;
}

.notifier__notification--success{
    border-left: 5px solid $success;
    background: $white;
}

.notifier__notification--warning{
    border-left: 5px solid $warning;
    background: $white;

}

.notifier__notification--danger{
    border-left: 5px solid $danger;
    background: $white;
}

.notifier__notification--info{
    border-left: 5px solid $info;
    background: $white;
}

.notifier__notification--success .notifier__notification-button-icon {
    fill: $primary;
}

.alert-link{
  font-size: 85%;
  display: block;
  font-weight: 300;
}

.navbar-collapse .alert-success{
    background: $flyout-bg;
    border-left: 5px solid $success;
}

.navbar-collapse .alert-warning{
    background: $flyout-bg;
    border-left: 5px solid $warning;
}

.navbar-collapse .alert-danger{
    background: $flyout-bg;
    border-left: 5px solid $danger;
}

.navbar-collapse .alert-info{
    background: $flyout-bg;
    border-left: 5px solid $info;
}

.alert,
.alert a,
.alert p,
.alert-date,
.alert-link,
.notifier__notification-message{
    color: $primary;
}

.alert-slide-settings .alert, 
.alert-slide-settings .alert a, 
.alert-slide-settings .alert p, 
.alert-slide-settings .alert-date, 
.alert-slide-settings .alert-link, 
.alert-slide-settings .notifier__notification-message {
    color: $white;
}

.feedback .alert, 
.feedback .alert a, 
.feedback .alert p, 
.feedback .alert-date, 
.feedback .alert-link, 
.feedback .notifier__notification-message {
    color: $white;
}
