// ATOMS / BUTTONS

%btn {
    display: inline-block;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
   border: 1px solid $trans;
   font-weight: 300;
    cursor: pointer;
   font-size: 1rem;
    height: calc(2.25rem + 20px);
   padding: 0 15px 0 15px;
    border-radius: 3px;
}

.btn{
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    height: calc(2.25rem + 20px);
    padding: 0 15px 0 15px;
}

button:focus {
    outline:0 !important;
}

button,
.btn-a {
    transition: all 0.3s ease;
    border: 0;
    border-radius: 3px;
    color: $white;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 0 15px;
    position: relative;

    span {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }

}

.btn-a{
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    height: calc(2.25rem + 20px);
    display: inline-block;
}

.btn-a:hover,
.btn-a:focus{
    text-decoration: none;
    color: $white;
    padding-top: 15px;
}

.btn-a:hover,
.btn-a:focus,
button:hover,
button:active,
button.inactive,
button.disabled,
button.inactive.secondary,
.btn-primary-rmf:hover,
.btn-secondary-rmf:hover,
.btn-danger:hover,
.btn-add:hover,
.btn-save:hover,
.btn-info:hover,
.btn-cancel-rmf:hover {
    opacity: 0.5 !important;
}

.btn-success:hover{
    border: 1px solid $success;
}

.btn-danger:hover{
    border: 1px solid $danger;
}

.btn-warning:hover{
    border: 1px solid $warning;
}

.btn-info:hover{
    border: 1px solid $info;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary-rmf,
.btn-primary-rmf:active,
.btn-primary-rmf:focus,
.btn-primary-rmf.disabled,
.btn-primary-rmf:hover {
    @extend %btn;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    color: $body-color
}

.btn-cancel-rmf,
.btn-cancel-rmf:active,
.btn-cancel-rmf:focus,
.btn-cancel-rmf:disabled,
.btn-cancel-rmf:hover{
    @extend %btn;
    background-color: #eaeaea;
    color: $primary;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.disabled,
.btn-secondary:hover,
.btn-secondary-rmf,
.btn-secondary-rmf:active,
.btn-secondary-rmf:focus,
.btn-secondary-rmf.disabled,
.btn-secondary-rmf:hover {
    @extend %btn;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $white-full;
}

.btn-save,
.btn-save:active,
.btn-save:focus,
.btn-save.disabled,
.btn-save:hover {
    @extend %btn;
    border: $primary;
    background-color: $primary;
    color: #fff;
}

.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:disabled,
.btn-danger:hover {
    @extend %btn;
    background: $danger;
    border: $danger;
    color: $white;
}

.btn-add,
.btn-add:active,
.btn-add:focus,
.btn-add:disabled,
.btn-add:hover,
.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:disabled,
.btn-success:hover {
    @extend %btn;
    background-color: $success;
    border: $border;
    color: $white;
}

.btn-info,
.btn-info:active,
.btn-info:focus,
.btn-info:disabled,
.btn-info:hover {
    @extend %btn;
    background-color: $info;
    border: $border;
    color: $white;
}


.slideout-padding-applets .btn-add {
    border-radius: 0;
}

.btn-group{
    display: flex;
    display: -webkit-inline-box;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child),
.btn-group>a:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group>a:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}

.btn-group-vertical>.btn, .btn-group>.btn-a {
    position: relative;
    float: left;
}

.btn-bootstrapper {
    padding: 0 15px 0 15px;
    font-size: 1rem;
}

.btn-ico {
    appearance: none;
    background: $trans;
    color: $white;
}

div .btnCloseSlider { 
    right: 0;
    top: 25px;

    span {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.btn-filter{
    margin-top:37px;
    width: calc(100%);
    height: 47px!important;
}

