// ATOMS / BUTTONS

%btn {
    display: inline-block;
    line-height: 1.6;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    user-select: none;
    background-image: none;
    border: 1px solid $trans;
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    height: calc(.5rem + 20px);
    padding: 0 15px;
    border-radius: 0;
}

.btn {
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    height: calc(.5rem + 20px);
    padding: 0 15px;
    border-radius: 0;
}

button:focus {
    outline: 0 !important;
}

button,
.btn-a {
    transition: all 0.3s ease;
    border: 0;
    border-radius: 0;
    color: $white;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 0 15px;
    position: relative;

    span {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.2;
    }
}

.btn-a {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    padding: 15px;
    height: calc(.5rem + 20px);
    display: inline-block;

    &:hover,
    &:focus {
        text-decoration: none;
        color: $white;
        padding-top: 15px;
    }
}

.btn-a:hover,
.btn-a:focus,
button:hover,
button:active,
button.inactive,
button.disabled,
button.inactive.secondary,
.btn-primary-rmf:hover,
.btn-secondary-rmf:hover,
.btn-danger:hover,
.btn-add:hover,
.btn-save:hover,
.btn-info:hover,
.btn-cancel-rmf:hover {
    opacity: 0.5 !important;
}

.btn-success:hover {
    border: 1px solid $success;
}

.btn-danger:hover {
    border: 1px solid $danger;
}

.btn-warning:hover {
    border: 1px solid $warning;
}

.btn-info:hover {
    border: 1px solid $info;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus,
.btn-primary.disabled,
.btn-primary:hover,
.btn-primary-rmf,
.btn-primary-rmf:active,
.btn-primary-rmf:focus,
.btn-primary-rmf.disabled,
.btn-primary-rmf:hover {
    @extend %btn;
    @extend %border-silver;
    background-color: $sky-blue;
    color: $white
}

.btn-cancel-rmf,
.btn-cancel-rmf:active,
.btn-cancel-rmf:focus,
.btn-cancel-rmf:disabled,
.btn-cancel-rmf:hover {
    @extend %btn;
    background-color: transparent;
    color: $primary;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary.disabled,
.btn-secondary:hover,
.btn-secondary-rmf,
.btn-secondary-rmf:active,
.btn-secondary-rmf:focus,
.btn-secondary-rmf.disabled,
.btn-secondary-rmf:hover {
    @extend %btn;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $white-full;
}

.btn-transparent,
.btn-transparent:active,
.btn-transparent:focus,
.btn-transparent.disabled,
.btn-transparent:hover {
    @extend %btn;
    border: none;
    background-color: transparent;
    color: $grey;
}

.btn-save,
.btn-save:active,
.btn-save:focus,
.btn-save.disabled,
.btn-save:hover {
    @extend %btn;
    border: $primary;
    background-color: $primary;
    color: #fff;
}

.btn-danger,
.btn-danger:active,
.btn-danger:focus,
.btn-danger:disabled,
.btn-danger:hover {
    @extend %btn;
    background: $danger;
    border: $danger;
    color: #fff;
}

.btn-add,
.btn-add:active,
.btn-add:focus,
.btn-add:disabled,
.btn-add:hover,
.btn-success,
.btn-success:active,
.btn-success:focus,
.btn-success:disabled,
.btn-success:hover {
    @extend %btn;
    background-color: $success;
    border: $border;
    color: #fff;
}

.btn-info,
.btn-info:active,
.btn-info:focus,
.btn-info:disabled,
.btn-info:hover {
    @extend %btn;
    background-color: $info;
    border: $border;
    color: #fff;
}

.slideout-padding-applets .btn-add {
    border-radius: 0;
}

.btn-group {
    display: flex;
    display: -webkit-inline-box;
}

.btn-group > .btn:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child),
.btn-group > a:last-child:not(:first-child),
.btn-group > .dropdown-toggle:not(:first-child) {
    border-radius: 0 !important;
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle),
.btn-group > a:first-child:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0 !important;
}

.btn-group-vertical > .btn,
.btn-group > .btn-a {
    position: relative;
    float: left;
}

.btn-bootstrapper {
    padding: 0 15px;
    font-size: 1rem;
}

.btn-ico {
    appearance: none;
    background: $trans;
    color: #fff;
}

div .btnCloseSlider { 
    right: 0;
    top: -15px;
    float: right;

    span {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.btn-filter {
    margin-top: 34px;
    width: calc(100%);
    height: 50px !important;
    background: $sky-blue;
    color: #fff;
    border: 1px solid transparent;

    &:hover,
    &:active {
        background: $sky-blue;
        color: #fff;
        border: 1px solid transparent;
        opacity: .5;
    }
}

.pull-right-margin {
    margin: 35px 25px 0 0;
}

.icon-float-right {
    float: right;
    cursor: pointer;
    margin-top: 0 !important;
}

.icon-title-right-settings {

    &:before {
        color: $grey;
        font-size: 1.5rem;
    }

    &:hover {
        opacity: 0.5 !important;
    }
}

.icon-primary-color:before,
.icon-add:before,
.icon-trash:before,
.icon-enabled:before,
.icon-disabled:before,
.icon-attributes:before,
.icon-title-right-settings:before {
    border-radius: 50%;
    font-size: 2rem;
}

.icon-success-color:before,
.icon-add:before,
.icon-enabled:before {
    color: $success;
}

.icon-primary-alert-color:before,
.icon-options:before {
    color: $primary-alert;
}

.btn-group .icon-line-height-settings:before {
    line-height: .4;
} 

.icon-danger-color:before,
.icon-trash:before {
    color: $danger;
}

.icon-attributes:before,
.icon-info-color:before {
    color: $info;
}

.icon-warning-color:before,
.icon-disabled:before,
.icon-trash-warning:before {
    color: $warning;
}

.icon-white-color:before {
    color: #fff;
}

.icon-table-color {
    
    &:before {
        color: #fff;
        cursor: pointer;
        font-size: 0.8rem;
    }

    &:hover {
        opacity: 0.5;
    }
}

.dropdown-menu {

    .icon-primary-color:before,
    .icon-add:before,
    .icon-trash:before,
    .icon-enabled:before,
    .icon-disabled:before,
    .icon-attributes:before {
        font-size: 1rem;
    }
}

.page-title-bg {

   .icon-primary-color:before,
   .icon-add:before,
   .icon-trash:before,
   .icon-enabled:before,
   .icon-disabled:before,
   .icon-attributes:before
   .widget-options-settings:before {
        font-size: 2.5rem;
    }
}

// Header card action/edit icons
.card-title-icon-settings:before {
    cursor: pointer;
    font-size: 2rem;
    line-height: 0.6;
}

// Header card dropdown menu icons
.dropdown-menu .icon-dropdown-li-settings:before {
    font-size: 1.5rem;
    line-height: 1;
}

// Permissions tabs on tables, ie: Role Manager > Role > MicroApps;
.permissions-tabs > div {
    display: inline-block;

    &.text-success div {
        color: $success;
        border-color: $success;
    }

    &.text-warning div {
        color: $warning;
        border-color: $warning;
    }

    & > div {
        padding: 5px 10px;
        margin: 0 5px 0 0;
        line-height: 1;
        display: block;
        border-width: 2px;
        border-style: solid;
        font-size: 90%;
        font-weight: 600;
    }
}
