// ATOMS / DROPDOWNS

.dropdown-menu {
    margin-top: 25px; // create additional space to align dropdown bottom right
    border: 1px solid $silver;
    border-radius: 0.25rem;
    right: 100%;
    left: auto !important;
    opacity: 1;
    padding: 0;
    min-width: 220px;

    .divider {
        margin: 0;
        padding: 0;
        background-color: $silver;
        color: $silver !important;
    }
}

// Move to below it's parent
.dropdown-menu-right {
    right: auto !important;
    left: -2px !important;
}

.dropdown-menu > li {
    padding: 7px 4px;
    color: $primary-alert;
    font-size: .8rem;
    display: block;
    display: flex;
    cursor: pointer;

    &:hover {
        background: #efefef;
    }

    & > a {
        padding: 5px 10px;
        color: $primary-alert;
        font-size: .8rem;
        display: flex;
    }
}

.dropdown-item {
    font-size: 12px;
    line-height: 1;
    padding: 4px 5px;
    font-weight: 300;
    color: #333;
}