.dropdown-menu {
    font-size: .9rem;
    border: 1px solid $silver;
    border-radius: .25rem;
    right: 100%;
    left: auto!important;
    opacity: 1;
    padding:0px;
    min-width: 220px;
}

.dropdown-menu:hover{
    opacity: 1;
}

.dropdown-menu>li {
    padding: 5px 10px;
    color: $blue;
    font-size: .8rem;
    display: block;
    display: flex;
}

.dropdown-menu>.divider {
    padding: 0px;
    color: $silver!important;
}

.dropdown-title,
.dropdown-description{
    font-size: 1rem!important;
    font-weight: 800;
    padding: 10px 10px 0px 10px!important;
    color: $grey!important;
    cursor: default;
}

.dropdown-description{
    font-size: .7rem!important;
    font-weight: 300;
    padding: 5px 10px!important;
}

.dropdown-menu>li>a {
    color: $grey;
}

.dropdown-menu>li>a{
    padding: 5px 10px;
    color: $blue;
    font-size: .8rem;
    display: block;
    display: flex;
}


.dropdown-menu .divider {
    background-color: $silver;
    margin: 0px;
}

.icon-dropdown-li-settings:before{
    font-size: 1.2rem;
    margin-right: 0px;
    margin-top: 3px;
    display: block;
}

.dropdown-item{
    font-size: .8rem!important;
    padding: 5px 10px!important;
    font-weight: 300;
}
