.upload-bg{
    border: 2px dashed #bec6d2;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: .25rem;
    padding: 25px;
}

.icon-upload-settings:before{
    font-size: 3rem;
    color: #888ca8;
}

  form .file-upload{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
  }

  .upload-title{
      color: #555;
      font-weight: 300;
      font-size: 1.2rem;
  }

  .upload-body{
  color: #9c9c9c;
  font-size: .8rem;
  }

  .icon-results-settings{
    float: left;
    font-size: 4rem;
    margin-right: 15px;
  }