// GLOBAL / ICON DEFAULTS

.icon {
    cursor: pointer;
    position: relative;
}

.icon.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-applets {
    font-size: 1rem;
    margin: 0 5px;
    line-height: 2.3 !important;
}

.fa-eye {
    color: $success;
}

.fa-eye-slash {
    color: $danger;
}

.slideout-icon {
    fill: $grey;

    &:before {
        color: $grey;
    }
}

.icon-role-toggle {
    background: $primary-alert;
    margin: 0 10px;
    padding: 10px 5px;
    border-radius: 5px;
}

.icon-applets:before,
.widget-icon-styles:before {
    color: $white;
}

.widget-icon-styles,
.icon-slideout-settings {
    display: contents;
}

.dashboard-icons-alt:before {
    color: #627e98 !important;
}

.icon-table,
table .fa {
    font-size: 1.4rem;
}

.uk-circle-shape,
.uk-circle-shape-outline {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    padding: 0;
    margin-top: -6px; // make up for space created by [tooltip]::before
}
.uk-circle-shape-outline {
    border-width: 3px;
    border-style: solid;

    &.text-warning {
        border-color: $warning; 
    }

    &.text-success {
        border-color: $success; 
    }
}

.icon-widgets:before {
    color: $grey;
    margin-right: 5px;
}

.widget-slideout-styles .card .icon-collapse:before {
    color: $grey;
}

.fa-ui {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 2em;
}

.dark-skin-position,
.contrast-skin-position {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
}

.contrast-skin-position {
    right: 40px;
}

.icon-skin:before {
    color: $primary-alert !important;
}

.table-responsive .icon-disabled-no-click:before,
.table-responsive .icon-enabled-no-click:before {
    font-size: 2.5rem;
}

.bg-success .icon-enabled:before,
.bg-success .icon-disabled:before,
.bg-warning .icon-enabled:before,
.bg-warning .icon-disabled:before {
    font-size: 3rem;
    color: $white;
}

.icon-options-dark:before {
    color: rgba(0, 0, 0, 0.71)!important;
}