// GLOBAL / ICON DEFAULTS

.icon {
    cursor: pointer;
    position: relative;
}

.icon.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-applets {
    font-size: 1rem;
    margin: 0 5px 0 10px;
    line-height: 2.3!important;
}

.fa-eye{
    color: $success;
}

.fa-eye-slash{
    color: $danger;
}

.slideout-icon {
    fill: $white;

    &:before {
        color: $white;
    }
}

.icon-role-toggle{
    background: $primary-alert;
        margin: 0px 10px 0px 10px;
        padding: 9px 6px;
        border-radius: 5px;
}

    .icon-applets:before,
    .widget-icon-styles:before{
    color: $white;
}

.widget-icon-styles,
.icon-slideout-settings{
    display: contents;
}

.dashboard-icons-alt:before {
    color: #627e98!important;
}

.icon-table{
    font-size: 1.4rem;
}

table .fa{
    font-size: 1.2rem;
}

.icon-widgets:before{
    color: $white;
    margin-right: 5px;
}

.widget-slideout-styles .card .icon-collapse:before {
    color: $white;
}