// GLOBAL / ICON DEFAULTS

.icon {
    cursor: pointer;
    position: relative;
}

.icon.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-applets {
    font-size: 1rem;
    margin: 0 5px 0 10px;
    line-height: 2.7!important;
}

.fa-eye{
    color: $success;
}

.fa-eye-slash{
    color: $danger;
}

.slideout-icon {
    fill: $white;

    &:before {
        color: $white;
    }
}

.icon-role-toggle{
    background: $primary-alert;
        margin: 0px 10px 0px 10px;
        padding: 9px 6px;
        border-radius: 5px;
}

    .icon-applets:before,
    .slideout-applet-title-icon:before{
color: $white;
}

.slideout-applet-title-icon,
.icon-slideout-settings{
    display: contents;
}