// ATOMS / INPUTS

select,
textarea,
input {

	&:focus {
	    @extend %border-silver;
	    box-shadow: none !important;
	}

	&:-webkit-autofill {
	    background-color: $form-field !important;
	}
}

// textarea.form-control {
//     height: 150px;
// }

.form-control,
.form-group {
	box-shadow: none;
	box-sizing: border-box;
	position: relative;
	height: auto;
	min-height: 55px;
	font-size: 18px;
	font-weight: 600;
}


label {
	font-size: 12px;
	font-weight: 400;
	color: #2c8ce6;
	position: absolute;
	left: 15px;
	top: 10px;
	z-index: 99;

	&.control-label-description {
		bottom: -15px;
	}

	// Checkbox labels
	.inputGroup & {
  	    transition: 0.2s ease all;
		padding: 10px 35px 10px 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 14px;
		font-weight: 400;
		color: #000;
		left: 0;
		right: 0;
		border: none !important;
		background: #f5f5f5;

		&:hover {
		  background: #efefef !important;
		}
	}
}

input,
select,
textarea {
	box-shadow: none;
	font-size: 18px;
	font-weight: 600;
	color: $limed-spruce;
	margin: 0;
	padding: 25px 15px 10px !important;
	background: #f5f5f5 !important;
	border: 2px solid transparent !important;
	border-radius: 5px;

	&:active,
	&:focus {
		border-bottom: 3px solid #2c8ce6;
	}
}

// Correct left-alignment on selects
select {
	padding-left: 10px !important;
}

// Override the above styling for inputs inside a table and chat messages
table input,
.chat-message input {
    padding: 10px 15px !important;
    font-size: 15px !important;
    font-weight: 300 !important;
}

// Refactor this and above properties to not need importance
table input[readonly] {
	padding: 5px 10px !important;
	line-height: 1.5;
	font-size: 13px !important;
}

// Match height on chat submit to it's input
.chat-message .btn {
	height: 55px;
}

.form-group input:empty {
	content: "";

	label & {
		font-size: 18px;
		font-weight: 600;
		color: $primary;
		position: absolute;
		left: 15px;
		top: 25px;
		z-index: 99;
	}
}

// .form-group:active,
// .form-group:focus {

// 	label {
// 		font-size: 18px;
// 		font-weight: 600;
// 		color: $primary;
// 		position: absolute;
// 		left: 15px;
// 		top: 25px;
// 		z-index: 99;
// 	}

// 	input,
// 	select,
// 	textarea {
// 		&:placeholder {
// 			display: none;
// 		}
// 	}
// }
