// ATOMS / TABLES

.table {
    margin-bottom: 0rem;
    
    td,
    th {
        padding: .5em 1em;
        border: 1px solid $light-grey;
    }
}

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tbody > tr > tbody,
.table td,
.table th {
    vertical-align: middle;
}

.imageParent img {
    width: 100px;
    height: 100px;
    padding: 5px;
    border: none;
    object-fit: contain;
    background-color: $white;
}

.table-force {
    width: 2%;
    hyphens: initial;
}

.table-force-sm {
    width: .01%;
}

.bg-warning-rmf {
    background: $warning;
    padding: 25px;

    .subtitle-rmf {
        border-bottom: 1px solid $light-grey;
    }
}

.table thead th{
    background: $table-head;
    color: white;
    border: none;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}

.table .table {
    background-color: #f9f9f9;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
}

.table>thead>tr>th {
    border-bottom: none;
}

.table-emf .highlight{
    opacity: 1;
    display: initial;
    color: #acafb1;
}