// ATOMS / TEXT

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

p,
div,
span {
    font-family: $base-font;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: -0.15px;
}

p {
    color: $grey;
    font-size: 1rem;
    letter-spacing: normal;
}

.nav span, .role-selection, .btn-slideout span {
    font-size: 1rem;
    font-weight: 400;
}

.nav span{
    vertical-align: inherit;
}

.overflow-y .icon-applets:before,
.navbar-nav-widgets-mobile .icon-applets:before{
    margin-right: 5px;
}

.role-selection{
    vertical-align: middle;
}

.full-name,
.white,
.text-white,
.nav-header-role,
.role-title,
.tooltip-inner {
    color: $white;
}

.text-success{
    color: $success;
}

.text-success-secondary{
    color: $success-secondary;
}

.text-danger{
    color: $danger;
}

.text-danger-secondary{
    color: $danger-secondary;
}

.text-warning{
    color: $warning;
}

a:hover{
    opacity: .7;
}

.small, small {
    font-size: 85%;
    display: block;
    opacity: .7;
}

.text-inline{
    display: inline-block;
    margin-right: 25px;
}

.text-inline p{
color: $white;
}