// ATOMS / TITLES
// Headlines, titles and subtitles

$map: (
  h1: 1.6rem,
  h2: 1.4rem,
  h3: 1.2rem,
  h4: 1.3rem,
  h5: 1.3rem
);

@each $headline, $size in $map {
  #{$headline} {
    font-size: $size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    color: $grey;
    font-weight: 600;
    letter-spacing: -0.15px;
}

h4 {
    color: $limed-spruce;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: capitalize;
}

a h4 {
    color: $primary-alert;

    &:hover {
        opacity: 0.5;
    }
}

.section-title {
    font-weight: 400;
    font-size: 1.8rem;
    color: $card-head;
}

.tab-content .section-title,
.chat-header .section-title {
        font-weight: 800;
        font-size: 1.4rem;
    }

.subtitle {
    font-size: 1rem;
    margin-bottom: 25px;
}

.subtitle-rmf,
.subtitle-rmf-standalone,
.card-title-with-btn,
.subtitle-rmf-no-border {
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
    padding: 5px 0 25px 0;
    font-size: 1rem;
    font-style: normal
}

.subtitle-rmf-no-border {
    border-bottom: none;
    padding: 5px 0 0 0;
    font-weight: 800;
}

.page-title-bg {
    margin: 5px 0 25px;
}

.page-title-bg .subtitle-rmf {
    display: none;
    padding: 5px 0 0;
    margin-bottom: 0;
    border: none;
}

.card-title-with-btn {
    padding: 0;
}

.subtitle-rmf-standalone {
    font-weight: 800;
    font-style: normal;
}

.card-title-with-btn .subtitle-rmf {
    border: none;
    padding: 5px 0 0 0;
}