// ATOMS / TITLES
// Headlines, titles and subtitles

$map: (
  h1: 1.6rem,
  h2: 1.4rem,
  h3: 1.2rem,
  h4: 1.3rem,
  h5: 1.3rem
);

@each $headline, $size in $map {
  #{$headline} {
    font-size: $size;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    color: $body-color;
    font-weight: 600;
    letter-spacing: -0.15px;
}

h4 {
    color: $trout;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 16px;
    text-transform: uppercase;
}

.section-title {
    font-weight: 800;
    font-size: 1.2rem;
}

.subtitle {
    font-size: 1rem;
    margin-bottom: 25px;
}

.subtitle-rmf,
.subtitle-rmf-standalone,
.card-title-with-btn,
.subtitle-rmf-no-border {
    border-bottom: 1px solid $silver;
    margin-bottom: 25px;
    padding: 5px 0 25px 0;
    font-size: 1rem;
    font-style: normal
}

.subtitle-rmf-no-border {
    border-bottom: none;
    padding: 5px 0 0px 0;
    font-weight: 800;
}

.card-title-with-btn{
    padding:5px 0 0 0;
}

.subtitle-rmf-standalone {
    font-weight: 800;
    font-style: normal;
}

.card-title-with-btn .subtitle-rmf{
    border:none;
    padding: 0px;
}

