<mat-sidenav-container #main [hasBackdrop]="false">

  <mat-sidenav #sidenav [mode]="push" [fixedInViewport]="true" opened>
    <app-sidebar-logo></app-sidebar-logo>
    <!-- <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button> -->
    <app-sidebar-menu></app-sidebar-menu>
    <app-sidebar-widgets></app-sidebar-widgets>
    <app-sidebar-user></app-sidebar-user>
  </mat-sidenav>

  <mat-sidenav-content #content>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
  </mat-sidenav-content>

</mat-sidenav-container>
