<aside id="sidebar" class="mdc-drawer mdc-typography">
        <div class="mdc-drawer__header">
                <app-sidebar-logo></app-sidebar-logo>
        </div>

        <div class="mdc-drawer__content">
                <app-sidebar-menu></app-sidebar-menu>
        </div>

        <app-sidebar-widgets></app-sidebar-widgets>
        <app-sidebar-user></app-sidebar-user>
</aside>

<app-widget-modal></app-widget-modal>

<main id="main-content" class="main-content mdc-typography">
        <div class="drawer-main-content">
                <router-outlet></router-outlet>
                <app-footer></app-footer>
        </div>
</main>
