<mat-list-item style="padding-left: 2px; box-sizing: border-box;">

	<button mat-icon-button matTooltip="Notifications">
    	<mat-icon aria-label="Notifications">notifications</mat-icon>
    </button>

    <span class="auxWidgets">
    	<button mat-icon-button matTooltip="Chat">
        	<mat-icon aria-label="Chat">chat</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Help">
            <mat-icon aria-label="Help">help</mat-icon>
        </button>

    	<button mat-icon-button class="opacity-half" matTooltip="Add Widget Shortcut">
        	<mat-icon aria-label="Add Widget Shortcut">add</mat-icon>
    	</button>
    	
    	<button mat-icon-button class="opacity-half" matTooltip="View All Widgets" (click)="openWidgetModal()">
        	<mat-icon aria-label="View All Widgets">chevron_right</mat-icon>
    	</button>
    </span>

</mat-list-item>