<div class="container desktop-only widgets-dock">
  
  <div class="user-block" tooltip="Notifications" tooltip-position="top">
    <!--
    <div class="rmf-alert-number">
        <span>15</span>
    </div>
    -->
    <button class="icon-applets user-icons icon-alerts"></button>
  </div>

  <div class="user-block" tooltip="Chat" tooltip-position="top">
    <button class="icon-applets user-icons icon-chat"></button>
  </div>

  <div class="user-block" tooltip="Help" tooltip-position="top">
    <button class="icon-applets user-icons icon-help"></button>
  </div>

  <div class="user-block user-block-outline" tooltip="Assign Widget" tooltip-position="top">
    <button class="icon-applets user-icons icon-add-widget"></button>
  </div>

  <div class="user-block user-block-outline" tooltip="View All Widgets" tooltip-position="top" data-target="#widget" data-toggle="modal">
    <button class="icon-applets user-icons icon-expand-widgets"></button>
  </div>
</div>