.widget-button {
  background: rgba(196, 196, 196, 0.1);
  margin-right: 8px;
  width: 35px;
  height: 35px;
  line-height: 35px;
}
.widget-image {
  width: 35px;
  height: 35px;
}

.ml-8 {
  margin-left: 8px;
}
