<div class="user-block user-one" tooltip="Search" tooltip-position="top">
        <span class="icon-applets vertical-align icon-search user-icons"></span>
    </div>
    <div class="user-block user-two" tooltip="Notifications" tooltip-position="top">
            <div class="rmf-alert-number">
                    <span>15</span>
                </div>
            <span class="icon-applets vertical-align icon-alerts user-icons"></span>
    </div>
    <div class="user-block user-three" tooltip="Chat" tooltip-position="top">
        <span class="icon-applets vertical-align icon-chat user-icons"></span>
    </div>
    <div class="user-block user-four" tooltip="Settings" tooltip-position="top">
            <span class="icon-applets vertical-align icon-settings user-icons"></span>
    </div>


<div>
    <app-sidebar-widget-dock></app-sidebar-widget-dock>
</div>