.widget-button {
  background: rgba(196, 196, 196, 0.1);
  margin-right: 8px;
  width: 30px;
  height: 30px;
  line-height: 1;
  margin: 0 8px 0 4px;
}

.widget-image {
  max-width: 30px;
  max-height: 30px;
}