<h2>Approved MicroApps</h2>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>MicroApp</th>
      <th>Client</th>
      <th>Client ID</th>
      <th>Version</th>
      <th>Type</th>
      <th>Widgets</th>
      <th>Uploaded</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let app of apps">
      <td>
        <span *ngIf="app.enabled" tooltip="MicroApp Enabled" tooltip-position="top">
          <span class="material-icons color-green">brightness_1</span>
        </span>
        <span *ngIf="!app.enabled" tooltip="MicroApp Disabled" tooltip-position="top">
          <span class="material-icons color-red">brightness_1</span>
        </span>
      </td>

      <td>
        <a [routerLink]="['../edit', app.docId]">
          {{app.appTitle}}
        </a>
      </td>

      <td>
        {{app.clientName}}
      </td>

      <td>
        <input readonly value="{{app.clientId}}">
      </td>

      <td>
        {{app.version}}
      </td>

      <td>
        Third Party
      </td>

      <td>
        {{app.widgets.length}}
      </td>

      <td>
        {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
      </td>

    </tr>
  </tbody>
</table>
