<!-- <div class="form-group" [ngClass]="formGroupClassList" [formGroup]="formGroup">
  <label class="control-label" [for]="id">{{label}}</label>
  <textarea class="form-control" [id]="id" [readonly]="readonly" [ngClass]="inputClassList" [placeholder]="placeholder" [formControlName]="controlName" [rows]="rows"></textarea>
  <div class="alert" [ngClass]="errorMsgClassList" *ngIf="showError || (!formGroup.get(controlName).valid && formGroup.get(controlName).dirty)" role="alert">
    {{errorMsg}}
  </div>
</div> -->

<mat-form-field>
	<mat-label>{{label}}</mat-label>
    <textarea matInput placeholder="{{placeholder}}"></textarea>
	<mat-hint>{{labelDesc}}</mat-hint>
</mat-form-field>
