<app-page-title [pageTitle]="pageTitle" [backLink]="['../../']"></app-page-title>

<mat-tab-group (selectedIndexChange)="onSelectedIndexChange($event)" class="content-body">
  <mat-tab [label]="'Overview'" *ngIf="userRegistration">
    <div class="wrapper">
      <app-registration-overview 
        [userRegistration]="userRegistration" 
        (goToStep)="goToStep($event)"
        (goToForm)="goToForm($event)"
        (uploadPhysical)='uploadPhysical($event)'
      ></app-registration-overview>
    </div>
  </mat-tab>

  <mat-tab [label]="'Registration'" *ngIf="userRegistration">
    <div class="wrapper">
        <app-registration-stepper [userRegistration]="userRegistration"></app-registration-stepper>
    </div>
  </mat-tab>
<!-- 
  <ng-container *ngIf="userRegistration">
    <mat-tab *ngFor="let step of userRegistration.steps; index as i;" [label]="step.title">
      <div class="wrapper">
        <h2>{{step.title}}</h2>
        <p>{{step.description}}</p>

        <app-form-card *ngIf="step.forms.length > 0" [forms]=step.forms
          [formIndex]="formIndex" (formSelected)="formIndex = $event"></app-form-card>

        <app-dynamic-form [regId]="userRegistration.docId" [data]="step.forms[formIndex]"
          [bindingRegistry]="userRegistration.bindingRegistry" [displayApprovals]="true"
          [displayProgressBlock]="step.forms.length > 1"
          (sectionSubmitted)="onSubmit(step.forms[formIndex].docId, $event)"></app-dynamic-form>
      </div>
    </mat-tab>
  </ng-container> -->

  <mat-tab [label]="'Final Approval'" *ngIf="userRegistration">
    <div class="wrapper">
      <h2>Final Approval</h2>
      <div *ngIf="!allStepsComplete">
        <p>The users's registration process is not ready to be approved. Please confirm that all information is correct and that all necessary forms are complete before approving the account.</p>
        <div class='button-container'>
            <button mat-raised-button class="bg-blue mb-4 color-white" type="button" (click)="goToStep(-1)" matTooltip="Review Registration">
                <mat-icon>assignment</mat-icon>
                Review Registration
            </button>
            <button mat-raised-button class="bg-yellow mb-4 color-white" type="button" (click)="restartRegistration()" matTooltip="Restart Registration">
            <mat-icon>error</mat-icon>
                Force Restart
                </button>
            <button mat-raised-button *ngIf='userRegistration.userProfile.id' class="bg-red mb-4 color-white" type="button" (click)="deleteAccount()" matTooltip="Delete Account">
                <mat-icon>warning</mat-icon>
                Delete Account
            </button>
        </div>
      </div>
      <div *ngIf="allStepsComplete && !isApprovedUser">
        <p>Verification is complete. You may approve or deny this user's access request below.</p>
        <div class='button-container'>
            <button mat-raised-button class="bg-green mb-4 color-white" type="button" (click)="approveUser()" matTooltip="Approve Registration">
                <mat-icon>check</mat-icon>
                Approve User
            </button>
            <button mat-raised-button class="bg-yellow mb-4 color-white" type="button" (click)="restartRegistration()" matTooltip="Restart Registration">
                <mat-icon>error</mat-icon>
                Force Restart
            </button>
            <button mat-raised-button *ngIf='userRegistration.userProfile.id' class="bg-red mb-4 color-white" type="button" (click)="deleteAccount()" matTooltip="Delete Account">
                <mat-icon>warning</mat-icon>
                Delete Account
            </button>
        </div>
      </div>
      <div *ngIf="isApprovedUser">
        <p>This user has been approved. If this was done in error, you may unapprove them below.</p>
        <button mat-flat-button class="bg-red mb-4 color-white" type="button" (click)="unapproveUser()">
          <mat-icon>person_outline</mat-icon>
          Unapprove User
        </button>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>