<mat-grid-list cols="1" rowHeight="65px" class="mb-1">
  <mat-grid-tile>
    <h1>Review {{ details.username }}</h1>
  </mat-grid-tile>
</mat-grid-list>

<mat-tab-group class="content-body" [selectedIndex]="selectedTabIndex">
  <mat-tab label="Basic Information">
    <div class="content-body interior">
      <h2>Basic Information</h2>
      <form>
        <div class="row">
          <div class="col-6">
            <mat-form-field>
              <input matInput placeholder="First Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Last Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Middle Initial">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Phone Number (DSN or Commercial)">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Official Mailing Address" >
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="City">
            </mat-form-field>
            <mat-form-field>
              <mat-label>State</mat-label>
              <mat-select>
               <mat-option>Alabama
               </mat-option>
               <mat-option>Alaska
               </mat-option>
               <mat-option>Arizona
               </mat-option>
               <mat-option>Arkansas
               </mat-option>
               <mat-option>California
               </mat-option>
               <mat-option>Colorado
               </mat-option>
               <mat-option>Connecticut
               </mat-option>
               <mat-option>Delaware
               </mat-option>
               <mat-option>Florida
               </mat-option>
               <mat-option>Georgia
               </mat-option>
               <mat-option>Hawaii
               </mat-option>
               <mat-option>Idaho
               </mat-option>
               <mat-option>Illinois
               </mat-option>
               <mat-option>Indiana
               </mat-option>
               <mat-option>Iowa
               </mat-option>
               <mat-option>Kansas
               </mat-option>
               <mat-option>Kentucky
               </mat-option>
               <mat-option>Louisiana
               </mat-option>
               <mat-option>Maine
               </mat-option>
               <mat-option>Maryland
               </mat-option>
               <mat-option>Massachusetts
               </mat-option>
               <mat-option>Michigan
               </mat-option>
               <mat-option>Minnesota
               </mat-option>
               <mat-option>Mississippi
               </mat-option>
               <mat-option>Missouri
               </mat-option>
               <mat-option>Montana
               </mat-option>
               <mat-option>Nebraska
               </mat-option>
               <mat-option>Nevada
               </mat-option>
               <mat-option>New Hampshire
               </mat-option>
               <mat-option>New Jersey
               </mat-option>
               <mat-option>New Mexico
               </mat-option>
               <mat-option>New York
               </mat-option>
               <mat-option>North Carolina
               </mat-option>
               <mat-option>North Dakota
               </mat-option>
               <mat-option>Ohio
               </mat-option>
               <mat-option>Oklahoma
               </mat-option>
               <mat-option>Oregon
               </mat-option>
               <mat-option>Pennsylvania
               </mat-option>
               <mat-option>Rhode Island
               </mat-option>
               <mat-option>South Carolina
               </mat-option>
               <mat-option>South Dakota
               </mat-option>
               <mat-option>Tennessee
               </mat-option>
               <mat-option>Texas
               </mat-option>
               <mat-option>Utah
               </mat-option>
               <mat-option>Vermont
               </mat-option>
               <mat-option>Virginia
               </mat-option>
               <mat-option>Washington
               </mat-option>
               <mat-option>West Virginia
               </mat-option>
               <mat-option>Wisconsin
               </mat-option>
               <mat-option>Wyoming
               </mat-option>
             </mat-select>
           </mat-form-field>
           <mat-form-field>
            <input matInput placeholder="Zip Code" >
          </mat-form-field>
        </div>
        <div class="col-6">
          <div>
            <label class="checkbox-label">Citizenship</label>
            <mat-radio-group class="mb-1 display-block">
              <mat-radio-button class="mat-vertical-radio-button">
                US
              </mat-radio-button>
              <mat-radio-button class="mat-vertical-radio-button">
                FN
              </mat-radio-button>
              <mat-radio-button class="mat-vertical-radio-button">
                Other
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input matInput placeholder="Organization">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Office Symbol / Department">
          </mat-form-field>
          <div>
            <label class="checkbox-label">Designation of Person</label>
            <mat-radio-group class="mb-1 display-block">
              <mat-radio-button class="mat-vertical-radio-button">
                Military
              </mat-radio-button>
              <mat-radio-button class="mat-vertical-radio-button">
                Civilian
              </mat-radio-button>
              <mat-radio-button class="mat-vertical-radio-button">
                Contractor
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <input matInput placeholder="Job Title & Grade / Rank">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Directorate / Division / Branch">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button mat-flat-button color="primary" class="btn-existing-user">
          Save</button>
        </div>
      </div>
    </form>
  </div>
</mat-tab>

<mat-tab label="Required Forms">
  <div class="content-body interior">
    <h2>Required Forms</h2>
    <app-sign (save)="saveSign($event)"></app-sign>
    <img [src]="signImg" alt="sign" *ngIf="signImg"/>
  </div>
</mat-tab>

<mat-tab label="Certifications & CEUs">
  <div class="content-body interior">
    <h2>Certifications & CEUs</h2>
  </div>
</mat-tab>
</mat-tab-group>
