.ng-app-header {
  align-items: center;
  background: #0063BF;
  color: white;
  display: flex;
  height: 56px;
  padding: 0 24px;

  .title {
    font-size: 24px;
    font-weight: 500;
    line-height: 56px;
    margin-left: 10px;
    margin-right: 20px;
    white-space: nowrap;
  }

  .back-arrow {
    background: rgba(255,255,255, 0.1);
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  .spacer {
    flex: 1;
  }

  ng-select-menu {
    width: 120px;
    margin-right: 14px;
  }
}

:host ::ng-deep .mat-menu-panel {
  margin-right: 40px;
}