<mat-card *ngIf='files && files.length > 0' class='card-shadow p-2'>
    <h2 class="mb-1">Attached Files</h2>
    <div class="mb-2">
        <small>This form has uploaded file attachments.</small>
    </div>

    <div *ngFor='let file of files'>
        <div class='attachment-row' style='align-items: center;' (click)="openFile(file)">
            <!-- <mat-icon class="opacity-half">insert_drive_file</mat-icon> -->
            <!-- <button mat-icon-button target="_blank" matTooltip="View Attachment"> -->
                <mat-icon class="opacity-half mr-1">insert_drive_file</mat-icon>
                <span matTooltip="Download Attachment">{{ filetext(file) }}</span>
                <!-- <div class='remove-btn-wrapper'> -->
                    <button mat-icon-btn class='remove-btn' (click)='onRemove(file)'>
                        <mat-icon>clear</mat-icon>
                        <div class='remove-btn-background' matTooltip='Remove Attachment'></div>
                    </button>
                <!-- </div> -->
            <!-- </button> -->
        </div> 
    </div>
</mat-card>