.attachment-row{
    display: flex;
    margin-bottom: 10px;
    position: relative;
}

.attachment-row:hover{
    background: rgba(180, 180, 180, 0.2);
    
    .remove-btn{
        display: block;
    }

    .remove-btn:hover {
        .remove-btn-background{
            display: block;
        }
    }
}

.card-shadow {
    box-shadow: 2px 2px 15px 3px grey;
}

.remove-btn{
    background: none;
    border: none;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.4);
    display: none;
    position: absolute;
    right: 0px;
}

.remove-btn-background{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    display: none;
    height: 30px;
    position: absolute;
    right: 3px;
    top: -2px;
    width: 30px;
}