.envname-container {
    display: flex;
    align-items: center;

    .avatar {
        box-sizing: border-box;
        padding-top: 1px;
    }
}
.bullet {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}