<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

  <div class="row">
    <div class="col-lg-12">
      <app-text-input [type]="'text'" [label]="'*Name of the Role'" [placeholder]="'Begin Typing'" [maxChars]="250"
        [errorMsg]="'Error!'" [controlName]="'name'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
      <app-textarea-input [label]="'*Description of the Role'" [placeholder]="'Begin Typing'" [maxChars]="1000" [rows]="3"
        [errorMsg]="'Error!'" [controlName]="'description'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-textarea-input>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
        <button class="btn-save btn-block" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </div>

</form>