<app-card-title [cardTitle]="'Current Roles'" [cardSubtitle]="'The following is a complete list of roles in OpenDash 360.'"></app-card-title>
<div class="row">
    <div class="col-md-12">
        <div class="table table-emf table-responsive">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Role ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Composite</th>
                        <th class="table-force-sm">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roles">
                        <td>
                            {{role.id}}
                        </td>
                        <td>
                            {{role.name}}
                        </td>
                        <td>
                            {{role.description}}
                        </td>
                        <td class="text-center">
                            <i class="fa fa-check text-success" *ngIf="role.composite"></i>
                            <i class="fa fa-ban text-danger" *ngIf="!role.composite"></i>
                        </td>
                        <td>
                            <a class="btn-a btn-primary-rmf" [routerLink]="['../edit']">Edit</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>