    <div class="page-title-bg">
            <div class="icon-float-right" *ngIf="canCreate" tooltip="Add Realm-Level Role" tooltip-position="top"  (click)="addButtonClicked()">
                <span class="icon-title-right-settings icon-add"></span>
              </div>
              <app-card-title [cardTitle]="'Current Roles'" [cardSubtitle]="'The following is a complete list of roles in OpenDash 360.'"></app-card-title>
    </div>
      <div class="white-bg-rmf">
            <div class="row">
                    <div class="col-md-12">
                      <div class="table table-emf table-responsive">
                            <div class="table table-emf table-responsive">
                                    <table class="table mb-0 table-striped">
                                        <thead>
                                            <tr>
                                                <th class="table-force text-center">Composite</th>
                                                <th>Role Name</th>
                                                <!--<th>Role Name <span class="icon-table-color icon-filter"></span></th>-->
                                                <th>Role ID</th>
                                                <th>Description</th>
                                                <th class="table-force text-center">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let role of roles">
                                                <td class="text-center">
                                                    <span *ngIf="role.composite" tooltip="Composite: Yes" tooltip-position="top">
                                                        <i class="fa fa-check text-success"></i>
                                                    </span>
                                                    <span *ngIf="!role.composite"></span>
                                                </td>
                                                <td>
                                                    <a [routerLink]="['../edit', role.name]">{{role.name}}</a>
                                                </td>
                                                <td>
                                                    {{role.id}}
                                                </td>
                                                <td>
                                                    {{role.description}}
                                                </td>
                                                <td class="text-center">
                                                        <a [routerLink]="['../edit', role.name]" tooltip="Edit Role" tooltip-position="top" >
                                                            <span class="icon-primary-color icon-edit"></span>
                                                        </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                      </div>
                    </div>
                  </div>
    </div>
    
    <div class="modalDialog" [ngClass]="{'display-none': !showAdd}">
        <div class="modal-white-bg">
            <div class="rmf-modal">
                <div class="rmf-modal-header">
                    <button type="button" class="btnCloseSlider" (click)="showAdd = false">
                        <span class="close-large modal-close">&times;</span>
                    </button>
                    <div class="rmf-modal-title">Create a New Realm-Level Role</div>
                </div>
                <div class="rmf-modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <app-role-form (formSubmitted)="createRole($event)"></app-role-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    