
%text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}

.text-center {
	text-align: center !important;
}

.text-left {
	text-align: left !important;
}

.text-right {
	text-align: right !important;
}

.flex-reverse {
	flex-direction: row-reverse !important;
}

.half-width {
	box-sizing: border-box;
	width: 50% !important;
}

.full-width {
	box-sizing: border-box;
	width: 100% !important;
}

.color-green {
	color: #0aa649 !important;
}
.bg-green {
	background-color: #0aa649 !important;
}

.color-red {
	color: #c60505 !important;
}
.bg-red {
	background-color: #c60505 !important;
}

.color-yellow {
	color: #ffd21f;
}
.bg-yellow {
	background-color: #ffd21f !important;
}

.color-gray {
	color: #cbced1;
}
.bg-gray {
	background-color: #cbced1 !important;
}

.zindex-99999 {
	z-index: 99999;
}

.color-white {
	color: #fff;
}

.opacity-half {
	opacity: 0.5;

	&:hover {
		opacity: 1;
	}
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}

.justify-left {
	justify-content: left !important;
}

.justify-right {
	justify-content: right !important;
}

.float-right {
    float: right;
}

.float-left {
	float: left;
}

.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.round {
	border-radius: 5px;
}

.round {
	border-radius: 50%;
}

.lg-icon {
	font-size: 55px;
	width: 60px !important;
	height: 55px !important;
}

.md-icon {
	font-size: 45px;
	width: 40px !important;
	height: 45px !important;
}

$keystone: 10px;

.mr-1 {
	margin-right: $keystone !important;
}
.mr-2 {
	margin-right: 20px !important;
}
.mr-3 {
	margin-right: 30px !important;
}

.mr-n1 {
	margin-right: -$keystone !important;
}
.mr-n2 {
	margin-right: -20px !important;
}

.mt-n1 {
	margin-top: -$keystone !important;
}
.mt-n2 {
	margin-top: -20px !important;
}

.ml-1 {
	margin-left: $keystone !important;
}
.ml-2 {
	margin-left: 20px !important;
}
.ml-3 { 
	margin-left: 30px !important;
}

.mt-0 {
	margin-top: 0 !important;
}
.mt-1 {
	margin-top: $keystone !important;
}
.mt-2 {
	margin-top: 20px !important;
}
.mt-3 { 
	margin-top: 30px !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: $keystone !important;
}
.mb-2 {
	margin-bottom: 20px !important;
}
.mb-3 { 
	margin-bottom: 30px !important;
}
.mb-4 { 
	margin-bottom: 40px !important;
}

.mx-1 {
	margin-right: $keystone !important;
	margin-left: $keystone !important;
}
.mx-2 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}
.mx-3 { 
	margin-right: 30px !important;
	margin-left: 30px !important;
}

.my-1 {
	margin-top: $keystone !important;
	margin-bottom: $keystone !important;
}
.my-2 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}
.my-3 { 
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}


.pr-1 {
	padding-right: $keystone !important;
}
.pr-2 {
	padding-right: 20px !important;
}
.pr-3 {
	padding-right: 30px !important;
}


.display-none {
	display: none !important; 
}

.display-block {
	display: block !important;
}

.display-inline {
	display: inline !important;
}

.display-inline-block {
	display: inline-block !important;
}
