// ======================= HELPERS ======================= //

// TEXT
%text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}
.text-overflow { @extend %text-overflow; }

.overflow-hidden { overflow: hidden !important; }
.overflow-auto { overflow: auto !important; }

.text-center { text-align: center !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }

.lowercase { text-transform: lowercase !important; }
.uppercase { text-transform: uppercase !important; }
.capitalize { text-transform: capitalize !important; }

.flex-column { flex-flow: column;}
.flex-reverse { flex-direction: row-reverse !important; }

.line-height-1 { line-height: 1 !important; }
.line-height-1-3 { line-height: 1.3 !important; }

.clear-both { clear: both; }

.bold-400 { font-weight: 400 !important; }
.bold-500 { font-weight: 500 !important; }
.bold-600 { font-weight: 600 !important; }

.size-10 { font-size: 10px !important; }
.size-12 { font-size: 12px !important; }
.size-14 { font-size: 14px !important; }
.size-16 { font-size: 16px !important; }

.style-italic { font-style: italic !important; }

.appearance-none { appearance: none; }

// WIDTHS & HEIGHTS
$mobile: 699px;
$tablet: 999px;
$desktop: 1299px;

.cap-20 { max-width: 20px; }
.max-w30 { max-width: 30px; }
.max-w500 { max-width: 500px !important }
.max-w800 { max-width: 800px !important }
.max-w1300 { max-width: 1300px; }
.max-h30 { max-height: 30px; }

.full-width {
	box-sizing: border-box;
	width: 100% !important;
}

.full-width-m400px {
	box-sizing: border-box;
	width: calc(100% - 400px) !important;
}

.half-width {
	box-sizing: border-box;
	width: 50% !important;

	@media screen and (max-width: $mobile) {
		width: 100% !important;
	}
}

.third-width {
	box-sizing: border-box;
	width: 33.3% !important;

	// @media screen and (max-width: $desktop) {
	// 	width: 50% !important;
	// }

	// @media screen and (max-width: $tablet) {
	// 	width: 100% !important;
	// }
}

.two-third-width {
	box-sizing: border-box;
	width: 66.6% !important;
}

.third-width-m1 {
	box-sizing: border-box;
	width: calc(33.3% - 10px) !important;
}

.fourth-width {
	box-sizing: border-box;
	width: 25% !important;
}

.three-fourth-width {
	box-sizing: border-box;
	width: 75% !important;
}

.fourth-width-m1 {
	box-sizing: border-box;
	width: calc(25% - 10px) !important;

	@media screen and (max-width: 900px) {
		width: calc(33% - 10px) !important;
	}

	@media screen and (max-width: 800px) {
		width: calc(50% - 10px) !important;
	}

	@media screen and (max-width: 700px) {
		width: 100% !important;
	}
}

.fifth-width {
	box-sizing: border-box;
	width: 20% !important;
}

.min-width-150 { min-width: 150px !important; }

.full-height { height: 100% !important; }

.md-trans { transition: 0.2s ease all; }
.no-transition { transition: none !important; }

.z-1 { z-index: 1 !important; }
.z-999 { z-index: 999 !important; }


// COLORS

.bg-none { background: transparent !important; }

.bg-blue { background: #0879d0 !important; }
.color-blue { color: #0879d0 !important; }

.bg-light-blue { background: #0e8bff !important; }
.color-light-blue { color: #0e8bff !important; }

.color-green { color: #0aa649 !important; }
.bg-green { background-color: #0aa649 !important; }

.color-red { color: #c60505 !important; }
.bg-red { background-color: #c60505 !important; }

.color-yellow { color: #f7c019 !important; }
.bg-yellow { background-color: #f7c019 !important; }

.color-gray { color: #cbced1; }
.bg-gray { background-color: #cbced1 !important; }

.color-darkgray { color: #222f3e !important; }
.bg-darkgray { background-color: #222f3e !important; }

.color-white { color: #fff !important; }
.bg-white { background-color: #fff !important; }

.bg-primary { @extend .bg-darkgray; }

.status-green {
	background: rgba(#0aa649, 0.2) !important;
	color: #0aa649 !important;
}
.status-orange {
	background: rgba(#f0905c, 0.2) !important;
	color: #f0905c !important;
}
.status-red {
	background: rgba(#c60505, 0.2) !important;
	color: #c60505 !important;
}
.status-blue {
	background: rgba(#0879d0, 0.2) !important;
	color: #0879d0 !important;
}

.opacity-half { 
	opacity: 0.5;
	&:hover { opacity: 1; }
}

.opacity-twothird { 
	opacity: 0.75;
	&:hover { opacity: 1; }
}

.disabled {
	opacity: 0.2;
	pointer-events: none;
}


// CURSOR
.pointer-events { pointer-events: none !important; }
.cursor-pointer { cursor: pointer !important; }
.resize-none { resize: none !important; }


// POSITIONING & ALIGNMENT
.zindex-9999 { z-index: 9999; }

.justify-left { justify-content: left !important; }
.justify-right { justify-content: right !important; }

.vertical-top { vertical-align: top !important; }
.vertical-middle { vertical-align: middle !important; }

.float-right { float: right; }
.float-left { float: left; }

.position-absolute { position: absolute !important; }
.position-fixed { position: fixed !important; }
.position-relative { position: relative !important; }

.rotate90 { transform: rotate(270deg) !important; }

.no-transform { transform: none !important; }
.align-center { align-items: center !important; }


// BORDER RADIUS
.square { border-radius: 0 !important; }
.rounded { border-radius: 5px; }
.round { border-radius: 50%; }

.border-none { border: none !important; }
.border-red { border-color: #c60505 !important; }


// ICON SIZES
.lg-icon {
	font-size: 55px !important;
	width: 60px !important;
	height: 55px !important;
}

.md-icon {
	font-size: 45px !important;
	width: 40px !important;
	height: 45px !important;
}

.sm-icon {
    font-size: 14px !important;
    line-height: 1.7 !important;
	width: 14px !important;
	height: 20px !important;
}

.reset-icon {
	font-size: 14px;
	line-height: 0.5;
	width: auto !important;
	height: auto !important;
}

.monospace {
	font-family: monospace !important;
	text-transform: none !important;
}


// DISPLAY
.display-none { display: none !important;  }
.display-block { display: block !important; }
.display-inline { display: inline !important; }
.display-inline-block { display: inline-block !important; }
.display-flex { display: flex !important; }


// MARGIN & PADDING
$keystone: 10px;

// Refactor 20px/30px with 2x/3x $keystone 
.mr-0 { margin-right: 0 !important; }
.mr-1 { margin-right: $keystone !important; }
.mr-2 { margin-right: 20px !important; }
.mr-3 { margin-right: 30px !important; }
.mr-4 { margin-right: 40px !important; }

.mr-n1 { margin-right: -$keystone !important; }
.mr-n2 { margin-right: -20px !important; }
.mr-n5 { margin-right: -50px !important; }

.mt-n1 { margin-top: -$keystone !important; }
.mt-n2 { margin-top: -20px !important; }
.mt-n3 { margin-top: -30px !important; }

.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

.my-n1 {
	margin-top: -$keystone !important;
	margin-bottom: -$keystone !important;
}

.mx-n1 {
	margin-left: -$keystone !important;
	margin-right: -$keystone !important;
}

.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.ml    { margin-left: 5px !important }
.ml-1  { margin-left: $keystone !important; }
.ml-15 { margin-left: 15px !important; }
.ml-2  { margin-left: 20px !important; }
.ml-3  { margin-left: 30px !important; }
.ml-4  { margin-left: 40px !important; }
.ml-5  { margin-left: 50px !important; }
.ml-6  { margin-left: 60px !important; }

.mt-0  { margin-top: 0 !important; }
.mt    { margin-top: 5px !important; }
.mt-1  { margin-top: $keystone !important; }
.mt-15 { margin-top: 15px !important; }
.mt-2  { margin-top: 20px !important; }
.mt-25 { margin-top: 25px !important; }
.mt-3  { margin-top: 30px !important; }
.mt-4  { margin-top: 40px !important; }
.mt-5  { margin-top: 50px !important; }

.mb-0  { margin-bottom: 0 !important; }
.mb    { margin-bottom: 5px !important; }
.mb-1  { margin-bottom: $keystone !important; }
.mb-15 { margin-bottom: 15px !important; }
.mb-2  { margin-bottom: 20px !important; }
.mb-25 { margin-bottom: 25px !important; }
.mb-3  { margin-bottom: 30px !important; }
.mb-4  { margin-bottom: 40px !important; }
.mb-300px { margin-bottom: 300px !important; }

.mx-1 {
	margin-right: $keystone !important;
	margin-left: $keystone !important;
}

.mx-2 {
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.mx-3 { 
	margin-right: 30px !important;
	margin-left: 30px !important;
}

.my-1 {
	margin-top: $keystone !important;
	margin-bottom: $keystone !important;
}

.my-2 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}

.my-3 { 
	margin-top: 30px !important;
	margin-bottom: 30px !important;
}

.my-4 { 
	margin-top: 40px !important;
	margin-bottom: 40px !important;
}

.p-0  { padding: 0 !important; }
.p    { padding: 5 !important; }
.p-1  { padding: 10px !important; }
.p-15 { padding: 15px !important; }
.p-2  { padding: 20px !important; }
.p-25 { padding: 25px !important; }
.p-3  { padding: 30px !important; }
.p-4  { padding: 40px !important; }

.pl-0  { padding-left: 0 !important; }
.pl    { padding-left: 5px !important; }
.pl-1  { padding-left: $keystone !important; }
.pl-2  { padding-left: 20px !important; }
.pl-3  { padding-left: 30px !important; }

.pr-0  { padding-right: 0 !important; }
.pr    { padding-right: 5px !important; }
.pr-1  { padding-right: $keystone !important; }
.pr-2  { padding-right: 20px !important; }
.pr-3  { padding-right: 30px !important; }

.pt-0 { padding-top: 0px  !important; }
.pt-1 { padding-top: 10px !important; }
.pt-2 { padding-top: 20px !important; }
.pt-3 { padding-top: 30px !important; }
.pt-4 { padding-top: 40px !important; }

.px-1 {
	padding-right: 10px !important;
	padding-left: 10px !important;
}

.px-15 {
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.px-2 {
	padding-right: 20px !important;
	padding-left: 20px !important;
}

.px-3 {
	padding-right: 30px !important;
	padding-left: 30px !important;
}

.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.py-1 {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
}

.py-2 {
	padding-top: 20px !important;
	padding-bottom: 20px !important;
}

.py-3 {
	padding-top: 30px !important;
	padding-bottom: 30px !important;
}

.pb-0 { padding-bottom: 0 !important; }
.pb-1 { padding-bottom: 10px !important; }
.pb-2 { padding-bottom: 20px !important; }
.pb-3 { padding-bottom: 30px !important; }


// MOVE TO REGISTRATION
.verifier-block { margin-top: 275px; }

.form-progress-block {
	width: 100%;
	max-width: 1400px;
}

// DISPLAY ELEMENTS

// Static labels to match Material form labels
.label {
	font-size: 12px;
	font-weight: 400;
	color: #666;
	user-select: none;
	margin: 0 0 10px;
}

// Static span with chip UI
.faux-chip {
	font-size: 14px;
	font-weight: 400;
	border-radius: 16px;
	padding: 4px 12px;
	background: #eee;
	text-transform: capitalize;
	display: inline-block;
	line-height: 20px;
    justify-content: center;
	max-width: fit-content;
	text-overflow: ellipsis;
	white-space: nowrap;

	&.color-green {
		background: rgba(10, 166, 73, 0.2);
	}
	&.color-yellow {
		color: #f0905c !important;
		background: rgba(218, 152, 54, 0.2);	  
	}
}

// Vertical labels as seen on signature block
.vertLabels {
	display: inline-block;
    position: absolute;
    left: -18px;
    top: 16px;
    transform: rotate(270deg);
    font-size: 12px;
    z-index: 99999999;
    height: 30px;
	width: 64px;
	text-align: center;
	line-height: 2.5
}

.avatar {
	background: #f2f2f2;
	color: #919191;
	border-radius: 50%;
	font-size: 18px;
	height: 30px !important;
	width: 30px !important;
	line-height: 30px;
	text-align: center;
	margin-right: 10px;
}

.hidden {
	display: none !important;
}

.v-center {
	display: flex;
	align-items: center;
}

.mat-icon-small {
  font-size: 20px;
  height: 20px !important;
  line-height: 20px;
  width: 20px !important;
}

.file-input {
  width: 0;
  height: 0;
  max-width: 0;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  visibility: hidden;
}

.align-items-center{
    align-items: center !important;
}

.justify-content-flex-end{
    justify-content: flex-end !important;
}