.ng-page-container {
  background-color: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12);
  max-width: 1300px;
  margin: 0 auto;
}
.ng-app-container {
  padding: 24px 40px;
  overflow: hidden;
}
.ng-app-title {
  color: #000;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  margin: 0;

  .mat-icon {
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    width: 20px;
  }
}
.ng-app-block-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  margin: 0;
}
.ng-text-field,
.ng-select-field,
.ng-chips-autocomplete-field {
  .mat-form-field-wrapper {
    width: 100%;
  }
  .mat-input-element,
  mat-select,
  mat-chip-list {
    padding: 0;
  }
  mat-chip-list {
    display: block;

    .mat-chip-input {
      padding: 0.125em 0;
    }
  }
  .mat-chip.mat-primary {
    background-color: #0063BF;
    color: #fafafa;

    .mat-chip-remove {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .mat-form-field-infix {
    border-top-width: 0;
    background: #ECECEC;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-top: 1.25em;
    padding: 0.625em 1em;
  }
  .mat-form-field-disabled .mat-icon {
    opacity: 0.5;
  }
  &.mat-form-field-disabled .mat-form-field-underline,
  .mat-form-field-underline {
    background: transparent;
  }
  .mat-form-field-label-wrapper {
    padding-top: 1.25em;
    top: -1.25em;
  }
  &.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.28125em) scale(0.75) perspective(100px) translateZ(0.001px)
  }
  .mat-form-field-label.mat-form-field-empty {
    transform: translate(1em, 0.625em);
  }
  .mat-input-element {
    font-size: 14px;
    font-weight: 500;
  }
  .mat-form-field-label {
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
  }
}
.ng-select-field.has-icon {
  mat-select-trigger {
    display: inline-flex;
    align-items: center;
  }

  .mat-select-trigger {
    transform: translateY(2px);
  }

  .mat-option .mat-icon,
  mat-select-trigger .mat-icon {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
    width: 24px;
    margin-right: 0;
  }

  &.icon-small {
    .mat-option .mat-icon,
    mat-select-trigger .mat-icon {
      font-size: 16px;
      line-height: 16px;
      height: 16px;
      width: 20px;
    } 
  }
}
.ng-text-field {
  overflow: hidden;
}
.ng-text-field.has-icon {
  .mat-form-field-infix > .mat-icon {
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.575rem;

    & ~ .mat-input-element {
      padding-right: 2em;
      box-sizing: border-box;
    }
  }

  &.left {
    .mat-form-field-label.mat-form-field-empty {
      transform: translate(3.1em, 0.625em);
    }

    .mat-form-field-infix > .mat-icon {
      left: 0.75rem;
      right: auto;
  
      & ~ .mat-input-element {
        padding-left: 2em;
      }
    }
  }
}
.ng-button-white {
  background: white;
  border-radius: 0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  color: #989898;

  .mat-icon {
    color: #989898;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 4px;
    width: 20px;
  }
}
.ng-mat-tooltip {
  background-color: #000;
  border-radius: 0 !important;
  box-shadow: 3px 2px 4px rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.9);
  font-size: 12px;
}
.ng-mat-label {
  font-size: 13px;
  color: rgba(44, 44, 44, 0.54);
  margin-bottom: 4px;
  display: block;
}
.ng-slide-toggle {
  .mat-slide-toggle-content {
    font-weight: 500;
    display: flex;
    align-items: center;
  }
}
.mat-icon.ng-icon-help {
  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  height: 16px;
  line-height: 16px;
  width: 16px;
}
.ng-link-button {
  color: #0E8BFF;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}