@import "defaults.scss";
%btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    font-weight: 300;
    cursor: pointer;
    font-size: 1rem;
    height: calc(2.25rem + 20px);
    padding: 0px 15px 0px 15px;
    border-radius: 0px;
}


/* Button Styles */

button {
    transition: all 0.3s ease;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    outline: none;
    padding: 0 15px;
    position: relative;
    text-transform: uppercase;
}

button span {
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2;
}

button:active,
button.inactive,
button.inactive.secondary,
.btn-primary-rmf:hover,
.btn-secondary-rmf:hover,
.btn-delete:hover,
.btn-add:hover .btn-save:hover {
    opacity: 0.5!important;
}

button.secondary {
    background-color: $grey;
}

.btn-primary-rmf,
.btn-primary-rmf:active,
.btn-primary-rmf:focus,
.btn-primary-rmf.disabled,
.btn-primary-rmf:disabled,
.btn-primary-rmf:hover {
    @extend %btn;
    border: 1px solid $light-grey;
    background-color: $lighter-grey;
    color: $body;
}

.btn-secondary-rmf,
.btn-secondary-rmf:active,
.btn-secondary-rmf:focus,
.btn-secondary-rmf.disabled,
.btn-secondary-rmf:disabled,
.btn-secondary-rmf:hover {
    @extend %btn;
    border: 1px solid $secondary;
    background-color: $secondary;
    color: $white-full;
}

.btn-save,
.btn-save:active,
.btn-save:focus,
.btn-save.disabled,
.btn-save:disabled,
.btn-save:hover {
    @extend %btn;
    border: $primary;
    background-color: $primary;
    color: #fff;
}

.btn-delete,
.btn-delete:active,
.btn-delete:focus,
.btn-delete:hover {
    @extend %btn;
    background: $danger;
    border: $danger;
    color: #fff;
}

.btn-add,
.btn-add:active,
.btn-add:focus,
.btn-add:hover {
    @extend %btn;
    background-color: $success;
    border: $border;
    color: $white-full;
}

.slideout-padding-applets .btn-add {
    border-radius: 0px;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 4px!important;
    border-bottom-left-radius: 4px!important;
    border-bottom-right-radius: 0px!important;
    border-top-right-radius: 0px!important;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 4px!important;
    border-bottom-right-radius: 4px!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}

.btn-bootstrapper {
    padding: 0px 15px 0px 15px;
    font-size: 1rem;
}