/* Icon styles */

@import "defaults.scss";
.icon {
    cursor: pointer;
    position: relative;
}

.icon.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-applets {
    font-size: 18px;
    margin: 0px 5px 0px 10px;
    line-height: 2.7!important;
}

.slideout-icon:before {
    color: $white-full;
}

.slideout-icon {
    fill: $white-full;
}