// // STRUCTURE
@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #efefef;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", sans-serif;
}

app-sidebar-logo {
	max-width: 225px;
	display: block;
	margin: 0 0 -10px -27px;
}

// logo {
// 	display: block;
// 	width: 150px;
// }

// #content {
// 	background: #fff;
// 	border-radius: 5px;
// }

// $mat-theme-primary: #222f3e;
// $mat-theme-on-primary: #efefef;
// $mat-theme-secondary: #FEEAE6;
// $mat-theme-on-secondary: #442C2E;
// $mat-theme-surface: #222f3e;
// $mat-theme-on-surface: #fff;
// $mat-theme-background: #FFFFFF;
// $mat-theme-on-background: #442C2E;

// // $mdc-drawer-title-ink-color: mdc-theme-prop-value(on-surface);
// // $mdc-drawer-subtitle-ink-color: mdc-theme-prop-value(on-surface);
// // $mdc-drawer-surface-fill-color: mdc-theme-prop-value(surface);
// $mat-theme-primary: #880e4f;
// // $mdc-typography-font-family: unquote("Times New Roman, sans-serif");


// // $mdc-typography-styles-button: (
//  // font-size: 14px,
//  // font-weight: bold,
// // );
// // $mdc-typography-styles-headline6: (
// //  font-size: 20px,
// // );
// // $mdc-shape-small-component-radius: 16px;
// // $sidebar-background-color: $primary-color;
// $primary-color: #222f3e;

// // .foo-button {
// //   @include mdc-button-ink-color(teal);
// //   @include mdc-states(teal);
// // }



// a {
// 	color: $primary-color;
// }

// h1, h2, h3, h4, h5 {
// 	font-weight: 500;
// }

// $mat-drawer-width: 230px;


// // ADJUST BY VAR
// .mdc-drawer {
// 	padding: 0 5px;
// }
// .mdc-drawer__header {
// 	min-height: 0;
// }
// app-sidebar-logo {
// 	margin: 0 20px 0 -25px;
// 	padding-top: 20px;
// 	display: block;
// }

// SIDEBAR/MAIN LAYOUT
#sidebar {
	box-sizing: border-box;
	width: 230px;
	// height: 100vh;
	// position: fixed;
	background-color: #222f3e; // redeclaring shouldn't be necessary -- to investigate

	a, i,
	.mdc-icon-button {
		color: #eee;
		// color: rgba($mdc-theme-on-surface, 0.5); // redeclaring shouldn't be necessary -- to investigate		
		// font-weight: 400;
	
		&.active,
		&:hover,
		&:hover i {
			color: #fff;
			// color: $mdc-theme-on-surface; // redeclaring shouldn't be necessary -- to investigate		
		}
	}

	img {
		display: inline-block;
		height: auto;
		max-width: 25px;
		max-height: 25px;
		margin-right: 30px;
	}
}

#main-content {
	box-sizing: border-box;
	padding: 20px 120px;
	height: 100vh;
}

.content-body {
	border-radius: 3px;
	margin-bottom: 30px;
	background: #fff;
}


.interior,
.mat-tab-body-content {
	padding: 30px 60px;
}

.mat-drawer-container {
	background: #efefef;
}

app-dashboard-options {
	display: block;
	margin-bottom: 40px;

	h1 {
		display: inline-block;
		margin-right: 15px;
	}
	button {
		margin-right: 15px;
	}
}

// // GRIDSTERRRR
// .gridster-bg-view-mode {

// 	&.fit {
// 		padding: 0 !important; // override inline
// 		margin: 60px 10px;
// 		background: transparent;
// 	}
// }

// .display-none {
// 	display: none !important; 
// }

// .display-block {
// 	display: block !important;
// }

// .display-inline {
// 	display: inline !important;
// }

// .display-inline-block {
// 	display: inline-block !important;
// }

// .mdc-list-item__graphic {
// 	margin-right: 15px; // update with vars instead
// }

// :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::before,
// :not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item--activated::after {
// 	// background: #ccc5c5; // update with vars instead
// 	background: transparent; // update with vars instead
// }

// TABLES
.table {
	width: 100%;
	border-collapse: collapse;

	th {
		font-size: 12px;
		font-weight: 500;
		text-align: left;
		padding: 15px 10px;
	}

	tr {
		border-bottom: 1px solid #ddd; // replace with var
	}

	tbody tr {

		&:hover {
			background: rgba(#efefef, 0.2); // replace with var
		}

		&:last-child {
			border: none;
		}
	}

	td {
		padding: 10px;
	}
}

// .widget-title { // refactor with h3 and material components
// 	padding: 10px;
// 	font-size: 12px;
// 	font-weight: 500;
// }


// .text-align-center {
// 	text-align: center;
// }

// // SPACING HELPERS
// // Refactor as sass if for
// .margin-0 {
// 	margin: 0;
// }


// .rounded {
// 	border-radius: 50%;
// }

// .mdc-chip-set {
// 	padding: 0; // use var instead
// }
// .mdc-chip {
// 	font-size: 12px; // use var instead
// }
// .mdc-chip,
// .mdc-chip-set {
// 	display: inline-block; // correct at mdc-chips level instead
// }

// // refactor color application
// .bg-green .mdc-chip {
// 	background-color: rgba(#0aa649, 0.1);
// }
// .bg-red .mdc-chip {
// 	background-color: rgba(#c60505, 0.1);
// }

// .color-green {
// 	color: #0aa649;
// }
// .color-red {
// 	color: #c60505;
// }
// .color-yellow {
// 	color: #ffd21f;
// }
// .color-gray {
// 	color: #cbced1;
// }






























// // Global
// // @import "_global/fonts"; // font imports
// // @import "_global/variables"; // default system variables
// // @import "_global/helpers"; // mixins, extends, helpers
// // @import "_global/resets"; // overriding base theme
// // @import "_global/xl-bootstrap"; // overriding base theme
// // // Atoms (Elements)
// // @import "atoms/buttons";
// // @import "atoms/dropdowns";
// // @import "atoms/checkboxes";
// // @import "atoms/icons";
// // @import "atoms/inputs";
// // @import "atoms/links";
// // @import "atoms/list-items";
// // @import "atoms/tables";
// // @import "atoms/text";
// // @import "atoms/titles";
// // @import "atoms/alerts";
// // @import "atoms/tooltips";
// // @import "atoms/file-upload";
// // @import "atoms/progress-bar";
// // // Molecules (Components)
// // @import "molecules/breadcrumbs";
// // @import "molecules/cards";
// // @import "molecules/forms";
// // @import "molecules/modals";
// // @import "molecules/navigation";
// // @import "molecules/navigation-widgets";
// // @import "molecules/search";
// // @import "molecules/slideout";
// // @import "molecules/slideout-hover";
// // @import "molecules/tabs";
// // @import "molecules/tooltips";
// // @import "molecules/pagination";
// // // Organisms (Grouped Components)
// // @import "organisms/footer";
// // @import "organisms/feedback";
// // @import "organisms/calendar";
// // @import "organisms/ui-guide";
// // @import "organisms/bootstrapper";
// // @import "organisms/dashboard";
// // @import "organisms/loading";
// // @import "organisms/widgets";
// @import "gridster";

// // // Widgets
// // @import "widgets/alert";   
// // @import "widgets/notifications"; 

// // // Skin
// // // Refactor skin imports to only apply colors/styles for that skin on top of the above. That way our skin packages are very light and specific to that display
// // @import "skins/light";
// // @import "skins/dark";
// // @import "skins/contrast";
// // // @import "skins/other"'

