@import "defaults.scss";
.atom-color {
    width: 100%;
}

.atom-color-primary {
    background: $primary!important;
}

.atom-color-secondary {
    background: $secondary!important;
}

.atom-color-body {
    background: $body!important;
}

.atom-color-dark-grey {
    background: $dark-grey!important;
}

.atom-color-grey {
    background: $grey!important;
}

.atom-color-light-grey {
    background: $light-grey!important;
    color: $secondary!important;
}

.atom-color-success {
    background: $success!important;
}

.atom-color-warning {
    background: $warning!important;
}

.atom-color-danger {
    background: $danger!important;
}

.atom-color-white-full {
    background: $white-full;
    color: $secondary!important;
}

.atom-fonts {
    font-size: 1rem;
}

.atom-fonts-avenir {
    font-family: $font-avenir!important;
}

.atom-fonts-heebo {
    font-family: $font-heebo!important;
}

.atom-fonts-helvetica {
    font-family: $font-helvetica!important;
}

.atom-fonts-sans-serif {
    font-family: $font-sans-serif!important;
}

.molecules-applet-nav {
    position: inherit;
}

.margin-bottom-ui-elements {
    margin-bottom: 55px;
}