<h1 mat-dialog-title>{{this.title}}</h1>
<button [mat-dialog-close]='Cancel'>
  <mat-icon>clear</mat-icon>
</button>
<div mat-dialog-content>
  <mat-icon *ngFor="let icon of icons" [ngClass]="icon.classList">{{icon.icon}}</mat-icon>
  <p>
    {{message}}
  </p>
</div>
<div mat-dialog-actions>
  <button *ngFor="let button of buttons" mat-button [mat-dialog-close]='button.title' type="button" [ngClass]="button.classList">{{button.title}}</button>
  <button mat-button [mat-dialog-close]='Cancel' class="btn btn-cancel">Cancel</button>
</div>