<ng-app-header
    [title]="pageTitle"
    [options]="statusOptions"
    [currentOption]="userStatus"
    (optionChange)="handleStatusChange($event)"
    [menuOptions]="menuOptions"
    (menuClick)="handleMenuClick($event)"
    (back)="goBack()"
></ng-app-header>
<ng-page-tabs
    [tabs]="pageTabs"
    (change)="handlePageTabChange($event)"
></ng-page-tabs>
<div class="wrapper">
    <div class="ng-page-container">
        <div class="ng-page-content" fxLayout="row" fxAlignItems="stretch">
            <ng-page-sidebar
                [active]="currentApp"
                [items]="pageSidebarItems[currentPageTab]"
                (itemClick)="handleAppChange($event)"
                fxFlex="240px"
            ></ng-page-sidebar>
            <div fxFlex class="ng-app-container">
                <ng-personal-information
                    [user]="user"
                    *ngIf="currentApp === 'personal_info'"
                    ></ng-personal-information>
                <ng-security-access
                    [user]="user"
                    *ngIf="currentApp === 'security_access'"
                ></ng-security-access>
                <ng-affiliations
                    [user]="user"
                    *ngIf="currentApp === 'affiliations'"
                ></ng-affiliations>
                <ng-custom-attributes
                    [user]="user"
                    *ngIf="currentApp === 'custom_attributes'"
                ></ng-custom-attributes>
                <ng-microapps
                    [user]="user"
                    *ngIf="currentApp === 'microapps'"
                ></ng-microapps>
                <ng-mattermost
                    [user]="user"
                    *ngIf="currentApp === 'mattermost'"
                ></ng-mattermost>
                <ng-jira-settings
                    [user]="user"
                    *ngIf="currentApp === 'jira'"
                ></ng-jira-settings>
                <ng-role-mappings
                    [user]="user"
                    *ngIf="currentApp === 'roles'"
                ></ng-role-mappings>
            </div>
        </div>
    </div>
</div>