.cd-header {
    background: #E38800;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
    padding: 4px 8px;

    .mat-icon {
        background: none;
        opacity: 0.6;
    }

    .close-button {
        width: 30px;
        height: 30px;
        line-height: 30px;
        position: absolute;
        right: 4px;
    }
}
.cd-message {
    font-size: 12px;
    padding: 16px;
}
.cd-details {
    font-size: 10px;
    padding: 16px;
    background: #EDEDED;

    ::ng-deep a {
        color: #0665BC;
    }
}