.mat-dialog-content {
    padding: 0;
    margin-bottom: 0;
    width: 660px;
}
.section {
    padding: 20px;

    &.dashboards {
        background: #EFEFEF;
    }

    .section-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin: 0;
        display: flex;
        align-items: center;
        color: #1a1a1a;
        margin-left: 4px;

        .mat-icon {
            font-size: 16px;
            color: rgba(0, 0, 0, 0.4);
            width: 16px;
            height: 16px;
            line-height: 16px;
            margin-left: 6px;
        }
    }
}

.monitors app-casting-item ::ng-deep .new-monitor-btn {
    .image-container {
        background-color: transparent;

        .mat-icon {
            font-size: 60px;
        }
    }

    .item-subtitle {
        white-space: pre-wrap;
        text-align: center;
        font-style: normal;
    }
}