<div mat-dialog-title>
  <h4 class="title">Cast dashboards</h4>
  <button mat-icon-button mat-dialog-close class="close-button">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="dashboards section">
    <h5 class="section-title">
      <span>Dashboards</span>
      <mat-icon matTooltip="Dashboards your user has access to. Drag and drop to an external monitor to cast.">help</mat-icon>
    </h5>
    <app-grid-slider [page]="paged.length">
      <app-slider-item [cols]="4" *ngFor="let page of paged">
        <app-casting-item
          [id]="dashboard.docId"
          icon="dashboard"
          [title]="dashboard.title"
          [draggable]="true"
          *ngFor="let dashboard of page"
        ></app-casting-item>
      </app-slider-item>
    </app-grid-slider>
  </div>
  <div class="monitors section">
    <h5 class="section-title">
      <span>External Monitors</span>
      <mat-icon matTooltip="External monitors detected. Drag and drop a dashboard to cast.">help</mat-icon>
    </h5>
    <div
      gdColumns="repeat(3, 1fr)"
      gdGap="2px"
    >
      <app-casting-item
        [id]="monitor.id"
        icon="desktop_windows"
        [title]="monitor.name"
        [subtitle]="getDashboardName(monitor.dashboardId)"
        subtitleIcon="dashboard"
        [droppable]="true"
        (onDrop)="drop($event, monitor.id)"
        [showDisconnect]="true"
        (onDisconnect)="disconnect(monitor)"
        *ngFor="let monitor of monitors"
      ></app-casting-item>
      <app-casting-item
        icon="screen_share"
        className="new-monitor-btn"
        subtitle="Drop dashboard here to select monitor"
        [droppable]="true"
        (onDrop)="drop($event)"
        *ngIf="presentationSvc.hasExternalMonitor"
      ></app-casting-item>
    </div>
    <div *ngIf="!presentationSvc.hasExternalMonitor && monitors.length === 0">
      You don't have external monitors
    </div>
  </div>
</div>