<div class="row mb-1">
  <div class="display-inline-block pr-4 form-progress-block">
    <h2 class="mt-1 mb-2">Registration Overview</h2>
    <div style="margin-left: 2px;">
      <mat-accordion>

        <!-- ********** STEPS ********** -->
        <mat-expansion-panel *ngFor='let step of userRegistration.steps; index as i;'>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(step.status)" style="width: 21px; height: 21px;" [matTooltip]="statusAsString(step.status)">
                <mat-icon class="color-white sm-icon" style="min-width: 21px;">check</mat-icon>
              </span>
              <div class="font-500">{{step.title}}</div>
              <button mat-icon-button (click)="goToStep.emit(i)" matTooltip="Go to {{step.title}}">
                <mat-icon class="sm-icon opacity-half" style="min-width: 21px;">arrow_forward</mat-icon>
              </button>
            </mat-panel-title>
            <div class="mx-2 pt-1" *ngIf="step.dateCompleted">
              <span class="color-green" matTooltip="Completed {{step.dateCompleted | utcDate: 'yyyy/MM/dd'}}">Completed</span>
            </div>
            <div class="mx-2 pt-1" *ngIf="step.status === 'inprogress'">
              <span class="color-yellow">Pending</span>
            </div>

          </mat-expansion-panel-header>
          <!-- <div>{{step.description}}</div> -->

          <!-- ********** FORMS ********** -->
          <mat-accordion *ngIf="step.forms.length > 0 && this.approvals">
            <mat-expansion-panel *ngFor="let form of step.forms; index as j;" [disabled]="this.approvals.get(form.docId).length === 0">
              <mat-expansion-panel-header>
                <mat-panel-title class="widthCap">
                  <div class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(form.status)" style="width: 21px; height: 21px;" [matTooltip]="statusAsString(form.status)">
                    <mat-icon class="color-white sm-icon" style="min-width: 21px;">check</mat-icon>
                  </div>
                  <div class="text-overflow font-500 card-form-title" style="min-width: 50px;" *ngIf="form.title">
                    {{form.title}}
                  </div>
                  <button mat-icon-button class="ml-1 form-menu-btn" [matMenuTriggerFor]='formMenu'>
                    <mat-icon class="sm-icon" style="min-width: 21px;">more_vert</mat-icon>
                  </button>
                  <input #physicalReplacementInput style='visibility: hidden' type="file"/>
                  <mat-menu #formMenu="matMenu">
                    <button mat-menu-item class='form-menu-item' (click)="dispatchGoToForm(i, j)" matTooltip="View {{form.title}}">View Form</button>
                    <button mat-menu-item *ngIf="userType && form.allowPhysicalUpload[userType]" class="form-menu-item" matTooltip="Print {{form.title}}">Print Empty Form</button>
                    <button mat-menu-item *ngIf="userType && form.allowPhysicalUpload[userType]" class='form-menu-item' (click)="uploadHardCopy(i, j)" matTooltip="Upload Physical {{form.title}}">Upload Hard Copy</button>
                    <button mat-menu-item *ngIf="form.pdf" class='form-menu-item' matTooltip="View PDF">
                      <a class='form-menu-anchor' target="_blank" [href]="generatePDFLink(form.pdf)">View Generated PDF</a>
                    </button>
                    <button mat-menu-item *ngIf="form.physicalForm" class='form-menu-item' matTooltip="View PDF"></button>
                  </mat-menu>
                </mat-panel-title>
                <div *ngIf="form.status === 'submitted' || form.status === 'complete'">
                  <div class="mx-2">
                    <div *ngIf="form.status === 'submitted'" class="float-right display-inline-block ml-1 pt-1 color-blue" matTooltip="Submitted {{form.dateSubmitted | date: 'yyyy/MM/dd'}}">Submitted</div>
                    <div *ngIf="form.status === 'complete'" class="float-right display-inline-block ml-1 pt-1 color-green" matTooltip="Completed {{form.dateCompleted | date: 'yyyy/MM/dd'}}">Completed</div>
                  </div>
                </div>
              </mat-expansion-panel-header>

              <!-- ********** APPROVALS ********** -->
              <ng-container *ngFor="let section of form.layout.sections; index as k;">
                <div *ngIf="section.approval" class="display-block full-width clear-both mx-2 mb-1 approval-line">
                  <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(section.approval.status)" style="width: 21px; height: 21px;" matTooltip="Completed {{section.approval.dateCompleted | date: 'yyyy/MM/dd'}}">
                    <mat-icon class="color-white sm-icon" style="min-width: 21px;">check</mat-icon>
                  </span>
                  {{section.approval.title}}
                  <span *ngIf="allowNudge(i, j, k)" class='nudge-wrapper'>
                  <mat-icon class='nudge-icon' [matTooltip]="nudgeIconTooltip(section.approval)">info</mat-icon>
                    <button mat-button class='nudge-btn' [matTooltip]="nudgeTooltip(section.approval)" (click)='nudge(i, j, k)'>Nudge Approver</button>
                  </span> 
                    <!-- <span class="status-green float-right faux-chip" *ngIf="section.approval.dateCompleted" matTooltip="Completed {{section.approval.dateCompleted | utcDate: 'yyyy/MM/dd'}}">Completed</span> -->
                </div>
              </ng-container>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
        
    <div *ngIf='requestedManualForms.length > 0' class='manual-workflow-box'>
        <div class='manual-workflow-icon-box'>
            <mat-icon class='manual-workflow-icon'>warning</mat-icon>
        </div>
        <div class='bg-white p-25'>
            <div class='manual-workflow-title'>Manual Workflow Request</div>
            <div class='manual-worfklow-content'>One or more approvers has requested a manual workflow on the forms listed below.</div>
            <div class='manual-workflow-content mb-25'>
                <em>Note: you will need to retrieve any necessary signatures and/or approvals in person before uploading the form.</em>
            </div>
            <div class='manual-workflow-list'>Forms with Manual Workflow Requests</div>

            <ul>
                <li *ngFor='let form of requestedManualForms'>{{ form.title }}</li>
            </ul>
        </div>
    </div>

    <div class="pt-4 text-right">
      <button mat-raised-button color="primary" (click)="goToActiveForm()">Registration Wizard</button>
    </div>
  </div>

  <div class="display-inline-block float-right text-right" style='margin-top: 52px;'>
    <app-completion-progress [percent]="userRegistration.progress" [status]="userRegistration.status"></app-completion-progress>
  </div>
</div>
