<div class="row mb-1">
  <div class="registration-steps">
    <h2>Registration Overview</h2>
    <mat-accordion>

      <!-- ********** STEPS ********** -->
      <mat-expansion-panel *ngFor="let step of userRegistration.steps; index as i"
        [expanded]="selectedStepIndex === i"
        (opened)="selectStep.emit(i)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(step.status)" style="width:21px;height:21px;" [matTooltip]="statusAsString(step.status)">
                <mat-icon class="color-white sm-icon">check</mat-icon>
              </span>
              {{step.title}}
            </strong>
            <button style="background: none; border: none" (click)="goToStep.emit(i)">
              <mat-icon class="sm-icon">arrow_forward</mat-icon>
            </button>
          </mat-panel-title>
          <div *ngIf="step.dateCompleted">
            <div class="check-item-row ml-2 mr-2">
              <span class="color-green">Completed {{step.dateCompleted | utcDate: 'yyyy/MM/dd'}}</span>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div>{{step.description}}</div>

        <!-- ********** FORMS ********** -->
        <mat-accordion *ngIf="step.forms.length > 0">
          <mat-expansion-panel *ngFor="let form of step.forms; index as j" 
            [disabled]="form.approvals.length === 0"
            [expanded]="selectedFormindex === j && form.status === 'inprogress'"
            (opened)="selectForm.emit(j)"
          >
            <mat-expansion-panel-header style="color: rgba(44, 44, 44, 0.87);">
              <mat-panel-title>
                <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(form.status)" style="width:21px;height:21px;" [matTooltip]="statusAsString(form.status)">
                  <mat-icon class="color-white sm-icon">check</mat-icon>
                </span>
                {{form.title}}
                <span *ngIf="form.pdf" style="margin-left: 10px">
                  <a [href]="generatePDFLink(form)" target="_blank">View PDF</a>
                </span>
                <button style="background: none; border: none" (click)="goToForm.emit(j)">
                  <mat-icon class="sm-icon">arrow_forward</mat-icon>
                </button>
              </mat-panel-title>
              <div *ngIf="form.status === 'submitted' || form.status === 'complete'">
                <div class="check-item-row  ml-2 mr-2">
                  <span *ngIf="form.status === 'submitted'" class="float-right mr-08">Submitted {{form.dateSubmitted | utcDate: 'yyyy/MM/dd'}}</span>
                  <span *ngIf="form.status === 'complete'"  class="color-green float-right mr-08">Completed {{form.dateCompleted | utcDate: 'yyyy/MM/dd'}}</span>
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- ********** APPROVALS ********** -->
            <div *ngIf="form.approvals">
              <div *ngFor="let approval of form.approvals" class="check-item-row ml-2 mr-2">
                  <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(approval.status)" style="width:21px;height:21px;" matTooltip="Completed">
                    <mat-icon class="color-white sm-icon">check</mat-icon>
                  </span>
                  {{approval.title}}
                  <span class="color-green float-right mr-08" *ngIf="approval.dateCompleted">Completed {{approval.dateCompleted | utcDate: 'yyyy/MM/dd'}}</span>
                </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="goToStep.emit(selectedStepIndex)">Next</button>
    </div>
  </div>
  <div class="registration-progress">
    <div>
      <app-completion-progress [percent]="getPercent()"></app-completion-progress>
    </div>
  </div>
</div>
