<h2>Pending MicroApps</h2>

<table class="table">
  <thead>
    <tr>
      <th>MicroApp</th>
      <th>Version</th>
      <th>Client</th>
      <th class="text-center">Widgets</th>
      <th class="text-right">Uploaded</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let app of apps">

      <td>
        <a [routerLink]="['../../edit/', app.vendorId, app.docId]">
          {{app.appTitle}}
        </a>
      </td>

      <td>
        {{app.version}}
      </td>

      <td>
        {{app.clientName}}
      </td>

      <td class="text-center">
        {{app.widgets.length}}
      </td>

      <td class="text-right">
        {{app.createdAt | date:'HH:mm on MM-dd-yyyy'}}
      </td>

    </tr>
  </tbody>
</table>