<h2>Pending MicroApps</h2>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>MicroApp</th>
      <th>Version</th>
      <th>Client</th>
      <th>Widgets</th>
      <th>Uploaded</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let app of apps">
      <td>
        <span tooltip="MicroApp Pending" tooltip-position="top" *ngIf="app.enabled">
          <span class="material-icons color-red">brightness_1</span>
        </span>
      </td>

      <td>
        <a [routerLink]="['../../edit/', app.vendorId, app.docId]">
          {{app.appTitle}}
        </a>
      </td>

      <td>
        {{app.version}}
      </td>

      <td>
        {{app.clientName}}
      </td>

      <td>
        {{app.widgets.length}}
      </td>

      <td>
        {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
      </td>

    </tr>
  </tbody>
</table>