<app-card-title [cardTitle]="'Password'"></app-card-title>  

<div class="row">
  <div class="col-lg-12">
    <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
      <app-text-input [type]="'password'" [label]="'*New Password'" [placeholder]="'Begin Typing'" [maxChars]="250"
        [errorMsg]="'Error!'" [controlName]="'password'" [formGroup]="form" [errorMsgClassList]="'alert-danger'" (valueChanged)="verifyMatch($event)">
      </app-text-input>

      <app-text-input [type]="'password'" [label]="'*Re-enter Password to Confirm'" [placeholder]="'Begin Typing'" [maxChars]="250" [errorMsg]="'Passwords do not match!'"
        [controlName]="'confirmPassword'" [formGroup]="form" [errorMsgClassList]="'alert-danger'" (valueChanged)="verifyMatch($event)" [showError]="!passwordsMatch">
      </app-text-input>

      <div class="row" *ngIf="allowSave">
        <div class="col-lg-12">
          <button class="btn-primary btn" type="submit" [disabled]="!form.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>