<app-card-title [cardTitle]="'Password'"></app-card-title>  


<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

  <mat-list>
    <mat-list-item>
      <app-text-input [type]="'password'" [label]="'New Password'" [placeholder]="'*********'" [maxChars]="250"
        [errorMsg]="'Error!'" [controlName]="'password'" [formGroup]="form" (valueChanged)="verifyMatch($event)">
      </app-text-input>
    </mat-list-item>

    <mat-list-item>
      <app-text-input [type]="'password'" [label]="'Confirm Password'" [placeholder]="'*********'" [maxChars]="250" [errorMsg]="'Passwords do not match!'"
        [controlName]="'confirmPassword'" [formGroup]="form" (valueChanged)="verifyMatch($event)" [showError]="!passwordsMatch">
      </app-text-input>
    </mat-list-item>

    <mat-list-item>
      <!-- <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid" *ngIf="allowSave">Save</button> -->
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">Save</button>
    </mat-list-item>

  </mat-list>
</form>
