.form-group {
  padding-bottom: 1.25em;
}
label {
  font-size: .7rem;
  color: rgba(44, 44, 44, 0.54);
  margin-bottom: 5px;
  display: block;
}
input {
  display: none;
  width: 0;
  height: 0;
}
.file-list {
  margin-bottom: 0.75em;
}
.file {
  margin-bottom: 0.5em;
}
.file-name {
  margin-right: 16px;
}
.file-size {
  color: #666;
}