// REFACTOR

.notification-button {
    transition: 0.2s ease all;
    top: 10px;
    right: 10px;
    z-index: 10;
    opacity: 0.7;
    background: #e4e1e1;
    color: rgba(#000, 0.6);

    &:hover {
        box-shadow: -3px 3px 4px rgba(#000, 0.2);
        background: #fff;
        opacity: 1;
    }

    span {
        position: absolute;
        top: -1px;
        right: -3px;
        height: 20px;
        width: 20px;
        font-size: 11px;
        line-height: 21px;
        text-align: center;
    }
}

.notifications {
    width: 400px;
    height: 100vh;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999; // stack ontop of feedback
    background: #fff;
    box-shadow: 0 0 10px rgba(#000, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .notifications-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #378BFF;
        padding-left: 20px;
        padding-right: 10px;
        height: 65px;

        .title {
            color: white;
            font-weight: 500;
            font-size: 20px;
        }

        .align-right {
            margin-left: auto;
        }

        .mat-icon-button:hover {
            background-color: rgba($color: #fff, $alpha: 0.1);
        }

        .mat-icon {
            color: white;
        }

        .priority-list {
            background-color: #2A75C6;
            padding: 8px;
            margin-left: 20px;
            font-size: 14px;
            width: 33%;

            ::ng-deep .mat-select-value {
                color: rgba(255, 255, 255, 0.6);
            }
            ::ng-deep .mat-select-arrow {
                color: rgba(255, 255, 255, 0.6);
            }

            &:hover {
                ::ng-deep .mat-select-value {
                    color: rgba(255, 255, 255, 1);
                }
                ::ng-deep .mat-select-arrow {
                    color: rgba(255, 255, 255, 1);
                }
            }
        }
    }

    .notifications-body {
        padding: 10px;
        flex: 1 1;

        ul {
            margin: 0;
            padding: 1px 1px 0;
            list-style: none;
            height: calc(100% - 70px);
            display: block;
            overflow-y: auto;

            .notification {
                user-select: none;
                cursor: pointer;
            }
        }

        a {
            transition: 0.2s ease all;
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 5px;
            min-height: 40px;
            opacity: 0.8;

            &:hover {
                opacity: 1;
                box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
                .close {
                    opacity: 0.75;
                    pointer-events: all;
                }
            }

            &:active, &:focus {
                box-shadow: none;
                background-color: #efefef;
            }

            .icon {
                position: relative;
                width: 40px;
                height: 40px;
                background: #eee;
                color: #9C9C9C;
                border-radius: 50%;
                margin-right: 15px;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                justify-content: center;
            
                .imgCont {
                    display: block;
                    max-width: 40px;
                    max-height: 40px;
                    line-height: 1;
                    margin: -8px auto;
                }

                .status {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    height: 10px;
                    width: 10px;
                    border-radius: 50%;
                }
            }

            .meta {
                display: flex;
                flex-direction: column;
                flex: 1;
    
                .subject {
                    font-size: 12px;
                    font-weight: bold;
                }
    
                .timestamp {
                    font-size: 10px;
                    color: #999;
                    margin-left: 5px;
                }
    
                .message {
                    font-size: 14px;
                }
            }
    
            .close {
                transition: 0.2s ease all;
                width: 20px;
                height: 20px;
                opacity: 0;
                pointer-events: none;
                display: flex;
                align-self: flex-start;
                justify-content: center;
                appearance: none;
                cursor: pointer;
                
                &:hover {
                    background: #E7E7E7;
                }
        
                &.mat-icon-button {
                    line-height: 10px;
                }
            }
        }
    }
}

.notifications a:focus,
.notifications a:active,
.clear-all:focus,
.clear-all:active {
    /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.4); */
    border: 1px solid #eee;
    outline: none;
}

.fixed-bot {
    position: absolute;
    bottom: 10px;
    left: 10px;

    .mat-button {
        padding: 0 10px;
        
        &:hover {
            box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.clear-all {
    transition: 0.2s ease all;
    appearance: none;
    border: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(#000, 0.2);
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #0E8BFF;
    height: 34px;

    &:hover {
        box-shadow: 0 0 5px rgba(#000, 0.4);
    }
    
    .mat-icon {
        float: left;
        display: inline-block;
        font-size: 21px;
        padding: 0 5px 0 0;
        color: #0E8BFF;
    }

    .label {
        padding-top: 3px;
        display: inline-block;
    }
}
.no-notifications {
    padding: 40px;
    position: relative;
    text-align: center;
    user-select: none;

    .bg1 {
        color: #eee;
        display: block;
        height: 80px;
        font-size: 80px;
        left: 50%;
        position: absolute;
        transform: translateX(-94%);
        width: 80px;
    }
    .bg2 {
        color: #ccc;
        display: block;
        font-size: 110px;
        margin: 0 auto;
        position: relative;
        width: 110px;
        height: 110px;
        z-index: 1;
    }
    .message {
        color: rgba(0,0,0,0.2);
        font-weight: bold;
    }
}