<div class="opendash-card-title-bg">

    <a class="icon-float-right" tooltip="View Manifest" tooltip-position="top" *ngIf="app">
        <button class="icon-title-right-settings icon-success-color icon-enabled" (click)="app.trusted = !app.trusted">
            <span *ngIf="app.trusted">Trusted</span>
            <span *ngIf="!app.trusted">Not Trusted</span>
        </button>
    </a>

    <div class="icon-float-right" tooltip="View Tools" tooltip-position="top">
        <button class="icon-title-right-settings icon-success-color icon-enabled"
            (click)="showTools = !showTools">tools</button>
    </div>

    <app-card-title [cardTitle]="'Test ' + app?.appTitle"></app-card-title>
</div>


<div class="row">
    <div class="col-lg-8" [ngClass]="{'col-lg-8': showTools, 'col-lg-12': !showTools}">
        <app-micro-app-renderer *ngIf="app" [app]="app"></app-micro-app-renderer>
    </div>

    <div class="col-lg-4" [hidden]="!showTools">
        <ul class="nav nav-pills horizontal-opendash">
            <li class="active">
                <a href="#requests" data-toggle="tab">Requests</a>
            </li>

            <li>
                <a href="#widgets" data-toggle="tab">Widgets</a>
            </li>

            <li>
                <a href="#comments" data-toggle="tab">Comments</a>
            </li>
        </ul>


        <div class="tab-content tab-content-rmf clearfix">
            <div id="requests" class="tab-pane active">
                <app-sandbox-http-request-tracker *ngIf="app" [app]="app"></app-sandbox-http-request-tracker>
            </div>

            <div id="widgets" class="tab-pane">
                <app-sandbox-widget-list [app]="app"></app-sandbox-widget-list>
            </div>

            <div id="comments" class="tab-pane">
                <app-comments *ngIf="app" [vendorId]="app.vendorId" [appId]="app.docId" [isVendor]="false">
                </app-comments>
            </div>
        </div>

    </div>
</div>