<div class="table-container">

  <app-listview-toolbar
    createButtonTitle="Create User"
    searchPlaceholder="Search users"
    [disabled]='!allItemsFetched'
    (create)="onAddUserClick()"
    (loadAll)="fetchAll()"
    (refresh)="refresh()"
    (search)="filterUsers($event)"
    [menuOptions]="menuOptions"
    (selectRole)="selectRole($event)"
    (viewModeChange)="viewModeChange($event)"
    [showViewModeToggle]="true"
  ></app-listview-toolbar>

  <app-multi-select-toolbar *ngIf="selectedCount > 0">
    <button
      class="mr-1"
      mat-flat-button
      color="primary"
      (click)="deleteSelectedUsers()">Delete</button>
    <button
      class="mr-1"
      mat-flat-button
      color="primary"
      (click)="assignRolesToSelectedUsers()">Assign roles</button>
  </app-multi-select-toolbar>
  
  <table mat-table matSort matSortDisableClear class="table" [dataSource]="viewMode === 'card' ? [] : displayItems">

    <ng-container matColumnDef="selection">
      <th mat-header-cell *matHeaderCellDef disableClear>
        <mat-checkbox
          color="primary"
          [checked]="isAllSelected()"
          (change)="toggleAllSelection()"
          matTooltip="Select All"
        ></mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let user">
        <mat-checkbox
          color="primary"
          [checked]="selectedItems[user.id]"
          (change)="selectionSvc.toggleItem(user)"
          matTooltip="Select user"
        ></mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Username</th>
      <td mat-cell *matCellDef="let user">
        <div class="cursor-pointer position-relative username-container">
          <ngx-avatar
            bgColor="#0063BF"
            class="mr-1"
            size="30"
            [name]="user.firstName + ' ' + user.lastName"
            [style]="AVATAR_STYLE"
          ></ngx-avatar>
          <a class="text-ellipsis" [routerLink]="['../edit', user.id]" matTooltip="Edit user">{{user.username}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Full Name</th>
      <td mat-cell *matCellDef="let user">
        <div class="text-ellipsis">{{user.firstName}} {{user.lastName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
      <td mat-cell *matCellDef="let user">
        <div class="text-ellipsis" *ngIf="user.email">{{user.email}}</div>
        <div class="text-ellipsis" *ngIf="!user.email" class="opacity-half">N/A</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">&nbsp;</th>
      <td mat-cell *matCellDef="let user" class="text-right">
        <button mat-icon-button [routerLink]="['../edit', user.id]" matTooltip="Edit user">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="viewMode === 'card' ? ['fullname'] : displayedColumns"></tr>
    <tr mat-row *matRowDef="let row: columns: displayedColumns"></tr>

  </table>

  <div class="card-view" *ngIf="viewMode === 'card'">
    <app-user-card [user]="user" *ngFor="let user of displayItems"></app-user-card>
  </div>

  <div [ngClass]="{'pagination': true, 'missing-items': !allItemsFetched}">
    <div *ngIf='allItemsFetched'>
      {{items.length}} Total Users
      <span *ngIf='selectedRole'> (Role: {{selectedRole}})</span>
    </div>
    <mat-paginator
      [pageIndex]="page"
      [pageSize]="pageSize"
      [length]='paginatorLength()'
      [pageSizeOptions]="[10, 25, 50, 100]"
      [showFirstLastButtons]='allItemsFetched'
      (page)="savePage($event)"
    ></mat-paginator>
    <!-- <span>{{ displayCount() }} </span> -->
  </div>
</div>