<!--
    <div class="footer-bg">
    <div class="row">
        <div class="col-lg-12">
            <span>&copy; 2018 | OpenDash 360</span>
        </div>
    </div>
</div>
-->

<div class="footer-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-icon-bg">
                    <span class="icon-dock icon-profile"></span>
                    <span class="icon-dock icon-settings"></span>
                    <span class="icon-dock icon-chat"></span>
                    <span class="icon-dock icon-profile"></span>
                    <span class="icon-dock icon-settings"></span>
                    <span class="icon-dock icon-chat"></span>
                    <span class="icon-dock icon-profile"></span>
                    <span class="icon-dock icon-settings"></span>
                    <span class="icon-dock icon-chat"></span>
                    <span class="icon-dock icon-help-float icon-help"></span>
                </div>
            </div>
        </div>
    </div>