<!--
<div class="footer-bg">
    <div class="row">
        <div class="col-lg-12">
            <div class="footer-dock">
                <div class="user-one" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="user-two" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="user-three" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="user-four" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>

                <div class="help-bg" tooltip="Help" tooltip-position="top">
                        <span class="icon-applets icon-help-dock icon-help"></span>
                    </div>
            </div>
        </div>
    </div>
</div>
-->