    <div class="footer-bg">
    <div class="row">
        <div class="col-lg-12">
            <div class="footer-dock">
                <div class="footer-dock-widget" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="footer-dock-widget" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="footer-dock-widget" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="footer-dock-widget" tooltip="Chat" tooltip-position="top">
                    <span class="icon-applets icon-chat"></span>
                </div>
                <div class="help-bg" tooltip="Help" tooltip-position="top" (click)="toggleSlideoutHelp()">
                        <span class="icon-applets icon-help-dock icon-help"></span>
                    </div>
            </div>
        </div>
    </div>
</div>



<div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
        <div id="slideout">
            <div id="slideout_innerHelp">
                    <div class="row">
                            <div class="col-lg-12">
                                <div class="slideout-title">
                                        <button type="button" class="btnCloseSlider" aria-label="Close">
                                                <span class="close-large" aria-hidden="true">&times;</span>
                                              </button>
                                              <button type="button" class="btnCloseSlider btnMaximizeSlider" aria-label="Close">
                                                <i class="fa fa-maximize"></i>   
                                                <span class="close-large" aria-hidden="true">&times;</span>
                                                  </button>
                                                        <span class="slideout-applet-title-icon icon-help"></span>
                                    Help Details
                                </div>
                            </div>
                        </div>
                             <div class="row">
                                 <div class="col-lg-12">
                                     <div class="help-card">
                                                <div class="card">
                                                  <div class="card-header">
                                                      <button class="btn btn-info" data-toggle="collapse" data-target="#collapseA">
                                                        Testing Card One
                                                      </button>
                                                  </div>
                                                  <div id="collapseA" class="collapse">
                                                    <div class="card-body">
                                                            <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>

                                                            <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     
                                                                 
                                                            <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>

                                                            <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     

                                                            <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>

                                                            <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     

                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="card">
                                                        <div class="card-header">
                                                            <button class="btn btn-info" data-toggle="collapse" data-target="#collapseB">
                                                              Testing Card Two
                                                            </button>
                                                        </div>
                                                        <div id="collapseB" class="collapse">
                                                          <div class="card-body">
                                                                  <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>
      
                                                                  <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     
                                                                       
                                                                  <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>
      
                                                                  <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     
      
                                                                  <p>HBO's "Inside the NFL" sent Hall of Fame linebacker Ray Lewis to Baltimore in late December to spend time with Ravens quarterback Lamar Jackson.</p>
      
                                                                  <p>As the Baltimore Sun points out, the segment was taped before the Ravens were knocked out of the postseason and the full episode aired Tuesday night. "Inside the NFL" teased the segment Monday night on Twitter with a video clip, which showed Lewis and Jackson discussing the signal-caller's speed, decision-making when lining up under center, teammate support and what it means to play in Baltimore.</p>     
      
                                                          </div>
                                                        </div>
                                                      </div>
                                            </div>
                                 </div>
                             </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideout-footer">
                            <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Help Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>