.help-card .card{
    margin-bottom: 25px;
    border: none;
    background: transparent;
}

.help-card .card-header{
    border: none;
    background: transparent;
    padding: 0px;
    border-left: 5px solid #00d8d1;
    background: rgba(0, 216, 209, 0.05);
}

.help-card .card-header .btn-info{
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    width: 100%;
    text-align: left;
    padding: 15px;
}

.help-card .card-header:hover{
opacity: .5;
}

.help-card .card-body{
    border-left: 5px solid #00d8d1;
    background: rgba(0, 216, 209, 0.05);
}

.help-card .card-body p{
    color: #fff;
}



.fake-browser-ui {
    border-radius: 3px;
    z-index: 9999999999;
    width: 75%;
    top: 0px;
    position: absolute;
    box-shadow: 0px 0px 10px black;
    margin: 5%;
}

.frame-head{
    background: #f1f5f6;
    width: 100%;
    cursor: move;
    padding: 7px 7px 5px 7px;
}

.frame-title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;    
  user-select: none;  
  font-size: .9rem;
}

.fake-browser-ui span,
.slideout-ui-head span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: right;
    margin: 3px 2px;
    cursor: pointer;
}

.fake-browser-ui span:nth-child(1),
.slideout-ui-head span:nth-child(1){
    background: red;
}

.fake-browser-ui span:nth-child(2),
.slideout-ui-head span:nth-child(2){
    background: gold;
}

.fake-browser-ui span:nth-child(3),
.slideout-ui-head span:nth-child(3){
    background: green;
}

    .fake-browser-ui span:hover,
    .slideout-ui-head span:hover {
        opacity: .5;
    }

.frame-content{
    padding: 25px;
    height: 600px;
    overflow-y: auto;
    background: #3a4148;
    color: #fff;
}

.frame-content .slideout-title{
    margin-top: 0px;
}

.frame-title .icon-applets:before, .slideout-applet-title-icon:before{
    color: #555!important;
    font-size: .9rem;
    margin-right: 5px;
}

.icon-settings-header{
    display: inline-table;
    border-right: 1px solid #555;
    border-radius: 0px!important;
    margin-right: 20px !important;
    padding-right: 15px;
}

.frame-head .icon-settings-header:before{
color: #555;
 }