<div class="filter-bg">
    <div class="row">
      <div class="col-lg-12">
        <div class="filter-title">Filter Results</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="form-row">
          <div class="col-lg-5">
            <div class="form-group">
              <label class="control-label">
                  Search by Actor, Application, Verb, or Description
                </label>
              <input class="form-control " type="text" placeholder="Enter Search Criteria Here">
            </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <label class="control-label">Select Severity</label>
    <select class="form-control">
        <option>Select One</option>
        <option>Information</option>
        <option>Success</option>
        <option>Danger</option>
      </select>
  </div>
  </div>
  <div class="col-lg-3">
      <div class="form-group">
        <label class="control-label">Select Application</label>
  <select class="form-control">
  <option>Select One</option>
  </select>
  </div>
  </div>
  <div class="col">
    <button class="btn-secondary-rmf btn-filter btn-block" type="button"> Filter </button>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <div class="table table-emf table-responsive">
          <table class="table mb-0 table-striped">
            <thead>
              <tr>
                <th class="table-force text-center">Severity</th>
                <th>Date / Time</th>
                <th>Actor</th>
                <th>Application</th>
                <th>Verb</th>
                <th>Description</th>
                <th>User Agent Info</th>
                <th>Object Link</th>
                <th class="table-force text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td class="text-center">
                      <i class="fa fa-circle text-danger"></i>
                 </td>
                <td>
                  <span>12/13/2018</span><br>
                  <i>09:00 EST</i>
                </td>
                <td>
                    Steven Redman
                </td>
                <td>
                    class-app
                </td>
                <td>
                    Access
                </td>
                <td>
                    Failed to access class
                </td>
                <td></td>
                <td>
                    /class-app/classes/1
                </td>
                <td class="text-center">
                  <a class="btn-a secondary">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>