<div class="table-container">
  <app-listview-toolbar
    createButtonTitle="Add User"
    searchPlaceholder="Search users"
    [disabled]='!allItemsFetched'
    (create)="onAddUserClick()"
    (loadAll)="fetchAll()"
    (refresh)="refresh()"
    (search)="filterUsers($event)"
    [showCreateButton]="canUpdate"
  ></app-listview-toolbar>

  <table mat-table matSort matSortDisableClear class="table" [dataSource]="displayItems">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Username</th>
      <td mat-cell *matCellDef="let user">
        <div class="cursor-pointer position-relative username-container">
          <div>
            <mat-icon class="avatar status-green float-left" matTooltip="User approved" *ngIf="user.enabled">person</mat-icon>
            <mat-icon class="avatar status-red float-left" matTooltip="User disabled" *ngIf="!user.enabled">person</mat-icon>
          </div>
          <a class="text-ellipsis" [routerLink]="['/portal/user-manager/edit', user.id]" matTooltip="Edit user">{{user.username}}</a>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Full Name</th>
      <td mat-cell *matCellDef="let user">
        <div class="text-ellipsis">{{user.firstName}} {{user.lastName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Email</th>
      <td mat-cell *matCellDef="let user">
        <div class="text-ellipsis" *ngIf="user.email">{{user.email}}</div>
        <div class="text-ellipsis" *ngIf="!user.email" class="opacity-half">N/A</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">&nbsp;</th>
      <td mat-cell *matCellDef="let user" class="text-right">
        <button mat-icon-button [routerLink]="['/portal/user-manager/edit', user.id]" matTooltip="Edit user" *ngIf="canUpdate">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removeUser(user)" matTooltip="Remove User from Role" class="color-red" *ngIf="canUpdate">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row: columns: displayedColumns"></tr>

  </table>

  <div [ngClass]="{'pagination': true, 'missing-items': !allItemsFetched}">
    <div *ngIf='allItemsFetched'>
      {{items.length}} Total Users
    </div>
    <mat-paginator
      [pageIndex]="page"
      [pageSize]="pageSize"
      [length]='paginatorLength()'
      [pageSizeOptions]="[10, 25, 50, 100]"
      [showFirstLastButtons]='allItemsFetched'
      (page)="savePage($event)"
    ></mat-paginator>
  </div>
</div>
