<h3 class="ng-app-title mb-1">Landing Text</h3>

<div fxLayout="row" fxLayoutGap="12px">
  <mat-form-field fxFlex="50" class="ng-text-field">
    <input matInput placeholder="Introduction title" [(ngModel)]="config.introTitle" />
  </mat-form-field>
  <ng-title-icon-block
    [(file)]="uploads.introIconFile"
    [icon]="config.introIconFile"
    fxFlex="50"
    [title]="config.introTitle"
    helpText="help"
  ></ng-title-icon-block>
</div>

<div class="mb-2">
  <label class="ng-mat-label">Introduction text</label>
  <app-html-editor [(html)]="config.introText"></app-html-editor>
</div>

<div class="mt-4 mb-4">
  <button mat-raised-button color="primary" [disabled]="!modified" (click)="handleUpdate()">Update appearance</button>
  <button mat-button class="opacity-half ml-1" (click)="reset()">Cancel</button>
</div>