<div class="user-card" [routerLink]="['../edit', user.id]">
    <ngx-avatar
        bgColor="#0063BF"
        class="mb-2"
        size="60"
        [name]="user.firstName + ' ' + user.lastName"
        [style]="AVATAR_STYLE"
    ></ngx-avatar>
    <div *ngIf='user.firstName || user.lastName' class="user-name mt-16 mb-8 text-overflow">{{ user.firstName }} {{ user.lastName}}</div>
    <div *ngIf='user.vendorName' class="vendor-name mb-8 text-overflow">{{ user.vendorName }}</div>
    <div *ngIf='user.email' class="email mb-8 text-overflow">{{ user.email }}</div>
    <div *ngIf="user.enabled" class="status enabled">Enabled</div>
    <div *ngIf="!user.enabled" class="status disabled">Disabled</div>
</div>