<a class="slide desktop-only desktop-only-role" (click)="toggleSlideout()">
    <span class="icon-applets vertical-align icon-role-emf360-admin icon-role-toggle"></span>
    <span class="role-selection">Range Administrator</span>
    <span class="role-arrow icon-arrow"></span>
</a>

<!--Role Slideout Start-->
<div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
    <div id="slideout">
        <div id="slideout_inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slideout-title">
                        <button type="button" class="btnCloseSlider" aria-label="Close">
                                <span class="close-large" aria-hidden="true">&times;</span>
                              </button>
                        <span class="slideout-applet-title-icon icon-role-emf360-admin"></span>
                        Role Details
                </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6" *ngFor="let role of roles">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-admin icon-role"></span>
                        <span>{{role}}</span>
                    </div>
                </div>
                <!--<div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-student icon-role"></span>
                        <span>User</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-instructor icon-role"></span>
                        <span>Vendor</span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
<!--Role Slideout End-->

<div class="mobile-only slideout-mobile-bg">
    <div class="row">
        <div class="col-lg-12">
            <div class="slideout-title-mobile">Role Details</div>
        </div>
    </div>
    <ul class="nav overflow-y">
        <li *ngFor="let role of roles">
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-role-emf360-admin"></span>
                <span>{{role}}</span>
            </a>
        </li>
        <!--<li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-role-emf360-student"></span>
                <span>User</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-role-emf360-instructor"></span>
                <span>Vendor</span>
            </a>
        </li>-->
    </ul>
</div>