<a class="slide desktop-only desktop-only-role" (click)="toggleSlideout()">
    <span class="icon-applets vertical-align icon-role-emf360-admin icon-role"></span>
    <span class="left-nav-overflow">Range Administrator</span>
</a>


<!--Role Slideout Start-->
<div class="collapse navbar-collapse" id="navbarResponsive">
    <div id="slideout">
        <div id="slideout_inner">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slideout-title">Role Details
                        <button type="button" class="btnCloseSlider">
                                    <span class="icon-exit icon-slide-close"></span>
                                  </button>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-admin icon-role"></span>
                        <span>Range Administrator</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-student icon-role"></span>
                        <span>User</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-role-emf360-instructor icon-role"></span>
                        <span>Vendor</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="slideout-footer">
                        <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Role Settings
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Role Slideout End-->