<mat-card>
	<mat-card-content>
		<mat-grid-list cols="3" rowHeight="75px">
			<mat-grid-tile colWidth="100px">
				<h4>Filter Results</h4>
			</mat-grid-tile>

			<mat-grid-tile>
				<app-bind-text-input [class]="filter-input" (keyup.enter)="submitSearch()" [type]="'text'" [label]="labelText" [(value)]="search" [placeholder]="placeholderText" class="input-filter"></app-bind-text-input>
			</mat-grid-tile>

			<mat-grid-tile>
				<button mat-flat-button color="primary" (click)="submitSearch()">Filter</button>
			</mat-grid-tile>
		</mat-grid-list>
	</mat-card-content>
</mat-card>