<div class="filter-bg">
  <div class="row">
    <div class="col-lg-12">
      <div class="filter-title">Filter Results</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-row">
        <div class="col-lg-11">
              <label class="control-label">{{labelText}}</label>
              <input type="text" class="form-control" [(ngModel)]="search" [placeholder]="placeholderText" (keyup.enter)="submitSearch()" />
        </div>
        <div class="col">
          <button type="button" class="btn-secondary-rmf btn-filter btn-block" (click)="submitSearch()">
            Filter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>