<div class="page-title-bg">
        <div class="icon-float-right" tooltip="Enable Microapp" tooltip-position="top" *ngIf="!app?.enabled" (click)="enableButtonClicked(true)">
            <span class="icon-title-right-settings icon-success-color icon-enabled"></span>
          </div>
          <div class="icon-float-right" tooltip="Disable Microapp" tooltip-position="top" *ngIf="app?.enabled" (click)="enableButtonClicked(false)">
                <span class="icon-title-right-settings icon-warning-color icon-disabled"></span>
        </div>
          <app-card-title [cardTitle]="app?.appTitle" [cardSubtitle]="'Edit ' + app?.appTitle + ' details below'"></app-card-title>
        </div>


<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-pills horizontal-opendash">
            <li class="active">
                <a href="#app" data-toggle="tab">MicroApp Information</a>
            </li>
            <li>
                <a href="#roles" data-toggle="tab">Role Mappings</a>
            </li>
        </ul>
        <div class="tab-content tab-content-rmf clearfix">
            <div id="app" class="tab-pane active in">
                <app-native-app-info-form [allowSave]="canUpdate" (formSubmitted)="updateNativeApp($event)"></app-native-app-info-form>
            </div>
            <div id="roles" class="tab-pane">
                <app-realm-role-mapper [canUpdate]="canUpdate" [app]="app"></app-realm-role-mapper>
            </div>
        </div>
    </div>
</div>

<app-modal #enableModal [title]="'Enable App'" [message]="'Are you sure you want to enable this Microapp and permit user access?'"
    [iconClassList]="'fa-4x icon-success-color icon-enabled-no-click margin-bottom'" [buttons]="[{title: 'Confirm', classList: 'btn btn-add'}]"
    (btnClicked)="enableConfirmed($event, true)">
</app-modal>

<app-modal #disableModal [title]="'Disable App'" [message]="'Are you sure you want to disable this Microapp and deny user access?'"
    [iconClassList]="'fa-4x icon-warning-color icon-disabled-no-click margin-bottom'" [buttons]="[{title: 'Confirm', classList: 'btn btn-warning'}]"
    (btnClicked)="enableConfirmed($event, false)">
</app-modal>