.workflow {
	display: flex;
	align-items: center;
}

app-progress-bar {
	display: inline-block;
}
.mat-column-participants .mat-icon {
    color: rgba(0,0,0,0.2);
    font-size: 14px;
    height: 14px;
    line-height: 14px;
    width: 14px;
}