<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>MicroApp Name</th>
            <th>Type</th>
            <th>Client Name</th>
            <th>Client ID</th>
            <th class="table-force text-center">Widgets</th>
            <th>Date Uploaded</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let app of apps">
            <td>
              <a class="table-edit-hover" [routerLink]="['../edit', app.docId]">
                {{app.appTitle}}
                <span class="icon-primary-color icon-edit"></span>
              </a>
            </td>

            <td>
              {{app.version}}
            </td>

            <td>
              Third Party
            </td>

            <td>
              {{app.clientName}}
            </td>

            <td>
              {{app.clientId}}
            </td>

            <td class="text-center">
              {{app.widgets.length}}
            </td>

            <td>
              {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>