<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center table-force">Status</th>
            <th>MicroApp Name</th>
            <th>Client</th>
            <th>Version</th>
            <th>Type</th>
            <th class="table-force text-center">Widgets</th>
            <th>Uploaded</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let app of apps">
            <td class="text-center">
              <span *ngIf="app.enabled" tooltip="Microapp is Enabled" tooltip-position="top">
                <span class="bg-success uk-circle-shape"></span>
              </span>
              <span *ngIf="!app.enabled" tooltip="Microapp is Disabled" tooltip-position="top">
                <span class="bg-warning uk-circle-shape"></span>
              </span>
            </td>

            <td>
              <a class="table-edit-hover" [routerLink]="['../edit', app.docId]">
                <div>{{app.appTitle}}</div>
                <div class="icon-primary-color icon-edit"></div>
              </a>
            </td>

            <td>
              {{app.clientName}}<br>
              <small>ID: {{app.clientId}}</small>
            </td>

            <td>
              {{app.version}}
            </td>

            <td>
              Third Party
            </td>

            <td class="text-center">
              {{app.widgets.length}}
            </td>

            <td>
              {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>