<app-card-title [cardTitle]="'App Information'" [cardSubtitle]="'Edit app details below.'"></app-card-title>
<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <div class="row">
    <div class="col-lg-12">
      <app-text-input [label]="'*Title of the App'" [placeholder]="'Begin Typing'" [maxChars]="250" [errorMsg]="'Error!'"
        [controlName]="'appTitle'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
      <app-text-input [label]="'*Icon Class'" [placeholder]="'Begin Typing'" [maxChars]="250" [errorMsg]="'Error!'"
        [controlName]="'appIcon'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <button class="btn-save" type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </div>
</form>