.appLogo {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 180px;
    display: block;
    position: absolute;
    top: -15px;
    left: 55px;
    
    img {
        display: block;
        width: 100%;
    }
}

