.appLogo {
    height: auto;
    width: auto;
    max-height: 70px;
    max-width: 180px;
    display: block;
    padding-left: 10px;

    img {
        display: block;
        width: 100%;
    }

    .smallLogo {
        height: auto;
        opacity: 1;
        min-width: 40px;
        margin: 0 0 0 -5px !important;
    }
}
