.title-link {
    display: flex;
    align-items: center;
}
app-microapp-icon {
    margin-right: 8px;
}
.client-name {
    background: rgba(#C4C4C4, 0.4);
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.6);
    padding: 7px 16px;
}
.w-60 {
    width: 60px !important;
}