
.active-users .card-foot-bg,
.pending-users .card-foot-bg{
    background: #3090ff;
    background-image: radial-gradient(97% 85%, #3090ff 0%, #0269e1 116%);
    padding:15px;
    color: white;
}

.user-count{
    font-size: 3rem;
    font-weight: 800;
}

.icon-widget-example:before{
    font-size: 5.3rem;
    color: white;
    float: left;
    margin-right: 15px;
    line-height: 1.3;
}


.pending-users .card-foot-bg{
    background: #f0ad4e;
    background-image: radial-gradient(97% 85%, #ff9900 0%, #ff9a0d 116%);
}


.icon-float-right{
    float: right;
      cursor: pointer;
      margin-top: 0px!important;
      z-index: 9999;
      position: absolute;
      right: 0px;
      padding: 10px;
  }
  
  .widget-options-settings:before{
    color: white;
  }

  .user-label{
      font-size: 1.2rem;
  }