<app-page-title [pageTitle]="'Dashboard Manager'"></app-page-title>

<app-dashboard-options #dashboardOptionsComponent
    [userDashboards]="userDashboards"
    [dashIndex]="dashIndex"
    [editMode]="editMode"

    (setDashboard)="setDashboard($event)"
    (enterEditMode)="enterEditMode()"
    (leaveEditMode)="leaveEditMode($event)"
></app-dashboard-options>

<app-maximized-widget *ngIf="maximize" class="fit" style="position: absolute; z-index: 2; width: calc(100vw - 250px); height:  calc(100vh - 100px); margin: -30px 0px 0px -20px; padding: 25px;"
    [app]="maximizedWidgetApp"
    [widget]="maximizedWidget"

    (minimize)="minimizeWidget()"
></app-maximized-widget>

<app-dashboard-gridster #dashboardGridsterComponent
    [dashboard]="userDashboards[dashIndex]"
    [editMode]="editMode"

    (maximize)="setMaximizedWidget($event)"
></app-dashboard-gridster>