<div>
    <div class="icon-float-right" tooltip="Add New Attribute" tooltip-position="top"  (click)="add()">
        <span class="icon-add"></span>
      </div>
      <app-card-title [cardTitle]="'Edit Custom Attributes'" [cardSubtitle]="'Edit custom attributes below.'"></app-card-title>
</div>
<div class="row margin-bottom">
  <div class="col-lg-12">
    <div class="table table-emf table-responsive">
      <table class="table mb-0 table-striped">
        <thead>
          <tr>
            <th>Key</th>
            <th>Value</th>
            <th colspan="2" *ngIf="canUpdate" class="text-center table-force">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let attr of attrs">
            <td>
              <a *ngIf="canUpdate" (click)="edit(attr)">{{attr.display}}</a>
              <span *ngIf="!canUpdate">{{attr.display}}</span>
            </td>
            <td class="text-field-in-table">
              <app-bind-text-input [(value)]="attr.value"></app-bind-text-input>
            </td>
            <td class="text-center" *ngIf="canUpdate">
                <a tooltip="Edit Attribute" tooltip-position="top" (click)="edit(attr)">
                    <span class="icon-primary-color icon-edit"></span>
                </a>
            </td>
            <td class="text-center" *ngIf="canUpdate">
                <a tooltip="Delete Attribute" tooltip-position="top"  (click)="remove(attr)">
                    <span class="icon-trash"></span>
                </a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row" *ngIf="canUpdate">
  <div class="col-lg-12">
    <button class="btn-save" type="button" (click)="update()">Save</button>
  </div>
</div>

<div class="modalDialog" [ngClass]="{'display-none': !showAdd}">
  <div class="modal-white-bg">
    <div class="rmf-modal">
      <div class="rmf-modal-header">
        <button type="button" class="btnCloseSlider" aria-label="Close" (click)="showAdd = false">
          <span class="close-large modal-close" aria-hidden="true">&times;</span>
        </button>
        <div class="rmf-modal-title">Add a New Custom Attribute</div>
      </div>
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-custom-attribute-form #addAttrForm (formSubmitted)="addAttribute($event)"></app-custom-attribute-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalDialog" [ngClass]="{'display-none': !showEdit}">
  <div class="modal-white-bg">
    <div class="rmf-modal">
      <div class="rmf-modal-header">
        <button type="button" class="btnCloseSlider" aria-label="Close" (click)="showEdit = false">
          <span class="close-large modal-close" aria-hidden="true">&times;</span>
        </button>
        <div class="rmf-modal-title">Add a New Custom Attribute</div>
      </div>
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-custom-attribute-form #editAttrForm (formSubmitted)="updateAttribute($event)"></app-custom-attribute-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>