<mat-grid-list cols="1" rowHeight="75px">
  <mat-grid-tile>
    <h2>Custom Attributes</h2>

    <button mat-mini-fab color="secondary" class="ml-2" (click)="add()" matTooltip="Add New Attribute">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>

<div class="content-body">
  <table class="table">
    <thead>
      <tr>
        <th>Key</th>
        <th>Value</th>
        <th *ngIf="canUpdate" class="text-center">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let attr of attrs">
        <td>
          <a *ngIf="canUpdate" (click)="edit(attr)">
            {{attr.display}}
          </a>
          <span *ngIf="!canUpdate">{{attr.display}}</span>
        </td>

        <td>
          <app-bind-text-input [(value)]="attr.value"></app-bind-text-input>
        </td>

        <td *ngIf="canUpdate" class="text-center">
          <button mat-icon-button (click)="edit(attr)">
            <mat-icon aria-label="Edit Attributes">person_pin</mat-icon>
          </button>

          <button mat-icon-button (click)="remove(attr)">
            <mat-icon aria-label="Delete Attribute">remove_circle_outline</mat-icon>
          </button>

        </td>
        
      </tr>
    </tbody>
  </table>

  <button mat-flat-button color="primary" (click)="update()" *ngIf="canUpdate">Save</button>

</div>


<!-- 
<div class="modalDialog" [ngClass]="{'display-none': !showAdd}">
  <div class="modal-white-bg">
    <div class="row">
      <div class="col-sm-12 text-right">
        <button class="btn-text material-icons" id="close" data-dismiss="modal" (click)="showAdd= false">clear</button>
      </div>
    </div>
    <div class="rmf-modal">
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-md-12 margin-bottom">
            <h2>Add New Custom Attribute</h2>
          </div>
          <div class="col-md-12">
            <app-custom-attribute-form #addAttrForm (formSubmitted)="addAttribute($event)"></app-custom-attribute-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modalDialog" [ngClass]="{'display-none': !showEdit}">
  <div class="modal-white-bg">
    <div class="widget-head">
      <div class="row">
        <div class="col-sm-9">
          <div class="widget-title">
            Edit Custom Attribute
          </div>
        </div>
        <div class="col-sm-3 text-right">
          <button class="disabledBtn"></button>
          <button class="disabledBtn"></button>
          <div tooltip="Close" tooltip-position="top">
            <button class="redCloseBtn" data-dismiss="modal" (click)="showEdit= false"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="rmf-modal">
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-custom-attribute-form #editAttrForm (formSubmitted)="updateAttribute($event)"></app-custom-attribute-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->