<mat-card [formGroup]="form">
  <button mat-icon-button class="close-btn" (click)="handleRemove()">
    <mat-icon>close</mat-icon>
  </button>
  <app-text-input
    placeholder="Attribute Name"
    [formGroup]="form"
    controlName="name"
  ></app-text-input>
  <app-text-input
    placeholder="Authentication Token"
    [formGroup]="form"
    controlName="token"
  ></app-text-input>
  <app-text-input
    placeholder="End Point"
    [formGroup]="form"
    controlName="endPoint"
  ></app-text-input>
  <app-chip-autocomplete
    [formGroup]="form"
    controlName="apps"
    [options]="allApps"
  ></app-chip-autocomplete>
</mat-card>
