<div class="content-body interior">
  <mat-horizontal-stepper #stepper (selectionChange)="selectStep.emit($event.selectedIndex)">
    <ng-container *ngIf="userRegistration">
      <mat-step *ngFor="let step of userRegistration.steps" [completed]="step.status === 'submitted' || step.status === 'complete'" [state]="getIcon(step.status)">
        <ng-template matStepLabel>{{step.title}}</ng-template>
        <h2>{{step.title}}</h2>
        <p>{{step.description}}</p>

        <app-dynamic-form 
          [regId]="userRegistration.docId"
          [data]="step.forms[selectedFormIndex]"
          [bindingRegistry]="userRegistration.bindingRegistry"
          (formSubmitted)="formSubmitted.emit($event)"
        ></app-dynamic-form>

        <mat-card class="float-right ml-4" *ngIf="step.forms.length > 1">
          <h3 class="mx-1 my-1">Form Progress</h3>
          <mat-list>
            <mat-list-item *ngFor="let form of step.forms; index as i">
              <button (click)="selectForm.emit(i)" style="border: none; background: none;">
                <mat-icon mat-list-icon class="avatar color-white" [ngClass]="getBgColor(form.status)" >{{this.getIcon(form.status)}}</mat-icon>
                <p mat-line style="float: right;">{{form.title}}</p>
              </button>
            </mat-list-item>
          </mat-list>
        </mat-card>

        <button mat-stroked-button type="button" color="secondary" matTooltip="Return to Overview" class="float-left" (click)="goToOverview.emit(null)">
          <mat-icon>refresh</mat-icon>
          My Registration
        </button>
      </mat-step>
    </ng-container>
  </mat-horizontal-stepper>
</div>