.card-shadow {
    box-shadow: 2px 2px 15px 3px grey;
}

::ng-deep .center-btn-icon{
    .mat-button-wrapper{
        align-items: center;
        display: flex;
    }
}

.float-right-container{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.form-progress-title {
    max-width: 450px;
    text-overflow: ellipsis;
}

.form-width{
    width: 100%;
}

.paginator {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.pdf{
    display: block;
    width: calc(100% - 600px);
}

.step-title{
    margin-bottom: 0px;
}

.subtitle-wrapper{
    position: relative;
    display: inline-block;
    width: 100%;
}

.top-overview-btn{
    position: absolute;
    right: 0px;
    top: 0px;
}

app-dynamic-form{
    display: block;
}
