.card-shadow {
    box-shadow: 2px 2px 15px 3px grey;
}

.float-right-container{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.form-progress-title {
    max-width: 450px;
    text-overflow: ellipsis;
}

.form-width{
    width: 100%;
}

.paginator {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.pdf{
    display: block;
    width: calc(100% - 600px);
}

app-dynamic-form{
    display: block;
}
