<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

  <div class="row">
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Vendors Service'" [placeholder]="'Begin Typing'" [maxChars]="20248"
        [errorMsg]="'Error!'" [controlName]="'vendorsServiceConnection'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Apps Service'" [placeholder]="'Begin Typing'" [maxChars]="2048"
        [errorMsg]="'Error!'" [controlName]="'appsServiceConnection'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Services Service'" [placeholder]="'Begin Typing'" [maxChars]="2048"
        [errorMsg]="'Error!'" [controlName]="'servicesServiceConnection'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
  </div>


  <button class="btn-save btn-bootstrapper" type="submit" [disabled]="!form.valid">Next Step</button>

</form>