.expand-icon {
    width: 20px;
    font-size: 20px;
    height: 20px;
    line-height: 20px;
    margin-left: 10px;

    &.expanded {
        border-radius: 50%;
        background: rgba(255,255,255,0.2);
    }
}

.mat-icon-button {
    width: 20px;
    height: 20px;
    margin-left: 10px;

    .expand-icon {
        margin-left: 0;
        display: block;
    }
}