// COMPONENTS / BREADCRUMBS

.btn-breadcrumb {
    float: right;
    position: relative;
    top: 0px;
}

.page-title-rmf {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.breadcrumb-rmf,
.breadcrumb-bg {
    background: $trans;
    padding: 0;
    margin-bottom: 25px;
}

.breadcrumb-bg {
    margin: 0;
}