// COMPONENTS / BREADCRUMBS

.btn-breadcrumb {
    float: right;
    top: 0px!important;
}

.opendash-page-title {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
}

.opendash-breadcrumb,
.breadcrumb-bg {
    background: $trans;
    padding: 0;
    margin-bottom:25px;
}

.opendash-breadcrumb a{
    font-size: .9rem;
}

.breadcrumb-bg {
    margin: 0;
}