// COMPONENTS / MODALS

.modal-content {
    border: none;
    border-radius: 0.3rem;
    padding: 25px 50px;
}

.modal-body {
    margin-top: 35px;
}

.modal-backdrop {
    background-color: $dark-grey;
}

.modal-header {
    border-bottom: 1px solid $light-grey;
    background: $white;
}

.modal-footer {
    border-top: 1px solid $light-grey;
    margin-top: 25px;
}

.rmf-modal-btn {
    color: $body-color;
    margin-top: 10px;
}

.rmf-modal-btn span {
    font-size: 2.6rem;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.modal-backdrop,
.modal-backdrop.show {
    z-index: 999991 !important;
}

.modal {
    z-index: 999999;
}