
.user-block { 
    display: inline-block;
    width: calc(100% / 6);
    max-width: 60px;
    padding: 0;
    background: $white;
    text-align: center;
    cursor: pointer;
    position: relative;
    height: 31px;
    border-top: 1px solid $silver;
    border-bottom: 1px solid $silver;
}

  .user-block:hover{
    background: $silver !important;
    opacity: 0.5 !important;
    color: $grey !important;
      transition: all 0.4s ease;
  }

  .user-block-all{
      background: $white;
  }

.user-icons {
    margin: 0;
    font-size: 13px;
}

.user-block .glyphicon {
    padding: 10px 10px 12px;
}

.user-block:before,
.user-block span:before {
    color: $grey;
}
