// Left Navigation Widgets

.user-block { 
  box-sizing: border-box;
  transition: .2s ease all;
  width: calc(20% - 5px); // 5-across minus margin
  background: rgb(54, 72, 92);
  border: 2px solid rgb(54, 72, 92);
  text-align: center;
  cursor: pointer;
  position: relative;
  height: 30px;
  margin: 0 5px 0 0;
  border-radius: 2px;
  vertical-align: top;

  &:hover {
    background: transparent;
    color: $white !important;
    transition: all 0.4s ease;
  }

  // Widget icons
  .user-icons::before {
    opacity: 0.7;
    font-size: 14px;
    line-height: 2; // override 1-layer importance
  }

  // Add/expand icons
  &.user-block-outline {
    background: transparent;

    .user-icons::before {
      font-size: 9px;
      line-height: 3.2;
      opacity: 0.4;
    }
  }



  .glyphicon {
    padding: 10px 10px 12px;
  }
}