// COMPONENTS / PAGINATION
[data-pagination],
[data-pagination] *,
[data-pagination] *:before,
[data-pagination] *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: auto;
}

[data-pagination] {
    margin: 1em auto;
    text-align: center;
    transition: .5s ease-in-out;
    line-height: 2;
}

[data-pagination] ul {
    list-style-type: none;
    display: inline;
    font-size: 100%;
    margin: 0;
}

[data-pagination] ul li {
    display: inline-block;
    width: auto;
}

[data-pagination] a {
    padding: 10px;
}

[data-pagination] a:focus,
[data-pagination] a:hover {
    color: $primary;
}

[data-pagination] li.current {
    background: $pale-sky;
    border-radius: 50%;
}

[data-pagination] li.current a {
    color: $white-full;
}

// DISABLED STYLES / MEDIA QUERIES
[data-pagination] .disabled,
[data-pagination] [hidden],
[data-pagination] [disabled] {
    opacity: .5;
    pointer-events: none;
}

@media (max-width: 500px) {
    [data-pagination] a {
        font-size: .9rem;
    }
}

.icon-previous:before,
.icon-next:before {
    color: $primary;
    vertical-align: text-top;
    font-size: 1rem;
}