// MOLECULES / SEARCH

.rmf-search {
    @extend %border-silver;
    border-right: none !important;
}

.rmf-search-btn {
    background: $white;
    color: $body-color;
    @extend %border-silver;
}

.filter-bg {
    background: rgba(#222f3e, 0.8);
    color: #fff;
    padding: 20px 30px 30px;
    margin: 0 0 30px;
}

.filter-title {
    font-weight: 400;
    margin-bottom: 10px;
}