// SLIDEOUTS 

#slideout {
    top: 40px;
    left: 0;
}

#slideout_innerWidgets,
#slideout_innerNotifications,
#slideout_innerCalendar,
#slideout_innerHelp,
#slideout_innerFeedback {
    position: fixed;
    top: 0;
    left: -500px;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    transition-duration: none;
    background: $float-head;
    height: 100vh;
    z-index: -15!important;
    width: 400px;
    overflow-y: auto;
    color: $white;
}

#slideout_innerHelp,
#slideout_innerFeedback{
    right: -500px;

}

#slideout_innerWidgets,
#slideout_innerNotifications,
#slideout_innerCalendar,
#slideout_innerHelp,
#slideout_innerFeedback {
    background: $float-head;
}

#slideout_innerWidgets.expanded,
#slideout_innerNotifications.expanded,
#slideout_innerCalendar.expanded,
#slideout_innerHelp.expanded,
#slideout_innerFeedback.expanded {
    z-index: 1 !important;
    left: 200px;
}

#slideout_innerHelp.expanded,
#slideout_innerFeedback.expanded {
    right: 0px;
    left: auto;
}

#slideout_innerWidgets.expanded,
#slideout_innerNotifications.expanded,
#slideout_innerCalendar.expanded,
#slideout_innerHelp.expanded,
#slideout_innerFeedback.expanded{
    width: 400px;
    overflow-x: hidden;
}

.btn-slideout {
    background: $flyout-bg;
    padding: 10px 0;
    cursor: pointer;
    margin-bottom: 0px;
    span {
        @extend %text-overflow;
        display: block;
        margin-top: 5px;
        padding: 0 5px;
        color: $grey;
    }
    border-bottom: none;
}

.btn-slideout:hover {
opacity: .5;
}

#slideout_innerWidgets hr,
#slideout_innerNotifications hr,
#slideout_innerCalendar hr,
#slideout_innerHelp hr,
#slideout_innerFeedback hr,
.widget-body hr {
    border: 1px solid rgba($white, 0.15);
    border-top: none;
    margin: 20px 0 10px;
}

#slideout .btn-green-rmf,
.btn-primary-emf {
    border-radius: 0;
}

.slideout-icon {
    font-size: 33px !important;
    margin: 0 5px 0 10px;
    line-height: 1 !important;
}

.icon-modal-close {
    font-size: .9rem;
    &:before {
        color: $grey;
    }
}

.slideout-mobile-bg{
    background: rgba(0, 0, 0, 0.28);
}

.slideout-select{
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin:0px 0px 25px 0px; 
    height: calc(1.25rem + 20px);
}




//START NEW


.widget-card .card{
    margin-bottom: 25px;
    border: none;
    background: transparent;
}

.widget-card .card-header{
    border: none;
    background: transparent;
    padding: 0px;
    border-left: 5px solid $flyout-border;
    background: $flyout-bg;
}

.widget-card .card-header .btn-info{
    background-color: transparent;
    border: none;
    color: $white;
    width: 100%;
    text-align: left;
    padding: 15px;
}

.widget-card .card-header .btn-info .strong{
    font-weight: 800;
    font-size: 1rem;
    @extend %text-overflow;
    display: inline-block;
    width: calc(100% - 40px);
    margin-top: 2px;
}

.widget-card .card-header:hover{
opacity: .5;
}

.widget-card .card-body{
    border-left: 5px solid $flyout-border;
    background: $flyout-bg;
}

.widget-card .card-body p{
    color: $white;
}

.widget-floating-window {
    border-radius: 3px;
    z-index: 9999999999;
    width: 75%;
    top: 0px;
    position: absolute;
    box-shadow: 0px 0px 10px $black;
    margin: 5%;
    display: none;
}

.widget-head {
    background: $float-head;
    width: 100%;
    cursor: move;
    padding: 10px 7px 8px 7px;
    color: $white;
    border-bottom: 1px solid $grey;
}

.navbar-collapse .widget-head{
    cursor: initial;
}

.widget-title{
    @extend %text-overflow;
    -webkit-user-select: none;  
  -moz-user-select: none;   
  -ms-user-select: none;    
  user-select: none;  
  font-size: .8rem;
  text-align: left
}

.widget-head span {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    float: right;
    margin: 3px 2px;
    cursor: pointer;
}

.widget-head span:nth-child(1){
    background: $danger;
}

.widget-head span:nth-child(2){
    background: $warning;
}

.widget-head span:nth-child(3){
    background: $success;
}

    .widget-head span:hover {
        opacity: .5;
    }

.widget-body{
    padding: 25px;
    height: 600px;
    overflow-y: auto;
    background: #3a4148;
    color: $white;
}

.widget-body .slideout-title{
    margin-top: 0px;
}

.widget-title .widget-icon-styles:before{
    color: $white!important;
    font-size: .9rem;
    margin-right: 5px;
}

.icon-settings-styles{
    display: inline-table;
    border-right: 1px solid $white;
    border-radius: 0px!important;
    margin-right: 20px !important;
    padding-right: 15px;
}

.widget-head .icon-settings-styles:before{
color: $white;
 }

 .widget-float-styles img,
 .widget-slideout-styles img{
    padding: 0px 25px 25px 25px;
 }

.widget-slideout-styles img{
     width: 100%!important;
 }
 
 .widget-slideout-styles{
    padding: 60px 25px 25px 25px;
 }

 .navbar-collapse .widget-head {
    position: fixed;
    width: 400px;
    z-index: 999999;
 }
