// COMPONENTS / SLIDEOUT
#slideout {
    top: 40px;
    left: 0;
}

#slideout_inner,
#slideout_innerB,
#slideout_innerC {
    position: fixed;
    top: 0;
    left: -500px;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    transition-duration: none;
    background: $dark-grey;
    height: 100vh;
    z-index: -15!important;
    width: 400px;
    overflow-y: auto;
    color: $white;
}
#slideout_innerB {
    background: $dark-grey-slide-one;
}

#slideout_innerC {
    background: $dark-grey-slide-two;
}

#slideout_inner.expanded,
#slideout_innerB.expanded,
#slideout_innerC.expanded {
    z-index: 1 !important;
    left: 200px;
    padding: 0 15px;
}

#slideout_inner.expanded{
    width: 400px;
}

#slideout_innerB.expanded{
    width: 400px;
}

.btn-slideout {
    background: $primary-color;
    padding: 10px 0;
    cursor: pointer;
    span {
        @extend %text-overflow;
        display: block;
        margin-top: 5px;
        padding: 0 5px;
    }
}

.slideout-title {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: 25px;
    margin-bottom: 25px;
    display: inline-block;
}

.slideout-title-mobile {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 15px ;
    color: #fff;
}

#slideout_inner hr,
#slideout_innerB hr,
#slideout_innerC hr {
    border: 1px solid rgba($white, 0.15);
    border-top: none;
    margin: 20px 0 10px;
}

.slideout-footer {
    margin: 25px 0;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
}

#slideout .btn-green-rmf,
.btn-primary-emf {
    border-radius: 0;
}

.slideout-icon {
    font-size: 33px !important;
    margin: 0 5px 0 10px;
    line-height: 1 !important;
}

.icon-slideout-settings {
    font-size: 10px;
    margin: 0;
    line-height: 1 !important;
    &:before {
        color: $white;
    }
}

.btnCloseSlider {
    float: right;
    position: absolute !important;
    top: 5px !important;
    right: 10px !important;
    padding: 0px!important;
    background: $trans;
}

.btnCloseSlider:hover,
.btnCloseSlider:focus,
.btnCloseSlider:hover,
.slideout-footer:hover,
.slideout-footer:focus,
.slideout-footer:active,
.btn-slideout:hover {
    opacity: 0.5;
    transition: $transition;
}

.close-large{
    font-size: 1.5rem!important;
    font-weight: 900!important;
}

.icon-slide-close {
    font-size: .9rem;
    &:before {
        color: $white;
    }
}

.icon-modal-close {
    font-size: .9rem;
    &:before {
        color: $grey;
    }
}

.slideout-mobile-bg{
    background: rgba(0, 0, 0, 0.28);
}