// COMPONENTS / SLIDEOUT
#slideout {
    top: 40px;
    left: 0;
}

#slideout_inner,
#slideout_innerB {
    position: fixed;
    top: 0;
    left: -500px;
    -webkit-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
    transition-duration: none;
    background: $dark-grey;
    height: 100vh;
    z-index: -15!important;
    width: 400px;
    overflow-y: auto;
    color: $white;
}

#slideout_inner.expanded,
#slideout_innerB.expanded {
    z-index: 1 !important;
    left: 200px;
    padding: 0 35px;
}

.btn-slideout {
    background: $primary-color;
    padding: 10px 0;
    cursor: pointer;
    span {
        @extend %text-overflow;
        font-size: 1.1rem;
        display: block;
        margin-top: 5px;
        padding: 0 5px;
    }
}

.slideout-title {
    font-weight: 800;
    font-size: 1.3rem;
    margin-top: 65px;
    margin-bottom: 25px;
    display: inline-block;
}

#slideout_inner hr,
#slideout_innerB hr {
    border: 1px solid rgba($white, 0.15);
    border-top: none;
    margin: 20px 0 10px;
}

.slideout-footer {
    margin: 25px 0;
    font-weight: 300;
    font-size: 1.1rem;
    cursor: pointer;
}

#slideout .btn-green-rmf,
.btn-primary-emf {
    border-radius: 0;
}

.slideout-icon {
    font-size: 33px !important;
    margin: 0 5px 0 10px;
    line-height: 1 !important;
}

.icon-slideout-settings {
    font-size: 10px;
    margin: 0;
    line-height: 1 !important;
    &:before {
        color: $white;
    }
}

.btnCloseSlider {
    float: right;
    position: absolute;
    right: -10px;
    top: 20px;
    background: $trans;
}

.btnCloseSlider:hover,
.btnCloseSlider:focus,
.btnCloseSlider:hover,
.slideout-footer:hover,
.slideout-footer:focus,
.slideout-footer:active,
.btn-slideout:hover {
    opacity: 0.5;
}

.icon-slide-close {
    font-size: .9rem;
    &:before {
        color: $white;
    }
}

.icon-modal-close {
    font-size: .9rem;
    &:before {
        color: $grey;
    }
}