// ELEMENTS / TABS

.nav-tabs {
    border-bottom: none;

    .nav-item {
        margin-bottom: 0;

        &,
        &:focus,
        &:hover {
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 10px 15px 10px 15px;
        }

        &.active,
        &.show .nav-link {
            color: $grey;
            background-color: $primary-transparent-two;
            border-color: $white;
            font-weight: 800;
        }

        &.disabled {
            color: $disabled;
            background-color: $trans;
            border-color: $trans;
        }
    }

    .dropdown-menu {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}


.nav-pills {

    .nav-link {
        border-bottom: 1px solid $light-grey;
        border-radius: 0;
        padding: 11px 5px 11px 0;
        text-align: right;
    }

    .nav-link.active,
    .show > .nav-link {
        color: $grey;
        font-weight: 800;
        background-color: $white;
    }
}


.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link.disabled {
    color: $disabled
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color:  $grey;
}

.horizontal-opendash > li > a {
    padding: 10px 15px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    opacity: 1 !important;
    background: $white !important;
    @extend %border-silver;
    border-bottom: $white;
    color:  $grey;
}

.nav-pills>li.active>a:hover {
color:  $grey;
}

.nav-pills>li>a {
    @extend %border-radius;
    border-top: none;
    opacity: .5;
}

.tab-content{
.form-control {
    @extend %border-silver;
    background-color: $silver;
}
}

.vertical-opendash .nav-pills > li {
    width: 100%;
    background: $tabs;
    margin-bottom: 0px;
    margin-left: 0px;
}


.vertical-opendash .nav-pills > li.active > a, 
.vertical-opendash .nav-pills > li.active > a:focus, 
.vertical-opendash .nav-pills > li.active > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    @extend %border-radius;
    border: none;
    border-bottom: none;
    margin-bottom: 0px;
    color: $grey;
    border-left: 3px solid $grey;
}

.vertical-opendash .nav-pills > li > a {
    @extend %border-radius;
    border-top: none;
    margin-bottom: -1px;
}

//Mobile Tab Fix Start
@media (max-width: 768px) {
    .nav-pills>li {
        float: left;
        display: contents;
    }
    .nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
        border-bottom: none;
    }
    }
    //Mobile Tab Fix End

    .nav-pills > li > a {
        @extend %border-radius;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-top: none;
        margin-bottom: -1px;
    }
    
    .nav-pills > li.active > a, 
    .nav-pills > li.active > a:focus, 
    .nav-pills > li.active > a:hover {
        @extend %border-radius;
        border-bottom-right-radius: 0px!important;
        border-bottom-left-radius: 0px!important;
        @extend %border-silver;
        border-bottom: $white;
        color: $grey!important;
        opacity: .25;
    }