// ELEMENTS / TABS

// Horizontal Display
.nav-tabs {
    border-bottom: none;

    .nav-item {
        margin-bottom: 0;

        &,
        &:focus,
        &:hover {
            border: none;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            padding: 10px 15px 10px 15px;
        }

        &.active,
        &.show .nav-link {
            // color: $primary; -- duplicate style
            // background-color: $white; -- duplicate style
            // border-color: $light-grey; -- duplicate style

            color: $body-color;
            background-color: $primary-transparent-two;
            border-color: $white;
            font-weight: 800;
        }

        &.disabled {
            color: $disabled;
            background-color: $trans;
            border-color: $trans;
        }
    }

    .dropdown-menu {
        margin-top: -1px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}


// Vertical Tabs
.nav-pills {

    .nav-link {
        border-bottom: 1px solid $light-grey;
        border-radius: 0;
        padding: 11px 5px 11px 0;
        text-align: right;
    }

    .nav-link.active,
    .show > .nav-link {
        color: $body-color;
        font-weight: 800;
        background-color: $white;
    }
}

.vertical-tab-content {
    border: 1px solid $light-grey;
    padding: 25px;
    background: $white;

    .nav-tabs {
        border-bottom: 2px solid $light-grey;
        background: $lighter-grey;
    }
}


// Shared between horizontal and vertical
.nav-link {
    display: block;
    padding: .5rem 1rem;
}

.nav-link.disabled {
    color: $disabled
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: $black;
}

.tab-content-rmf,
.white-bg-rmf,
.grey-bg-rmf,
.primary-bg-rmf {
    background: $white;
    padding: 25px;
    border: 1px solid $silver;
}

.grey-bg-rmf {
    background: $filter-bg;
}

.primary-bg-rmf{
    background: $primary;
}

.tab-content-rmf{
    background: $tabs;
}

.horizontal-nav-emf > li > a {
    padding: 10px 15px !important;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: $tabs;
    border-radius: 0px;
    border: 1px solid $silver;
    border-bottom: none;
    margin-bottom:-1px;
    color: $limed-spruce;
    opacity: 1;
}

.nav-pills>li.active>a:hover {
color: $silver;
}

.nav-pills>li>a {
    border-radius: 0px;
}

.tab-content{
.form-control {
    border: 1px solid $alto;
    background-color: $white;
}
}
