<app-card-title
[cardTitle]="'Manage Client Composites'"
[cardSubtitle]="'Choose client composite details below.'"
></app-card-title>
<div class="row">
   <div class="col-lg-12">
      <app-bind-select-input [label]="'Choose a Client'" [dropdownOptions]="clients" [(value)]="clientId" (valueChange)="clientChanged($event)"></app-bind-select-input>
   </div>
</div>
<div class="row">
   <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let role of roles">
      <app-bind-checkbox-input [label]="role.name" [(value)]="role.active"></app-bind-checkbox-input>
   </div>
</div>
<div class="row" *ngIf="allowSave">
   <div class="col-lg-12">
      <button type="button" class="btn-save" (click)="update()">
         Save
      </button>
   </div>
</div>