<div class="page-title-bg">
  <app-card-title [cardTitle]="app?.appTitle" [cardSubtitle]="'View MicroApp details below.'"></app-card-title>
</div>

<div class="row">
  <div class="col-lg-8">
    <ul class="nav nav-pills horizontal-opendash">
      <li class="active">
        <a href="#app" data-toggle="tab">MicroApp Information</a>
      </li>
      <li>
        <a href="#widgets" data-toggle="tab">Widgets</a>
      </li>
      <li>
        <a href="#clientRoles" data-toggle="tab">Client Permissions</a>
      </li>
      <li>
        <a href="#roles" data-toggle="tab">Role Mappings</a>
      </li>
    </ul>
    <div class="tab-content tab-content-rmf clearfix">
      <div id="app" class="tab-pane active in">
        <app-descriptor *ngIf="app" [app]="app"></app-descriptor>
      </div>
      <div id="widgets" class="tab-pane">
        <app-widgets *ngIf="app" [app]="app"></app-widgets>
      </div>
      <div id="clientRoles" class="tab-pane">
        <app-client-roles *ngIf="app" [clientId]="app.clientId" [clientName]="app.clientName"></app-client-roles>
      </div>
      <div id="roles" class="tab-pane">
        <app-edit-app-role-mappings *ngIf="app" [clientId]="app.clientId" [clientName]="app.clientName"></app-edit-app-role-mappings>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-comments *ngIf="app && vendorId" [vendorId]="vendorId" [appId]="app.docId" [isVendor]="true"></app-comments>
  </div>
</div>