<div class="page-title-bg">
  <div class="icon-float-right" tooltip="Delete Microapp" tooltip-position="top">
    <span class="icon-title-right-settings icon-danger-color icon-trash"></span>
  </div>
  <app-card-title [cardTitle]="app?.appTitle" [cardSubtitle]="'View MicroApp details below.'"></app-card-title>
</div>

<div class="row">
  <div class="col-lg-8">
    <ul class="nav nav-pills horizontal-opendash">
      <li class="active">
        <a href="#app" data-toggle="tab">MicroApp Information</a>
      </li>
      <li>
        <a href="#widgets" data-toggle="tab">Widgets</a>
      </li>
      <li>
        <a href="#clientRoles" data-toggle="tab">Client Permissions</a>
      </li>
      <li>
        <a href="#roles" data-toggle="tab">Role Mappings</a>
      </li>
    </ul>
    <div class="tab-content tab-content-rmf clearfix">
      <div id="app" class="tab-pane active in">
        <app-view-app-info *ngIf="app" [app]="app"></app-view-app-info>
      </div>
      <div id="widgets" class="tab-pane">
        <app-view-widgets *ngIf="app" [app]="app"></app-view-widgets>
      </div>
      <div id="clientRoles" class="tab-pane">
        <app-edit-app-client-roles></app-edit-app-client-roles>
      </div>
      <div id="roles" class="tab-pane">
        <app-edit-app-role-mappings></app-edit-app-role-mappings>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <app-edit-app-comments></app-edit-app-comments>
  </div>
</div>