<div class="content-body interior">
  <h2 class="my-1">
    <a [routerLink]="['../../']" class="opacity-half float-left mr-1" style="margin-top: 3px;" matTooltip="Return to Page Feedback">
      <mat-icon>keyboard_backspace</mat-icon>
    </a>
    {{pageGroup}} Submissions
    <button mat-icon-button color="secondary" class="opacity-half" [matMenuTriggerFor]="menu2">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu2="matMenu">
      <button mat-menu-item matTooltip="Visit Page" (click)="goToPage()">
        <mat-icon>apps</mat-icon>
        <span>Visit Page</span>
      </button>
      <button mat-menu-item matTooltip="Clear Feedback for this Page" (click)="deleteAll()">
        <mat-icon>delete_outline</mat-icon>
        <span>Clear Feedback</span>
      </button>
    </mat-menu>
  </h2>
  
  <div class="mb-2">
    Average Rating: <strong>{{pageGroupAvg?.rating | number:'1.0-1'}}</strong> <div class="display-inline-block ml-1 opacity-half">({{pageGroupAvg?.totalRatings}} Total Ratings)</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th class="text-left" width="25">Rating</th>
        <th>Comment</th>
        <th>User</th>
        <th>Date</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of feedback">
        <td class="text-left ratingCol">
          {{item.rating | number:'1.0-1'}}
        </td>
        <td>
          {{item.comment}}
        </td>
        <td>
          <small *ngIf="!item.anonymous">
            <strong>{{item.user.firstName}} {{item.user.lastName}}</strong> ({{item.user.username}})<br />
            {{item.user.email}}
          </small>
          <span *ngIf="item.anonymous" class="opacity-half">
            Anonymous
          </span>
        </td>
        <td>
          {{this.parseDate(item.dateCreated)}}
        </td>
        <td class="text-right">
          <button mat-icon-button *ngIf="item.screenshot" matTooltip="View Attachment">
            <a [href]="getScreenshotUrl(item)" target="_blank" class="p-0">  
              <mat-icon class="vertical-middle">image</mat-icon>
            </a>
          </button>
          <button mat-icon-button *ngIf="canDelete" (click)="deleteItem(item)" matTooltip="Delete Submission">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>