<app-page-title
  [backLink]="['../../']"
  [pageTitle]="pageTitle"
  [showMoreMenu]="true"
  [moreMenuItems]="moreMenuItems"
  (moreMenuClick)="handleMoreMenuClick($event)"
></app-page-title>

<div class="wrapper">
  <div class="mb-2">
    Average Rating: <strong>{{groupAvg?.rating | number:'1.0-1'}}</strong>
    &nbsp;
    <div class="display-inline-block ml-1 opacity-half">({{groupAvg?.totalRatings}} Total Ratings)</div>
  </div>

  <div class="table-container">
    <table mat-table matSort matSortDisableClear matSortActive="rating" matSortDisableClear matSortDirection="desc" class="table" [dataSource]="displayItems">
      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Rating</th>
        <td mat-cell *matCellDef="let feedback" class="rating-col">
          <bar-rating [rate]="feedback.rating" matTooltipPosition="left" [readOnly]="true" [matTooltip]="(feedback.rating || 0) | number:'1.0-1'"></bar-rating>
        </td>
      </ng-container>

      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef>Comment</th>
        <td mat-cell *matCellDef="let feedback">
          {{feedback.comment || ''}}
        </td>
      </ng-container>

      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
        <td mat-cell *matCellDef="let feedback">
          <small *ngIf="!feedback.anonymous">
            <strong>{{feedback.user.firstName}} {{feedback.user.lastName}}</strong> ({{feedback.user.username}})<br />
            <span *ngIf='feedback.user.email'>{{feedback.user.email}}</span>
          </small>
          <span *ngIf="feedback.anonymous" class="opacity-half">
            Anonymous
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let feedback">
          {{feedback.dateCreated | date:'MMMM dd, yyyy'}}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="text-right">&nbsp;</th>
        <td mat-cell *matCellDef="let feedback" class="text-right">
          <button mat-icon-button *ngIf="feedback.screenshot" matTooltip="View Attachment">
            <a [href]="getScreenshotUrl(feedback)" target="_blank" class="p-0">
              <mat-icon class="vertical-middle">image</mat-icon>
            </a>
          </button>
          <button mat-icon-button *ngIf="canDelete" (click)="deleteItem(feedback)" matTooltip="Delete Submission">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row: columns: displayedColumns"></tr>
    </table>

    <div [ngClass]="{ 'pagination': true }">
      <span>{{items.length}} Total Items</span>
      <mat-paginator [length]='paginatorLength()' [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
    </div>
  </div>
</div>
