.ajaxProgress {
    z-index: 99999999;
    box-sizing: border-box;
    left: 250px; // don't cover sidebar
    right: 0;
    top: 55px;
    bottom: 0;
    background: rgba(#efefef, 0.75) !important;
    text-align: center;
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Internet Explorer/Edge
            user-select: none; // Non-prefixed version, currently supported by Chrome and Opera

    .contents {
    	margin-left: -420px; // align with loading component position
        position: relative;
        top: 40%;
        transform: translateY(-40%);

	    img {
	        position: absolute;
	        max-width: 60px;
	        margin-left: -30px;
	        margin-top: 25px;
	    }

	    mat-spinner {
	        margin: 0 auto;
	        text-align: center;
	    }
	}
}