<div class="ajax-wrapper" *ngIf="show">
                <div class="lds-wedges">
                        <div>
                                <div>
                                        <div></div>
                                </div>
                                <div>
                                        <div></div>
                                </div>
                                <div>
                                        <div></div>
                                </div>
                                <div>
                                        <div></div>
                                </div>
                        </div>
                </div>
        </div>