.ajaxProgress {
    z-index: 999; // under top and left navigations
    box-sizing: border-box;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(#efefef, 0.75) !important;
    text-align: center;
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Internet Explorer/Edge
            user-select: none; // Non-prefixed version, currently supported by Chrome and Opera

    .contents {
        position: relative;
        top: 32.5%;
        margin-left: 55px;

	    img {
	        position: absolute;
	        max-width: 60px;
	        margin-left: -30px;
	        margin-top: 25px;
	    }

	    mat-spinner {
	        margin: 0 auto;
	        text-align: center;
	    }
	}
}