// GRIDSTER

gridster {
    transition: background-color .2s linear;
    margin: -12px; // align title to contents in edit
}

gridster .gridster-column,
gridster .gridster-row {
    background: #97caef;    // background: $gridster-bg;
}

.gridster-bg-view-mode {
    background-color: transparent !important; // override inline default color

    &.fit {
        transition: 0.2s ease all;
        padding: 0 !important; // override inline
        margin: 0;
        background: #97caef;
    }
}

gridster-card-view-mode,
gridster-item {
    background-color: #fff !important;
    box-shadow: 0 0 10px rgba(#000, 0.1);
}

.gridster-card-view-mode {
    -webkit-touch-callout: none; // iOS Safari
    -webkit-user-select: none; // Safari
       -moz-user-select: none; // Firefox
        -ms-user-select: none; // Internet Explorer/Edge
            user-select: none; // Non-prefixed version, currently supported by Chrome and Opera

    .widget-float-body {
        opacity: 1 !important;
        filter: none !important;
        padding: 0 !important;
        cursor: default;
    }
}

.gridster-item-resizable-handler.handle-se,
.gridster-item-resizable-handler.handle-sw {
    width: 10px;
    height: 10px;
}

.gridster-item-resizable-handler {
    z-index: 999 !important;
}

gridster .gridster-column,
gridster .gridster-row {
    border: none !important;
    background: none !important;
}

// Adjust padding of dashboard title if in iframe (.no-nav)
.dashboard-title {
    margin: 12px 24px;

    h1 {
        font-size: 26px;
        font-weight: 500;
        line-height: 40px;
        color: #1a1a1a;
    }

    // .no-nav & {
    //     margin: 20px;
    // }
}

// .no-nav .gridster-container {
//     width: calc(100% - 20px) !important;
//     margin: -30px 10px 0 !important;
// }