// SIDEBAR

app-sidebar-logo {
	display: block;
	margin: 0 0 0 -3px;

	mat-icon {
		color: #eee;

		&:hover {
			color: #fff;
		}
	}
}

// Align sidebar widgets to other icons in the menu
app-sidebar-widgets .mat-list-item-content {
	padding: 0 10px !important;
}

// SIDEBAR/MAIN LAYOUT
#sidebar {
	width: 230px;
	padding: 0;
	box-sizing: border-box;
	background: #121212;
	box-shadow: 0 0 10px rgba(#000, 0.2) !important; // important to persist on collapsed

	&.collapsed {
		width: 65px;
		overflow-x: hidden;
		visibility: visible !important; // override Angular Material directive
		transform: none;

		// app-sidebar-logo a,
		app-sidebar-user .mat-list-text,
		.auxWidgets,
		.nameLabel {
			display: none;
		}
	}

	&.opened .smallLogo {   
		display: none !important;
	}

	// Create space for vertical screens to scroll past last item
	.mat-nav-list {
		padding: 0 5px;
	}

	.nameLabel {
		font-weight: 400;
	}
	
	// Fix issue if left nav exceeds browser height and creates scrollbar on collapsed left-nav
	.mat-drawer-inner-container {
		overflow: hidden;
	}

	.mat-drawer-side {
		border: none;
	}

	// Override height of left nav; refactor with vars?
	.mat-list-item,
	.mat-list-item-content {
	    min-height: 20px !important;
		height: 35px !important;
		margin-bottom: 5px;
	}

	.mat-list-item-content {
		padding: 0 11px;
	}

	.mat-list-text {
		padding-left: 10px; // reduce from 16px; refactor with var?
	}

	.mat-list-item:not(.noHover) {
		font-size: 14px; // refactor with vars?
		transition: 0.2s ease all;
		border-radius: 5px;
		color: #eee;

		&:hover {
			color: #fff;
			background-color: rgba(#fff, 0.2);
			// background-color: #e5e5e5;
		}

		&.active,
		&.active:hover {
			background-color: #0e8bff;
			color: #eee;
		}
	}

	// Vendor-driven image app icons
	.imgCont img {
		height: auto;
		max-width: 22px;
		max-height: 22px;
		border-radius: 50%;

		// Hide psuedo element on image
		&:before {
			display: none;
		}
	}

	// Sidebar logo -- consolidate with above -- refactor
	.appLogo img {
		width: 100%;
		max-width: calc(100% - 40px);
		height: auto;
		max-height: 55px;
		margin: 10px 0 0 4px;
	}
}

// Fix widget hot bar and user to bottom of left-nav
.fixed-bot {
	display: block;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 0 10px 10px;
	position: absolute;
	overflow: hidden;
}

#sidebar.collapsed {

	& + .cdk-visually-hidden + 

	.fixed-bot {
		width: 45px;
	}

	.widget-button {
		margin-top: 5px !important;
		margin-bottom: 5px !important;
	}
}