// TABLES


// Refactor this after all tables have updated to mat-table
.table {
	font-weight: 400 !important; // fix for loose widget styling (non shadowdom)
	width: 100%;
	border-collapse: collapse;
	overflow: hidden;

	th {
		font-size: 12px;
		font-weight: 500;
		color: rgba(44, 44, 44, 0.54);
		text-align: left;
		padding: 15px 10px;
	}

	tr {
		border-bottom: 1px solid #ddd; // replace with var
		height: 50px;
	}

	tbody tr {

		&:hover {
			background: rgba(#efefef, 0.2); // replace with var

			button {
				opacity: 1;
			}
		}

		button {
			opacity: 0;
		}

		&:last-child {
			border: none;
		}
	}

	td {
		padding: 0 10px;
		font-size: 16px;

		// Reduce size of status icons (first col)
		&:first-child .material-icons {
			font-size: 14px !important;
			line-height: 1.7 !important;
		}

		&:first-child .material-icons.avatar {
			font-size: 21px !important;
			background: #eee;
			border-radius: 50%;
			color: rgba(27, 27, 27, 0.4);
			height: 40px;
			width: 40px;
			margin-right: 10px;
			text-align: center;
			vertical-align: middle;
			line-height: 2 !important;
			user-select: none;
		}
	}

	// Inline table chips
	mat-chip-list {
	    display: inline-block;
	    width: auto;
	    float: left;
	    vertical-align: top;
	    margin-right: 5px;
	}

	// Action buttons
	.mat-icon-button {
		color: #6b6a6a;

		&:hover {
			color: #000;
			background: #efefef;
		}
	}

	a {
		display: block;
		padding: 15px 0;
		text-decoration: none;
		opacity: 0.8;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
			opacity: 1;
		}
	}
}