// ======================= WIDGETS ======================= //

// NEEDS REFACTOR

app-widget-renderer {
  background: #fff;
  // Disable text selection on widget content
  // Resolves bug with draging a floating widget and highlighting other widget text
  -webkit-touch-callout: none; // iOS Safari
  -webkit-user-select: none; // Safari
  -moz-user-select: none; // Firefox
  -ms-user-select: none; // Internet Explorer/Edge
  user-select: none; // Non-prefixed version, currently supported by Chrome and Opera
}

// App sandbox element
.mat-grid-list[cols="4"] app-micro-app-renderer {
  width: calc(100% - 60px);
}

.widget-bg {
  background: #fff;
  padding: 15px;
  font-weight: 800;
  font-size: 5rem;
  color: #8b8faa;
}

.footer-widget-bg {
  background: #8b8eaa;
  padding: 5px 15px;
  font-weight: 800;
  font-size: 0.9rem;
  color: #fff;
}

.widget-float-body {
  display: inherit;
}

div .widget-title {
  cursor: default;

  .floating-widget-window &,
  .display-grid & {
    cursor: move;
  }
}

// Minimum resizable width/height for floating widgets
.floating-widget-window {
  min-width: 275px;
  min-height: 200px;
}

.floating-widget-window,
ng-reflect-minimized[true] .widget-head {
  box-shadow: 0 0 10px rgba(#000, 0.75);
}

.dashboard-add-widgets-bg {
  padding: 25px;
}

.widget-expand-settings {
  position: absolute;
  right: 13px;
  bottom: 10px;
  cursor: pointer;
  font-size: 0.8rem;

  &:hover {
    opacity: 0.5;
  }
}

// Stretch widget contents to height of widget column/row
gridster .card,
.gridster-card-view-mode,
.widget-float-body {
  display: flex;
  height: 100%;
  width: 100%;
}

.gridster-card-disabled {
  pointer-events: none;
}

.widget-float-body {
  flex-direction: column !important;
  justify-content: center !important;
  overflow: hidden !important;
  filter: grayscale(100%);
  opacity: 0.4;
  cursor: move;

  &:hover .btn-group {
    opacity: 1;
    transition: all 0.6s ease;
  }
}

// Fixed position from left-nav
.widget-window-dock {
  z-index: 99999999999;
  position: fixed;
  bottom: 0px;
  width: calc(100% - 690px);
  left: 250px;
  right: 0;
  height: 27px;
  padding: 0 20px;
}

.docked-widget-window {
  max-width: 300px;
  display: inline-block;
  margin-right: 15px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.floating-widget-window {
  position: fixed !important;
  top: 0;
  cursor: move;
  height: 260px;
  width: 300px;
  z-index: 9999; // set to display on top of feedback button
  border-radius: 5px;
  overflow: hidden; // used to round corners
  display: block;
}

.hidden-widget-window {
  opacity: 0;
  pointer-events: none;
}

.widget-head {
  width: 100%;

  &.minimized {
    cursor: pointer;
  }
}

.widget-title {
  // refactor with h3 and material components
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 7px 4px 7px 9px;
  line-height: 1;
  max-width: calc(100% - 108px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: absolute;
}

.widget-head.minimized .widget-title {
  max-width: none;
}

.widget-controls {
  transition: 0.2s ease all;
  display: inline-block;
  float: right;
  padding: 1px;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  // these shouldn't be necessary -- investigate
  button {
    transition: 0.2s ease all;
    padding: 0;
    border: none;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: rgba(#efefef, 1);
    }

    &[disabled],
    &.disabled {
      cursor: default;
      opacity: 1;
      color: #999;

      &:hover {
        background: transparent;
      }
    }

    mat-icon {
      font-size: 13px;
      line-height: 1.85;
    }
  }
}

// .widget-float-body double nested
.widget-head + .widget-float-body {
  position: absolute;
  height: calc(100% - 26px) !important; // height of widget-head
  top: 26px; // height of widget-head
  left: 0;
  right: 0;
  bottom: 0;
}

.widget-maximized {
  position: fixed;
  top: 0;
  left: 230px;
  height: 100vh;
  width: calc(100vw - 230px);
  z-index: 9999; // set to display on top of feedback button
}

// No left nav adjustments (when in iframe)
.no-nav {
  .widgetModal {
    left: 0 !important;
  }

  .widget-maximized {
    width: 100vw;
    left: 0;
  }

  .modalDialogLeft,
  .modal-white-bg-left {
    left: 0;
  }
}

.widget-head .disabled {
  display: none;
}

.display-grid {
  .feedbackButton,
  .disabled,
  button[disabled] {
    display: none;
  }

  .widget-title {
    max-width: calc(100% - 35px);
  }
}

.full-height .widget-head .pr-1 {
  position: initial !important;
}

button.minimize mat-icon {
  transform: translateY(3px);
}