<app-page-title pageTitle="Documents to Approve"></app-page-title>

<div class="wrapper">
  <div *ngIf="forms.length === 0">
    <p>The user has no forms that need your approval at this time.</p>
  </div>

  <app-form-card 
    [forms]="forms"
    [formIndex]="formIndex"
    (formSelected)="setForm($event)"
  ></app-form-card>

  <app-dynamic-form 
    *ngIf="forms.length > 0"
    [allowUnroutedApprovals]="false"
    [data]="forms[formIndex]"
    [displayApprovals]="true"
    [regId]="regId"
    (sectionSubmitted)="onSubmit($event)"
  ></app-dynamic-form>
</div>