<div class="header-new pb-2">
  <h1>Documents to Approve</h1>
</div>

<div class="wrapper">
  <div *ngIf="forms.length === 0">
    <p>The user has no forms that need your approval at this time.</p>
  </div>

  <app-form-card 
    [forms]="forms"
    [formIndex]="formIndex"
    (formSelected)="setForm($event)"
  ></app-form-card>

  <app-dynamic-form 
    *ngIf="forms.length > 0"
    [regId]="regId"
    [data]="forms[formIndex]"
    [displayApprovals]="true"
    [displayProgressBlock]="forms.length > 1"
    [allowUnroutedApprovals]="false"
    (sectionSubmitted)="onSubmit($event)"
  ></app-dynamic-form>
</div>