<mat-grid-list cols="1" rowHeight="65px" class="mb-1">
  <mat-grid-tile>
    <h1>Documents to Approve</h1>
  </mat-grid-tile>
</mat-grid-list>

<div *ngIf="forms.length === 0">
  <p>The user has no forms that need your approval at this time.</p>
</div>

<app-form-card 
  [forms]="forms"
  [formIndex]="formIndex"
  (formSelected)="setForm($event)"
></app-form-card>

<app-dynamic-form 
  *ngIf="forms.length > 0"
  [regId]="regId"
  [data]="forms[formIndex]"
  [displayApprovals]="true"
  (formSubmitted)="onSubmit($event)"
></app-dynamic-form>