<app-page-title [pageTitle]="pageTitle">
    <button
        mat-mini-fab
        color="primary"
        class="ml-2 z-1 test-create-button"
        (click)="showCreateModal()"
        matTooltip="Add MicroApp"
        *ngIf="canCreate"
    >
        <mat-icon>add_user</mat-icon>
    </button>
</app-page-title>
<mat-tab-group class="content-body">
    <mat-tab label="All Apps">
        <div class="wrapper">
            <app-list-all-apps *ngIf="activeVendor" [vendorId]="activeVendor.docId"></app-list-all-apps>
        </div>
    </mat-tab>
    <mat-tab label="Active">
        <div class="wrapper">
            <app-list-apps-active *ngIf="activeVendor" [vendorId]="activeVendor.docId"></app-list-apps-active>
        </div>
    </mat-tab>
    <mat-tab label="Pending">
        <div class="wrapper">
            <app-list-apps-pending *ngIf="activeVendor" [vendorId]="activeVendor.docId"></app-list-apps-pending>
        </div>
    </mat-tab>
</mat-tab-group>