<div class="header-new">
    <h1>
        {{activeVendor?.name}} Apps
    </h1>
    <button mat-mini-fab color="primary" class="ml-2 test-create-button" *ngIf="canCreate" (click)="showCreateModal()" matTooltip="Add MicroApp">
        <mat-icon>add_user</mat-icon>
    </button>
</div>
<mat-tab-group class="content-body">
    <mat-tab label="Active">
        <app-list-apps-active *ngIf="activeVendor" [vendorId]="activeVendor.docId"></app-list-apps-active>
    </mat-tab>
    <mat-tab label="Pending">
        <app-list-apps-pending *ngIf="activeVendor" [vendorId]="activeVendor.docId"></app-list-apps-pending>
    </mat-tab>
</mat-tab-group>