.percent-text {
  font-size: 50px;
  font-weight: bold;
  text-anchor: middle;
}
.percent-label {
  font-size: 20px;
  font-weight: bold;
  text-anchor: middle;
}
.percent-label-1 {
  font-size: 18px;
  text-anchor: middle;
}
.percent-title {
  font-size: 16px;
  fill: #555;
  text-anchor: middle;
}