<h2>MicroApp Information</h2>

<div *ngIf="!app.native">
  <div *ngIf="!app.approved">
    <mat-icon color="red">clear</mat-icon>
    <h4 class="color-red">Not Approved</h4>
  </div>

  <div class="card status-card text-center" *ngIf="app.approved">
    <mat-icon color="green'">check</mat-icon>
    <h4 class="color-green">Approved</div>
  </div>

</div>

<div>
  <h3>{{app.appTitle}}</h3>
  <small *ngIf="!app.native">
    Version: {{app.version}}
  </small>
  <small *ngIf="!app.native">
    Date Uploaded: {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
  </small>
  <hr>
  <p>Client Name: <strong>{{app.clientName}}</strong></p>
  <p>Client ID: <strong>{{app.clientId}}</strong></p>
  <p *ngIf="!app.native">
    Custom Element Tag: <strong>{{app.appTag}}</strong>
  </p>
  <p *ngIf="!app.native">
    Bootstrapper Module: <strong>{{app.appBootstrap}}</strong>
  </p>
</div>

<div *ngIf="!app.native">
  <h3>External Permissions Requested</h2>
  <p>Below is a list of external permission requested.</p>

  <ul *ngFor="let ep of app.externalPermissions">
    <li>
      Client Name: {{ep.clientName}}
    </li>

    <li>
      Client ID: {{ep.clientId}}
    </li>

    <li>
      Requested 'Read' Permission: {{ep.readPermission}}
    </li>
  </ul>
</div>