<h2>Overview</h2>

<mat-card *ngIf="!app.native">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="lg-icon">web</mat-icon>
    </div>

    <mat-card-title class="ml-1">
      {{app.appTitle}}
      <mat-icon *ngIf="!app.approved" matTooltip="Not Approved" class="color-red">error_outline</mat-icon>
      <mat-icon *ngIf="app.approved" matTooltip="Approved" class="color-green">check_circle_outline</mat-icon>
    </mat-card-title>

    <mat-card-subtitle class="ml-1">
      Version: <strong>{{app.version}}</strong> Uploaded: <strong>{{app.createdAt | date:'MM-dd-yyyy HH:mm'}}</strong>
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      Client: <strong>{{app.clientName}}</strong><br>
      Client ID: <strong>{{app.clientId}}</strong><br>
      Custom Element Tag: <strong>{{app.appTag}}</strong><br>
      Bootstrapper Module: <strong>{{app.appBootstrap}}</strong>
    </p>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="app.native">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon class="lg-icon">extension</mat-icon>
    </div>

    <mat-card-title class="ml-2">
      {{app.appTitle}}
    </mat-card-title>

    <mat-card-subtitle class="ml-2">
      Version: <strong>{{app.version}}</strong>
    </mat-card-subtitle>
  </mat-card-header>

</mat-card>


<div *ngIf="!app.native">

  <h3>External Permissions Requested</h3>

  <ul *ngFor="let ep of app.externalPermissions">
    <li>Client Name: <strong>{{ep.clientName}}</strong></li>
    <li>Client ID: <strong>{{ep.clientId}}</strong></li>
    <li>Requested 'Read' Permission: <strong>{{ep.readPermission}}</strong></li>
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th>Client</th>
        <th>Client ID</th>
        <th>Requested 'Read'</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ep of app.externalPermissions">
        <td>
          {{ep.clientName}}
        </td>
        <td>
          {{ep.clientId}}
        </td>
        <td>
          {{ep.readPermission}}
        </td>
      </tr>
    </tbody>
  </table>

  <h3>Declared API Calls</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>URI</th>
        <th>Trusted Required</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let item of app.apiCalls">
        <td>
          {{item.verb}}
        </td>
        <td>
          {{item.url}}
        </td>     
        <td class="text-center">
          <mat-icon color="color-green" *ngIf="item.requiresTrusted">check</mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>