<span class="test-non-native-descriptor" *ngIf="!app.native">
  <mat-card>
    <mat-card-header>

      <mat-card-title class="ml-1">
        <mat-icon class="avatar status-green mr-1" matTooltip="Enabled" *ngIf="app.enabled">pages</mat-icon>
        <mat-icon class="avatar status-red mr-1" matTooltip="Disabled" *ngIf="!app.enabled">pages</mat-icon> 
        {{app.appTitle}}
        <mat-icon *ngIf="!app.approved" matTooltip="Not Approved" class="color-red">error_outline</mat-icon>
        <mat-icon *ngIf="app.approved" matTooltip="Approved" class="color-green">check_circle_outline</mat-icon>
      </mat-card-title>

      <mat-card-subtitle class="ml-1" style="padding-left:45px;">
        Version: <strong class="pr-1">{{app.version}}</strong> Uploaded: <strong>{{app.createdAt | date:'HH:mm on MM-dd-yyyy'}}</strong>
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <mat-card>
        <mat-card-content>
          <small>
            Client: <strong>{{app.clientName}}</strong><br>
            Client ID: <strong>{{app.clientId}}</strong><br>
            Custom Element Tag: <strong>{{app.appTag}}</strong><br>
            Bootstrapper Module: <strong>{{app.appBootstrap}}</strong><br>
          </small>
        </mat-card-content>
      </mat-card>
    </mat-card-content>
  </mat-card>

</span>

<mat-card class="test-native-descriptor pb-1" *ngIf="app.native">

  <mat-card-title class="ml-1">
    <mat-icon class="avatar status-green mr-1" matTooltip="Enabled" *ngIf="app.enabled">pages</mat-icon>
    <mat-icon class="avatar status-red mr-1" matTooltip="Disabled" *ngIf="!app.enabled">pages</mat-icon> 
    {{app.appTitle}}
  </mat-card-title>

  <mat-card-subtitle class="ml-2">
    <div class="pb-1" style="padding-left: 35px;">Native Application</div>
  </mat-card-subtitle>

</mat-card>


<div *ngIf="!app.native">

  <h3 class="ml-6 mt-4">External Permissions Requested</h3>

  <div class="table-container">
    <table class="table test-ep">
      <thead>
        <tr>
          <th>Client</th>
          <th>Client ID</th>
          <th>Requested 'Read'</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ep of app.externalPermissions">
          <td>
            <mat-icon class="avatar float-left" style="margin-top:8px;">cloud_download</mat-icon>
            <a href="#" class="pointer-events cursor-default">{{ep.clientName}}</a>
          </td>
          <td>
            {{ep.clientId}}
          </td>
          <td>
            {{ep.readPermission}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 class="ml-6 mt-4">Declared API Calls</h3>

  <div class="table-container">
    <table class="table test-api">
      <thead>
        <tr>
          <th>Method</th>
          <th>URI</th>
          <th>Trusted Required</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let item of app.apiCalls">
          <td>
            <mat-icon class="avatar float-left" style="margin-top:8px;">cloud_upload</mat-icon>
            <a href="#" class="pointer-events cursor-default">{{item.verb}}</a>
          </td>
          <td>
            {{item.url}}
          </td>     
          <td class="text-center">
            <mat-icon color="color-green" *ngIf="item.requiresTrusted">check</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>