<div class="row">
  <div class="col-lg-12">
    <app-card-title [cardTitle]="'MicroApps'" [cardSubtitle]="'Modify which Microapps are mapped to this role.'"></app-card-title>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-force">Status</th>
            <th>Application Name</th>
            <th>Shortname</th>            
            <th>Type</th>
            <th>Permissions</th>
            <th class="text-center">Assigned</th>
            <th *ngIf="canUpdate">Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let awp of apps">

            <td class="text-center">
              <span *ngIf="awp.app.enabled" tooltip="App is enabled and may be assigned to role."
                tooltip-position="top">
                 <span class="bg-success uk-circle-shape"></span>
              </span>

              <span *ngIf="!awp.app.enabled" tooltip="App is disabled. This app cannot be assigned to this role."
                tooltip-position="top">
                <span class="bg-warning uk-circle-shape"></span>
              </span>
            </td>

            <td>
              {{awp.app.appTitle}}
            </td>

            <td>
              {{awp.app.clientName}}
            </td>

            <td>
              <span *ngIf="awp.app.native" tooltip="Native Application" tooltip-position="top">
                Native
              </span>
              <span *ngIf="!awp.app.native" tooltip="3rd Party Application" tooltip-position="top">
                Third Party
              </span>
            </td>

            <td>
              <span *ngFor="let p of awp.permissions" [ngClass]="{'label-success': p.active, 'label-warning': !p.active}">
                <span class="label">{{p.name}}</span>
              </span>
            </td>

            <td class="text-center">
              <span *ngIf="awp.app.active" tooltip="App Assigned to Role" tooltip-position="top">
                <i class="fa fa-check text-success"></i>
              </span>
            </td>

            <td *ngIf="canUpdate">
              <div class="btn-group">
                <button class="btn-success btn" (click)="toggleApp(awp.app)" *ngIf="!awp.app.active">Add to Role</button>
                <button class="btn-warning btn" (click)="toggleApp(awp.app)" *ngIf="awp.app.active">Remove App</button>
                <button class="btn-primary btn" (click)="showPermissionEditor(awp)" >Edit Permissions</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal #addModal [title]="'Add App to Role'" [message]="'Are you sure you want to add ' + activeApp?.appTitle + ' to this role?'"
  [iconClassList]="'fa fa-4x fa-check fa-success text-success margin-bottom'" [buttons]="[{title: 'Add App to Role', classList: 'btn btn-success'}]"
  (btnClicked)="addButtonClicked($event)"></app-modal>

<app-modal #removeModal [title]="'Remove App from Role'" [message]="'Are you sure you want to remove ' + activeApp?.appTitle + ' from this role?'"
  [iconClassList]="'fa fa-4x fa-ban text-warning margin-bottom'" [buttons]="[{title: 'Remove App from Role', classList: 'btn btn-warning'}]"
  (btnClicked)="removeButtonClicked($event)"></app-modal>

<div class="modalDialog" role="document" [ngClass]="{'display-none': !showPermissionsModal}">
  <div class="modal-white-bg">
      <div class="widget-head">
          <div class="row">
              <div class="col-sm-9">
                  <div class="widget-title">
                      Edit {{activeAwp?.app.clientName}} Permissions
                  </div>
              </div>
              <div class="col-sm-3 text-right">
                  <button class="disabledBtn"></button>
                  <button class="disabledBtn"></button>
                  <div tooltip="Close" tooltip-position="top">
                    <button class="redCloseBtn" data-dismiss="modal" (click)="showPermissionsModal= false"></button>
                    </div>
              </div>
          </div>
       </div>
    <div class="rmf-modal">
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="subtitle-rmf-no-border">Select Permissions</div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-3 col-lg-4 col-sm-6" *ngFor="let p of activeAwp?.permissions">
                <app-bind-checkbox-input [label]="activeAwp?.app.clientName + ': ' + p.name" [(value)]="p.active"></app-bind-checkbox-input>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rmf-modal-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-primary" (click)="updatePermissions()">Confirm</button>
          <button data-dismiss="modal" (click)="showPermissionsModal = false">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>