.registration-details-header{
    background: #F6F6F6;
    border-bottom: solid 2px #C5C5C5;
    padding-left: 24px;
}

.user-details-header{ 
    background: #F6F6F6;
    border-bottom: solid 2px #C5C5C5;
    border-right: solid 2px #C5C5C5;
}