

<div class="table-container">

    <div class="table-controls">
        <mat-form-field *ngIf='false'>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search registrations">
        </mat-form-field>
    
        <mat-form-field style="margin-top: -8px;">
            <mat-select [value]="'all'" (selectionChange)='onProcessChange($event)'>
                <mat-option [value]="'all'">All Registration Processes</mat-option>
                <mat-option *ngFor='let process of registrationProcesses' [value]='process.docId'>{{ process.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="float-right" style="line-height: 48px;">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="opacity-half" matTooltip="Toggle Closed">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="px-1 py-1" xPosition="before">
                <!-- <mat-slide-toggle (change)='onShowClosedChange()' class="ml-1">Show Closed Registrations</mat-slide-toggle> -->
                <mat-checkbox #closedRegCheckbox (change)='onShowClosedChange()' color='primary' style="font-size: 14px;">Show Closed Registrations</mat-checkbox>
            </mat-menu>

            <button mat-icon-button (click)='openOptions()' matTooltip="Toggle Columns" class="opacity-half">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table *ngIf='displayTable' class="full-width table registration-manager" [dataSource]="pagedRows">

        <ng-container *ngIf='userColumnCount > 0' matColumnDef='user-column-header'>
            <th mat-header-cell *matHeaderCellDef [attr.colspan]='userColumnCount' class='header left-pad' matTooltip="User Identity"><mat-icon>person</mat-icon> Identity</th>
        </ng-container>

        <ng-container *ngIf='verificationColumnCount > 0' matColumnDef='verification-column-header'>
            <th mat-header-cell *matHeaderCellDef [attr.colspan]='verificationColumnCount' class='header left-border left-pad' matTooltip="Verification Process"><mat-icon>assignment_late</mat-icon> Verification</th>
        </ng-container>

        <ng-container *ngIf='registrationColumnCount > 0' matColumnDef='registration-column-header'>
            <th mat-header-cell *matHeaderCellDef [attr.colspan]='registrationColumnCount' class='header  left-border left-pad' matTooltip="Registration Process"><mat-icon>assignment_turned_in</mat-icon> Registration</th>
        </ng-container>

        <ng-container *ngFor='let column of columns'>
            <!-- LISTS -->
            <ng-container *ngIf='column.bindingType === 3'>
                <ng-container *ngIf='column.columnGroup === 0' matColumnDef='{{ getColDef(column) }}'>
                    <th mat-header-cell *matHeaderCellDef [attr.colspan]='column.attributes.listKeys.length' matTooltip="{{ column.title }}" class='header left-border left-pad'><mat-icon>assignment_ind</mat-icon> {{ column.title }}</th>
                </ng-container>
                <ng-container *ngFor='let key of column.attributes.listKeys; index as keyIndex'>
                    <ng-container matColumnDef='{{ getSubcolDef(column, key) }}'>
                        <th  #subheader mat-header-cell *matHeaderCellDef [id]="'subheader-' + column.binding" [ngClass]="{'sort-header': isSortCol(column.binding, key), 'subheader': true, 'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}" (click)='sort(column, key)'>
                            <div class='subheader-text-wrapper'>
                                <span [ngClass]="{'sort-text': isSortCol(column.binding, key), 'subheader-text': true, 'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}" class="cap-20" matTooltip="{{ key }}" style="padding-left:12px;">{{ key }}</span>
                                <mat-icon *ngIf='showDescArrow(column.binding, key)'>arrow_downward</mat-icon>
                                <mat-icon *ngIf='showAscArrow(column.binding, key)'>arrow_upward</mat-icon>
                            </div>
                        </th>
                        <td style="padding-left: 12px" mat-cell *matCellDef='let row, let i = index' [ngClass]="{'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}"  (click)='onCellClick(column, i)'>
                            <ng-container *ngTemplateOutlet='cellDef; context:{ column: column, row: row, key: key }'></ng-container>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>

            <!-- NON-LISTS -->
            <ng-container *ngIf='column.bindingType !== 3'>
                <ng-container *ngIf='column.columnGroup === 0' matColumnDef='{{ getColDef(column) }}'>
                    <th mat-header-cell *matHeaderCellDef class='header left-border left-pad' matTooltip="{{ column.title }}" (click)='sort(column)'><mat-icon>assignment_ind</mat-icon>{{ column.title }}</th>
                </ng-container>
                <ng-container matColumnDef='{{ getSubcolDef(column) }}'>
                    <th #subheader mat-header-cell *matHeaderCellDef [id]="'subheader-' + column.binding" [ngClass]="{'subheader': true, 'sort-header': isSortCol(column.binding), 'left-shadow': isLeftmostCol(column)}" (click)='sort(column)'>
                        <div [ngClass]="{'sort-text': isSortCol(column.binding), 'subheader-text': true}" matTooltip="{{column.title}}" style='padding-left:12px;'>
                            <div *ngIf='column.columnGroup !== 0' class="cap-20 display-inline-block"> {{ column.title }}</div>
                        </div>
                        <!-- <mat-icon *ngIf='showDescArrow(column.binding)'>arrow_downward</mat-icon>
                        <mat-icon *ngIf='showAscArrow(column.binding)'>arrow_upward</mat-icon>
                        <div matRipple></div> -->
                    </th>
                    <td style="padding-left: 12px" mat-cell *matCellDef='let row, let i = index' [ngClass]="{'left-shadow': isLeftmostCol(column)}" (click)='onCellClick(row.regId)'>
                        <ng-container *ngTemplateOutlet='cellDef; context:{ column: column, row: row }'></ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerColumnsDef"></tr>
        <tr mat-header-row *matHeaderRowDef="columnsDef"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsDef; let i = index"></tr>
    </table>

    <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 25, 50, 100]" [length]='pageTotal' (page)='onPage($event)'> </mat-paginator>
</div>

<ng-template #cellDef let-column="column" let-row='row' let-key='key'>
    <!-- TEXT VALUES -->
    <ng-container *ngIf='column.bindingType === 0'>
        <span *ngIf='row[column.binding] === null' class="opacity-half">N/A</span>
        <span *ngIf='row[column.binding] !== null'>{{ row[column.binding] }}</span>
    </ng-container>

    <!-- BOOLEAN VALUES -->
    <span *ngIf='column.bindingType === 1'>
        <div class='icon-container'>
            <ng-container *ngIf='column.columnGroup !== 3'>
                <mat-icon *ngIf='row[column.binding]' matTooltip="Requested" class="color-blue round">check_circle_outline</mat-icon>
                <mat-icon *ngIf='!row[column.binding]' matTooltip="Not requested" class="color-gray round">remove_circle_outline</mat-icon>
            </ng-container>
            <ng-container *ngIf='column.columnGroup === 3'>
                <ng-container *ngIf='row[column.binding] === true' >
                    <mat-icon class='green' matTooltip="Complete">check_circle</mat-icon>
                    <span class='green-bg check-bg'></span>
                </ng-container>
                <ng-container *ngIf='row[column.binding] === false' >
                    <mat-icon class='orange' matTooltip="Needed">error</mat-icon>
                    <span class='orange-bg check-bg'></span>
                </ng-container>
                <ng-container *ngIf='row[column.binding] === null' >
                    <mat-icon class='gray' matTooltip="Unnecessary">remove_circle</mat-icon>
                    <span class='gray-bg check-bg'></span>
                </ng-container>
            </ng-container>
        </div>
    </span>

    <!-- RADIO VALUES -->
    <!--<span *ngIf='column.bindingType === 2'>{{ row[column.binding] }}</span>-->

    <!-- LIST VALUES -->
    <ng-container *ngIf='column.bindingType === 3'>
        <span *ngIf='row[column.binding] !== null'>
            <div *ngIf='row[column.binding][key]' class='icon-container'>
                <mat-icon class='blue'>check_circle_outline</mat-icon>
                <span class='blue-bg check-bg'></span>
            </div>
            <div *ngIf='!row[column.binding][key] && column.columnGroup !== 3' class='icon-container'>
                <mat-icon class='gray'>remove_circle_outline</mat-icon>
                <span class='gray-bg check-bg'></span>
            </div>
        </span>
        <span *ngIf='row[column.binding] === null'>
            <div class='icon-container'>
                <mat-icon class='gray'>remove_circle_outline</mat-icon>
                <span class='gray-bg check-bg'></span>
            </div>
        </span>
    </ng-container>

    <!-- ENUM VALUES -->
    <ng-container *ngIf='column.bindingType === 4'>
        <span *ngIf='row[column.binding] !== null' [ngClass]="enumClass(row[column.binding])" >{{ enumText(row[column.binding]) }}</span>
    </ng-container>

    <!-- PROGRESS VALUES -->
    <ng-container *ngIf='column.bindingType === 5'>
        <span *ngIf='row[column.binding] !== null' class="progress-container display-inline-block" style="padding-left: 12px">
            <div class='green size-10'>{{ round(row[column.binding]) }}% Complete</div>
            <mat-progress-bar mode='determinate' [value]='row[column.binding]'></mat-progress-bar>
        </span>
    </ng-container>

    <!-- ICON VALUES -->
    <ng-container *ngIf='column.bindingType === 6'>
        <div *ngIf='row[column.binding] !== null' class='icon-container'>
            <mat-icon class='icon'>{{ row[column.binding] }}</mat-icon>
            <span class='gray-bg check-bg'></span>
        </div>
    </ng-container>
</ng-template>