

<div class="table-container">

    <div #spinner class='spinner' style='display: none;'>
		<img class='spinner-img' src="assets/images/od360-glyph-dark.png">
    	<mat-spinner color="primary" mode="indeterminate"></mat-spinner>
    </div>

    <div class="table-controls">
        <mat-form-field *ngIf='false'>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search registrations">
        </mat-form-field>
    
        <mat-form-field style="margin-top: -8px;">
            <mat-select [value]="'all'" (selectionChange)='onProcessChange($event)'>
                <mat-option [value]="'all'">All Registration Processes</mat-option>
                <mat-option *ngFor='let process of registrationProcesses' [value]='process.docId'>{{ process.title }}</mat-option>
            </mat-select>
        </mat-form-field>
        
        <div class="table-controls-icons" style="line-height: 48px;">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="opacity-half" matTooltip="Toggle Closed">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="px-1 py-1" xPosition="before">
                <!-- <mat-slide-toggle (change)='onShowClosedChange()' class="ml-1">Show Closed Registrations</mat-slide-toggle> -->
                <mat-checkbox #closedRegCheckbox (change)='onShowClosedChange()' color='primary' style="font-size: 14px;">Show Closed Registrations</mat-checkbox>
            </mat-menu>

            <button mat-icon-button (click)='openOptions()' matTooltip="Configure Columns" class="opacity-half">
                <mat-icon>settings</mat-icon>
            </button>
        </div>
    </div>

    <table mat-table *ngIf='displayTable' class="full-width table registration-manager" [dataSource]="pagedRows">

        <ng-container *ngIf='userColumnCount > 0' matColumnDef='user-column-header'>
            <th mat-header-cell *matHeaderCellDef class='header left-pad' matTooltip="User Identity" [attr.colspan]='userColumnCount'>
                <div class='flex-header'>
                    <mat-icon>person</mat-icon>
                    <span>Identity</span>
                </div>
            </th>
        </ng-container>

        <ng-container *ngIf='verificationColumnCount > 0' matColumnDef='verification-column-header'>
            <th mat-header-cell *matHeaderCellDef class='header left-border left-pad' matTooltip="Verification Process" [attr.colspan]='verificationColumnCount'>
                <div class='flex-header'>
                    <mat-icon>assignment_late</mat-icon>
                    <span>Verification</span>
                </div>
            </th>
        </ng-container>

        <ng-container *ngIf='registrationColumnCount > 0' matColumnDef='registration-column-header'>
            <th mat-header-cell *matHeaderCellDef class='header left-border left-pad' matTooltip="Registration Process" [attr.colspan]='registrationColumnCount'>
                <div class='flex-header'>
                    <mat-icon>assignment_turned_in</mat-icon>
                    <span>Registration</span>
                </div>
            </th>
        </ng-container>

        <ng-container *ngFor='let column of columns'>
            <!-- LISTS -->
            <ng-container *ngIf='column.bindingType === 3'>
                <ng-container *ngIf='column.columnGroup === 0 || column.columnGroup === 4' matColumnDef='{{ getColDef(column) }}'>
                    <th mat-header-cell *matHeaderCellDef class='header left-border left-pad' matTooltip="{{ column.title }}" [attr.colspan]='column.attributes.listKeys.length'>
                        <div class='flex-header'>
                            <mat-icon>assignment_ind</mat-icon>
                            <span>{{ column.title }}</span>
                        </div>
                    </th>
                </ng-container>
                <ng-container *ngFor='let key of column.attributes.listKeys; index as keyIndex;'>
                    <ng-container matColumnDef='{{ getSubcolDef(column, key) }}'>
                        <th  #subheader mat-header-cell *matHeaderCellDef [id]="'subheader-' + column.binding" [ngClass]="{'sort-header': isSortCol(column.binding, key), 'subheader': true, 'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}" (click)='sort(column, key)'>
                            <div class='subheader-text-wrapper'>
                                <span [ngClass]="{'sort-text': isSortCol(column.binding, key), 'subheader-text': true, 'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}" class="cap-20" matTooltip="{{ key }}" style="padding-left:12px;">{{ key }}</span>
                                <!-- <mat-icon *ngIf='showDescArrow(column.binding, key)'>arrow_downward</mat-icon>
                                <mat-icon *ngIf='showAscArrow(column.binding, key)'>arrow_upward</mat-icon> -->
                            </div>
                        </th>
                        <td style="padding-left: 12px" mat-cell *matCellDef='let row, let i = index;' [ngClass]="{'left-shadow': (keyIndex === 0 && isLeftmostCol(column, keyIndex))}"  (click)='onCellClick(column, i)'>
                            <ng-container *ngTemplateOutlet='cellDef; context:{ column: column, row: row, key: key }'></ng-container>
                        </td>
                    </ng-container>
                </ng-container>
            </ng-container>

            <!-- NON-LISTS -->
            <ng-container *ngIf='column.bindingType !== 3'>
                <ng-container *ngIf='column.columnGroup === 0 || column.columnGroup === 4' matColumnDef='{{ getColDef(column) }}'>
                    <th mat-header-cell *matHeaderCellDef class='header left-border left-pad' matTooltip="{{ column.title }}" (click)='onFilter(column, $event)'>
                        <div class='flex-header'>
                            <mat-icon>assignment_ind</mat-icon>
                            <span>{{ column.title }}</span>
                        </div>
                    </th>
                </ng-container>
                <ng-container matColumnDef='{{ getSubcolDef(column) }}'>
                    <th #subheader mat-header-cell *matHeaderCellDef [id]="'subheader-' + column.binding" [ngClass]="{'subheader': true, 'sort-header': isSortCol(column.binding), 'left-shadow': isLeftmostCol(column)}" (click)='onFilter(column, $event)'>
                        <div [ngClass]="{'sort-text': isSortCol(column.binding), 'subheader-text': true}" matTooltip="{{column.title}}" style='padding-left:12px;'>
                            <div *ngIf='column.columnGroup !== 0 && column.columnGroup !== 4' class="cap-20 display-inline-block"> {{ column.title }}</div>
                        </div>
                        <!-- <button mat-icon-button (click)='filter(column)'>
                            <mat-icon>filter_list</mat-icon>
                        </button> -->
                        <!-- <mat-icon *ngIf='showDescArrow(column.binding)'>arrow_downward</mat-icon>
                        <mat-icon *ngIf='showAscArrow(column.binding)'>arrow_upward</mat-icon> -->
                        <div matRipple></div> 
                        
                        <ng-container>
                        </ng-container>
                    </th>
                    <td style="padding-left: 12px" mat-cell *matCellDef='let row, let i = index;' [ngClass]="{'left-shadow': isLeftmostCol(column)}" (click)='onCellClick(row.regId)'>
                        <ng-container *ngTemplateOutlet='cellDef; context:{ column: column, row: row }'></ng-container>
                    </td>
                </ng-container>
            </ng-container>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerColumnsDef"></tr>
        <tr mat-header-row *matHeaderRowDef="columnsDef"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsDef; let i = index;"></tr>
    </table>
    <button (click)='onPage({pageIndex: page + 1, pageSize: pageSize})'>Next</button>
    <button (click)='onPage({pageIndex: page - 1, pageSize: pageSize})'>Prev</button>
    <button (click)='onPage({pageIndex: page, pageSize: 100})'>100</button>
    <!-- <mat-paginator showFirstLastButtons [pageSizeOptions]="[10, 25, 50, 100]" [length]='pageTotal' (page)='onPage($event)'> </mat-paginator> -->
</div>


<!-- FILTER MENU -->
<div #filterMenu [ngStyle]="{'left': filterLeft, 'position': 'fixed', 'top': filterTop}" (click)='killFilterClick($event)'>
    <div *ngIf='activeFilter' class='filter-menu'>
        <div class='mb-15'>Sort by {{ activeFilter.column.title }}</div>
        <div *ngIf='activeFilter.column.bindingType === 0' class='sort-btn-wrapper'>
            <button mat-flat-button class='color-white sort-btn' (click)='sort(activeFilter.column, true)'>
                <span>A </span>
                <mat-icon>arrow_right_alt</mat-icon>
                <span> Z</span>
            </button>
            <button mat-flat-button class='color-white sort-btn' (click)='sort(activeFilter.column, false)'>
                <span>Z </span>
                <mat-icon>arrow_right_alt</mat-icon>
                <span> A</span>
            </button>
        </div>
        <div *ngIf='activeFilter.column.bindingType === 1' class='sort-btn-wrapper'>
            <button mat-flat-button class='color-white sort-btn' (click)='sort(activeFilter.column, false)'>
                <span>True </span>
                <mat-icon>arrow_right_alt</mat-icon>
                <span> False</span>
            </button>
            <button mat-flat-button class='color-white sort-btn' (click)='sort(activeFilter.column, true)'>
                <span>False </span>
                <mat-icon>arrow_right_alt</mat-icon>
                <span> True</span>
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class='mb-15 mt-15'>Filter by {{ activeFilter.column.title }}</div>
        <mat-form-field *ngIf='activeFilter.column.bindingType === 0' appearance="fill" class='full-width-input'>
            <mat-label>
                <mat-icon>search</mat-icon>
                Filter Query
            </mat-label>
            <input matInput [ngModel]='this.activeFilter.value' (keydown)='onFilterKeydown($event)' (ngModelChange)="this.activeFilter.value = $event">
        </mat-form-field>
        <mat-form-field *ngIf='activeFilter.column.bindingType === 1' appearance="fill">
            <mat-label>
                <mat-icon>search</mat-icon>
                <span>Filter Query</span>
            </mat-label>
            <mat-select [ngModel]='this.activeFilter.value' [value]='this.activeFilter.value' (ngModelChange)="this.activeFilter.value = $event" (selectionChange)='filterChanged = true'>
                <mat-option [value]="" (click)='killFilterClick($event)'>No Filter</mat-option>
                <mat-option [value]="true" (click)='killFilterClick($event)'>True</mat-option>
                <mat-option [value]="false" (click)='killFilterClick($event)'>False</mat-option>
            </mat-select>
        </mat-form-field>


        <div class='flex-wrapper mb'>
            Conditionals
            <mat-icon class='ml' matTooltip='Filter results by conditional values'>help</mat-icon>
        </div>
        <div class='flex-wrapper'>
            <mat-checkbox [(ngModel)]='this.activeFilter.allowEmpty' (change)='filterChanged = true' (ngModelChange)="this.activeFilter.allowEmpty = $event">Show Empty Results</mat-checkbox>
            <mat-checkbox class='ml-15' [ngModel]='this.activeFilter.allowNonEmpty' (change)='filterChanged = true' (ngModelChange)="this.activeFilter.allowNonEmpty = $event">Show Non-Empty Results</mat-checkbox>
        </div>
        <button mat-flat-button class='color-white filter-btn' (click)='onFilterSubmit()'>Filter</button>
    </div>
</div>

<ng-template #cellDef let-column="column" let-row='row' let-key='key'>
    <!-- TEXT VALUES -->
    <ng-container *ngIf='column.bindingType === 0'>
        <span *ngIf='row[column.binding] === null' class="opacity-half">N/A</span>
        <span *ngIf='row[column.binding] !== null'>{{ row[column.binding] }}</span>
    </ng-container>

    <!-- BOOLEAN VALUES -->
    <span *ngIf='column.bindingType === 1'>
        <div class='icon-container'>
            <ng-container *ngIf='column.columnGroup !== 3'>
                <mat-icon *ngIf='row[column.binding]' matTooltip="Requested" class="color-blue round">check_circle_outline</mat-icon>
                <mat-icon *ngIf='!row[column.binding]' matTooltip="Not requested" class="color-gray round">remove_circle_outline</mat-icon>
            </ng-container>
            <ng-container *ngIf='column.columnGroup === 3'>
                <ng-container *ngIf='row[column.binding] === true' >
                    <mat-icon class='green' matTooltip="Complete">check_circle</mat-icon>
                    <span class='green-bg check-bg'></span>
                </ng-container>
                <ng-container *ngIf='row[column.binding] === false' >
                    <mat-icon class='orange' matTooltip="Needed">error</mat-icon>
                    <span class='orange-bg check-bg'></span>
                </ng-container>
                <ng-container *ngIf='row[column.binding] === null' >
                    <mat-icon class='gray' matTooltip="Unnecessary">remove_circle</mat-icon>
                    <span class='gray-bg check-bg'></span>
                </ng-container>
            </ng-container>
        </div>
    </span>

    <!-- RADIO VALUES -->
    <!--<span *ngIf='column.bindingType === 2'>{{ row[column.binding] }}</span>-->

    <!-- LIST VALUES -->
    <ng-container *ngIf='column.bindingType === 3'>
        <span *ngIf='row[column.binding] !== null'>
            <div *ngIf='row[column.binding][key]' class='icon-container'>
                <mat-icon class='blue'>check_circle_outline</mat-icon>
                <span class='blue-bg check-bg'></span>
            </div>
            <div *ngIf='!row[column.binding][key] && column.columnGroup !== 3' class='icon-container'>
                <mat-icon class='gray'>remove_circle_outline</mat-icon>
                <span class='gray-bg check-bg'></span>
            </div>
        </span>
        <span *ngIf='row[column.binding] === null'>
            <div class='icon-container'>
                <mat-icon class='gray'>remove_circle_outline</mat-icon>
                <span class='gray-bg check-bg'></span>
            </div>
        </span>
    </ng-container>

    <!-- ENUM VALUES -->
    <ng-container *ngIf='column.bindingType === 4'>
        <span *ngIf='row[column.binding] !== null'>
            <span [ngClass]="enumClass(row[column.binding])">{{ enumText(row[column.binding]) }}</span>
        </span>
    </ng-container>

    <!-- PROGRESS VALUES -->
    <ng-container *ngIf='column.bindingType === 5'>
        <span *ngIf='row[column.binding] !== null' class="progress-container display-inline-block" style="padding-left: 12px">
            <div class='green size-10'>{{ round(row[column.binding]) }}% Complete</div>
            <mat-progress-bar mode='determinate' [value]='row[column.binding]'></mat-progress-bar>
        </span>
    </ng-container>

    <!-- ICON VALUES -->
    <ng-container *ngIf='column.bindingType === 6'>
        <div *ngIf='row[column.binding] !== null' class='icon-container'>
            <mat-icon class='icon'>{{ row[column.binding] }}</mat-icon>
            <span class='gray-bg check-bg'></span>
        </div>
    </ng-container>

    <!-- DATE VALUE -->
    <span *ngIf='column.bindingType === 8'>
        <span>{{ row[column.binding] }}</span>
    </span>
</ng-template>
