@import '../../../../assets/scss/components/tables.scss';

::ng-deep .full-width-input{
    width: 100%;

    .mat-form-field-wrapper{
        width: 100%;
    }

    .mat-input-wrapper{
        width: 100%;
    }
}

::ng-deep .mat-progress-bar-fill::after {
    background-color: #04B44B;
}

::ng-deep .mat-progress-bar-buffer {
    background: #B8F2CF;
}

::ng-deep .mat-input-wrapper {
    width: 50%;
}

.blue {
    color: #0879d0;
    opacity: 0.9;
}

.blue-bg {
    background: #0879d0;
    opacity: 0.1;
}

.check-bg {
    border-radius: 50%;
    height: 35px;
    position: absolute;
    width: 35px !important;
}

.filter-btn{
    background: #0e8bff;
    margin-top: 25px;
    width: 100%;
}

.filter-date-btn{
    font-size: xx-large;
}

::ng-deep .filter-date-input{
    .mat-form-field-infix{
        background: #DCDCDC;
    }
    
    .mat-form-field-subscript-wrapper{
        width: calc(100% - 48px);
    }

    .mat-form-field-underline{
        width: calc(100% - 48px);
    }

    input{
        cursor: default;
    }
}

.filter-date-select{
    margin-right: 20px;
    max-width: 106px;
}

.filter-list{
    display: flex;
    flex-flow: wrap;
}

.filter-option{
    min-width: fit-content;
    width: 50%;
}

.filter-text{
    color: rgba(44, 44, 44, 0.8) !important;
}

.flex-header {
    align-items: flex-start;
    display: flex;
}

.filter-menu {
    background: white;
    box-shadow: 0px 0px 7px 5px;
    padding: 15px;
    width: 400px;
    z-index: 100;
}

.flex-wrapper {
    align-items: center;
    display: flex;
}

.gray {
    color: #AEAEAE;
    opacity: 0.9;
}

.gray-bg {
    background: #C4C4C4;
    border-radius: 50%;
    opacity: 0.1;
}

.green {
    color: #04B44B;
    opacity: 0.9;
}

.green-bg {
    background: rgba(4, 180, 75, 0.1);
}

.orange {
    color: #ED8D4D;
    opacity: 0.9;
}

.orange-bg {
    background: #FF6600;
    opacity: 0.1;
}

.icon {
    font-size: 21px !important;
}

.icon-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    position: relative;
    width: 100%;

    mat-icon {
        text-align: center;
        width: 34px;
        height: 34px;
        line-height: 34px;
    }
}

.icon-container .color-blue { background: rgba(#0879d0, 0.1); }
.icon-container .color-gray { background: rgba(#cbced1, 0.1); }
.icon-container .color-orange { background: rgba(#FF6600, 0.1); }

.left-border{
    border-left: 1px solid #d5d5d5 !important;
}

.left-pad{
    padding-left: 24px;
}

.left-shadow{
    box-shadow: -3px 0 5px rgba(0, 0, 0, 0.05);
}

.paginator{
    left: 0px;
    position: sticky;
}

.sort-btn {
    background: #0e8bff;
    width: 33%;
}

.sort-btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.sort-header {
    background: darkgray;
}

.sort-text {
    text-decoration: underline;
}

.spinner{
    align-items: center;
    background: white;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.spinner-img{
    max-width: 60px;
    position: absolute;
}

.subheader {
    background: rgba(236, 236, 236, 0.5);
    border-bottom: solid 2px #C5C5C5;
    color: black;
    min-width: 35px;
    position: relative;
}

.subheader-text {
    white-space: nowrap;

    th:first-child & {
        padding-left: 0 !important;
    }
}

.subheader-text-wrapper {
    display: flex;
    justify-content: center;
    min-width: 15px;
    text-align: center;
}

.progress-container {
  text-align: center;
  line-height: 1.5;
  width: 87px;
}

.registration-manager {

    tr:hover {
        background-color: #ECF6FF !important;
        cursor: pointer;

        td:first-of-type {
            text-decoration: underline;
        }
    }

    td:first-of-type {
        padding-left: 24px !important;

        .icon-container {
            align-items: left;

            mat-icon {
                font-size: 21px !important;
                color: rgba(#000, 0.4);
            }
        }
    }

    td span {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }
}

.table-container{
    max-width: none;
    overflow: auto;
    position: relative;
}

.table-controls{
    display: flex;
    left: 0px;
    position: sticky;
}

.table-controls-icons{
    align-items: center;
    display: flex;
    margin-left: 24px;
}

.text-center{
    text-align: center;
}

.yellow{
    color: #b89000;
}

.yellow-bg{
    background: #fff0c4;
}