<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <app-text-input [type]="'text'" [label]="'*Key'" [placeholder]="'Begin Typing'" [errorMsg]="'Error!'" [controlName]="'display'" [formGroup]="form" [errorMsgClassList]="'alert-danger'"></app-text-input>

  <app-text-input [type]="'text'" [label]="'Value'" [placeholder]="'Begin Typing'" [errorMsg]="'Error!'" [controlName]="'value'" [formGroup]="form" [errorMsgClassList]="'alert-danger'"></app-text-input>

  <button class="btn-primary btn" type="submit" [disabled]="!form.valid">Save</button>
</form>