<h2 mat-dialog-title>Attribute</h2>

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
	<mat-list>
		<mat-list-item class="mb-1">
			<app-text-input [type]="'text'" [label]="'Key'" [placeholder]="'Label for Key'" [errorMsg]="'Error!'" [controlName]="'display'" [formGroup]="form" [errorMsgClassList]="'alert-danger'"></app-text-input>
		</mat-list-item>

		<mat-list-item class="mb-1">
			<app-text-input [type]="'text'" [label]="'Value'" [placeholder]="'Value of Key'" [errorMsg]="'Error!'" [controlName]="'value'" [formGroup]="form" [errorMsgClassList]="'alert-danger'"></app-text-input>
		</mat-list-item>

		<mat-list-item>
			<button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
		</mat-list-item>
	</mat-list>
</form>