<div mat-dialog-title>
  <h4 class="title">{{objectTitle}} Permissions</h4>
  <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div *ngIf="!objectWithPermissions || objectWithPermissions?.permissions.length === 0">
    {{this.emptyPermissionsString}}
  </div>
  <div *ngFor="let p of objectWithPermissions?.permissions">
    <app-bind-checkbox-input
      [label]="clientName + ': ' + p.name"
      [(value)]="p.active"
    ></app-bind-checkbox-input>
  </div>
</div>

<div mat-dialog-actions>
  <button
    color="primary"
    mat-raised-button
    (click)="saveChanges.emit(true)"
  >
    Update
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>