<h1 mat-dialog-title>Edit {{objectTitle}} Permissions</h1>
<button (click)='saveChanges.emit(false)'>
  <mat-icon>clear</mat-icon>
</button>
<div mat-dialog-content>
  <div class="col-sm-6" *ngFor="let p of objectWithPermissions?.permissions">
    <app-bind-checkbox-input [label]="clientName + ': ' + p.name" [(value)]="p.active"></app-bind-checkbox-input>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button class="btn btn-primary" type="button" (click)='saveChanges.emit(true)'>Confirm</button>
  <button mat-button class="btn btn-text" (click)='saveChanges.emit(false)'>Cancel</button>
</div>