<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">



  <div class="row">
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Name of the Administrator Role'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'name'" [formGroup]="form" [errorMsgClassList]="'alert-danger'" (valueChanged)="adminRoleNameChanged($event)">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*ID of the Administrator Role'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'id'" [formGroup]="form" [errorMsgClassList]="'alert-danger'" [readonly]="true">
      </app-text-input>
    </div>
  </div>


  <app-textarea-input [label]="'*Description of the Role'" [placeholder]="'Begin Typing'" [maxChars]="1000" [rows]="3"
    [errorMsg]="'Error!'" [controlName]="'description'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
  </app-textarea-input>


  <div class="subtitle-rmf-standalone"> Realm-Level Roles</div>


  <div class="row">
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Impersonation'" [controlName]="'impersonation'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Clients'" [controlName]="'manageClients'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Realm Admin'" [controlName]="'realmAdmin'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Realm'" [controlName]="'manageRealm'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Events'" [controlName]="'manageEvents'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Users'" [controlName]="'viewUsers'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Query Groups'" [controlName]="'queryGroups'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Realm'" [controlName]="'viewRealm'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Create Client'" [controlName]="'createClient'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Identity Providers'"
      [controlName]="'manageIdentityProviders'" [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Authorization'"
      [controlName]="'manageAuthorization'" [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Events'" [controlName]="'viewEvents'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Query Clients'" [controlName]="'queryClients'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Query Users'" [controlName]="'queryUsers'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Query Realms'" [controlName]="'queryRealms'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Authorization'"
      [controlName]="'viewAuthorization'" [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Users'" [controlName]="'manageUsers'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Clients'" [controlName]="'viewClients'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Identity Providers'"
      [controlName]="'viewIdentityProviders'" [formGroup]="form">
    </app-checkbox-input>
  </div>



  <div class="subtitle-rmf-standalone"> Account Roles</div>




  <div class="row">
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Account Links'"
      [controlName]="'manageAccountLinks'" [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'Manage Account'" [controlName]="'manageAccount'"
      [formGroup]="form">
    </app-checkbox-input>
    <app-checkbox-input [formGroupClassList]="'col-lg-3 col-md-4 col-sm-6'" [label]="'View Profile'" [controlName]="'viewProfile'"
      [formGroup]="form">
    </app-checkbox-input>
  </div>

  <button class="btn-save btn-bootstrapper" type="submit" [disabled]="!form.valid">Next Step</button>

</form>