<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="table-force text-center">Status</th>
            <th>MicroApp Name</th>
            <th>Version</th>
            <th>Client Name</th>
            <th>Client ID</th>
            <th class="text-center">Widgets</th>
            <th>Uploaded</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let app of apps">
            <td class="text-center">
              <span tooltip="Microapp is Enabled" tooltip-position="top" *ngIf="app.enabled">
                  <span class="bg-success uk-circle-shape"></span>
              </span>
            </td>

            <td>
              <a class="table-edit-hover" [routerLink]="['../edit', app.docId]">
                <div>{{app.appTitle}}</div>
                <div class="icon-primary-color icon-edit display-inline-block"></div>
              </a>
            </td>

            <td>
              {{app.version}}
            </td>

            <td>
              {{app.clientName}}
            </td>  

            <td>
              {{app.clientId}}
            </td>

            <td class="text-center">
              {{app.widgets.length}}
            </td>

            <td>
              {{app.createdAt | date:'yyyy-MM-dd HH:mm'}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>