.border-none {
    border: none !important;
}

.btn-default,
.btn.today-btn {
    background-color: #f0f3f4;
    color: #333;
    font-size: 12px;
    line-height: 1;
    border: 1px solid #d8dadb;
    padding: 5px;
    text-transform: lowercase;
    letter-spacing: 0;
    height: 30px;
    padding: 0 10px;
}

.today-btn {
    margin-left: 15px;
}

.btn-group .btn.active {
    background: #3b4147;
    color: #fff;
}

.arrows-btn {
    padding: 0 15px;
    font-size: 18px;
    line-height: 1;
}

.icon-calendar::before,
.icon-calendar+.title {
    color: #fff !important;
}

.calendar-day {
    vertical-align: top !important;
    height: 125px;
    padding-bottom: 5px;
    width: 14.25%;
}

.selected {
    background-color: #f2f4f5;
}

.table thead th.c-name {
    background-color: transparent;
    border-bottom: none;
    font-size: 13px;
    color: #666;
    font-weight: normal;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0;
}

.table td.calendar-day {
    border-top: none;
    padding: 0;
}

.table td.calendar-day .date {
    font-size: 20px;
    color: #333;
    display: inline-block;
    padding: 5px;
}

.outside .date {
    color: #ccc;
}

.timetitle {
    white-space: nowrap;
    text-align: right;
}

.event {
    color: #fff;
    background-color: #40A8FF;
    border-width: 1px;
    font-size: 12px;
    padding: 10px;
    line-height: .75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1px -1px;
}

.event.all-day {
    border-width: 1px;
}

.event.all-day.begin {}

.event.all-day.end {
    border-right: 1px solid #9acfea;
}

.event.clear {
    background: none;
    border: 1px solid transparent;
}

.table-tight>thead>tr>th,
.table-tight>tbody>tr>th,
.table-tight>tfoot>tr>th,
.table-tight>thead>tr>td,
.table-tight>tbody>tr>td,
.table-tight>tfoot>tr>td {
    padding-left: 0;
    padding-right: 0;
}

.table-tight-vert>thead>tr>th,
.table-tight-vert>tbody>tr>th,
.table-tight-vert>tfoot>tr>th,
.table-tight-vert>thead>tr>td,
.table-tight-vert>tbody>tr>td,
.table-tight-vert>tfoot>tr>td {
    padding-top: 0;
    padding-bottom: 0;
}

.titlage button {
    color: #333;
    font-size: 28px !important;
    text-transform: capitalize;
    padding: 0 5px !important;
}

h4.label {
    text-transform: capitalize;
    color: #666666;
}

.events-groups ul {
    margin-bottom: 30px;
}

.events-groups li {
    padding: 10px 25px;
    position: relative;
}

.events-groups li:before {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 1px;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #40A8FF;
    vertical-align: middle;
}

.events-groups li.red:before {
    background-color: #cc0033;
}

.events-groups li.green:before {
    background-color: #009900;
}

.events-groups li.orange:before {
    background-color: #ff6600;
}