html,
body {
    height: 100%;
}

form {
    margin-top: 20px;
}

table {
    margin-top: 20px;
}

.required {
    color: #f00;
}

.tooltip-inner {
    min-width: 200px;
}

.margin-top {
    margin-top: 20px;
}

.no-margin-top {
    margin-top: 0px !important;
}

table {
    max-width: 100%;
}

td.clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 0;
}

th.w-10 {
    width: 10%;
}

th.w-15 {
    width: 15%;
}

th.w-20 {
    width: 20%;
}

th.w-25 {
    width: 25%;
}

th.w-30 {
    width: 30%;
}

th.w-35 {
    width: 35%;
}

th.w-40 {
    width: 40%;
}


/*********** Loading ***********/

.loading {
    background-color: #f5f5f5;
    border: 1px solid #eee;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 2px 200px 2px 5px;
}


/*********** Feedback ***********/

.feedback-aligner {
    position: fixed;
    top: 15px;
    text-align: center;
    width: 100%;
    height: 0;
    z-index: 100;
}

.feedback-aligner .alert {
    border-radius: 2px;
    border-width: 1px;
    display: inline-block;
    position: relative;
}


/*********** On-Off Switch  ***********/

.onoffswitch {
    -moz-user-select: none;
    height: 26px;
    position: relative;
    width: 62px;
}

.onoffswitch .onoffswitch-checkbox {
    display: none;
}

.onoffswitch .onoffswitch-label {
    border: 1px solid #bbb;
    border-radius: 2px;
    cursor: pointer;
    display: block;
    overflow: hidden;
    width: 62px;
}

.onoffswitch .onoffswitch-inner {
    display: block;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    width: 200%;
}

.onoffswitch .onoffswitch-inner>span {
    -moz-box-sizing: border-box;
    color: white;
    float: left;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    height: 24px;
    line-height: 24px;
    padding: 0;
    width: 50%;
}

.onoffswitch .onoffswitch-switch {
    background-image: linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -o-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -moz-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -webkit-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -ms-linear-gradient(top, #fafafa 0%, #ededed 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa), color-stop(1, 0, #ededed));
    border: 1px solid #aaa;
    border-radius: 2px;
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 39px;
    top: 0;
    transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    width: 23px;
}

.onoffswitch .onoffswitch-inner .onoffswitch-active {
    background-image: linear-gradient(top, #00a9ec 0%, #009bd3 100%);
    background-image: -o-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
    background-image: -moz-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
    background-image: -webkit-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
    background-image: -ms-linear-gradient(top, #00a9ec 0%, #009bd3 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00a9ec), color-stop(1, 0, #009bd3));
    color: #FFFFFF;
    padding-left: 10px;
}

.onoffswitch-checkbox:disabled+.onoffswitch-label .onoffswitch-inner .onoffswitch-active,
.onoffswitch-checkbox:disabled+.onoffswitch-label .onoffswitch-inner .onoffswitch-inactive {
    background-image: none;
    background-color: #e5e5e5;
    color: #9d9fa1;
}

.onoffswitch .onoffswitch-inner .onoffswitch-inactive {
    background: linear-gradient(#fefefe, #e8e8e8) repeat scroll 0 0 transparent;
    color: #4d5258;
    padding-right: 10px;
    text-align: right;
}

.onoffswitch .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
}


/*********** Select 2 ***********/

.select2-container {
    width: 100%;
}

.select2-container-multi .select2-choices .select2-search-field {
    height: 26px;
}


/*********** New Menu ***********/

.sidebar-pf-left {
    background: #292e34;
}

.sidebar-pf .nav-pills>li a i,
.sidebar-pf .nav-pills>li a span {
    color: #72767b;
    display: inline-block;
    margin-right: 10px;
}

.sidebar-pf .nav-pills>li>a {
    color: #dbdada;
    padding: 0px 20px 0 30px!important;
    line-height: 30px;
    border-left-width: 12px;
    border-left-style: solid;
    border-left-color: #292e34;
    margin-left: -6px;
}

.sidebar-pf .nav-pills>li>a:hover {
    background: #393f44;
    border-color: #292e34;
    border-left-color: #393f44;
    color: #fff;
}

.sidebar-pf .nav-pills>li>a:after {
    display: none!important;
}

.sidebar-pf .nav-pills>li.active>a {
    color: #fff;
    background: #393f44!important;
    border-bottom: 1px solid #000!important;
    border-top: 1px solid #000!important;
    border-left-color: #39a5dc!important;
}

.sidebar-pf .nav-pills>li.active a i,
.sidebar-pf .nav-pills>li.active a span {
    color: #39a5dc;
}


/*********** Realm selector ***********/

.realm-selector {
    color: #fff;
    margin: 0 -20px;
    position: relative;
}

.realm-dropmenu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
}

.realm-selector:hover .realm-dropmenu {
    display: block;
}

.realm-add {
    padding: 10px;
}

.realm-selector h2 {
    font-size: 16px;
    line-height: 60px;
    padding: 0 20px;
    margin: 0;
    border-bottom: 1px solid #d5d5d6;
}

.realm-selector h2 i {
    display: inline-block;
    float: right;
    line-height: 60px;
}

.realm-selector ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    max-height: 200px;
    overflow-y: auto;
}

.realm-selector ul li a {
    line-height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid #d5d5d6;
    line-height: 39px;
    display: block;
    font-size: 14px;
}


/*********** Overwrites header defaults ***********/

.navbar-pf {
    border-top: none!important;
}

.navbar-pf .navbar-brand {
    padding: 0;
    height: 56px;
    line-height: 56px;
    background-position: center center;
    background-image: url('../img/keyclok-logo.png');
    background-size: 148px 30px;
    background-repeat: no-repeat;
    width: 148px;
}

.navbar-pf .navbar-utility>li>a {
    padding: 22px 30px 23px 40px!important;
}


/* @media (min-width: 768px) */

.navbar-pf .navbar-utility li.dropdown>.dropdown-toggle .pficon-user {
    top: 22px;
    left: 20px;
}

.clickable {
    cursor: pointer;
}

h1 i {
    color: #999999;
    font-size: 18px;
    margin-left: 10px;
}


/* Action cell */

.kc-action-cell {
    background-color: #eeeeee;
    background-image: linear-gradient(to bottom, #fafafa 0%, #ededed 100%);
    background-repeat: repeat-x;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.kc-action-cell:hover {
    background-color: #eeeeee;
    background-image: none;
}

.kc-sorter span {
    margin-left: 10px;
}


/* Time selector */

.time-selector input {
    display: inline-block;
    width: 120px;
    padding-right: 0;
    margin-right: 0;
}

.time-selector select {
    display: inline-block;
    width: 80px;
    margin-left: 0;
    padding-left: 0;
}

.ace_editor {
    height: 600px;
    width: 100%;
}

.kc-button-input-file input {
    float: left;
    width: 73%;
}

.kc-button-input-file label {
    float: left;
    margin-left: 2%;
    width: 25%;
}

table.kc-authz-table-expanded {
    margin-top: 0px !important;
}

.no-gutter>[class*='col-'] {
    padding-right: 0!important;
    padding-left: 0!important;
}

.password-conceal {
    font-family: 'text-security-disc';
    font-size: 14px;
}

.navbar-pf {
    background: #31373e;
}

.sidebar-pf-left {
    background: #38414a;
}

.nav-tabs>li>a {
    color: #36414b;
}

h1 {
    font-size: 1.6rem;
    font-weight: 600;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    font-weight: 800;
}

body {
    font-family: 'Avenir', 'Helvetica', 'Segoe UI', sans-serif;
    background: #e1e1e1;
}

form {
    margin-top: 0px!important;
    background: white;
    padding: 35px 25px;
}

.nav-tabs-pf {
    background: #ffffff;
    padding: 0px 15px;
    margin-top: 25px;
}

.table {
    background: #fff;
    margin-top: 0px!important;
    padding: 25px!important;
}

.sidebar-pf .nav-pills>li.active>a {
    border-bottom: none!important;
    border-top: none!important;
    background: rgba(34, 34, 34, 0.25882352941176473)!important;
    border-left-color: rgba(255, 255, 255, 0.27)!important;
}

.sidebar-pf .nav-pills>li>a {
    padding: 0px 20px 0 15px!important;
}

.sidebar-pf .nav-pills>li>a {
    line-height: 40px;
}

.realm-selector h2 {
    border-bottom: none;
    background: #38414a;
    background: rgba(255, 255, 255, 0.12);
    border-left: 6px solid #ffffff75;
}

.realm-selector h2:hover {
    background: rgba(0, 0, 0, 0.32)!important;
}

.realm-add .btn-primary {
    background: #ffffff!important;
    color: #38414a;
    padding: 15px 10px;
    border-radius: 4px;
}

.realm-dropmenu {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: 100%;
    right: 0;
    z-index: 999;
    background: #fff;
    width: 400px;
    background: rgb(79, 88, 97) !important;
}

@media(max-width: 768px) {
    .realm-dropmenu {
        top: 0px;
        left: 0%;
        width: 100%;
    }
}

.realm-selector ul li a {
    color: white!important;
}

.table-bordered>thead>tr>th,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>tbody>tr>td,
.table-bordered>tfoot>tr>td {
    padding: 5px 10px;
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #ffffff;
}

#kc-header {
    display: none;
}

.login-pf body {
    background: radial-gradient(ellipse at center, #33414c 20%, #0a0a0a 100%)!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    padding-top: 0px!important;
    height: calc(100vh);
    padding-bottom: 200px;
}

@media (min-width: 768px) {
    .login-pf-page .card-pf {
        background-position: top 35px center;
        background-image: url(http://ultimateknowledge.com/rmf360sb/assets/images/openDashLogo-vertical-dark-bg.png)!important;
        background-repeat: no-repeat;
        background-size: 230px 175px, cover;
        padding: 225px 45px 45px 47px;
        top: 0px;
        border: none!important;
        margin-top: 5%;
    }
    .login-pf-page .login-pf-header {
        margin-bottom: 10px;
    }
    .login-pf-page .login-pf-header h1 {
        font-size: 21px;
    }
}

@media (max-width: 767px) {
    .login-pf-page .card-pf {
        background-position: top 35px center;
        background-image: url(http://ultimateknowledge.com/rmf360sb/assets/images/openDashLogo-vertical-light-bg.png)!important;
        background-repeat: no-repeat;
        background-size: 125px 95px, cover;
        margin: 25px;
        padding: 35px;
    }
    .login-pf-page .login-pf-header {
        margin-top: 105px;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    border-color: #ddd;
}

#kc-form-buttons {
    margin-top: 40px;
}

#kc-form-buttons .btn-primary {
    border-radius: 4px;
    padding: 25px 0px;
    font-weight: 300!important;
}

.btn {
    border: none!important;
}

.btn-primary {
    background: #36414b!important;
}

#kc-register-form,
#kc-form-login {
    padding: 0px!important;
    margin: 0px!important;
}

.navbar-pf .navbar-header {
    border-bottom: none;
    float: none;
}

.navbar-pf .navbar-utility>li>a {
    border-left: none;
}

.sidebar-pf .nav-pills>li>a {
    border-left-color: transparent;
}

.sidebar-pf .nav-pills>li>a:hover {
    border-top: none;
    border-bottom: none;
    background: rgba(34, 34, 34, 0.25882352941176473)!important;
    border-left-color: rgba(255, 255, 255, 0.27)!important;
}

.sidebar-pf .nav-pills>li>a {
    border-bottom: none;
    border-top: none;
}

div.kc-logo-text {
    background-image: url(http://ultimateknowledge.com/rmf360sb/assets/images/openDashLogo-vertical-dark-bg.png)!important;
    background-repeat: no-repeat;
    height: 152px!important;
    width: auto;
    margin: 0 auto;
    background-size: contain;
    background-position: center;
}

a {
    color: #561662;
}

.sidebar-pf .nav-pills>li.active a i,
.sidebar-pf .nav-pills>li.active a span {
    color: #ffffff;
}

.onoffswitch .onoffswitch-inner .onoffswitch-active {
    background-image: -webkit-linear-gradient(top, #36414b 0%, #36414b 100%);
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: #000000;
}

.nav-tabs-pf>li.active>a,
.nav-tabs-pf>li.active>a:active,
.nav-tabs-pf>li.active>a:focus,
.nav-tabs-pf>li.active>a:hover {
    color: #000000;
}

.nav-tabs-pf>li.active>a:before,
.nav-tabs-pf>li.active>a:active:before,
.nav-tabs-pf>li.active>a:focus:before,
.nav-tabs-pf>li.active>a:hover:before {
    background: #000000;
}

.nav-tabs-pf>li.active>a:before {
    background: #000000;
}

.sidebar-pf .nav-pills>li>a .fa {
    color: #d1d0d0;
}

.sidebar-pf .nav-pills>li>a:hover {
    background: #2f2f2f;
    border-left-color: rgba(255, 255, 255, 0.27)!important;
}

@media (min-width: 768px) {
    .sidebar-pf>.nav-category,
    .sidebar-pf>.nav-stacked {
        margin-top: 0px;
    }
}

.sidebar-pf .nav-category+.nav-category {
    margin-top: 0px;
}

.sidebar-pf .nav-category h2 {
    display: none;
}

@media (min-width: 768px) {
    .sidebar-pf-left {
        width: 200px;
        position: fixed;
        left: 0px;
    }
}

@media (min-width: 992px) {
    .col-md-push-2 {
        left: 200px;
        padding: 35px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 992px) {
    .col-md-push-2 {
        margin-bottom: 25px;
    }
}

.navbar-pf .navbar-toggle {
    padding: 0px 20px 20px 20px;
}

.sidebar-pf-left {
    background-position: top 10px center;
    background-image: url(http://ultimateknowledge.com/rmf360sb/assets/images/openDashLogo-vertical-light-bg.png)!important;
    background-repeat: no-repeat;
    background-size: 125px 95px, cover;
    padding-top: 115px;
    top: 0px;
    border: none!important;
    height: 100vh;
}

.navbar-pf .navbar-brand {
    position: inherit;
    top: 0px;
    width: 100%;
    background: #313840;
}

.navbar-pf {
    background: #31373e!important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    background-color: rgba(255, 255, 255, 0.51);
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs>li {
    margin-bottom: -3px;
}

@media (max-width: 768px) {
    .navbar-header {
        background-position: left 15px center;
        background-image: url(http://ultimateknowledge.com/rmf360sb/assets/images/openDashLogo-vertical-light-bg.png)!important;
        background-repeat: no-repeat;
        background-size: 40px 33px, cover;
        padding-top: 15px;
        top: 0px;
        border: none!important;
    }
    .navbar-pf .navbar-brand {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-pf .navbar-utility {
        left: 200px;
    }
    .navbar-pf .navbar-utility .open .dropdown-menu {
        left: 0;
        right: 0;
        box-shadow: none;
        width: 400px;
        border: none;
        padding: 0px;
        background: #36414b;
    }
    .navbar-pf .navbar-utility {
        left: 200px;
    }
}

.dropdown-menu>li>a {
    border-color: transparent;
    border-style: solid;
    border-bottom: 0px solid #ddd;
    padding: 10px 25px;
    color: white;
    border-left: 1px solid white;
    border-top: 1px solid white;
}

.dropdown-menu .divider {
    background-color: #e5e5e5;
    height: 1px;
    margin: 4px 1px;
    overflow: hidden;
    display: none;
}