<button mat-icon-button matTooltip="Close" (click)="closeClicked()" class="float-right closedBtn">
  <mat-icon>clear</mat-icon>
</button>
<h3>Feedback</h3>
<div class="mt-1">
  <bar-rating [(rate)]="rating" [max]="5"></bar-rating>
</div>
<div class="mt-1 mb-2 rounded" style="border: 1px solid #ccc;">
  <textarea class="full-width border-none py-1 px-1" style="margin-bottom: -35px;" placeholder="What's on your mind?" [(ngModel)]="comment"></textarea>
</div>
<div class="mt-1">
    <input type="file" accept="image/*" #feedbackFilePicker />
</div>
<button mat-raised-button color="primary" class="float-right ml-1" (click)="submit()">Submit</button>
<mat-checkbox style="margin-top:3px;" [(ngModel)]="anonymous">Anonymous</mat-checkbox>