<app-page-title
    [pageTitle]="pageTitle"
    [backLink]="['../../']"
    [showMoreMenu]="true"
    [moreMenuItems]="moreMenuOptions"
    (moreMenuClick)="handleMoreMenuClick($event)"
></app-page-title>
<mat-tab-group class="content-body">
    <mat-tab label="User Profile">
        <div class="wrapper">
            <mat-card class='profile-card'>
                <mat-card-title>User Profile</mat-card-title>
                <mat-card-content>
                    <app-edit-basic-info></app-edit-basic-info>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Reset Password</mat-card-title>
                <mat-card-content>
                    <app-edit-password *ngIf="user" [activeUserId]="user.id"></app-edit-password>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-title>Alternative Emails</mat-card-title>
                <mat-card-content>
                    <app-edit-alt-emails></app-edit-alt-emails>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Custom Attributes">
        <div class="wrapper">
            <app-edit-attributes [canUpdate]="canUpdate" [user]="user"></app-edit-attributes>
        </div>
    </mat-tab>
    <mat-tab label="Role Mappings">
        <div class="wrapper">
            <app-edit-roles [canUpdate]="canUpdate" *ngIf="user" [activeUserId]="user.id"></app-edit-roles>
        </div>
    </mat-tab>
    <mat-tab label="MicroApps">
        <div class="wrapper">
            <app-list-apps *ngIf="user" [activeUserId]="user.id"></app-list-apps>
        </div>
    </mat-tab>
    <mat-tab label="Events">
        <div class="wrapper">
            <app-login-events [user]="user.id" *ngIf="user"></app-login-events>
        </div>
    </mat-tab>
</mat-tab-group>