<ng-container *ngIf="init">
  <h2>{{data.title}}</h2>

  <form class="dynamic-form">
    
    <!-- APPLICANT SECTIONS -->
    <div [ngClass]="getApplicantClassList(section)" *ngFor="let section of applicantSections">
      <ng-container *ngIf="!section.hidden">
        <ng-container class="row" *ngFor="let row of section.rows">
          <ng-container class="col" *ngFor="let col of row.columns">
            <app-text-input 
              [formGroup]="form" 
              [controlName]="col.field.binding"
              [label]="col.field.label" 
              *ngIf="col.field.type === 'text'">
            </app-text-input>
            <app-textarea-input 
              [formGroup]="form"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              *ngIf="col.field.type === 'textarea'">
            </app-textarea-input>
            <app-checkbox-input 
              [formGroup]="form"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              *ngIf="col.field.type === 'checkbox'">
            </app-checkbox-input>
            <app-radio-input 
              [formGroup]="form"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              [options]="col.field.attributes.options" 
              *ngIf="col.field.type === 'radio'">
            </app-radio-input>
            <app-select-input
              [formGroup]="form"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              [options]="col.field.attributes.options"
              *ngIf="col.field.type === 'select'"
            ></app-select-input>
            <app-drag-drop-file-picker 
              [title]="col.field.label" 
              (fileChosen)="fileUpload($event)"
              *ngIf="col.field.type === 'file'">
            </app-drag-drop-file-picker>
            <app-signature
              [label]="col.field.label"
              [signed]="(col.field.value ? true : false)"
              [userId]="(col.field.value ? col.field.value : getUserId())"
              [readonly]="displayApprovals || data.status !== 'incomplete'"
              (onSign)="onSign(col.field, $event)"
              *ngIf="col.field.type === 'signature'">
            </app-signature>
            <div class="description" 
              [innerHTML]="col.field.attributes.description" 
              (fileSelected)="fileUpload($event)"
              *ngIf="col.field.type === 'description'">
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <button mat-raised-button type="button" *ngIf="!displayApprovals && data.status === 'incomplete'" (click)="onSubmit(section)">Submit Section</button>
    </div>

    <!-- APPROVER SECTIONS -->
    <div [ngClass]="getApproverClassList(section)" *ngFor="let section of approverSections">
      <ng-container class="row" *ngFor="let row of section.rows">
        <ng-container class="col" *ngFor="let col of row.columns">
          <app-text-input 
            [formGroup]="form" 
            [controlName]="col.field.binding"
            [label]="col.field.label" 
            *ngIf="col.field.type === 'text'">
          </app-text-input>
          <app-textarea-input 
            [formGroup]="form"
            [controlName]="col.field.binding"
            [label]="col.field.label"
            *ngIf="col.field.type === 'textarea'">
          </app-textarea-input>
          <app-checkbox-input 
            [formGroup]="form"
            [controlName]="col.field.binding"
            [label]="col.field.label"
            *ngIf="col.field.type === 'checkbox'">
          </app-checkbox-input>
          <app-radio-input 
            [formGroup]="form" 
            [controlName]="col.field.binding"
            [label]="col.field.label" 
            [options]="col.field.attributes.options" 
            *ngIf="col.field.type === 'radio'">
          </app-radio-input>
          <app-file-input 
            [formGroup]="form" 
            [controlName]="col.field.binding"
            [label]="col.field.label" 
            *ngIf="col.field.type === 'file'">
          </app-file-input>
          <app-signature
            [label]="col.field.label"
            [signed]="(col.field.value ? true : false)"
            [userId]="(col.field.value ? col.field.value : getUserId())"
            [readonly]="!isSectionApprover(section.approval)"
            (onSign)="onSign(col.field, $event)"
            *ngIf="col.field.type === 'signature'">
          </app-signature>
          <div class="description" 
            [innerHTML]="col.field.attributes.description"
            *ngIf="col.field.type === 'description'">
          </div>
        </ng-container>
      </ng-container>

      <button mat-raised-button type="button" [disabled]="!this.displayApprovals || section.approval.status === 'complete'" (click)="onSubmit(section)">Submit Section</button>
    </div>
  </form>
</ng-container>