.dynamic-form {
  overflow: hidden;

  li {
    margin-bottom: 10px;
    line-height: 1.75;
  }

  app-radio-input,
  app-text-input {
    width: 33%;
    display: inline-block;
    margin: 0 40px 0 0;
    vertical-align: top;

    @media screen and (max-width: 1800px) {
      width: 100%;
      margin: 0;
      display: block;
    }
  }

  button,
  app-signature {
    display: block;
    margin: 0 ;
  }

  app-signature {
    width: 100%;
  }
}


.row {
  display: flex;

  > * {
    flex: 1;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.dynamic-form .row > * {
  margin: 15px 50px 0 0;
}

.section {
  // border: 2px solid;
  // padding: 10px;
  margin-bottom: 10px;
}

// .section-live {
//   background: lightyellow;
// }

.section-dead {
  background-color: lightgray;
  padding: 10px 20px;

  .mat-raised-button {
    display: none;
  }
}
