<ng-container *ngIf="init">
  <h2 class="mb-0">{{data.title}}</h2>

    
    <!-- APPLICANT SECTIONS -->
  <div [ngClass]="getApplicantClassList(section)" *ngFor="let section of applicantSections">

    <form class="dynamic-form">
      <ng-container *ngIf="!section.hidden">
        <ng-container class="row" *ngFor="let row of section.rows">
          <ng-container class="col" *ngFor="let col of row.columns">
            <app-text-input 
              [formGroup]="forms.get(section.title)" 
              [controlName]="col.field.binding"
              [label]="col.field.label" 
              *ngIf="col.field.type === 'text'">
            </app-text-input>
            <app-textarea-input 
              [formGroup]="forms.get(section.title)"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              [value]="(col.field.value ? col.field.value : '')"
              *ngIf="col.field.type === 'textarea'">
            </app-textarea-input>
            <app-checkbox-input 
              [formGroup]="forms.get(section.title)"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              *ngIf="col.field.type === 'checkbox'">
            </app-checkbox-input>
            <app-radio-input 
              [formGroup]="forms.get(section.title)"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              [options]="col.field.attributes.options" 
              *ngIf="col.field.type === 'radio'">
            </app-radio-input>
            <app-select-input
              [formGroup]="forms.get(section.title)"
              [controlName]="col.field.binding"
              [label]="col.field.label"
              [options]="col.field.attributes.options"
              *ngIf="col.field.type === 'select'"
            ></app-select-input>
            <div *ngIf="col.field.type === 'file'">
              <div>{{col.field.label}}</div>
              <input type="file" [disabled]="data.status !== 'incomplete' || displayApprovals" (change)="onFileChange($event)" />
            </div>
            <app-signature
              [label]="col.field.label"
              [invalid]="(col.field.invalid ? true : false)"
              [signed]="(col.field.value ? true : false)"
              [userId]="(col.field.value ? col.field.value : getUserId())"
              [readonly]="displayApprovals || data.status !== 'incomplete'"
              (onSign)="onSign(col.field, $event)"
              *ngIf="col.field.type === 'signature'">
            </app-signature>
            <div class="description" 
              [innerHTML]="col.field.attributes.description" 
              (fileSelected)="fileUpload($event)"
              *ngIf="col.field.type === 'description'">
            </div>
          </ng-container>
        </ng-container>
      </ng-container>

      <button mat-raised-button type="button" color="primary" *ngIf="!displayApprovals && data.status === 'incomplete'" (click)="onSubmit(section)">Submit Section</button>
    </form>
  </div>

    <!-- APPROVER SECTIONS -->
  <div [ngClass]="getApproverClassList(section)" *ngFor="let section of approverSections">
    <form class="dynamic-form">
      <ng-container class="row" *ngFor="let row of section.rows">
        <ng-container class="col" *ngFor="let col of row.columns">
          <app-text-input 
            [formGroup]="forms.get(section.title)"
            [controlName]="col.field.binding"
            [label]="col.field.label" 
            *ngIf="col.field.type === 'text'">
          </app-text-input>
          <app-textarea-input 
            [formGroup]="forms.get(section.title)"
            [controlName]="col.field.binding"
            [label]="col.field.label"
            [value]="(col.field.value ? col.field.value : '')"
            *ngIf="col.field.type === 'textarea'">
          </app-textarea-input>
          <app-checkbox-input 
            [formGroup]="forms.get(section.title)"
            [controlName]="col.field.binding"
            [label]="col.field.label"
            *ngIf="col.field.type === 'checkbox'">
          </app-checkbox-input>
          <app-radio-input 
            [formGroup]="forms.get(section.title)"
            [controlName]="col.field.binding"
            [label]="col.field.label" 
            [options]="col.field.attributes.options" 
            *ngIf="col.field.type === 'radio'">
          </app-radio-input>
          <div *ngIf="col.field.type === 'file'">
            <span>{{col.field.label}}</span>
            <input type="file" [disabled]="data.status === 'incomplete' || !displayApprovals" (change)="fileUpload($event)" />
          </div>
          <app-signature
            [label]="col.field.label"
            [signed]="(col.field.value ? true : false)"
            [userId]="(col.field.value ? col.field.value : getUserId())"
            [readonly]="!isSectionApprover(section.approval)"
            (onSign)="onSign(col.field, $event)"
            *ngIf="col.field.type === 'signature'">
          </app-signature>
          <div class="description" 
            [innerHTML]="col.field.attributes.description"
            *ngIf="col.field.type === 'description'">
          </div>
        </ng-container>
      </ng-container>

      <button mat-raised-button type="button" color="primary" [disabled]="!this.displayApprovals || section.approval.status === 'complete'" (click)="onSubmit(section)">Submit Section</button> 
    </form>
  </div>

  <div *ngIf="(data.files && data.files.length > 0) || filesToUpload.length > 0">
    <h2>Attachments</h2>
    <div *ngFor="let file of filesToUpload; index as i">
      {{file.name}}
      <button type="button" (click)="removeFileToUpload(i)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
    <div *ngFor="let file of data.files">
      {{file.originalName}} | {{file.size}} MB
      <a [href]="openFile(file.fileName)" target="_blank">
        <mat-icon>file_copy</mat-icon>
      </a>
    </div>
  </div>
</ng-container>