<div mat-dialog-title>
  <div>
    <h4 class="title">Preview video</h4>
    <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div mat-dialog-content>
  <video [src]="videoSrc" controls #videoEl></video>
  <div class="title">{{ video.name }}</div>
  <div class="description">{{ video.description }}</div>
  <mat-chip-list>
    <mat-chip color="primary" selected *ngFor="let keyword of video.keywords">{{ keyword }}</mat-chip>
  </mat-chip-list>

  <div class="mt-2" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button class="ng-button-white" (click)="edit()">
      <mat-icon>edit</mat-icon> Edit
    </button>
    <button mat-button class="ng-button-white" (click)="fullscreen()">
      <mat-icon>fullscreen</mat-icon> Fullscreen
    </button>
  </div>
</div>