<ul class="nav overflow-y" id="side-menu">
    <li>
        <a class="nav-li left-nav-overflow" [routerLink]="['./dashboard']" routerLinkActive="active">
            <span class="icon-applets vertical-align icon-dashboard"></span>
            <span>Dashboard</span>
        </a>
    </li>
      <li>
        <a class="nav-li left-nav-overflow" [routerLink]="['./role-manager']" routerLinkActive="active">
            <span class="icon-applets vertical-align icon-authentication"></span>
            <span>Role Manager</span>
        </a>
    </li>
    <li>
        <a class="nav-li left-nav-overflow" [routerLink]="['./user-manager']" routerLinkActive="active">
            <span class="icon-applets vertical-align icon-profile"></span>
            <span>User Manager</span>
        </a>
    </li>
    <li>
            <a class="nav-li left-nav-overflow" [routerLink]="['./log-manager']" routerLinkActive="active">
                <span class="icon-applets vertical-align icon-logs"></span>
                <span>Log Manager</span>
            </a>
        </li>
</ul>
