<!-- FLOATING WIDGETS -->
<app-widget-renderer *ngFor="let model of models; index as i" ngResizable ngDraggable rzHandles='all' (rzStop)="resize(i)"
  [ngStyle]="{'z-index': (9000 + model.zoffset)}"
  [ngClass]="{'floating-widget-window': true, 'hidden-widget-window': (model.docked || model.maximized)}" 
  [app]='model.aww.app'
  [widget]='model.aww.widget'
  [state]='model.aww.widget.state'
  [format]='rendererFormatFloating'
  [resize]='model.resize'
  (leftBtnClick)="toggleDocked(i)"
  (middleBtnClick)="maximize(i)"
  (rightBtnClick)="removeWindow(i)"
  (stateChanged)="stateChanged($event, i)"
  (click)="bringToFront(i)"
></app-widget-renderer>

<!-- DOCKED WIDGETS -->
<div class='widget-window-dock'>
  <div *ngFor="let model of models; index as i" class='docked-widget-window'>
    <app-widget-renderer *ngIf="model.docked"
      [minimized]="'true'"
      [app]='model.aww.app'
      [widget]='model.aww.widget'
      [format]='rendererFormatDocked'
      (titleBarClick)="toggleDocked(i)"
      (rightBtnClick)="removeWindow(i)"
    ></app-widget-renderer>
  </div>
</div>

<div *ngFor="let model of models; index as i">
  <app-widget-renderer *ngIf="!model.docked && model.maximized" class="widget-maximized"
    [app]='model.aww.app'
    [widget]='model.aww.widget'
    [format]='rendererFormatMaximized'
    (leftBtnClick)='toggleDocked(i)'
    (middleBtnClick)='restoreMaximized(i)'
    (rightBtnClick)='removeWindow(i)'
    (stateChanged)='stateChanged($event, i)'
  ></app-widget-renderer>
</div>