<h3 class="ng-app-title mb-1">Custom CSS</h3>

<div class="mb-3">
  <label class="ng-mat-label">Enable CSS injection</label>
  <mat-slide-toggle color="primary" [(ngModel)]="config.customCss">
    {{ customCss ? "Yes, inject the following CSS" : "No, don't inject custom CSS" }} 
  </mat-slide-toggle>
</div>

<div class="mb-2 css-text" *ngIf="config.customCss">
  <label class="ng-mat-label">Custom CSS</label>
  <app-html-editor [(html)]="config.customCssText"></app-html-editor>
</div>

<div class="mt-4 mb-4">
  <button mat-raised-button color="primary" [disabled]="!modified" (click)="handleUpdate()">Update appearance</button>
  <button mat-button class="opacity-half ml-1" (click)="reset()">Cancel</button>
</div>