<mat-card *ngIf='data && data.allowPhysicalUpload' class='card-shadow'>
    <h2 class='mb-1'>Manual Submission</h2>
    <div class='mb-1'>
        <small>
            You are allowed to complete this form by uploading a physical copy. Click below to download a copy of the form to fill out manually, or to upload a scanned copy of the form.
            <em>If you upload a physical copy of the form you will lose all digital progress on the form permenantly. You are responsible for securing any necessary approvals on the physical form.</em>
        </small>
    </div>
    <button mat-stroked-button class='blue-btn full-width mb-1' (click)='onDownloadFormCopy()'>
        <mat-icon>vertical_align_bottom</mat-icon>
        Download Form
    </button>
    <button mat-stroked-button class='blue-btn full-width mb-1' (click)='onManualUpload()'>
        <mat-icon>vertical_align_top</mat-icon>
        Upload Hard Copy
    </button>
</mat-card>