<h2>Pending Users</h2>
<app-basic-string-filter 
[labelText]="'Search by Name, Username or Email'" 
[placeholderText]="''" 
(searchUpdated)="searchUpdated($event)">
</app-basic-string-filter>
<table class="table mt-1">
  <thead>
    <tr>
      <!-- <th class="text-center" width="25">Status</th> -->
      <th>User</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | stringFilter:'firstName,lastName,username,email':search">
      <!-- <td class="text-center" width="25">
        <mat-icon matTooltip="User Pending" class="color-yellow">brightness_1</mat-icon>
      </td> -->
      <td>
        <a [routerLink]="['../edit', user.id]" matTooltip="Edit User" style="position:relative;">
          <mat-icon class="avatar">person</mat-icon>
          <div style="position:absolute;bottom:-7px;left:27px;">
            <span *ngIf="user.enabled" matTooltip="User Enabled">
              <mat-icon class="color-green">brightness_1</mat-icon>
            </span>
            <span *ngIf="!user.enabled" matTooltip="User Disabled">
              <mat-icon class="color-red">brightness_1</mat-icon>
            </span>
          </div>
          {{user.username}}
        </a>
      </td>
      <td>
        {{user.firstName}} {{user.lastName}}
      </td>
      <td>
        {{user.email}}
        <span *ngIf="!user.email" class="opacity-half">N/A</span>
      </td>
      <td class="text-right">
        <button mat-icon-button matTooltip="Approve User" (click)="approve(user)" class="color-green">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Deny User" (click)="deny(user)" class="color-red">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="View Attributes" (click)="viewAttributes(user)">
          <mat-icon>work_outline</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>