<div class="table-container">

  <app-listview-toolbar
    [showCreateButton]="false"
    (refresh)="fetchItems()"
    (search)="filterUsers($event)"
  ></app-listview-toolbar>

  <table mat-table [dataSource]="displayItems" class="table" matSort matSortActive="username" matSortDisableClear matSortDirection="asc">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Username</th>
      <td mat-cell *matCellDef="let user">
        <a [routerLink]="['../edit', user.id]" class="position-relative">
          <mat-icon class="avatar status-orange float-left"  style="margin-top:-7px;" matTooltip="User pending">person</mat-icon>
          <span matTooltip="Edit User">{{user.username}}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="fullname">
      <th mat-header-cell *matHeaderCellDef>Full Name</th>
      <td mat-cell *matCellDef="let user">
        <span>{{user.firstName}} {{user.lastName}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">
        <span *ngIf="user.email">{{user.email}}</span>
        <span *ngIf="!user.email" class="opacity-half">N/A</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">&nbsp;</th>
      <td mat-cell *matCellDef="let user" class="text-right">
        <button mat-icon-button matTooltip="Approve User" (click)="approve(user)" class="color-green">
          <mat-icon>check_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Deny User" (click)="deny(user)" class="color-red">
          <mat-icon>remove_circle</mat-icon>
        </button>
        <button mat-icon-button matTooltip="View Attributes" (click)="viewAttributes(user)" *ngIf="attributes">
          <mat-icon>work_outline</mat-icon>
        </button>
        <button mat-icon-button [routerLink]="['../edit', user.id]" matTooltip="Edit User">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row: columns: displayedColumns"></tr>

  </table>

  <mat-paginator [pageSize]="20"></mat-paginator>
</div>