<button mat-icon-button matTooltip="Close" (click)="closeClicked()" class="float-right closedBtn mr-n1 mt-n1 opacity-half">
  <mat-icon>clear</mat-icon>
</button>
<h3 class="mt-1 mb-0">Feedback</h3>
<div class="bar-rating">
  <bar-rating [(rate)]="rating" [max]="5"></bar-rating>
</div>
<div class="mt-1 mb-2 rounded" style="border: 1px solid #ccc; overflow: hidden;">
  <textarea class="full-width border-none py-1 px-1" style="min-height: 40px; resize: none;" placeholder="What's on your mind?" [(ngModel)]="comment"></textarea>
  <input class="my-1 mx-1" type="file" accept="image/*" #feedbackFilePicker />
</div>
<button mat-raised-button color="primary" class="float-right" style="margin-top: -5px;" (click)="submit()">Submit</button>
<mat-checkbox [(ngModel)]="anonymous"><small>Anonymous</small></mat-checkbox>
