// GLOBAL / HELPERS
// Mixins, helpers or utility classes

// Text Treatments
%text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}

.font-weight-normal {
    font-weight: 300 !important;
}


// Positioning
.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.margin-bottom,
.margin-bottom-md {
    margin-bottom: 25px;
}

.margin-bottom-important{
    margin-bottom: 25px!important;
}

.margin-bottom-lg {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 25px;
}

.margin-top-lg {
    margin-top: 30px;
}

.float-right {
    float: right
}


// Breakpoint Rendering
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only,
    #slideout {
        display: none!important;
    }
}

.rmf-modal .remove-usecase{
    display: none;
}

@media (max-width: 768px) {
.img-fluid{
    max-width: 100%!important;
    height: auto!important;
}
}