// GLOBAL / HELPERS
// Mixins, helpers or utility classes

// Text Treatments
%text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;        
}

// remove
%border-silver {
    border: inherit;
}

%border-radius {
    border-radius: .25rem;
}

%border {
    @extend %border-silver;
    @extend %border-radius;
}

.tab-content-rmf,
.white-bg-rmf,
.grey-bg-rmf,
.primary-bg-rmf,
.card-head-extend {
    @extend %border;
    background: $white;
    padding: 25px;
}

.grey-bg-rmf {
    background: $secondary-color;
    color: $white;
}

.grey-bg-rmf p,
.grey-bg-rmf .section-title {
    color: $white;
}

.grey-bg-rmf .card {
    border: none;
}

.card-head-extend {
    background: $light-grey;
    padding: 10px 25px 0 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.font-weight-normal {
    font-weight: 300 !important;
}


// Positioning
.margin-top-none {
    margin-top: 0 !important;
}

.margin-bottom-none {
    margin-bottom: 0 !important;
}

.margin-bottom,
.margin-bottom-md {
    margin-bottom: 25px;
}

.margin-bottom-important {
    margin-bottom: 25px !important;
}

.margin-bottom-lg {
    margin-bottom: 30px;
}

.margin-top {
    margin-top: 25px;
}

.margin-top-lg {
    margin-top: 30px;
}

.float-right {
    float: right;
}

.border-none {
    border: none !important;
}

.form-control-no-margin {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.display-none {
    display: none;
}

.rmf-modal .remove-usecase {
    @extend .display-none;
}


// Breakpoint Rendering
@media (min-width: 768px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {
    .desktop-only,
    #slideout {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .img-fluid {
        max-width: 100% !important;
        height: auto !important;
    }
}

// Colors
.color-bg {
    display: block;
    height: 50px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    text-align: center;
    color: white;
    padding-top: 15px;
}

.dark-color-bg {
    color: $primary;
}

.primary {
    background: $primary-color;
}

.primary-dark {
    background: $primary-dark;
}
.secondary {
    background: $secondary;
}

.light-grey,
.lighter-grey {
    background: $light-grey;
}

.grey {
    background: $grey;
}

.silver {
    background: $silver;
}

.dark-grey {
    background: $dark-grey;
}

.tertiary {
    background: $tertiary;
}

.table-head {
    background: $limed-spruce;
}

.primary {
    background: $primary-color;
}

.primary-alert,
.tooltips {
    background: $primary-alert;
}

.slideout,
.flyout-bg {
    background: $slideout;
}

.flyout-border {
    background: $pale-sky;
}

.bg-warning,
.bg-success {
    text-align: center;
    padding: 25px;
}

.bg-warning {
    background: $warning;
}

.bg-success {
    background: $success;
}

hr {
    border-top: 1px solid $silver;
}

.grey-bg-rmf hr {
    border-top: 1px solid $white;
    opacity: 0.25;
}

// Elements
code {
    font-size: 90%;
    color: $primary-alert;
    background-color: $primary-dark;
    border-radius: 4px;
    max-height: 300px;
    display: block;
    overflow: auto;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 25px 0;
}

.border-top-radius {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}