// GLOBAL / ICON DEFAULTS

.icon {
    cursor: pointer;
    position: relative;
}

.icon.vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.icon-applets {
    font-size: 18px;
    margin: 0 5px 0 10px;
    line-height: 2.7!important;
}

.slideout-icon {
    fill: $white;

    &:before {
        color: $white;
    }
}