// GLOBAL / RESETS
// Styles to reset base theme

html {
    font-size: 13px;
}

body {
    font-family: $font-avenir, $font-helvetica, $font-sans-serif;
    font-weight: $font-weight;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    font-size: 13px;
    color: $body-color;
    overflow-x: hidden;
    background: $limed-spruce;
}

.page-wrapper-bootstrapper {
    background: radial-gradient(ellipse at center, $primary-color 50%, $login-bg-two 100%) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    min-height: fit-content !important;
    max-height: 5000px !important;
    height: calc(100vh) !important;
    padding-top: 15px !important;
    padding-bottom: 200px !important;
    margin-left: 0;
}

#page-wrapper {
    background: $light-grey;
    min-height: calc(100vh) !important;
        border-left: 1px solid $silver;
}

.opendash-card-title-bg,
.filter-bg,
.table-responsive,
.form-control,
span{
    transition: all 0.4s ease;
}

@media (max-width: 768px) {
    #page-wrapper {
        padding: 35px 35px 105px;
    }

    .col-mobile {
        min-width: 100%;
    }
}


@media (min-width: 768px) {
    #page-wrapper {
        margin: 0 0 0 200px;
        padding: 35px 35px 105px;
    }
}
