// GLOBAL / VARIABLES
// Default colors, mixins and styles for system

// Colors
$primary: #36414b !default;
$secondary: #8b9095 !default;

$white: #fff;
$white-full: $white;
$light-grey: #e1e1e1;
$lighter-grey: lighten($light-grey, 5%);
$grey: #555;
$dark-grey: #31373e;
$darker-grey: darken($dark-grey, 5%);

$trans: transparent;
$primary-transparent: rgba($white-full, .08);
$primary-transparent-two: rgba($white-full, .36);
$primary-transparent-three: rgba($white-full, .25);
$primary-transparent-four: rgba($white-full, .18);

$body: #38414a !default;
$footer: darken($light-grey, 5%) !default;
$login-bg-two: #0a0a0a !default;
$lighter-body: lighten($body, 7%) !default;
$light-body: lighten($body, 5%) !default;
$form-field: #fcfcfc !default;
$filter-bg: #eeeeee !default;
$success: #00b675 !default;
$warning: #f7f2c7 !default;
$danger: #ff1919 !default;
$disabled: #868e96 !default;

// Utility
$font-weight: 300 !default;
$border: none !default;


// Fonts
$font-avenir: 'Avenir' !default;
$font-heebo: 'Heebo' !default;
$font-helvetica:'Helvetica' !default;
$font-sans-serif: sans-serif !default;