<h2>Role Mappings</h2>
<table class="table">
  <thead>
    <tr>
      <th class="text-center" width="25">Status</th>
      <th>Role</th>
      <th>Client</th>
      <th>Permissions</th>
      <th *ngIf="canUpdate">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rwp of rwps">
      <td class="text-center" width="25">
          <span *ngIf="rwp.role.active" matTooltip="Role Assigned">
            <mat-icon class="color-green">brightness_1</mat-icon>
          </span>
          <span *ngIf="!rwp.role.active" matTooltip="Role Unassigned">
            <mat-icon class="color-red">brightness_1</mat-icon>
          </span>
      </td>
      <td>     
        <a (click)="showPermissionEditor(rwp)" *ngIf="canUpdate" matTooltip="Edit Role">
          {{rwp.role.name}}
        </a>
      </td>
      <td>
        {{app.clientName}}
      </td>
      <td>
        <mat-chip-list>
          <mat-chip 
          *ngFor="let p of rwp.permissions" 
          class="opacity-half color-white"
          [ngClass]="{'bg-green': p.active, 'bg-red': !p.active}">
          {{p.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
      <td *ngIf="canUpdate" class="text-right">
        <button mat-icon-button (click)="showPermissionEditor(rwp)" matTooltip="Edit Role">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleRole(rwp)" matTooltip="Add Role to App" *ngIf="!rwp.role.active" class="color-green">
          <mat-icon>add_circle</mat-icon>
        </button>
        <button mat-icon-button (click)="toggleRole(rwp)" matTooltip="Remove Role from App" *ngIf="rwp.role.active" class="color-red">
          <mat-icon>remove_circle</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>