<div class="table-container">
  <app-listview-toolbar
    searchPlaceholder="Search roles"
    (search)="search($event)"
    [showCreateButton]="false"
  ></app-listview-toolbar>
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Client</th>
        <th>Status</th>
        <th *ngIf="canUpdate">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let rwp of tableData">
        <tr [class.no-border]="rwp.expanded" (click)="toggleRowOpen(rwp)">
          <td>
            <div class="title">
                <mat-icon class="avatar float-left status-green" style="margin-top:4px;" *ngIf="rwp.role.active" matTooltip="Role attached">people</mat-icon>
                <mat-icon class="avatar float-left status-red" style="margin-top:4px;" *ngIf="!rwp.role.active" matTooltip="Role not attached">people</mat-icon>
                {{ rwp.role.name }}
              <button mat-icon-button *ngIf="!rwp.expanded" matTooltip="Expand permissions">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
              <button mat-icon-button *ngIf="rwp.expanded" matTooltip="Collapse permissions">
                <mat-icon>keyboard_arrow_up</mat-icon>
              </button>
            </div>
          </td>
          <td>
            <div class="faux-chip monospace opacity-twothird mx-0 size-12" *ngIf="app.clientName">{{ app.clientName }}</div>
          </td>
          <td>
            <div class="faux-chip monospace opacity-twothird mx-0 size-12 status-green" *ngIf="rwp.role.active">Active</div>
            <div class="faux-chip monospace opacity-twothird mx-0 size-12 status-red" *ngIf="!rwp.role.active">Disabled</div>
          </td>
          <td *ngIf="canUpdate" class="text-right">
            <button
              mat-icon-button
              (click)="showPermissionEditor(rwp, $event)"
              matTooltip="View Permissions"
            >
              <mat-icon>lock</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="toggleRole(rwp, $event)"
              matTooltip="Add Role to App"
              *ngIf="!rwp.role.active"
              class="color-green"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <button
              mat-icon-button
              (click)="toggleRole(rwp, $event)"
              matTooltip="Remove Role from App"
              *ngIf="rwp.role.active"
              class="color-red"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </td>
        </tr>
        <tr *ngIf="rwp.expanded" class="rolesRow">
          <td colspan="4">
            <mat-chip-list *ngIf="!rwp.loading && rwp.permissions && rwp.permissions.length > 0">
              <mat-chip
                *ngFor="let p of rwp.permissions"
                class="opacity-half color-white"
                [ngClass]="{ 'bg-green': p.active, 'bg-red': !p.active }"
              >
                {{ p.name }}
              </mat-chip>
            </mat-chip-list>
            <span *ngIf="!rwp.loading && (!rwp.permissions || rwp.permissions.length === 0)">
              <div class="p-2">No permissions from this role assigned to app.</div>
            </span>
            <span *ngIf="rwp.loading">Loading ...</span>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>