<app-card-title 
[cardTitle]="'MicroApp Information'"
 [cardSubtitle]="'Edit MicroApp details below.'">
</app-card-title>

<form>
<div class="row">
  <div class="col-lg-12">
      <div class="form-group">
        <div>
          <label class="control-label">*Title of the MicroApp</label>
          <label class="control-label control-label-description"></label>
        </div>
        <input class="form-control" type="text" placeholder="Begin Typing" maxlength="250">
      </div>
      <div class="form-group">
        <div>
          <label class="control-label">*Icon Class</label>
          <label class="control-label control-label-description"></label>
        </div>
        <input class="form-control" type="text" placeholder="Begin Typing" maxlength="250">
      </div>
  </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <button class="btn-save" type="submit">Save</button>
    </div>
  </div>
</form>
