$header-bg: #0063BF;
$header-color: #fff;

.header-new {
  background: $header-bg;
  color: $header-color;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
}

.breadcrumbs a {
  color: #fff;
  opacity: 0.6;
  line-height: 36px;

  &[href] {
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: "/";
      display: inline-block;
      margin-left: 12px;
    }

    &:hover {
      opacity: 1;

      &::after {
        opacity: 0.6;
      }
    }
  }
}

.title-row {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 12px;

  h1 {
    margin: 0 !important;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
  }
}