a {
  color: #fff;
  opacity: 0.6;
  line-height: 36px;

  &[href] {
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: "/";
      display: inline-block;
      margin-left: 12px;
    }

    &:hover {
      opacity: 1;

      &::after {
        opacity: 0.6;
      }
    }
  }
}