.loadingProgress {
    z-index: 999999999999;
    box-sizing: border-box;
    padding: 15% 25%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #222f3e !important;
    text-align: center;

    .contents {
        margin-left: 50px; // align with ajax progress position

        img {
            max-width: 240px;
            padding-left: 30px;
        }

        mat-spinner {
            margin: 0 auto;
            text-align: center;
        }
    }
}
