<app-page-title
    [pageTitle]="'Edit workflow'"
    [backLink]="['../../']"
></app-page-title>

<div class="wrapper">
    <div class="table-container">
        <div class="title">Workflow Details</div>

        <div fxLayout="row" fxLayoutGap="50px">
            <div fxFlex="33%">
                <mat-form-field class="ng-text-field">
                    <input
                        matInput
                        placeholder="Workflow name"
                        value="PCTE General User Registration"
                        disabled
                    />
                </mat-form-field>
                <div>
                    <div class="label">Autoapprove</div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-checkbox color="primary">Enabled</mat-checkbox>
                        <mat-icon class="ml-1 opacity-half mat-icon-small">help</mat-icon>
                    </div>
                </div>
            </div>
            <div fxFlex>
                <div class="label">Autoassign roles</div>
                <div gdColumns="1fr 1fr" gdGap="10px 20px">
                    <app-role-block name="White Cell" [active]="true"></app-role-block>
                    <app-role-block name="User Administrator"></app-role-block>
                    <app-role-block name="Administrator"></app-role-block>
                </div>
            </div>
        </div>

        <div class="mt-3">
            <button mat-button class="opacity-half mr-1">Cancel</button>
            <button mat-raised-button color="primary">Update roles</button>
        </div>
    </div>
</div>
