<div mat-dialog-title>
    <h4 class="title">Assign Roles</h4>
    <button mat-icon-button mat-dialog-close class="close-button">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <div class="search-bar-container">
        <app-listview-toolbar
            (search)="updateSearch($event)"
            searchPlaceholder="Search roles by name"
            [showCreateButton]="false"
            [showRefreshButton]="false"
            [isDetached]="true"
        ></app-listview-toolbar>
    </div>
    <ng-container *ngIf="roles | stringFilter: 'name':search as result">
        <div gdColumns="1fr 1fr" gdAlignRows="center" gdGap="10px">
            <ng-container
                *ngFor="
                    let role of assignedRoles | stringFilter: 'name':search;
                    let i = index
                "
            >
                <div
                    (mouseenter)="getCurrentHoveredRole(role.id)"
                    (mouseleave)="getCurrentHoveredRole(null)"
                    (click)="updateSelectedStatus(role)"
                    [ngClass]="role.active ? 'role-active' : 'not-active'"
                >
                    <p>
                        {{ role.name }}
                    </p>
                    <mat-icon
                        matTooltip="Remove role"
                        matTooltipPosition="above"
                        *ngIf="role.active"
                        [ngClass]="
                            currentHoveredRole === role.id ? 'remove' : 'active'
                        "
                        >{{
                            currentHoveredRole === role.id
                                ? "cancel"
                                : "check_circle"
                        }}</mat-icon
                    >
                </div>
            </ng-container>

            <ng-container
                *ngFor="
                    let role of unassignedRoles | stringFilter: 'name':search;
                    let i = index
                "
            >
                <div
                    (mouseenter)="getCurrentHoveredRole(role.id)"
                    (mouseleave)="getCurrentHoveredRole(null)"
                    (click)="updateSelectedStatus(role, i)"
                    [ngClass]="role.active ? 'role-active' : 'not-active'"
                >
                    <p>
                        {{ role.name }}
                    </p>
                    <mat-icon
                        matTooltip="Assign role"
                        matTooltipPosition="above"
                        *ngIf="currentHoveredRole === role.id"
                        class="add"
                        >add_circle</mat-icon
                    >
                </div>
            </ng-container>
        </div>
        <div class="no-results" *ngIf="result.length === 0">
            <div class="icons">
                <mat-icon class="error">error</mat-icon>
                <mat-icon class="people">people</mat-icon>
            </div>
            <p>
                No roles found
            </p>
        </div>
    </ng-container>
</div>

<!--Get rid of this later-->
<!-- <ng-container *ngFor="let item of rolesAssigned; let i = index">
    <p *ngFor="let subItem of item">
        {{ selectedUsers[i].firstName }}: {{ subItem.name }}
    </p>
</ng-container> -->

<div mat-dialog-actions>
    <button
        color="primary"
        class="primary-button"
        mat-raised-button
        (click)="assign()"
        [disabled]="!rolesSelected"
    >
        Assign
    </button>
    <button mat-button mat-dialog-close class="opacity-half">Cancel</button>
</div>
