.search-bar-container {
  margin-bottom: 15px;
}
.search-focused {
  margin-bottom: 15px;
}

.not-active {
  min-width: 300px;
  background-color: #d1d1d1;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 40px;
}

.not-active:hover {
  background-color: #c7dff5;
}

.role-active {
  box-shadow: 0 0 5px rgba(#000, 0.2);
  min-width: 300px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  height: 40px;
  p {
    font-weight: 500 !important;
  }
}

p {
  margin: 0px;
  padding: 12px 15px;
  font-size: 14px;
}

mat-icon {
  padding-right: 12px;
}
.add {
  color: #0e8bff;
}
.active {
  color: #159959;
}
.remove {
  color: #c60505;
}

.mat-dialog-content {
  width: 670px !important;
  min-height: 690px !important;
}
