$green: #00b675;
$big-stone: #0f1c2d!important;
$big-stone-transparent: rgba(15, 28, 45, 0.745)!important;
$ebony-clay: #222f3e!important;
$white-dark: #ffffff!important;
$firefly: #081525!important;
$dodger: #63d1ff!important;
$vista: #1286b6!important;
$grey: #d1d1d1!important;
$zodiak: #132031!important;
$border: #58626e!important;

 @import "../_global/variables";


 .dark #page-wrapper,
 .dark .list-group-item,
 .dark tbody th,
 .dark tbody tr:nth-child(odd),
 .dark .list-group-item:nth-child(odd),
 .dark .dropdown-menu
 {
     background:  $big-stone;
 }

.dark tbody td,
.dark .user-block,{
    background: transparent!important;
}

.dark tbody tr:nth-child(even),
.dark .list-group-item:nth-child(even) {
    background: $big-stone-transparent;
}

 .dark .tab-content-rmf, 
 .dark .white-bg-rmf, 
 .dark .primary-bg-rmf, 
 .dark .card-head-extend,
 .dark .table,
 .dark .nav-pills > li.active > a, 
 .dark .nav-pills > li.active > a:focus, 
 .dark .nav-pills > li.active > a:hover,
 .dark .btn-filter,
 .dark .chat,
 .dark .card
  {
    background: $ebony-clay;
}

.dark .table thead th,
.dark body,
.dark .section-title,
.dark p,
.dark .list-group-item,
.dark .widget-head {
    color: $white-dark;
}

.dark .list-group-item.active,
.dark thead th,
.dark thead td,
.dark .chat-message .form-control,
.dark .chat-message,
.dark .grey-bg-rmf, 
.dark .filter-bg,
.dark .widget-head,
.dark .modal-white-bg,
.dark .widget-float-body,
.dark gridster .card
 {
    background: $firefly;
}

.dark .user-block,
.dark .image,
.dark .text,
.dark #slideout_innerWidgets, 
.dark #slideout_innerNotifications, 
.dark #slideout_innerCalendar, 
.dark #slideout_innerHelp, 
.dark #slideout_innerFeedback,
.dark .overflow-y,
.dark #menu,
.dark .menu-expand .user-dock,
.dark .menu-expand .widgets-dock,
.dark .menu-expand .widgets-dock,
.dark .btn-save, 
.dark .btn-save:active, 
.dark .btn-save:focus, 
.dark .btn-save.disabled, 
.dark .btn-save:hover,
.dark .list-group-item.active, 
.dark .list-group-item.active:focus, 
.dark .list-group-item.active:hover,
.dark .list-group-item,
.dark .table>tbody>tr>td, 
.dark .table>tbody>tr>th, 
.dark .table>tfoot>tr>td, 
.dark .table>tfoot>tr>th, 
.dark .table>thead>tr>td, 
.dark .table>thead>tr>th,
.dark .tab-content .form-control,
.dark .inputGroup label,
.dark .chat,
.dark .chat-message .form-control {
    border-color: transparent!important;
}

.dark .table-edit-hover div:first-child,
.dark a {
    color: $dodger;
}

.dark .nav > li > a.active,
.dark .dropdown-menu > li:hover {
    background: $vista;
}

.dark .dropdown-menu > div > li:hover {
    background: $vista;
}

.dark .user-block-outline,
.dark .dropdown-menu{
    border: 1px solid #414b55!important;
}

.dark .widget-head{
    border-bottom: 1px solid #414b55!important;
}

.dark .dropdown-menu .divider{
    background: #414b55!important;
}

.dark .table tr td, 
.dark .table td span, 
.dark .table td a,
.dark .tab-content .form-control,
.dark .chat-message .form-control {
    color: $grey;
}

.dark p, 
.dark div, 
.dark span,
.dark label{
    color: $white-dark;
}

.dark .tab-content .form-control,
.dark .inputGroup label,
.dark .inputGroup label:before,
{
    background: $zodiak;
}

.dark .chat-message .btn-primary{
    height: 50px;
}

.dark .subtitle-rmf, 
.dark .subtitle-rmf-standalone, 
.dark .card-title-with-btn, 
.dark .subtitle-rmf-no-border,
.dark .chat-history{
    border-color: $border;
}

.dark gridster .gridster-column, 
.dark gridster .gridster-row {
    background: rgba(112, 165, 213, 0.05)!important;
}

.dark .widget-float-body {
    opacity: .2;
    filter: none;
}

.dark .slideout-icon:before {
    color: $white-dark;
}

.dark .card h3 {
    background: #304358;
}