$green-dark: #00b675;
 $dark-one: #0f1c2d;
 $dark-white: #bbbbbb!important;
 $dark-white-two: #202938!important;
 $dark-two: #162333;
 $dark-three: #1b2027;
 $tablehead: #142338!important;
 $dark-page-wrapper: #0d1623!important;
 $table-alternate:#141e2b!important;
 $white-transparent: #262e39;
 $btn-secondary: #161d29!important;
 $modal: rgba(2, 17, 33, 0.8)!important;
 $blue: #888da8!important;
 @import "../_global/variables";


.dark #menu,
.dark .widget-head,
.dark #page-wrapper,
.dark .table .table, .dark .filter-bg,
.dark .table tbody td, 
.dark .table tbody th,
.dark .inputGroup label:before, 
.dark .table-striped > tbody > tr:nth-of-type(odd), 
.dark .navbar-static-top, 
.dark .menu-expand .user-dock, 
.dark .user-block, 
.dark #slideout_innerWidgets, 
.dark #slideout_innerNotifications, 
.dark #slideout_innerCalendar, 
.dark #slideout_innerHelp, 
.dark #slideout_innerFeedback, 
.dark .widget-slideout-styles, 
.dark .image, 
.dark .card, 
.dark .list-group-item{
    background: $dark-page-wrapper;
}

.dark .widget-head,
.dark .image,
.dark #menu,
.dark .menu-expand .user-dock, 
.dark #slideout_innerWidgets, 
.dark #slideout_innerNotifications, 
.dark #slideout_innerCalendar, 
.dark #slideout_innerHelp, 
.dark #slideout_innerFeedback, 
.dark .menu-expand 
.dark .widgets-dock,
.dark .menu-expand .widgets-dock,
.dark .overflow-y,
.dark .table > tbody > tr > td, 
.dark .table > tbody > tr > th, 
.dark .table > tfoot > tr > td, 
.dark .table > tfoot > tr > th, 
.dark .table > thead > tr > th, 
.dark .table > tbody > tr > th, 
.dark .table > tbody > tr > tbody, 
.dark .table td, 
.dark .table th,
.dark .subtitle-rmf,
.dark .list-group-item,
.dark .user-block,
.dark .upload-bg{
    border-color: $white-transparent!important;
}

.dark .nav-pills,
.dark .text{
     background: transparent!important;
}
.dark .modal-white-bg, 
.dark .tab-content-rmf, 
.dark .white-bg-rmf, 
.dark .nav-tabs .nav-item.show .nav-link, 
.dark .nav-tabs .nav-link.active, 
.dark .modal-header, 
.dark .rmf-search-btn,
 .dark .navbar-light .navbar-nav .active>.nav-link, 
 .dark .navbar-light .navbar-nav .nav-link.active, 
 .dark .navbar-light .navbar-nav .nav-link.show, 
 .dark .navbar-light .navbar-nav .show>.nav-link, 
 .dark .vertical-tab-content, 
 .dark .nav-pills .nav-link.active,
 .dark .nav-pills .show>.nav-link, 
 .dark body, .dark .content-wrapper, 
 .dark .emf-container, .dark .nav-pills > li.active > a,
 .dark .nav-pills > li.active > a:focus, 
 .dark .nav-pills > li.active > a:hover, .dark .page-title-bg, 
 .dark .nav-pills .nav-link.active, 
 .dark .nav-pills .show>.nav-link,
 .dark .dropdown-menu  {
     background: $dark-one!important;
}

 .dark .grey-bg-rmf, 
 .dark .inputGroup label{
     background: $dark-two;
}

.dark .btn-secondary, 
.dark .btn-secondary:active, 
.dark .btn-secondary:focus, 
.dark .btn-secondary.disabled, 
.dark .btn-secondary:hover, 
.dark .btn-secondary-rmf, 
.dark .btn-secondary-rmf:active, 
.dark .btn-secondary-rmf:focus, 
.dark .btn-secondary-rmf.disabled, 
.dark .btn-secondary-rmf:hover, 
.dark table td, .dark .table th, 
.dark .vertical-tab-content, 
.dark .tab-content-rmf, 
.dark .white-bg-rmf, 
.dark .grey-bg-rmf, 
.dark .primary-bg-rmf, 
.dark .inputGroup label, 
.dark .page-title-bg, 
.dark .btn-primary, 
.dark .btn-primary:active, 
.dark .btn-primary:focus, 
.dark .btn-primary.disabled, 
.dark .btn-primary:hover,
.dark .btn-primary-rmf, 
.dark .btn-primary-rmf:active, 
.dark .btn-primary-rmf:focus,
.dark .btn-primary-rmf.disabled, 
.dark .btn-primary-rmf:hover, 
.dark input[type=number]:focus textarea:focus, 
.dark input[type=text]:focus, 
.dark select:focus, 
.dark .card, 
.dark .form-control, 
.dark .rmf-search, 
.dark .rmf-search-btn, 
.dark .filter-bg, 
.dark .nav-pills > li.active > a, 
.dark .nav-pills > li.active > a:focus, 
.dark .nav-pills > li.active > a:hover, 
.dark .tab-content .form-control, 
.dark .nav-tabs .nav-item.show .nav-link, 
.dark .nav-tabs .nav-link.active, 
.dark .table thead th, 
.dark .nav-tabs, 
.dark .permissions, 
.dark .nav-pills .nav-link, 
.dark .nav-tabs, 
.dark .permissions, 
.dark .nav-pills .nav-link, 
.dark .page-title-bg, 
.dark #page-wrapper, 
.dark .navbar-static-top, 
.dark .filter-bg, 
.dark .table td, 
.dark .table th, 
.dark .vertical-tab-content, 
.dark .table td, 
.dark .table th, 
.dark .vertical-tab-content, 
.dark .grey-bg-rmf,
.dark .chat{
     border-color: transparent!important;
}

.dark .rmf-modal-title,
.dark .table > tbody > tr > td, 
.dark .table > tbody > tr > th, 
.dark .table > tfoot > tr > td, 
.dark .table > tfoot > tr > th, 
.dark .table > thead > tr > td, 
.dark .table > thead > tr > th, 
.dark .table > tbody > tr > th, 
.dark .table > tbody > tr > tbody, 
.dark .table td, 
.dark .table th,
.dark .text,
.dark .dropdown-menu,
.dark .chat-history ul li,
.dark .chat-message,
.dark .chat-history{
    border-color: $white-transparent!important
}

.dark .icon-white-color:before,
.dark .message{
    color: $dark-white;
}

.dark .chat .chat-history .other-message:after,
.dark .chat .chat-history .my-message:after{
    border-bottom-color: $tablehead;
}

.dark .chat .chat-history .other-message,
.dark .chat .chat-history .my-message{
    background: $tablehead;
}

.dark .chat,
.dark .chat-message{
    background: $dark-one!important;
}

 .dark .nav-pills .nav-link.active, .dark .nav-pills .show>.nav-link {
     color: $white-full;
}
 
.dark .table-responsive thead tr td,
.dark .table-responsive thead tr th{
    background-color: $tablehead;
}

.dark .rmf-modal-title,
.dark h1, 
.dark h2, 
.dark h3, 
.dark h4, 
.dark h5, 
.dark h6{
    color: $blue;
}



.dark .subtitle-rmf, 
.dark .nav-tabs, 
.dark .permissions, 
.dark .nav-pills .nav-link, 
.dark .nav-tabs, 
.dark .permissions, 
.dark .nav-pills .nav-link, 
.dark button, 
.dark button .icon-wrapper svg, 
.dark .btn-save-rmf, 
.dark .btn-save-rmf.disabled, 
.dark .btn-save-rmf:disabled, 
.dark .btn-save-rmf:hover, 
.dark .btn-delete-emf, 
.dark #active-application #active-application-icon .icon svg, 
.dark #active-application #active-application-title,
.dark .role-title, 
.dark .box .select-role, 
.dark #slideout_inner span,
.dark .grey-bg-rmf,
 .dark .table td,
 .dark .control-label,
 .dark .form-control, 
 .dark input[type=number]:focus textarea:focus, 
 .dark input[type=text]:focus, 
 .dark select:focus {
     color: $dark-white;
}
 .dark .slideout-icon, .dark .slideout-svg {
     fill: $dark-white;
}

 .dark .btn-primary-emf, .dark .btn-primary-emf.disabled, .dark .btn-primary-emf:disabled, .dark .btn-primary-emf:hover {
     color: $dark-grey!important;
}
 .dark .inputGroup label:hover,
 .dark .btn-cancel-rmf,
 .dark .dropdown-menu .divider{
     background: $white-transparent!important;
}

 .dark .btn-secondary, 
 .dark .btn-secondary:active, 
 .dark .btn-secondary:focus, 
 .dark .btn-secondary.disabled, 
 .dark .btn-secondary:hover, 
 .dark .btn-secondary-rmf, 
 .dark .btn-secondary-rmf:active, 
 .dark .btn-secondary-rmf:focus, 
 .dark .btn-secondary-rmf.disabled, 
 .dark .btn-secondary-rmf:hover{
     background: $btn-secondary;
}
 .dark .box .select-role,
.dark .dropdown-item,
.dark input:disabled::-webkit-file-upload-button, 
.dark button:disabled, 
.dark select:disabled, 
.dark optgroup:disabled,
.dark option:disabled, 
.dark select[disabled]>option, 
.dark .btn-green-rmf, 
.dark .btn-green-rmf.disabled, 
.dark .btn-green-rmf:disabled, 
.dark .btn-green-rmf:hover, 
.dark #active-application #active-application-title span,
.dark #slideout_inner span, 
.dark .role-title, .dark label, 
.dark .page-title-rmf, 
.dark .navbar-light 
.navbar-nav .nav-link, 
.dark .navbar-light .navbar-brand, 
.dark .btn-save-rmf, 
.dark .btn-save-rmf.disabled, 
.dark .btn-save-rmf:disabled, 
.dark .btn-save-rmf:hover, 
.dark .btn-delete-emf, 
.dark .nav-tabs .nav-item.show .nav-link, 
.dark .nav-tabs .nav-link.active, 
.dark .permissions-label, 
.dark .nav-pills .nav-link.active, 
.dark .nav-pills .show>.nav-link
.dark .table .table, 
.dark .table thead th, 
.dark .navbar-light .navbar-nav .active>.nav-link, 
.dark .navbar-light .navbar-nav .nav-link.active, 
.dark .navbar-light .navbar-nav .nav-link.show, 
.dark .navbar-light .navbar-nav .show>.nav-link {
     color: $dark-white;
}

 .dark .table .table {
     background-color: rgba(27, 32, 36, 0.31);
}

 .dark .rmf-search-btn {
     background: $white!important;
     color: #495057;
     border: none;
}
 .dark .form-control, 
 .dark input[type=number]:focus textarea:focus, 
 .dark input[type=text]:focus, 
 .dark select:focus {
     background-color: $dark-white-two;
     border: none!important;
}
 .dark .inputGroup label{
     border: none!important;
}
 .dark .form-control:disabled, 
 .dark .form-control[readonly] {
     opacity: .4;
}
 .dark .dropdown-menu {
     background-color: $dark-grey;
}
 .dark .dropdown-item {
     border: none!important;
}
 .dark .bg-light {
     background-color: #272e34!important;
}
 .dark .btn-green-rmf, 
 .dark .btn-green-rmf.disabled, 
 .dark .btn-green-rmf:disabled, 
 .dark .btn-green-rmf:hover {
     background-color: $green-dark;
     color: $white!important;
}
 .dark .filter-title {
     color: $white-full;
}
 .dark .footer-bg {
     background: rgba(0, 0, 0, 0.39);
     color: rgba(255, 255, 255, 0.37);
}
 .dark .inputGroup {
     background-color: transparent;
     label {
         &:after {
             background-color: $dark-white;
        }
    }
     .dark input:checked~label {
         color: $dark-white;
         &:after {
             background-color: $success;
             border: none!important;
        }
    }
}
 .dark .inputGroup input:checked ~ label:after {
     background-color: #00b675!important;
}
 .dark .nav>li>a:focus, .dark .nav>li>a:hover {
     background-color: $dark-two;
}
 .dark .dashboard-icons:before{
     color: $dark-white;
}

.dark .modalDialog{
    background: $modal;
}
 
.dark .chat-message .btn-secondary{
    background: $white-transparent!important;
}
