$white: rgba(255, 255, 255, 0.06)!important;
$warning-dark: rgba(255, 235, 59, 0.09)!important;
$green-dark: #00b675;
@import "defaults.scss";
@import "breadcrumbs.scss";
@import "buttons.scss";
@import "cards.scss";
@import "footer.scss";
@import "forms.scss";
@import "icon-defaults.scss";
@import "modals.scss";
@import "navigation.scss";
@import "slideout.scss";
@import "tables.scss";
@import "tabs.scss";
@import "tooltips.scss";
@import "ui-guide.scss";
@import "structure.scss";
@import "fonts.scss";
.dark {
    .tab-content-rmf,
    .white-bg-rmf,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active,
    .modal-header,
    .rmf-search-btn,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link,
    .vertical-tab-content,
    .nav-pills {
        background: $white;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background: $white;
        color: $white-full;
    }
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        border-color: $white;
    }
    button,
    button .icon-wrapper svg,
    .btn-save-rmf,
    .btn-save-rmf.disabled,
    .btn-save-rmf:disabled,
    .btn-save-rmf:hover,
    .btn-delete-emf,
    #active-application #active-application-icon .icon svg,
    #active-application #active-application-title,
    .role-title,
    .box .select-role,
    #slideout_inner span {
        color: $white;
    }
    .slideout-icon,
    .slideout-svg {
        fill: $white;
    }
    body,
    .content-wrapper,
    .emf-container,
    .table thead th {
        background: #1c2024!important;
    }
    #page-wrapper,
    .navbar-static-top {
        border: none;
    }
    #page-wrapper {
        background: transparent;
    }
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        background: $dark-grey;
    }
    .mobile-logo,
    .card-ui-elements .card-text {
        color: $secondary!important;
    }
    .btn-primary-emf,
    .btn-primary-emf.disabled,
    .btn-primary-emf:disabled,
    .btn-primary-emf:hover {
        color: $dark-grey!important;
    }
    .box .select-role,
    .dropdown-item,
    input:disabled::-webkit-file-upload-button,
    button:disabled,
    select:disabled,
    optgroup:disabled,
    option:disabled,
    select[disabled]>option,
    .btn-green-rmf,
    .btn-green-rmf.disabled,
    .btn-green-rmf:disabled,
    .btn-green-rmf:hover,
    #active-application #active-application-title span,
    #slideout_inner span,
    .role-title,
    label,
    .page-title-rmf,
    .navbar-light .navbar-nav .nav-link,
    .navbar-light .navbar-brand,
    .btn-save-rmf,
    .btn-save-rmf.disabled,
    .btn-save-rmf:disabled,
    .btn-save-rmf:hover,
    .btn-delete-emf,
    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active,
    .permissions-label,
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .table .table,
    .table thead th,
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link.active,
    .navbar-light .navbar-nav .nav-link.show,
    .navbar-light .navbar-nav .show>.nav-link {
        color: $white-full;
    }
    .table .table {
        background-color: rgba(27, 32, 36, 0.72);
    }
    .table td,
    .table th,
    .vertical-tab-content {
        border: 1px solid $white;
    }
    .table thead th {
        border-bottom: 1px solid $white;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        background: $white;
    }
    .subtitle-rmf,
    .nav-tabs,
    .permissions,
    .nav-pills .nav-link {
        border-bottom: 1px solid $white;
    }
    .rmf-search-btn {
        background: $white!important;
        color: #495057;
        border: none;
    }
    .form-control,
    input[type=number]:focus textarea:focus,
    input[type=text]:focus,
    select:focus {
        background-color: $white;
        border: 1px solid $white;
        color: $white-full;
    }
    .filter-bg {
        background: transparent!important;
    }
    .modal-content {
        background-color: $dark-grey;
        border: transparent;
    }
    .modal-backdrop {
        background-color: #000000;
    }
    .modal-footer {
        border-top: 1px solid $white;
    }
    .form-control:disabled,
    .form-control[readonly] {
        opacity: .4;
    }
    .dropdown-menu {
        background-color: $dark-grey;
    }
    .dropdown-item {
        border-bottom: 1px solid $white;
    }
    /*UI Elements */
    .card-ui-elements {
        background: $white;
    }
    xmp {
        background: $body-color
        color: $white-full;
    }
    .card-ui-elements .card-text-color-header {
        color: $white-full;
    }
    .card-ui-elements .card-text {
        color: $white-full;
    }
    p,
    .atom-fonts {
        color: $white-full;
    }
    .bg-warning-rmf {
        background: $warning-dark;
    }
    .bg-light {
        background-color: #272e34!important;
    }
    .btn-green-rmf,
    .btn-green-rmf.disabled,
    .btn-green-rmf:disabled,
    .btn-green-rmf:hover {
        background-color: $green-dark;
        color: #ffffff!important;
    }
    .filter-bg {
        background: $white;
        border: 1px solid $white;
    }
    .filter-title {
        color: $white-full;
    }
    .list-group-item {
        background-color: $white;
        border: 1px solid $white;
        color: $white-full;
    }
    .footer-bg {
        background: rgba(0, 0, 0, 0.39);
        color: rgba(255, 255, 255, 0.37);
    }
}

.card {
    background-color: $white;
}

.inputGroup {
    background-color: $white;
    label {
        &:after {
            background-color: $white;
        }
    }
    input:checked~label {
        color: $white;
        &:after {
            background-color: $success;
            border-color: $white;
        }
    }
}