<div *ngIf="user && user.attributes">
  <div *ngFor="let attr of user.attributes | keyvalue" class="row margin-bottom">
    <div class="col-md-12">
      <div class="table table-emf table-responsive" style="width: 100%; overflow: auto; height: 100%; padding-right: 15px;">
        <table class="table mb-0">
          <thead>
            <tr>
              <th>{{attr.key | titlecase}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                {{attr.value}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>