<div class="pcte-registration-bg-right">

        <div class="row">
            <div class="col-12">
                <div class="container padding-bottom-none">
                    <img class="registration-logo" src="assets/images/army-pcte-logo.png"
                        alt="Persistent Cyber Training Environment">
                </div>

                <div class="classHeader">
                    <span>This page contains dynamic content -- Highest classification is:
                        <strong>UNCLASSIFIED</strong>
                    </span>
                </div>

                <div class="container">

                    <div class="row">
                        <div class="col-3">
                            <div class="left-bg">
                                <h2>DoD Warning and Consent Banner</h2>
                                <p>
                                    You are accessing a U.S. Government (USG) Information System (IS) that is provided
                                    for
                                    USG-authorized use only. By using this IS (which includes any device attatched to
                                    this
                                    IS), you consent to the following conditions:
                                </p>
                                <ul>
                                    <li>
                                        USG routinely intercepts and monitors communications on this IS for purposes
                                        including, but not limited to, penetration testing, COMSEC monitoring, network
                                        operations and defense, personnel misconduct (PM), law enforcement (LE), and
                                        counterintelligence (CI) investigations.
                                    </li>
                                    <li>
                                        At any time, the USG may inspect and seize data stored on this IS.
                                    </li>
                                    <li>
                                        Communications using, or data stored on, this IS are not private, are subject to
                                        routine monitoring, interception, and search, and may be disclosed or used for
                                        any
                                        USG-authorized purpose.
                                    </li>
                                    <li>
                                        This IS includes security measures (e.g., authentication and access controls) to
                                        protect USG interests--not for your personal benefit or privacy.
                                    </li>
                                    <li>
                                        Notwithstanding the above, using this IS does not constitute consent to PM, LE,
                                        or
                                        CI investigative searching or monitoring of the content of privileged
                                        communications, or work product, related to personal representation or services
                                        by
                                        attorneys, psychotherapists, or clergy, and their assistants. Such communication
                                        and
                                        work product are private and confidential. See User Agreement for details.
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="center-bg">
                                <h1>Login</h1>
                                <div class="white-bg">
                                    <h3>CAC Login</h3>
                                    <p>
                                        Log in using your Common Access Card / DoD Email Certificate.
                                    </p>
                                    <a id="loginBtn" href="#" class="btn-existing-user mat-flat-button mat-primary">
                                        <span class="mat-button-wrapper">
                                            CAC Login
                                        </span>
                                    </a>
                                </div>
                         
                                <img class="login-options" src="../../../../assets/images/or.png" alt="PCTE Login Options">
        

                                <div class="white-bg">
                                    <h3>Username / Password Login</h3>
                                    <p>
                                        Log in using your username / password and OTP 2FA. Requires configuration and
                                        use of
                                        mobile application to enable “One Time Password”.
                                    </p>
                                    <a  (click)="login()" class="btn-new-user mat-flat-button mat-primary">
                                        <span class="mat-button-wrapper">
                                           Login
                                        </span>
                                    </a>
                                </div>

                                <a *ngIf='!externalRegisterUrl' color="primary" class="btn-new-user"  [routerLink]="['/registration/overview']">
                                    Don’t have an account? Sign up here.
                                </a>

                                <a *ngIf='externalRegisterUrl' [href]='externalRegisterUrl'>
                                    Don’t have an account? Sign up here.
                                </a>


                            </div>
                        </div>
                        <div class="col-4">
                            <div class="right-bg">

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <div class="foot-container">
            <img class="footer-logo" src="assets/images/foot-logo.png" alt="OpenDash360 PEOstri">
        </div>







