<div class="registration-landing" [class.support-enabled]="pageConfig.supportEnabled" *ngIf="pageConfig">
  <div #customCss></div>
  <div class="banner-container">
    <div class="classification-banner" [ngClass]="pageConfig.classification" *ngIf="pageConfig.classification && pageConfig.classification !== 'none'">
      {{ clsBannerText }}
    </div>
    <div
      class="info-banner"
      [style.backgroundColor]="pageConfig.infoBannerColor"
      *ngIf="pageConfig.infoBanner"
    >
      <mat-icon>{{ pageConfig.infoBannerIcon }}</mat-icon>
      <div [innerHTML]="pageConfig.infoBannerText"></div>
    </div>
  </div>
  <div class="landing-hero">
    <div class="hero-bg" [style.backgroundImage]="backgroundUrl"></div>
    <div class="hero-content">
      <img class="registration-logo" [src]="pageConfig.introIconFile || ''" [alt]="pageConfig.introTitle">
      <h1 class="intro-title">{{ pageConfig.introTitle }}</h1>
      <div class="intro-text" [innerHtml]="pageConfig.introText"></div>
      <div class="landing-buttons">
        <ng-container *ngFor="let btn of pageConfig.landingButtons">
          <button
            mat-flat-button
            color="primary"
            (click)="landingButtonClick(btn)"
            [ngStyle]="getStyles(btn.color)"
            *ngIf="btn.visible && (btn.type !== 'register' || pageConfig.nativeRegistration)"
          >
            <mat-icon class="login-icon" matSuffix>{{ btn.icon }}</mat-icon>
            <span class="ml-1">{{ btn.text }}</span>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="support-section" *ngIf="pageConfig.supportEnabled">
    <div class="support-widgets">
      <div class="support-widget">
        <div class="support-widget-content"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="48px"
        >
          <div fxFlex>
            <h5 class="support-widget-title mb-2">
              <span>Platform compatibility</span>
              <mat-icon matTooltip="Confirm your device meets technology requirements of the platform.">info</mat-icon>
            </h5>
            <div class="compat-row">
              <mat-icon class="supported" *ngIf="compatibility.browser !== 'Unknown'">check</mat-icon>
              <mat-icon class="unsupported" *ngIf="compatibility.browser === 'Unknown'">info</mat-icon>
              <span>Browser Support</span>
              <button
                mat-flat-button
                class="help-button"
                (click)="showBrowserCompatDetails()"
                *ngIf="compatibility.browser === 'Unknown'">Help</button>
              <app-compatibility-details
                [data]="browserCompatDetails"
                (close)="hideBrowserCompatDetails()"
                @appearAnim
                *ngIf="browserCompatVisible"
              ></app-compatibility-details>
            </div>
            <div class="compat-row" *ngIf="compatibility.browser !== 'Unknown'">
              <mat-icon class="supported">check</mat-icon>
              <span>Javascript Support</span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutGap="28px">
            <div fxFlex class="compat-env">
              <img [src]="compatibility.browserImage" [alt]="compatibility.browser" />
              <div class="compat-env-name mt-1">{{ compatibility.browser }}</div>
              <div class="compat-env-version">({{ compatibility.version }})</div>
            </div>
            <div fxFlex class="compat-env">
              <img [src]="compatibility.platformImage" [alt]="compatibility.platform" />
              <div class="compat-env-name mt-1">{{ compatibility.platform }}</div>
            </div>
          </div>
        </div>
        <div class="support-widget-footer">
          <button mat-flat-button (click)="checkBrowserCompatibility()">
            <mat-icon>refresh</mat-icon>
            Run check again
          </button>
          <button mat-flat-button>
            <mat-icon>contact_support</mat-icon>
            Send to support
          </button>
        </div>
      </div>
      <div class="support-widget">
        <div class="support-widget-content">
          <h5 class="support-widget-title mb-2">
            <span>Network speed test</span>
            <mat-icon matTooltip="Test your Internet connectivity">info</mat-icon>
          </h5>
          <div>
            <!-- <app-widget-renderer
              [app]='speedTest.app'
              [widget]='speedTest.widget'
            ></app-widget-renderer> -->
          </div>
        </div>
        <div class="support-widget-footer">
          <button mat-flat-button>
            <mat-icon>refresh</mat-icon>
            Run check again
          </button>
          <button mat-flat-button>
            <mat-icon>file_download</mat-icon>
            Download results
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="pageConfig.faqEnabled || pageConfig.videosEnabled">
      <div class="support-section-title mb-1">PCTE Program support</div>
      <div class="support-section-description mb-3">
        Read frequently asked questions and watch onboarding videos to troubleshoot common user hurdles.<br />
        If you require additional support, you may request support by clicking "Request Support."
      </div>

      <mat-accordion [multi]="true">
        <mat-expansion-panel class="support-panel" [expanded]="true" *ngIf="pageConfig.faqEnabled">
          <mat-expansion-panel-header collapsedHeight="65px" expandedHeight="65px">
            <mat-panel-title>
              <mat-icon>help</mat-icon>
              <span class="mr-1">Frequently asked questions</span>
              <app-button-menu
                title="Filter by topic"
                [options]="availableFaqTopics"
                (selectItem)="selectFaqTopic($event)"
              ></app-button-menu>
              <mat-chip-list class="ml-1">
                <mat-chip
                  [removable]="true"
                  (removed)="removeSelectedTopic(topic)"
                  *ngFor="let topic of selectedFaqTopics"
                >
                  {{ topic.label }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <button mat-icon-button
                class="remove-all-topics ml-1"
                (click)="removeAllTopics($event)"
                *ngIf="selectedFaqTopics.length > 0"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
      
          <div class="support-faqs-content">
            <h5 class="support-faqs-count">{{ filteredFaqs.length }} Results</h5>
            <mat-accordion>
              <mat-expansion-panel class="faq-panel" *ngFor="let faq of filteredFaqs">
                <mat-expansion-panel-header>
                  <mat-panel-title class="mat-expansion-panel-header-title">
                    <mat-icon>help</mat-icon>
                    <span>{{ faq.question }}</span>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <pre>{{ faq.answer }}</pre>
                <div class="faq-meta">
                  Published by <strong>{{ faq.publisherName }}</strong> on <strong>{{ faq.createdAt | date: 'M/d/y \'at\' hh:mmaa' }}</strong>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="support-panel" [expanded]="true" *ngIf="pageConfig.videosEnabled">
          <mat-expansion-panel-header collapsedHeight="65px" expandedHeight="65px">
            <mat-panel-title>
              <mat-icon>videocam</mat-icon>
              <span class="mr-1">Support Videos</span>
              <app-button-menu
                title="Filter by topic"
                [options]="availableVideoTopics"
                (selectItem)="selectVideoTopic($event)"
              ></app-button-menu>
              <mat-chip-list class="ml-1">
                <mat-chip
                  [removable]="true"
                  (removed)="removeSelectedVideoTopic(topic)"
                  *ngFor="let topic of selectedVideoTopics"
                >
                  {{ topic.label }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <button mat-icon-button
                class="remove-all-topics ml-1"
                (click)="removeAllVideoTopics($event)"
                *ngIf="selectedVideoTopics.length > 0"
              >
                <mat-icon>close</mat-icon>
              </button>
            </mat-panel-title>
          </mat-expansion-panel-header>
          
          <div class="support-videos-content">
            <div class="support-video-card"
              fxLayout="column"
              (click)="openVideoDialog(video)"
              *ngFor="let video of filteredVideos"
            >
              <img [src]="thumbnailSrc(video)" [alt]="video.name" fxFlex="none">
              <div class="video-card-title" fxFlex>{{video.name}}</div>
              <div class="video-card-footer" fxFlex="none">
                <mat-icon>access_time</mat-icon>
                About 5 minutes
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
  <div class="footer">
    <img src="assets/images/peostri-logo.png" alt="PEOSTRI Logos">
    <img src="assets/images/foot-logo.png" alt="OpenDash360 Logo">
  </div>
</div>