/*! CSS Used fontfaces */
@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-MediumItalic.ttf) format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(http://localhost:4200/Roboto-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}





.mat-flat-button {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.mat-flat-button {
  color: rgba(44, 44, 44, 0.87);
  background-color: white;
}

.mat-flat-button.mat-primary {
  color: #fafafa;
}

.mat-flat-button.mat-primary {
  background-color: #0e8bff;
}

.mat-flat-button:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #ececec;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}

.notifier__container * {
  margin: 0px;
}

body {
  font-weight: 400 !important;
  font-family: "Roboto", sans-serif;
}

body *:not(mat-icon) {
  font-family: "Roboto", sans-serif !important;
}


.notifier__container * {
  box-sizing: border-box;
}


.pcte-registration-bg-right {
  background-color: black;
  background-image: url(http://localhost:4200/registration-bg.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  height: calc(100vh);
  background-attachment: fixed;
}

.container {
  padding: 115px 5%;
}

.pcte-landing-header {
  padding-bottom: 15px;
}

.pcte-landing-header h1 {
  color: #fff;
  font-size: 34px;
}

.pcte-landing-header p {
  color: #fff;
  font-size: 21px;
  opacity: .8;
}

.btn-existing-user {
  background: #108BFF !important;
  padding: 10px 15px !important;
}

.btn-existing-user:hover,
.btn-new-user:hover {
  opacity: .5;
}

a {
  color: #E3A400;
  text-decoration: none;
}

a:hover {
  color: #A5A5A5;
}

p,
strong {
  font-size: .9rem;
  line-height: 1.8;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.1;
  margin: 0px 0px 15px 0px;
}

h2 {
  margin: 0px 0px 15px 0px;
}

li {
  margin-bottom: 15px;
  list-style-type: decimal;
  font-size: .9rem;
}

.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 12px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

.mat-flat-button::-moz-focus-inner {
  border: 0;
}

.mat-flat-button::-moz-focus-inner {
  border: 0;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  min-height: 0.125rem;
}

.col-1 {
  width: 60px;
   }
 
 .col-11{
 width:  calc(100% - 60px);
 }


.col-3,
.col-4,
.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1399px) {
  .col-3 {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .col-3 {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 33%;
  }

  .col-12 {
    width: 100%;
  }

}

.btn-existing-user {
  background: #0064BF !important;
  margin-right: 25px;
}

.btn-new-user {
  padding: 10px 15px 10px 15px !important;
}

p,
strong {
  font-size: 1rem;
  line-height: 1.8;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0px 0px 15px 0px;
}

.registration-logo {
  height: 100px;
  width: auto;
  max-width: 1000px;
  margin-bottom: 35px;
}

p {
  color: rgba(44, 44, 44, 0.87);
}


.left-bg p,
.left-bg li,
.left-bg strong {
  color: white;
  opacity: .8;
  font-size: 14px;
  line-height: 19px;
}

.left-bg h2 {
  color: #fff;
  opacity: .8;
  font-size: 18px;
}

.left-bg h3 {
  color: #fff;
  opacity: .8;
  font-size: 16px;
  line-height: 21px;
}

.alert-dismissible .close:hover {
  opacity: .2;
}

.login-icon {
  height: 24px;
  font-size: 28px;
  vertical-align: bottom;
}

.footer-logo-left,
.footer-logo-right {
  height: 35px;
}

.footer-logo-right{
  float: right;
}

.login-options {
  height: auto;
  width: 100%;
  max-height: 1000px;
  margin-bottom: 10px;
}

ul {
  -webkit-padding-end: 30px;
  padding-inline-end: 30px;
  -webkit-padding-start: 30px;
  padding-inline-start: 30px;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

.foot-container {
  padding: 5px 5%;
  background: #303030;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.mat-flat-button {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
}

.mat-flat-button {
  color: rgba(44, 44, 44, 0.87);
  background-color: white;
}

.mat-flat-button.mat-primary {
  color: #fafafa;
}

.mat-flat-button.mat-primary {
  background-color: #0879d0;
}

.mat-flat-button:not([class*='mat-elevation-z']) {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

h3 {
  margin: 0px;
}

.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px;
}


.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  min-height: 0.125rem;
}

.col-3,
.col-4 {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  float: left;
}

.col-1,
.col-11 {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (min-width: 45em) {
  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 33%;
  }
}

.container {
  padding: 115px 5%;
}

.btn-existing-user {
  background: #108BFF !important;
  padding: 10px 15px !important;
}

.btn-existing-user:hover,
.btn-new-user:hover {
  opacity: .5;
}

a:hover {
  color: #A5A5A5;
}

p {
  font-size: .9rem;
  line-height: 1.8;
}

h1 {
  font-size: 1.9rem;
  line-height: 1.1;
  margin: 0px 0px 15px 0px;
}

h2 {
  margin: 0px 0px 15px 0px;
}

li {
  margin-bottom: 15px;
  list-style-type: decimal;
  font-size: .9rem;
}

.mat-flat-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 12px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

.mat-flat-button::-moz-focus-inner {
  border: 0;
}

.mat-flat-button::-moz-focus-inner {
  border: 0;
}

@media (-ms-high-contrast: active) {
  .mat-flat-button {
    outline: solid 1px;
  }
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  min-height: 0.125rem;
}

.col-3,
.col-4 {
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 1399px) {
  .col-3 {
    width: 40%;
  }
  .col-4{
    width: 33%;
  }
}

@media only screen and (max-width: 900px) {
  .col-3 {
    width: 100%;
  }
}

@media only screen and (min-width: 1400px) {
  .col-3 {
    width: 21%;
  }
  .col-4 {
    width: 33%;
  }
}

@media only screen and (max-width: 700px) {
  .col-4 {
    width: 100%;
  }
}



.btn-existing-user {
  background: #0064BF !important;
  margin-right: 25px;
}

.btn-new-user {
  padding: 10px 15px 10px 15px !important;
}

p {
  font-size: 1rem;
  line-height: 1.8;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 0px 0px 15px 0px;
}

p {
  color: rgba(44, 44, 44, 0.87);
}


.center-bg {
  background: #fff;
  padding: 25px;
}

.right-bg {
  background: transparent;
  padding: 25px;
}

.white-bg {
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 25px;
  font-size: 12px;
  line-height: 1.3;
}

p,
a {
  font-size: 12px;
  line-height: 1.3;
}


.login-options {
  height: auto;
  width: 100%;
  max-height: 1000px;
  margin-bottom: 10px;
}

ul {
  -webkit-padding-end: 30px;
  padding-inline-end: 30px;
  -webkit-padding-start: 30px;
  padding-inline-start: 30px;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}



button {
  margin: 0;
  font: inherit;
  color: inherit;
}

button {
  overflow: visible;
}

button {
  text-transform: none;
}

button {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  background-color: rgba(21, 21, 21, 0.75);
  border: 2px solid #E3A400;
  border-radius: 0px;
  position: fixed;
  bottom: 49px;
  left: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.gold-bg,
.col-1{
  background: #E3A400;
  height: 370px;
}

.left-bg{
  padding: 25px;
}

.alert-icon {
  position: absolute;
  left: 11px;
  top: 20px;
  font-size: 35px;
  color: white;
  opacity: .6;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: 0 0;
  border: 0;
}

.alert-bg-icon {
  font-size: 365px;
  color: white;
  position: absolute;
  bottom: 290px;
  right: 28%;
  opacity: .1;
}

.alert-dismissible .close {
  position: absolute !important;
  color: #fff !important;
  opacity: .4;
  text-shadow: none;
  font-size: 14px;
  font-weight: 500;
  top: 15px !important;
  right: 25px !important;
}

.btn-pcte-cac,
.btn-pcte-user,
.btn-pcte-register {
  border-radius: 0px;
  padding: 0px 20px 18px 0px;
  color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  min-width: 210px;
}

.btn-pcte-cac {
  background: #035199 !important;
}

.btn-pcte-user {
  background: #711B81 !important;
}

.btn-pcte-register {
  background: #039957 !important;
  display: block;
}


.btn-pcte-cac .login-icon,
.btn-pcte-user .login-icon,
.btn-pcte-register .login-icon {
  opacity: .6;
  margin-right: 5px;
  vertical-align: text-bottom;
  margin-top: 12px;
}

.btn-pcte-cac:hover,
.btn-pcte-user:hover,
.btn-pcte-register:hover {
  opacity: .5!important;
}

.pcte-landing-header{
  max-width: 700px;
}

.mat-button-wrapper .btn-text{
  margin-top: -15px!important;
}

li {
  margin-bottom: 15px;
  list-style-type: disc;
  list-style-position: outside;
}

ul li::before {
  color: rgba(227, 163, 0, 0.4);
}






@media only screen and (max-width: 900px) {
.alert-success{
  position: initial;
  background: #151515;
}

.foot-container{
  position: initial;
}

.alert-bg-icon{
  display: none;
}

.pcte-registration-bg-right{
  height: auto;
}
}



@media only screen and (max-width: 700px) {
.footer-logo-left,
.footer-logo-right {
  height: 30px;
}
}


@media only screen and (max-height: 1000px) {

  .pcte-registration-bg-right {
    height: calc(100vh + 100px);
    background-attachment: fixed;
  }

}

@media only screen and (max-height: 855px) {

  .pcte-registration-bg-right {
    height: calc(100vh + 300px);
    background-attachment: fixed;
  }

  .alert-success{
    background-color: rgba(21, 21, 21, 1);
}

}

@media only screen and (max-height: 655px) {

  .pcte-registration-bg-right {
    height: calc(100vh + 400px);
    background-attachment: fixed;
  }

}

@media only screen and (max-height: 455px) {

  .pcte-registration-bg-right {
    height: calc(100vh + 500px);
    background-attachment: fixed;
  }

}

.pcte-registration-bg-right::before {
  content: "This page contains dynamic content -- Highest classification is: UNCLASSIFIED";
  background-color: #04874d;
  width: 100%;
  font-weight: 300 !important;
  color: white;
  padding: 3px 5%;
  position: fixed;
  z-index: 99;
  text-align: center;
  font-size: 14px;
}





@media only screen and (max-width: 1150px) {

.gold-bg,
.col-1{
  display: none;
}

.col-11{
  width: 100%;
}

}