<app-page-title></app-page-title>

<mat-grid-list cols="1" rowHeight="65px" class="mb-1">
  <mat-grid-tile>
    <h1>My Registration</h1>
  </mat-grid-tile>
</mat-grid-list>

<app-registration-overview
  *ngIf="display === 'overview'"
  [userRegistration]="userRegistration"
  [activeStepIndex]="activeStepIndex"
  [selectedStepIndex]="selectedStepIndex"
  [selectedFormIndex]="selectedFormIndex"
  (selectStep)="setSelectedStepIndex($event)"
  (selectForm)="selectedFormIndex = $event"
  (goToStep)="goToStep($event)"
  (goToForm)="goToForm($event)"
></app-registration-overview>

<app-registration-steps 
  *ngIf="display === 'steps'"
  [userRegistration]="userRegistration"
  [activeStepIndex]="activeStepIndex"
  [selectedStepIndex]="selectedStepIndex"
  [selectedFormIndex]="selectedFormIndex"
  (selectStep)="setSelectedStepIndex($event)"
  (selectForm)="selectedFormIndex = $event"
  (goToOverview)="display = 'overview'"
  (formSubmitted)="submitForm($event)"
></app-registration-steps>