<div id="widget" class="modalDialog modalDialogLeft" [ngClass]="{'display-none': !showAdd}">
  <div class="modal-white-bg modal-white-bg-left">
    <div class="col-sm-12 text-right padding-top">
      <button class="btn-text material-icons" id="close" data-dismiss="modal">clear</button>
    </div>

    <div class="dashboard-add-widgets-bg">
      <div class="row">
        <div class="col-md-12 margin-bottom">
          <h2 class="margin-top-none">Add Dasboard Widgets</h2>
        </div>
      </div>

      <div class="row">
        <div *ngFor="let app of apps">
          <div *ngIf="app.widgets">
            <div class="col-lg-4 col-md-6 col-xs-12" *ngFor="let widget of app.widgets">
              <div class="card box4">
                <div class="image text-center">
                  <span class="slideout-icon slideout-image {{widget.icon}}"></span>
                  <div class="box-content">
                    <div class="row">
                      <div *ngIf='onDashboard()'>
                        <div class="col-sm-6 text-center widget-icon-hover">
                          <button (click)="popout(app, widget)" data-dismiss="modal">
                            <span class="icon-widget-hover-settings icon-open"></span>
                            <div class="icon-widget-description">Open<br>Widget</div>
                          </button>
                        </div>

                        <div class="col-sm-6 widget-icon-hover">
                          <button (click)="this.addWidget(app, widget)" data-target="#widget" data-toggle="modal">
                            <span class="icon-widget-hover-settings icon-dashboard-click"></span>
                            <div class="icon-widget-description">Add to<br> Dashboard</div>
                          </button>
                        </div>
                      </div>

                      <div *ngIf='!onDashboard()'> 
                                              <!--
                                                <div class="col-sm-6 widget-icon-hover">
                                                    <button disabled>
                                                            <span class="icon-widget-hover-settings icon-dashboard-click"></span>
                                                            <div class="icon-widget-description">Add to Dashboard</div>
                                                    </button>
                                                </div>
                                              -->
                        <div class="col-sm-12 text-center widget-icon-hover" data-dismiss="modal">
                          <button (click)="popout(app, widget)">
                            <span class="icon-widget-hover-settings icon-open"></span>
                            <div class="icon-widget-description">Open Widget</div>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <h3 class="text-center">{{widget.widgetTitle}}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>