<div class="modalDialog modalDialogLeft">

  <div class="dashboard-add-widgets-bg">
    <h2>Add Widget</h2>

    <button mat-icon-button matTooltip="Cancel" (click)="close.emit()">
      <mat-icon>clear</mat-icon>
    </button>

    <div *ngFor="let app of apps">
      <div *ngIf="app.widgets">
        <div *ngFor="let widget of app.widgets">
          <button mat-button [matMenuTriggerFor]="widgetMenu">
            <!-- <mat-icon class="{{widget.icon}}">{{widget.icon}}</mat-icon> -->
            <mat-icon mat-list-icon>widgets</mat-icon>
            <h4 mat-line>{{widget.widgetTitle}}</h4>
          </button>

          <mat-menu #widgetMenu="matMenu">
            <button mat-menu-item (click)="popout(app, widget)">Open Widget</button>
            <button mat-menu-item (click)="this.addWidget(app, widget)" *ngIf='onDashboard()'>Add to Dashboard</button>
          </mat-menu>
        </div>
      </div>
    </div>

<!-- 
    <div *ngFor="let app of apps">
      <div *ngIf="app.widgets">
        <div class="" *ngFor="let widget of app.widgets">

          <button mat-button [matMenuTriggerFor]="widgetMenu">
            <mat-icon class="{{widget.icon}}">{{widget.icon}}</mat-icon>
            <h3>{{widget.widgetTitle}}</h3>
          </button>

          <mat-menu #widgetMenu="matMenu">
            <button mat-menu-item (click)="popout(app, widget)">Open Widget</button>
            <button mat-menu-item (click)="this.addWidget(app, widget)" *ngIf='onDashboard()'>Add to Dashboard</button>
          </mat-menu>
 -->

          


<!--           <div *ngIf='onDashboard()'>
            <button (click)="popout(app, widget)">
              <span class=""></span>
              <div class="">Open Widget</div>
            </button>

            <button (click)="this.addWidget(app, widget)">
              <div class="">Add to Dashboard</div>
            </button>
          </div>

          <div *ngIf='!onDashboard()'>
            <button (click)="popout(app, widget)">

              <div class="">Open Widget</div>
            </button>
          </div> -->




<!--         </div>
      </div>
    </div> -->

  </div>
</div>