.widgetsList h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.widgetOptions {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    transition: 0.2s ease all;
}

.widgetsList {

    button:hover .widgetOptions {
        opacity: 1;
    }

    .widgetBlock > div > button:hover {
        box-shadow: 0 0 10px rgba(#000, 0.2);
        opacity: 1;
    }

    .widgetBlock {
        width: calc(50% - 10px);

        // Hide if empty to maintain widget pane layout
        &:empty {
            display: none !important;
        }

        & > button {
            padding: 10px;
        }

        h3 {
            font-size: 18px;
        }
    }
}

.widgetModalHidden {
    display: none;
}

.widgetModal {
    z-index: 9999;
    position: fixed;
    background-color: #fff;
    top: 0;
    right: 0;
    box-shadow: 0 0 10px rgba(#000, 0.2);
    box-sizing: border-box;
    width: 600px;
    height: 100vh;
    overflow: hidden;
    padding: 20px 40px;

    input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        margin: 0 0 20px;
    }
}

.widgetModalCovers {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9998;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    cursor: pointer;
}

.widgetDescription {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.4);
    text-overflow: ellipsis;
    white-space: normal;
}