<form class="dynamic-form">
  <div class="row" *ngFor="let row of data.layout.rows">
    <ng-container class="col" *ngFor="let col of row.columns">
      <app-text-input
        [formGroup]="form"
        [controlName]="col.field.binding"
        [label]="col.field.label"
        [placeholder]="col.field.attributes && col.field.attributes.placeholder"
        *ngIf="col.field.type === 'text'"
      ></app-text-input>
      <app-textarea-input
        [formGroup]="form"
        [controlName]="col.field.binding"
        [label]="col.field.label"
        [placeholder]="col.field.attributes && col.field.attributes.placeholder"
        *ngIf="col.field.type === 'textarea'"
      ></app-textarea-input>
      <app-checkbox-input
        [formGroup]="form"
        [controlName]="col.field.binding"
        [label]="col.field.label"
        *ngIf="col.field.type === 'checkbox'"
      ></app-checkbox-input>
      <app-radio-input
        [formGroup]="form"
        [controlName]="col.field.binding"
        [label]="col.field.label"
        [options]="col.field.attributes.options"
        *ngIf="col.field.type === 'radio'"
      ></app-radio-input>
      <app-file-input
        [formGroup]="form"
        [controlName]="col.field.binding"
        [label]="col.field.label"
        *ngIf="col.field.type === 'file'"
      ></app-file-input>
      <div
        class="description"
        [innerHTML]="col.field.attributes.description"
        *ngIf="col.field.type === 'description'"
      ></div>
    </ng-container>
  </div>
  <div class="actions">
    <button type="button" mat-raised-button color="primary">Save</button>
  </div>
</form>
