.dynamic-form {
  padding: 16px;
  overflow: hidden;
}

.row {
  display: flex;

  > * {
  // flex: 1;
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.actions {
  display: flex;
  justify-content: flex-end;
}

.dynamic-form{
  .row{
    margin: 0px 0px;
    border-bottom: 2px dotted #e0e0e0;
    display: flex;
    padding: 15px 0px;
  }
}

