<div mat-dialog-title>
    <h4 class="title">{{ process.title }} Process Columns</h4>
    <button mat-icon-button mat-dialog-close class="close-button opacity-half">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <ng-container *ngIf="this.process && this.process.docId !== 'all'">
        <ng-container *ngTemplateOutlet="fieldPicker; context: {title: 'Bound Fields', arrs: selectArrays(0), columnGroup: 0}"></ng-container>
    </ng-container>
    <ng-container *ngTemplateOutlet="fieldPicker; context: {title: 'Registration Fields', arrs: selectArrays(1), columnGroup: 1}"></ng-container>
    <ng-container *ngTemplateOutlet="fieldPicker; context: {title: 'User Fields', arrs: selectArrays(2), columnGroup: 2}"></ng-container>
    <ng-container *ngIf="this.process && this.process.docId !== 'all'">
        <ng-container *ngTemplateOutlet="fieldPicker; context: {title: 'Verification Fields', arrs: selectArrays(3), columnGroup: 3}"></ng-container>
    </ng-container>
</div>

<div mat-dialog-actions>
    <button
        type="submit"
        color="primary"
        class="primary-button"
        mat-raised-button
        matTooltip="Save columnset"
        (click)="exportNewColumns()"
    >
        Update
    </button>
    <button mat-button mat-dialog-close class="opacity-half">Cancel</button>
</div>

    <ng-template #fieldPicker let-title='title' let-arrs='arrs' let-columnGroup='columnGroup'>
        <mat-expansion-panel class='panel' [expanded]='true'>
            <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h3 matSubheader>{{ title }}</h3>
                    </mat-panel-title>
            </mat-expansion-panel-header>
            
            <div class='content'>
                <mat-action-list class='half-width'>
                    <h3 matSubheader class="size-12 uppercase">Hidden</h3>
                    <ng-container *ngFor='let field of arrs[0]'>
                        <ng-container *ngIf='field.bindingType !== 2'>
                            <div mat-list-item>
                                <button mat-stroked-button class='field-btn opacity-twothird rounded mb-1' matTooltip="Show {{ field.title }}" (click)='show(columnGroup, field)' style="margin-left: 15px">
                                    <span class='field-text size-14 bold-500'>{{ field.title }}</span>
                                    <mat-icon class='sm-icon ml-1'>add</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </mat-action-list>
                <!-- <mat-divider [vertical]='true'></mat-divider> -->
                <mat-action-list class='half-width uppercase'>
                    <h3 matSubheader class="size-12">Shown</h3>
                    <ng-container *ngFor='let field of arrs[1]'>
                        <ng-container *ngIf='field.bindingType !== 2'>
                            <div mat-list-item class='field-btn shown-field-container opacity-twothird'>
                                <button mat-flat-button *ngIf='!field.isEdit' matTooltip="Hide {{ field.title }}" (click)='hide(columnGroup, field)' color='primary' class='mb-1 rounded' style="margin-left: 15px">
                                    <span class='field-text size-14 bold-500'>{{ field.title }}</span>
                                    <mat-icon class='sm-icon ml-1'>clear</mat-icon>
                                </button>
                                <mat-form-field *ngIf='field.isEdit' class="pr-2 full-width" style="margin-left: 15px;" (keydown)="endEdit($event, field)">
                                    <input matInput placeholder="{{ field.binding }}" [(ngModel)]="field.title" class="size-14">
                                </mat-form-field>
                                <button mat-icon-button class='float-right ml-1 opacity-half bg-gray' matTooltip="Edit column label" *ngIf='columnGroup === 0' (click)='editFieldName(field)'>
                                    <mat-icon>edit</mat-icon>
                                </button>
                            </div>
                        </ng-container>
                    </ng-container>
                </mat-action-list>
            </div>
        </mat-expansion-panel>
    </ng-template>