.content {
    display: flex;
}

.field-text {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 95%;
}

.half-width {
    width: 50%;
}

.panel {
    margin: 5px;
}

.shown-field-container {
    display: flex;
}