<div class="signatureBlock">
  <!-- <span>{{(label ? label : 'Signature')}}</span> -->
  <div class="position-relative" style="padding-left: 28px;">
    <div class="vertLabels">SIGN</div>
    <div class="bg-gray full-width pl-1"><small>Individual Signature</small></div>
    <button mat-icon-button *ngIf="!readonly && !signature" type="button" (click)="sign()" class="bg-yellow">
      <mat-icon>edit</mat-icon>
    </button>
    <img [src]="signature.signatureData" *ngIf="signature"/>
  </div>

  <div class="position-relative" style="padding-left: 28px;">
    <div class="vertLabels">DATE</div>
    <div class="bg-gray full-width pl-1"><small>Date & Time</small></div>
  </div>
</div>