<div class='ng-app-title mb-1'>Personal Information</div>
<div *ngIf='profile' class='mb-3'>
    <div gdColumns="1fr 1fr" gdAlignRows="center" gdGap="0 12px">
        <mat-form-field class='ng-text-field'>
            <input matInput placeholder="Username" [(ngModel)]="profile.username">
        </mat-form-field>

        <div class='avatar-wrapper mb-3'>
    		<ngx-avatar
                bgColor="#0063BF"
                class="mr-1"
                size="60"
                [name]="profile.firstName + ' ' + profile.lastName"
                [style]="AVATAR_STYLE"
            ></ngx-avatar>
            <span class='avatar-label'>{{ profile.firstName || '' }} {{ profile.lastName || ''}}</span>
        </div>

        <mat-form-field class='ng-text-field'>
            <input matInput placeholder="First Name" [(ngModel)]="profile.firstName">
        </mat-form-field>

        <mat-form-field class='ng-text-field'>
            <input matInput placeholder="Last Name" [(ngModel)]="profile.lastName">
        </mat-form-field>

        <mat-form-field class='ng-text-field has-icon left'>
            <mat-icon>email</mat-icon>
            <input matInput placeholder="Email Address" [(ngModel)]="profile.email">
        </mat-form-field>
    </div>
    
    <div class='full-width'>
        <button mat-raised-button color="primary" (click)='update()'>Update Account</button>
        <button mat-flat-button class='cancel-btn'>Cancel</button>
    </div>
</div>

<div class='ng-app-title mb-1'>Alternate Emails</div>
<div *ngIf='nativeProfile'>
    <mat-list class='mt-0 alternate-emails'>
        <!-- <ng-container *ngFor="let email of nativeProfile.alternateEmails; index as i;">
            <mat-divider *ngIf="i !== 0"></mat-divider>
    
            <mat-list-item class='email-hover'>
                <span class='full-width'>{{ email }}</span>
                <button mat-icon-button class='delete-icon' (click)='removeAltEmail(i)'>
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-list-item>
        </ng-container> -->
        <mat-form-field
            class='ng-text-field full-width has-icon left'
            *ngFor="let email of nativeProfile.alternateEmails; index as i"
        >
            <mat-icon>email</mat-icon>
            <input matInput placeholder="Email Address" [(ngModel)]="email">
            <button mat-icon-button class="remove-email-button" (click)='removeAltEmail(i)'>
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-form-field>
    </mat-list>

    <button mat-button class="ng-button-white" (click)='addAltEmail()'>Add Email</button>
</div>