    <div class="chat">  

        <div class="chat-header clearfix">
            <div class="section-title">
              MicroApp Comments
            </div>            
            <div class="subtitle-rmf margin-bottom-none border-none">View / Send MicroApp details below.</div>
          </div>
          
      <div class="chat-history" #chatHistory>
        <ul>

          <li class="clearfix" *ngFor="let comment of comments">
            <div class="message-data" [ngClass]="{'align-right': comment.isFromVendor}">
              <span class="message-data-time">{{comment.createdAt | date:'yyyy-MM-dd HH:mm'}}</span> &nbsp; &nbsp;
              <span class="message-data-name">{{comment.senderFirstName}} {{comment.senderLastName}}</span>
              <i class="fa fa-circle" [ngClass]="{'me': comment.isFromVendor, 'online': comment.isFromVendor}"></i>
            </div>
            <div class="message" [ngClass]="{'other-message float-right': comment.isFromVendor, 'my-message': !comment.isFromVendor}">
              {{comment.message}}
            </div>
          </li>
          
        </ul>
      </div> 

      <div class="chat-message" *ngIf="canCreate">
        <div class="input-group">
          <input type="text" class="form-control form-control-no-margin" [(ngModel)]="message" placeholder="Begin Typing" (keyup.enter)="postComment()">
          <span class="input-group-btn">
               <button class="btn btn-primary" type="button" (click)="postComment()">
                 <span class="icon-arrow icon-white-color"></span>
               </button>
          </span>
       </div>
      </div>

    </div> 