    <div class="chat">  

        <div class="chat-header clearfix">
            <div class="section-title">
              MicroApp Comments
            </div>            
            <div class="subtitle-rmf margin-bottom-none border-none">View / Send MicroApp details below.</div>
          </div>
          
      <div class="chat-history">
        <ul>

          <li class="clearfix">
            <div class="message-data align-right">
              <span class="message-data-time" >10:10 AM, Today</span> &nbsp; &nbsp;
              <span class="message-data-name" >S. Redman</span> <i class="fa fa-circle me"></i>
            </div>
            <div class="message other-message float-right">
              Hi Open Dash Admin, how are you? How is the project coming along?
            </div>
          </li>
          
          <li>
            <div class="message-data">
              <span class="message-data-name"><i class="fa fa-circle online"></i> Open Dash Admin</span>
              <span class="message-data-time">10:12 AM, Today</span>
            </div>
            <div class="message my-message">
              Are we meeting today? Project has been already finished and I have results to show you.
            </div>
          </li>
          
        </ul>
      </div> 

      <div class="chat-message">
        <div class="input-group">
          <input type="text" class="form-control form-control-no-margin" placeholder="Begin Typing">
          <span class="input-group-btn">
               <button class="btn btn-secondary" type="button">
                 <span class="icon-arrow icon-white-color"></span>
               </button>
          </span>
       </div>
      </div>

    </div> 