<div class="mb-2 text-center">
	<h3 class="mb-0" *ngIf="title">{{title}}</h3>
	<p class="pt-0" *ngIf="description">{{description}}</p>

	<div class="text-center p-2 mb-2 rounded cursor-pointer full-width" style="background: #efefef;" (dragover)="handleDrag($event)" (dragenter)="handleDrag($event)"
	(dragleave)="handleDrag($event)" (drop)="handleDrop($event)" (click)="handleClick($event)">
		<mat-icon class="lg-icon pb-0 mb-0">file_upload</mat-icon>
		<div class="upload-drop py-0 my-0">
			<h3 class="mt-0 mb-1">Drag a file here</h3>
			<p>&mdash; or &mdash;</p>
			<button mat-raised-button color="secondary" type="button">Browse Files</button>
		</div>
	</div>

	<input #fileUpload class="file-upload" type="file" style="display: none" [accept]="accept"
	(change)="filePicked($event)">
</div>