<div>
  <div class="upload-bg text-center" (dragover)="handleDrag($event)" (dragenter)="handleDrag($event)"
    (dragleave)="handleDrag($event)" (drop)="handleDrop($event)" (click)="handleClick($event)">
    <button color="accent" mat-mini-fab><mat-icon>file_upload</mat-icon></button>
    <h3 class="upload-title">{{title}}</h3>
    <p class="upload-body">{{description}}</p>
    <p class="upload-body">Drag files or click this area to browse</p>
  </div>

  <input #fileUpload class="file-upload" type="file" style="display: none" [accept]="accept"
    (change)="filePicked($event)">

</div>