<app-page-title [pageTitle]="pageTitle"></app-page-title>

<mat-tab-group class="content-body session-tracking">
  <mat-tab label="My Profile">
    <div class="wrapper">
        <mat-card class='profile-card'>
            <mat-card-title>User Profile</mat-card-title>
            <mat-card-content>
                <app-edit-basic-info></app-edit-basic-info>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Reset Password</mat-card-title>
            <mat-card-content>
                <app-edit-password *ngIf="profile" [activeUserId]="profile.id"></app-edit-password>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>Alternative Emails</mat-card-title>
            <mat-card-content>
                <app-edit-alt-emails></app-edit-alt-emails>
            </mat-card-content>
        </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Activity Log">
    <div class="wrapper">
      <app-login-events [user]="profile.id" *ngIf="profile.id"></app-login-events>
    </div>
  </mat-tab>
</mat-tab-group>
