<app-page-title pageTitle="Session Manager"> </app-page-title>

<div class="header-new">
  <h1>Edit {{ profile.username }}</h1>
</div>

<mat-tab-group
  class="content-body session-tracking"
>
  <mat-tab label="My Profile">
    <mat-grid-list cols="2" rowHeight="330">
      <mat-grid-tile>
        <app-edit-basic-info></app-edit-basic-info>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-edit-password
          *ngIf="profile"
          [activeUserId]="profile.id"
        ></app-edit-password>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Activity Log">
    <app-login-events [user]="profile.id" *ngIf="profile.id"></app-login-events>
  </mat-tab>
</mat-tab-group>
