
@media (min-width: 1465px) {
    .wrapper {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 1464px){
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

mat-card {
    height: fit-content;
    margin: 10px;
}

mat-card-content {
    width: 100%;
}