/*! CSS Used fontfaces */

@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-MediumItalic.ttf) format("truetype");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-Bold.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url(../../../../assets/fonts/Roboto-BoldItalic.ttf) format("truetype");
	font-weight: 700;
	font-style: italic;
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background: #ececec;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-weight: 400 !important;
	font-family: "Roboto", sans-serif;
}
.notifier__container * {
	margin: 0px;
}
body *:not(mat-icon) {
	font-family: "Roboto", sans-serif !important;
}
.notifier__container * {
	box-sizing: border-box;
}
.pcte-registration-bg-right {
	background-color: black;
	background-image: url(../../../../assets/images/registration-bg.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: -1;
	height: calc(100vh + 200px);
	background-attachment: fixed;
}
.container {
	padding: 115px 5%;
}
.pcte-landing-header {
	padding-bottom: 15px;
}
.pcte-landing-header h1 {
	color: #fff;
	font-size: 34px;
}
.pcte-landing-header p {
	color: #fff;
	font-size: 21px;
	opacity: .8;
}
a {
	color: #E3A400;
	text-decoration: none;
}
a:hover {
	color: #A5A5A5;
}
.col-1 {
	width: 60px;
}
.col-11 {
	width: calc(100% - 60px);
}
.col-3, .col-4, .col-12, .col-6 {
	width: 100%;
}
p, strong {
	font-size: 1rem;
	line-height: 1.8;
}
.registration-logo {
	height: 100px;
	width: auto;
	max-width: 1000px;
	margin-bottom: 35px;
}
.left-bg p, .left-bg li, .left-bg strong {
	color: white;
	opacity: .8;
	font-size: 14px;
	line-height: 19px;
}
.left-bg h2 {
	color: #fff;
	opacity: .8;
	font-size: 18px;
}
.left-bg h3 {
	color: #fff;
	opacity: .8;
	font-size: 16px;
	line-height: 21px;
	margin: 0px;
}
.alert-dismissible .close:hover {
	opacity: .2;
}
.footer-logo-left, .footer-logo-right {
	height: 35px;
}
.footer-logo-right {
	float: right;
}
.foot-container {
	padding: 5px 5%;
	background: #303030;
	position: fixed;
	bottom: 0px;
	left: 0px;
  right: 0px;
 display: inline-block;
}
.row {
	position: relative;
	width: 100%;
}
.row [class^="col"] {
	min-height: 0.125rem;
}
.col-3, .col-4, .col-6 {
	width: 100%;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.col-1, .col-11 {
	display: inline-block;
	vertical-align: top;
	float: left;
}
h1 {
	font-size: 1.9rem;
	line-height: 1.1;
	margin: 0px 0px 15px 0px;
}
.row::after {
	content: "";
	display: table;
	clear: both;
}
@media only screen and (max-width: 1399px) {
	.col-3 {
		width: 40%;
	}
	.col-4 {
		width: 33%;
  }
  .col-6 {
		width: 50%;
	}
}
@media only screen and (max-width: 900px) {
	.col-3 {
		width: 100%;
  }
  .col-6 {
		width: 100%;
	}
}
@media only screen and (min-width: 1400px) {
	.col-3 {
		width: 21%;
	}
	.col-4 {
		width: 33%;
  }
  .col-6 {
		width: 50%;
	}
}
@media only screen and (max-width: 700px) {
	.col-4 {
		width: 100%;
	}
}
p {
	font-size: 1rem;
	line-height: 1.8;
	color: rgba(44, 44, 44, 0.87);
}
h2 {
	font-size: 1.6rem;
	line-height: 1.1;
	margin: 0px 0px 15px 0px;
}
.center-bg {
	background: transparent;
	padding: 0px;
}
.right-bg {
	background: transparent;
	padding: 25px;
}
.white-bg {
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 25px;
	font-size: 12px;
	line-height: 1.3;
}
p, a {
	font-size: 12px;
	line-height: 1.3;
}
.login-options {
	height: auto;
	width: 300px;
	max-height: 1000px;
  margin-bottom: 10px;
  opacity: .5;
}
ul {
	-webkit-padding-end: 30px;
	padding-inline-end: 30px;
	-webkit-padding-start: 30px;
	padding-inline-start: 30px;
}
::-moz-selection {
	background: #000;
	color: #fff;
}
::selection {
	background: #000;
	color: #fff;
}
:after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
}
.alert-success {
	background-color: rgba(21, 21, 21, 0.75);
	border: 2px solid #E3A400;
	border-radius: 0px;
	position: fixed;
	bottom: 49px;
	left: 0px;
	margin-bottom: 0px;
	padding: 0px;
}
.gold-bg, .col-1 {
	background: #E3A400;
	height: 440px;
}
.alert-icon {
	position: absolute;
	left: 11px;
	top: 30px;
	font-size: 35px;
	color: white;
	opacity: .25;
}
.alert-bg-icon {
	font-size: 365px;
	color: white;
	position: absolute;
	bottom: 290px;
	right: 28%;
	opacity: .1;
}
.pcte-landing-header {
	max-width: 700px;
}
li {
	margin-bottom: 15px;
	list-style-type: disc;
	list-style-position: outside;
}
ul li::before {
	color: rgba(227, 163, 0, 0.4);
}
@media only screen and (max-width: 900px) {
	.alert-success {
		background: #151515;
	}
	.alert-bg-icon {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.footer-logo-left, .footer-logo-right {
    height: 30px;
  }
}
@media only screen and (max-height: 1000px) {
	.pcte-registration-bg-right {
		height: calc(100vh + 300px);
		background-attachment: fixed;
	}
}
@media only screen and (max-height: 855px) {
	.pcte-registration-bg-right {
		height: calc(100vh + 500px);
		background-attachment: fixed;
	}
	.alert-success {
		background-color: rgba(21, 21, 21, 1);
	}
}
@media only screen and (max-height: 655px) {
	.pcte-registration-bg-right {
		height: calc(100vh + 600px);
		background-attachment: fixed;
	}
}
@media only screen and (max-height: 455px) {
	.pcte-registration-bg-right {
		height: calc(100vh + 700px);
    background-attachment: fixed;
	}
}
.pcte-registration-bg-right::before {
	content: "This page contains dynamic content -- Highest classification is: UNCLASSIFIED";
	background-color: #04874d;
	width: 100%;
	font-weight: 300 !important;
	color: white;
	padding: 3px 5%;
	position: fixed;
	z-index: 99;
	text-align: center;
	font-size: 14px;
}
@media only screen and (max-width: 1150px) {
	.gold-bg, .col-1 {
		display: none;
	}
	.col-11 {
		width: 100%;
	}
}
.mat-expansion-panel{
  opacity: .9;
 }

.mat-expansion-panel:hover{
 opacity: 1;
}

.stepper-bg .mat-expansion-panel-header .mat-content .mat-expansion-panel-header-title,
.mat-expansion-panel-header-description, .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 1.0);
}

.mat-expansion-panel-body span img{
display: none;
}

.mat-expansion-panel {
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 15px !important;
  border: none;
  background: #212121;
  border-radius: 0px!important;
}

.stepper-bg .mat-expansion-panel-header {
  background-position: 15px 8px !important;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 0px 25px;
}

.mat-expansion-panel-content {
  padding-left: 60px;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background-position: 15px 8px !important;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 0px 25px;
}

.mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: transparent!important;
}

.mat-expansion-panel-content {
  padding-left: 15px;
}

.padding-top-sm{
  padding: 0px 5%!important;
}

.back{
  display: block;
  margin-top: 25px;
}


:host ::ng-deep .full-width-field .mat-form-field-wrapper{
  padding-bottom: 0px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end,
 .mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border: #212121;
}

:host ::ng-deep .full-width-field .mat-form-field-wrapper{
  width: 100%;
}

:host ::ng-deep .full-width-field .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: rgba(44, 44, 44, 0);
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background: #212121;
  border-radius: 5px;
}

:host ::ng-deep .mat-form-field-label {
  color: rgba(255, 255, 255, 0.6);
}

:host ::ng-deep .mat-expansion-panel {
  color: rgba(255, 255, 255, 0.87);
  margin-bottom: 15px !important;
  margin-top: 10px!important;
  border: none;
  background: #212121;
  border-radius: 0px!important;
}

:host ::ng-deep .mat-expansion-panel-header {
  background-position: 15px 8px !important;
  background-size: 30px;
  background-repeat: no-repeat;
  padding: 0px 25px;
}

:host ::ng-deep  .mat-expansion-panel-content {
  padding-left: 20px;
}

:host ::ng-deep .mat-expansion-panel-header.mat-expanded:focus,
:host ::ng-deep .mat-expansion-panel-header.mat-expanded:hover,
:host ::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-keyboard-focused,
:host ::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']).cdk-program-focused,
:host ::ng-deep .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background-position: 15px 8px !important;
  background-size: 30px!important;
  background-repeat: no-repeat!important;
  padding-left: 25px!important;
}

:host ::ng-deep .mat-expansion-panel-header-description,
:host ::ng-deep .mat-expansion-panel-header-title {
  color: white;
  font-weight: bold;
  margin-left: 5px;
  font-size: 16px;
}

:host ::ng-deep .mat-expansion-panel-header-description,
:host ::ng-deep .mat-expansion-indicator::after {
  color: rgba(255, 255, 255, 1);
  margin-top: -7px;
}

:host ::ng-deep .mat-expansion-panel-header .mat-expansion-indicator{
  margin-right: 10px;
}

:host ::ng-deep .mat-hint {
  color: rgba(255, 255, 255, 0.6);
}

:host ::ng-deep .mat-form-field-required-marker {
  color: #ff2800;
}

:host ::ng-deep .mat-form-field-hint-wrapper{
opacity: 1;
transform: translateY(-1%);
font-size: 8px;
margin-right: 8px;
}

:host ::ng-deep .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
  background: transparent!important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  border-radius: 0px;
}

:host ::ng-deep .mat-form-field-appearance-outline:not(.mat-form-field-disabled) .mat-form-field-flex:hover .mat-form-field-outline {
  transition: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #212121!important;
  -webkit-text-fill-color: white!important;
  -webkit-box-shadow: 0 0 0px 1000px #212121 inset!important;
  transition: background-color 0s ease-in-out 0s;
}

:host ::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  border-top-color: inherit;
}

:host ::ng-deep .mat-form-field-label-wrapper {
  top: -4px;
  font-size: 12px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: transparent;
}

:host ::ng-deep .input-disabled .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-outline {
  background: #383838;
}

:host ::ng-deep .input-disabled .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix .mat-input-element {
  color: darken(white,40%);
}

:host ::ng-deep .input-disabled,
:host ::ng-deep .input-disabled .mat-input-element{
  cursor: not-allowed;
}

:host ::ng-deep .input-disabled{
box-shadow: inset 0px 0px 10px black;
}

.mat-input-element {
  color: white;
}

.label-disabled{
  font-size: 10px;
  position: absolute;
  top: -5px;
  color: rgba(255, 255, 255, 0.6);
}

.mat-form-field {
  margin-bottom: 8px;
}

.center-img{
  margin: 0px auto;
  display: table;
  position: relative;
  left: -8px;
}

.left-bg{
  padding: 35px;
}


.btn-blue, .btn-purple, .btn-green{
  width: 300px;
  padding: 15px 25px!important;
  line-height: 1!important;
  color: #fff!important;
  font-weight: 500;
  font-size: 14px;
  border-radius: 0px!important;
  margin-right: 15px!important;
  margin-bottom: 15px!important;
  text-align: left!important;
}

.btn-block,
.full-width-field{
  width: 100%!important;
}

.margin-right{
  width: calc(100% - 15px)!important;
}

.btn-password{
  top: -5px;
  color: rgba(255, 255, 255, 0.6);
}

.btn-blue{
  background: #0665BC!important;
}

.btn-green{
  background: #039957!important;
}

.btn-purple{
  background: #711B81!important;
}

.btn-half,
.btn-half-right{
  width: calc(50% - 8px);
}

.btn-half-right{
  margin-right: 0px!important;
}

.btn-green:hover{
  background: darken(#039957,20%)!important;
  color: darken(#ffffff,20%)!important;
}

.btn-purple:hover{
  background: darken(#711B81,20%)!important;
  color: darken(#ffffff,20%)!important;
}

.btn-blue:hover{
  background: darken(#0665BC,20%)!important;
  color: darken(#ffffff,20%)!important;
}

.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
  cursor: not-allowed;
  opacity: .5;
}

.color-red{
  color: red;
}

@media only screen and (max-width: 699px) {
  .col-11 {
    height: 300px;
    overflow-y: auto;
}
.btn-blue, .btn-purple, .btn-green{
  width: 100%;
}
}












.fade.show {
	opacity: 1;
}
.alert-dismissible {
	padding-right: 4rem;
}
.alert-corner {
	position: relative;
	padding: 0px;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
	position: fixed;
	bottom: 50px;
	right: 15px;
	z-index: 9999;
	background-color: #1b1b1b;
	color: white;
	border: none;
	width: 310px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.42);
}
.fade {
	opacity: 0;
	transition: opacity .15s linear;
}

.close:not(:disabled):not(.disabled) {
	cursor: pointer;
	outline: none;
}
.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75rem 1.25rem;
	color: inherit;
}
button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close:not(:disabled):not(.disabled) {
	cursor: pointer;
}
.alert-dismissible .close {
	position: absolute;
	top: 0;
	right: 0;
	padding: .75rem 1.25rem;
	color: inherit;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: none;
	opacity: .5;
}

.alert-header{
	background: #0665BC;
	padding: 15px;
}

.alert-body{
	padding: 15px;
}

.btn-transparent{
	background: transparent!important;
	text-align: left!important;
	padding: 0px!important;
	opacity: .6;
	display: block!important;
	cursor: default!important;
}

.btn-transparent:hover{
	opacity: 1;
}

.btn-transparent .mat-button-focus-overlay, .mat-button-ripple.mat-ripple {
	display: none;
}

/*Tooltip Styles*/

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
	bottom: 75%;
	left: 80%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 10px;
	line-height: 1.2;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
	width: 180px;
	white-space: pre-wrap;
	text-align: left;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 75%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

.warning-icon,
.success-icon{
	border-radius: 50%;
	background: #039957;
	color: #fff;
	overflow: hidden;
	margin-right: 5px;
	height: 25px;
	width: 25px;
	display: inline-grid;
}

.warning-icon{
	background: #E3A400;
}

.alert-ic{
	font-size: 16px;
	padding-left: 4.5px;
	padding-top: 4.5px;
}

.alert-info-tooltip {
  background: #000;
  margin-bottom: 4px !important;
  text-align: center;
}

.icon-info{
	font-size: 15px;
	vertical-align: sub!important;
}
