<div class="row">
  <div class="col-7">
    <div class="pcte-registration-bg-left">
      <div class="pcte-registration-left">
        <img src="../../../../assets/images/pcte-logo.png" class="registration-logo-sm">
        <h2>Basic Information</h2>
        <p>Please complete the following form. Upon completion, you will be redirected to login and begin the
          registration process.</p>
        <button mat-flat-button color="primary" class="btn-cac">
          Collect Basic Information via CAC/ECA</button>
        <div class="hr-theme-slash-2">
          <div class="hr-line"></div>
          <span>or</span>
          <div class="hr-line"></div>
        </div>
        <form>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Begin Typing">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Begin Typing">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Official Email Address</mat-label>
                <input matInput placeholder="Begin Typing">
              </mat-form-field>
              <mat-form-field class="full-width-field" appearance="outline">
                <span class="label-disabled">Username</span>
                <mat-label>steven.chambers</mat-label>
                <input matInput placeholder="steven.chambers" disabled>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Begin Typing">
              </mat-form-field>
            </div>
            <div class="col-6">
              <mat-form-field class="full-width-field" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Begin Typing">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-checkbox>I have read and accept the PCTE privacy policy.</mat-checkbox>
            </div>
          </div>
          <div class="row">
              <div class="col-12">
                <p>Please note: Users are required to login with CAC credentials to continue registration.</p>
              </div>
            </div>
          <div class="row">
            <div class="col-12">
              <button mat-flat-button color="primary" class="btn-existing-user" (click)="login()">
                Submit</button>
              <button mat-flat-button color="primary" class="btn-return" [routerLink]="['/registration/account-type']">
                Return to Account Type</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-5 mobile-hide">
    <div class="pcte-registration-bg-right"></div>
  </div>
</div>
