 
  /* ==== GRID SYSTEM ==== */
  
  .row {
    position: relative;
    width: 100%;
  }
  
  .row [class^="col"] {
    float: left;
    min-height: 0.125rem;
  }
  
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    width: 100%;
  }
  
  .row::after {
      content: "";
      display: table;
      clear: both;
  }
  
  @media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
      width: 80%;
    }
  }
  
  @media only screen and (min-width: 45em) {  /* 720px */
    .col-1 {
      width: 4.33%;
    }
  
    .col-2 {
      width: 12.66%;
    }
  
    .col-3 {
      width: 21%;
    }
  
    .col-4 {
      width: 33%;
    }
  
    .col-5 {
      width: 40%;
    }
  
    .col-6 {
      width: 50%;
    }
  
    .col-7 {
      width: 60%;
    }
  
    .col-8 {
      width: 67%;
    }
  
    .col-9 {
      width: 71%;
    }
  
    .col-10 {
      width: 79.33%;
    }
  
    .col-11 {
      width: 87.66%;
    }
  
    .col-12 {
      width: 100%;
    }
  
  }
  
    /* ==== GRID SYSTEM END ==== */
    
    .pcte-registration-bg-left{
      background-image: linear-gradient(-180deg, #F8FAFB 0%, #FFFFFF 100%);
      width: 100%;
      min-height: 100vh;
  }

  .pcte-registration-bg-right{
      background-color: black;
      background-image: url(../../../../assets/images/pcte-registration-loginE.jpg);
      background-repeat: no-repeat;
      background-position: 50% 100%;
      background-size: cover;
      height: 100%;
      width: 100%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      position: fixed;
      z-index: -1;
     // box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.52) !important;
  }
  
  .pcte-registration-left{
    padding: 55px;
  }
.registration-right{
	left: calc(((66% - 0.5px) + 1px) * 1)!important;
	width: calc(((34% - 0.5px) * 1) + 0px)!important;
}

.registration-left{
	left: 0px!important;
	width: calc(((66% - 0.5px) * 1) + 0px)!important;
}

    button{
        padding: 10px 25px 10px 25px;
        margin-top: 55px;
    }

    .btn-cac{
        width: 100% !important;
        margin-bottom: 5px;
        background: #931cb9 !important;
        margin-top: 15px;
        text-align: left;
    }
    

    .btn-existing-user{
      background: #501E60!important;
      margin-right: 25px;
      padding: 10px 25px 10px 25px!important;
      margin-top: 25px!important;
  }

  button:hover{
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2) !important;
  }

  .btn-return{
      color: #afafaf !important;
      background-color: transparent!important;
      padding: 0px;
      margin-top: 25px!important;
    }
  
    .btn-return:hover{
      box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0) !important;
      opacity: .5;
      background: transparent;
    }

      .login-icon {
        padding-right: 7px;
        height: 30px;
        width: 25px;
    }

a{
    color: #501E60;
    text-decoration: none;
}

a:hover{
    color: #A5A5A5;
}

p,
strong{
    font-size: .9rem;
    line-height: 1.2;
}

h2
h3{
    font-size: 2.3rem;
    line-height: 1.1;
    margin: 0px;
    color: #501E60;
}

h2{
    margin: 0px 0px 15px 0px;
    }

h5{
    font-size: .9rem;
    font-weight: 300;
    margin: 10px 0px 25px 0px ;
    line-height: 1.4;
}

.registration-logo-sm{
    height: 70px;
    max-width: 200px;
    margin-bottom: 5px;
    float: right;
    margin-right: 0px;
}

@media only screen and (min-width : 1800px) {
  .pcte-registration-bg-right{
    background-position: 250px 100%;
}
}


@media only screen and (max-width : 1200px) {
  .pcte-registration-bg-left{
    margin-bottom: 200px;
    display: inline-table;
  }
}

  @media only screen and (max-width : 920px) {
    .pcte-registration-bg-left{
        height: 100vh;
        position: absolute;
        bottom: 0px;
        top: 0px;
    }

  .registration-right,
  .mobile-hide{
    display: none;
    }

.pcte-registration-bg-left {
    background-position: 50px 100%;
}
}

.hr-theme-slash-2 {
    display: flex;
    margin: 20px 0px 25px 0px;
    .hr-line {
      width: 100%;
      position: relative;
      margin: 15px 0px;
      border-bottom: 1px solid #ddd;
    }
    span{
        background: #f8fafb;
        padding: 5px 15px;
    }
  }
  
    .mb-4,
    .full-width-field,
    .mat-form-field{
        width: 100%!important;
    }

  .mat-form-field-wrapper{
      width: 100%!important;
  }

  mat-form-field {
    width: 100%;
  }

  .mat-form-field {
    width: 100%;
  }

.label-disabled{
  font-size: .75rem;
  top: -27px;
  position: absolute;
  background: #eaeaea;
  padding: 2px 11px;
  color: #a7a7a7;
  border-radius: 3px;
  border: 1px solid #ddd;
  border-bottom: none;
}

.input-disabled{
  margin-top: 17px;
 }

.note{
  display: block;
  font-weight: inherit!important;
  color: #000000;
  font-style: italic;
  margin-top: 35px!important;
  font-family: sans-serif !important;
}

.powered-by,
.powered-in{
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.registration-basic-information .mat-expansion-panel {
  box-shadow: none;
  background: transparent;
}

.registration-basic-information .mat-hint {
  margin-right: 20px;
}

.registration-basic-information .mat-expansion-panel-header {
  padding: 0px;
  font-size: .8rem;
  color: #afafaf;
  font-weight: normal;
}
.registration-basic-information{
  margin-bottom: 15px;
}

.registration-basic-information .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:not([aria-disabled='true']):hover {
  background: transparent;
  opacity: .5;
}

.btn-password{
  margin-top: 0px;
  font-size: .8rem!important;
  position: absolute;
  top: -30px;
  right: 30px;
  line-height: 1;
  color: #8a8b8b;
  padding:0px;
}

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    width: calc(100% - 30px);
}

.mat-flat-button.mat-primary[disabled], .mat-flat-button.mat-accent[disabled], .mat-flat-button.mat-warn[disabled], .mat-flat-button[disabled][disabled], .mat-raised-button.mat-primary[disabled], .mat-raised-button.mat-accent[disabled], .mat-raised-button.mat-warn[disabled], .mat-raised-button[disabled][disabled], .mat-fab.mat-primary[disabled], .mat-fab.mat-accent[disabled], .mat-fab.mat-warn[disabled], .mat-fab[disabled][disabled], .mat-mini-fab.mat-primary[disabled], .mat-mini-fab.mat-accent[disabled], .mat-mini-fab.mat-warn[disabled], .mat-mini-fab[disabled][disabled] {
  color: rgba(44, 44, 44, 0.4);
  background: #e8e8e8!important;
  cursor: not-allowed;
}