<div class="pcte-registration-bg-right">
    <div class="banner-container">
        <div class="classification-banner" [ngClass]="pageConfig.classification" *ngIf="pageConfig.classification && pageConfig.classification !== 'none'">
            {{ clsBannerText }}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="container pcte-landing-header padding-bottom-none">
                <img class="registration-logo" src="assets/images/army-pcte-logo.png"
                    alt="Persistent Cyber Training Environment">
                <h1>Basic Information</h1>
                <p>Populate the following with your CAC/ECA or enter details to continue.</p>
            </div>
            <div class="container padding-top-sm left-bg">
                <div class="row">
                    <div class="col-6">
                        <div class="center-bg">
                            <a *ngIf='getConfig()' [href]="getCacUrl()">
                                <button mat-flat-button color="primary" class="btn-purple btn-block">
                                    <mat-icon class="login-icon" matSuffix>info</mat-icon>
                                    <span class="btn-text">
                                        Collect Basic Information via CAC/ECA
                                    </span>
                                </button>
                            </a>

                            <div class="center-img">
                                <img class="login-options" src="../../../../assets/images/or.png"
                                    alt="PCTE Login Options">
                            </div>
                            
                            <form *ngIf='getConfig()' [formGroup]="form" (ngSubmit)="submitForm(form.value)">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-form-field class="full-width-field margin-right" appearance="outline">
                                            <mat-label class="white-label">First Name</mat-label>
                                            <input matInput formControlName="firstName" required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-6">
                                        <mat-form-field class="full-width-field" appearance="outline">
                                            <mat-label class="white-label">Last Name</mat-label>
                                            <input matInput formControlName="lastName" required />
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field class="full-width-field" appearance="outline">
                                            <mat-label class="white-label">Email Address</mat-label>
                                            <input matInput formControlName="email" required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <mat-form-field class="full-width-field input-disabled" appearance="outline">
                                            <span class="label-disabled">Username</span>
                                            <mat-label></mat-label>
                                            <input matInput readonly formControlName="username">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="registration-basic-information">
                                            <mat-form-field appearance="outline" class="full-width-field margin-right">
                                                <mat-label>Password</mat-label>
                                                <input matInput #passwordWithValidation
                                                    [type]="maskPassword ? 'password' : 'text'"
                                                    formControlName="password" required maxlength="25">
                                                <button type="button" mat-icon-button matSuffix class="btn-password"
                                                    (click)="maskPassword = !maskPassword"
                                                    [attr.aria-label]="'Hide password'">
                                                    <mat-icon>{{maskPassword ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                                <mat-hint aria-live="polite" [align]="'end'">
                                                    {{passwordWithValidation.value.length}} / 25
                                                </mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="registration-basic-information">
                                            <mat-form-field appearance="outline" class="full-width-field">
                                                <mat-label>Confirm Password</mat-label>
                                                <input matInput [type]="maskPasswordConfirmation ? 'password' : 'text'"
                                                    required formControlName="confirmPassword" maxlength="25">
                                                <button type="button" mat-icon-button matSuffix class="btn-password"
                                                    (click)="maskPasswordConfirmation = !maskPasswordConfirmation"
                                                    [attr.aria-label]="'Hide password'">
                                                    <mat-icon>
                                                        {{maskPasswordConfirmation ? 'visibility_off' : 'visibility'}}
                                                    </mat-icon>
                                                </button>
                                            </mat-form-field>
                                            <small
                                                *ngIf="form.controls['password'].value !== form.controls['confirmPassword'].value"
                                                class="color-red">Passwords do not match</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="registration-basic-information">
                                            <app-password-strength-indicator [requirements]="passwordRequirements"
                                                [password]="form.controls['password'].value">
                                            </app-password-strength-indicator>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button type="submit" mat-flat-button color="primary" class="btn-blue full-width"
                                            [disabled]="!form.valid || form.controls['password'].value !== form.controls['confirmPassword'].value">
                                            <mat-icon class="login-icon" matSuffix>check</mat-icon>
                                            <span class="btn-text">
                                                Submit
                                            </span>
                                        </button>
                                        <!-- <button type="button" mat-flat-button color="primary" class="btn-green btn-half-right"
                                            [disabled]="!form.valid || form.controls['password'].value !== form.controls['confirmPassword'].value"
                                            (click)="submitAsVerifier(form.value)">
                                            <mat-icon class="login-icon" matSuffix>check</mat-icon>
                                            <span class="btn-text">
                                                Submit As Verifier
                                            </span>
                                        </button> -->

                                        <a class="back" [routerLink]="['/registration/overview']">
                                            Go Back
                                        </a>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <div class="foot-container">
                    <img class="footer-logo-left" src="assets/images/peostri-logo.png" alt="PEOSTRI Logos">
                    <img class="footer-logo-left" style="float:right;" src="assets/images/foot-logo.png"
                        alt="OpenDash360 Logo">
                </div>
            </div>
        </div>
    </div>
</div>