<div class="table-container">
  <app-listview-toolbar
    (refresh)="listItems()"
    (search)="search($event)"
    searchPlaceholder="Search microapplications"
    [showCreateButton]="false"
  >
    <button class="opacity-half" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>filter_list</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before">
      <div mat-menu-item disableRipple role="menuitemcheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox
          class="blue-checkbox"
          color="primary"
          [(ngModel)]="filters.active"
          (ngModelChange)="refreshItems()"
        >
          Active
        </mat-checkbox>
      </div>
      <div mat-menu-item disableRipple role="menuitemcheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox
          class="blue-checkbox"
          color="primary"
          [(ngModel)]="filters.disabled"
          (ngModelChange)="refreshItems()"
        >
          Disabled
        </mat-checkbox>
      </div>
      <div mat-menu-item disableRipple role="menuitemcheckbox" (click)="$event.stopPropagation()">
        <mat-checkbox
          class="blue-checkbox"
          color="primary"
          [(ngModel)]="filters.pending"
          (ngModelChange)="refreshItems()"
        >
          Pending
        </mat-checkbox>
      </div>
    </mat-menu>
  </app-listview-toolbar>

  <table
    mat-table
    [dataSource]="items"
    class="table"
    matSort
    matSortActive="appTitle"
    matSortDirection="asc"
    matSortDisableClear
  >

    <ng-container matColumnDef="appTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Application</th>
      <td mat-cell *matCellDef="let app">
        <a [routerLink]="['../edit/', app.docId]">
          <mat-icon *ngIf="app.enabled" class="avatar status-green float-left" style="margin-top:-7px;" matTooltip="App enabled">pages</mat-icon>
          <mat-icon *ngIf="!app.enabled" class="avatar status-red float-left" style="margin-top:-7px;" matTooltip="App disabled">pages</mat-icon>
          <span>{{app.appTitle}}</span>
        </a>
      </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell class="pr-1" *matHeaderCellDef>Version</th>
      <td mat-cell class="pr-1" *matCellDef="let app">
        {{app.version}}
      </td>
    </ng-container>

    <ng-container matColumnDef="clientName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
      <td mat-cell *matCellDef="let app">
        <div *ngIf="app.clientName" class="faux-chip monospace opacity-twothird mx-0 size-12">{{app.clientName}}</div>
        <div *ngIf="!app.clientName" class="monospace opacity-half mx-0 size-12">Unavailable</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="widgets">
      <th mat-header-cell *matHeaderCellDef class="text-center pr-1">Widgets</th>
      <td mat-cell *matCellDef="let app" class="text-center pr-1">
        {{app.widgets.length}} <mat-icon class="sm-icon opacity-half">widgets</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="vendor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
      <td mat-cell *matCellDef="let app">
        {{ vendors[app.vendorId] || 'N/A' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-left">Status</th>
      <td mat-cell *matCellDef="let app" class="text-left">
        <mat-chip *ngIf="(app.approved || app.native) && app.enabled" class="status-green bold-400">Active</mat-chip>
        <mat-chip *ngIf="(app.approved || app.native) && !app.enabled" class="status-red bold-400">Disabled</mat-chip>
        <mat-chip *ngIf="!app.approved && !app.native" class="status-orange bold-400">Pending</mat-chip>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-right">&nbsp;</th>
      <td mat-cell *matCellDef="let app" class="text-right">
        <button mat-icon-button [routerLink]="['../edit/', app.docId]" matTooltip="Edit App">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row: columns: displayedColumns"></tr>

  </table>

  <div class="pagination">
    <span>{{paginator.length}} Total Microapps</span>
    <mat-paginator
      [pageSizeOptions]="[10, 25, 50, 100]"
      [pageSize]="10"
      showFirstLastButtons
    ></mat-paginator>
  </div>
</div>