<div style="width: calc(100% - 180px); height: calc(100vh - 100px); margin: -30px 110px 0;">
  <gridster #gridsterEl [options]='options' class="gridster-bg-view-mode">
    <ng-container *ngIf="dashboard && viewInit && models.length > 0">
      <ng-container *ngFor="let item of dashboard?.gridItems; index as i">
        <gridster-item [item]="item?.gridsterItem">
          <div #widgetRendererContainer class="widgetRendererContainer"></div>
        </gridster-item>
      </ng-container>
    </ng-container>
  </gridster>
</div>
