<div style="width: 100%; height:  calc(100vh - 100px); margin: -30px 0px 0px -10px;">
  <gridster [options]='options' class="gridster-bg-view-mode">
      <div *ngFor="let item of dashboard.gridItems; index as i">
          <gridster-item [item]="item.gridsterItem">
            <app-widget-renderer *ngIf="models[i]" 
                [app]="models[i].app" 
                [widget]="models[i].widget"
                [format]="rendererFormat"
                [resize]="resize"
                
                (leftBtnClick)="maximizeWidget(i)"
                (middleBtnClick)="popout(i)"
                (rightBtnClick)="confirmWidgetDelete(i)"
                (stateChanged)="stateChanged($event, i)"
            ></app-widget-renderer>
          </gridster-item>
      </div>
  </gridster>
</div>
<app-widget-renderer *ngIf="maximize" style="position: fixed; top:0px; left: 199px; height: 100vh; width: calc(100vw - 200px); z-index: 2;"
    [app]="models[maximizeIndex].app"
    [widget]="models[maximizeIndex].widget"
    [format]="maximizeRendererFormat"
    (middleBtnClick)="minimizeWidget(); popout(maximizeIndex);"
    (rightBtnClick)="minimizeWidget()"
    (stateChanged)="stateChanged($event, maximizeIndex)"
></app-widget-renderer>

<!-- <app-modal #confirmWidgetDeletionModal
    [title]="'Delete Widget from Dashboard'"
    [message]="'Are you sure you want to delete this widget?'"
    [iconClassList]="'fa fa-4x fa-trash text-danger margin-bottom'"
    [buttons]="[{title: 'Confirm', classList: 'btn btn-danger'}]" 
    (btnClicked)="deleteWidget($event)"
></app-modal> -->