:host{
    display: block;
    height: calc(100% - 64px);
}

.app-icon {
    font-size: 21px;
    line-height: 30px;
}

.app-icon-selected {
    color: #0063BF;
}

.app-icon-bg {
    background: #c9c9c9;
    border-radius: 50%;
    height: 30px;
    position: relative;
    width: 30px;
}

.app-icon-bg-selected {
    background: rgba(0, 99, 191, 0.2);
}

.app-selector {
    background: rgba(199, 199, 199, 0.3);
    float: left;
    height: calc(100% - 8px);
    width: 25%;
}

.app-title {
    margin-left: 10px;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

.renderer {
    display: flex;
    height: calc(100% - 75px);
    margin-bottom: 25px;
    overflow: auto;
    padding-right: 25px;
    position: absolute;
    width: calc(100% - 100px);
}

.renderer-container {
    height: calc(100% - 100px);
    overflow: hidden;
    padding: 50px;
    position: relative;
    width: calc(75% - 100px);
}

.tab-group {
    display: flex;
    height: 100%;
    width: 100%;
}

.table-container{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}