<mat-tab-group class='tab-group'>
    <mat-tab *ngFor='let branch of branches; index as i;' class='branch-tab'>
        <ng-template mat-tab-label>
            <mat-icon *ngIf="branch.iconType === 'icon'" class='branch-icon'>{{ branch.icon }}</mat-icon>
            <img *ngIf="branch.iconType === 'image'" class='branch-icon' [src]="branch.icon">
            <span class='branch-title'>{{ branch.title }}</span>
        </ng-template>

        <mat-action-list class='app-selector'>
            <button *ngFor='let app of apps[i]; index as j;' mat-list-item class='app-row' (click)='onAppClick(i, j)'>
                <mat-icon *ngIf="app.appIconType === 'icon'" class='app-icon'>{{ app.appIcon }}</mat-icon>
                <span class="app-icon" mat-list-icon>
                    <img class='full-height full-width' [src]="generateResourceURL(app)" [alt]="app.appTitle">
                </span>
                <div class='app-title'>{{ app.appTitle }}</div>
            </button>
        </mat-action-list>

        <div class='renderer-container'>
            <div *ngFor='let app of apps[i]; index as j;'>
                <app-native-component-renderer
                    *ngIf='app.native'
                    class='renderer'
                    [@appScroll]="j < selectedAppIndices[i] ? 'top' : j > selectedAppIndices[i] ? 'bottom' : 'middle'"
                    [app]='app'
                ></app-native-component-renderer>
                <app-micro-app-renderer
                    *ngIf='!app.native'
                    class='renderer'
                    [@appScroll]="j < selectedAppIndices[i] ? 'top' : j > selectedAppIndices[i] ? 'bottom' : 'middle'"
                    [app]='app'
                ></app-micro-app-renderer>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>