<mat-tab-group class='tab-group content-body' (selectedTabChange)='onTabChange($event)'>
    <mat-tab *ngFor='let branch of branches; index as i;' class='branch-tab'>
        <ng-template mat-tab-label>
            <!-- <mat-icon *ngIf="branch.iconType === 'icon'" class='branch-icon'>{{ branch.icon }}</mat-icon>
            <img *ngIf="branch.iconType === 'image'" class='branch-icon' [src]="branch.icon"> -->
            <!-- <span class='ml-1'>{{ branch.title }}</span> -->
            <span>{{ branch.title }}</span>
        </ng-template>

        <div class="table-container full-height my-2">
            <mat-action-list class='app-selector'>
                <button *ngFor='let app of apps[i]; index as j;' mat-list-item class='app-row'
                    (click)='onAppClick(i, j)'>
                    <!-- <div *ngIf="app.appIconType === 'icon'"
                        [ngClass]="{'app-icon-bg': true, 'app-icon-bg-selected': selectedAppIndices[i] === j}">
                        <mat-icon [ngClass]="{'app-icon': true, 'app-icon-selected': selectedAppIndices[i] === j}">
                            {{ app.appIcon }}</mat-icon>
                    </div>
                    <span *ngIf="app.appIconType === 'image' || app.appIconType === undefined" mat-list-icon>
                        <img class='full-height full-width' [src]="generateResourceURL(app)" [alt]="app.appTitle">
                    </span> -->
                    <mat-icon *ngIf="branch.iconType === 'icon'" class='branch-icon'>{{ branch.icon }}</mat-icon>
                    <img *ngIf="branch.iconType === 'image'" class='branch-icon' [src]="branch.icon">
                    <div class='app-title'>{{ app.appTitle }}</div>
                </button>
            </mat-action-list>

            <div class='renderer-container'>
                <div *ngFor='let app of apps[i]; index as j;'>
                    <app-native-component-renderer
                        #renderer
                        *ngIf="app.native && app.renderContext === 'odysseus'"
                        class='renderer'
                        [@appScroll]="j < selectedAppIndices[i] ? 'top' : j > selectedAppIndices[i] ? 'bottom' : 'middle'"
                        [app]='app'
                        [attr.branchIndex]='i'
                        [attr.appIndex]='j'
                        [state]="state"
                    ></app-native-component-renderer>
                    <app-micro-app-renderer
                        *ngIf="!app.native"
                        class='renderer'
                        [@appScroll]="j < selectedAppIndices[i] ? 'top' : j > selectedAppIndices[i] ? 'bottom' : 'middle'"
                        [app]='app'
                        [attr.branchIndex]='i'
                        [attr.appIndex]='j'
                    ></app-micro-app-renderer>
                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>