@import 'src/assets/scss/_mixins.scss';

:host{
    display: block;
    height: 100%;
}

.app-icon {
    font-size: 21px;
    line-height: 30px;
}

.app-icon-selected {
    color: #0063BF;
}

.app-icon-bg {
    background: #c9c9c9;
    border-radius: 50%;
    height: 30px;
    position: relative;
    width: 30px;
}

.app-icon-bg-selected {
    background: rgba(0, 99, 191, 0.2);
}

// .app-selector {
//     background: rgba(199, 199, 199, 0.3);
//     height: calc(100% - 8px);
//     width: 25%;
// }

.app-title {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(#000, 0.6);
}

.branch-icon {
    @include icon-size(20px);
    padding: 5px;
    border-radius: 50%;
    background: rgba(#000, 0.07);
    color: rgba(#000, 0.4);
}

.app-row.selected {
    .branch-icon {
        color: #0063BF;
        background-color: rgba(#0063BF, 0.2);
    }

    .app-title {
        color: #0063BF;
    }
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

.renderer {
    display: flex;
    height: 100%;
}

.renderer-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.renderer-wrapper {
    overflow-y: auto;
}

.tab-group {
    display: flex;
    height: 100%;
    width: 100%;
}

.table-container{
    height: 100%;

    .app-selector {
        background: rgba(199, 199, 199, 0.2);
        box-sizing: border-box;
        padding: 10px 0;
    }
}