:host{
    display: block;
    height: calc(100% - 64px);
}

.app-icon {
    font-size: 24px;
    left: calc(50% - 12px);
    position: absolute;
    top: calc(50% - 12px);
}

.app-icon-selected {
    color: #0063BF;
}

.app-icon-bg {
    background: #c9c9c9;
    border-radius: 50%;
    height: 40px;
    position: relative;
    width: 40px;
}

.app-icon-bg-selected {
    background: rgba(0, 99, 191, 0.2);
}

.app-row:hover {
    .app-icon-bg{

    }
}

.app-selector {
    background: rgba(199, 199, 199, 0.3);
    float: right;
    height: calc(100% - 8px);
    width: 25%;
}

.app-title {
    margin-left: 10px;
}

::ng-deep .mat-tab-body-wrapper {
    height: 100%;
}

.renderer {
    display: flex;
    height: 100%;
    position: absolute;
    width: calc(100% - 50px);
}

.renderer-container {
    height: 100%;
    overflow: hidden;
    padding: 50px;
    position: relative;
    width: calc(75% - 100px);
}

.tab-group {
    display: flex;
    height: 100%;
    width: 100%;
}