<div class="content-body interior">

  <h3>MicroApp Comments</h3>

  <mat-list #chatHistory>
    <mat-list-item *ngFor="let comment of comments">
      <div [ngClass]="{'align-right': comment.isFromVendor === isVendor}">
        <span class="message-data-name">{{comment.senderFirstName}} {{comment.senderLastName}} </span>
        <span class="message-data-time">{{comment.createdAt | date:'HH:mm on MM-dd-yyyy'}} </span>
      </div>

      <div class="message" [ngClass]="{'other-message float-right': comment.isFromVendor === isVendor, 'my-message': comment.isFromVendor !== isVendor}">
        {{comment.message}}
      </div>
    </mat-list-item>
      
    <mat-list-item *ngIf="canCreate">

      <mat-form-field>
        <mat-label>Communicate with administrator</mat-label>
        <input matInput placeholder="Question or Comment" [type]="type" [(ngModel)]="message" (keyup.enter)="postComment()">
        <mat-hint></mat-hint>
      </mat-form-field>
   
      <button mat-mini-fab color="primary" (click)="postComment()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-list-item>
  </mat-list>

</div>