<h2>MicroApp Discussion</h2>

<div #chatHistory>
  <div *ngFor="let comment of comments" class="mb-2">
    <div [ngClass]="{'otherMessage message': comment.isFromVendor === isVendor, 'myMessage message': comment.isFromVendor !== isVendor}" class="mb-2">
      <mat-icon class="bg-gray round py-1 px-1 mr-1 opacity-half float-left">person</mat-icon>
      <small>
        <strong class="pr-1">{{comment.senderFirstName}} {{comment.senderLastName}}</strong>
        {{comment.createdAt | date:'hh:mm on MM-dd-yyyy'}} 
      </small>
      <div class="pt-1">
        {{comment.message}}
      </div>
    </div>
  </div>
    
  <div *ngIf="canCreate" class="mt-2">
    <mat-form-field>
      <mat-label>Communicate with Administrator</mat-label>
      <input matInput placeholder="Question or Comment" [type]="type" [(ngModel)]="message" (keyup.enter)="postComment()">
      <mat-hint></mat-hint>
    </mat-form-field>
 
    <button mat-flat-button color="primary" class="ml-1" (click)="postComment()">
      Send <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
