<app-card-title
  [cardTitle]="'Add Realm-Level Roles'"
  [cardSubtitle]="'Choose realm-level roles below.'"
  ></app-card-title>  
 <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let role of roles">
       <div class="form-group">
          <div class="inputGroup">
             <input [id]="role.id" type="checkbox" [(ngModel)]="role.active" />
             <label [for]="role.id">{{role.name}}</label>
          </div>
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-lg-12">
       <button type="button" class="btn-save" (click)="update()">
          Save
       </button>
    </div>
 </div>