<button mat-icon-button matTooltip="Close" (click)="close.emit()" class="float-right mt-n1 mr-n1">
  <mat-icon>clear</mat-icon>
</button>

<h2 mat-dialog-title>Create User</h2>

<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">

  <mat-list>
    <mat-list-item class="mb-2">
      <app-text-input [type]="'text'" [label]="'First Name'" [placeholder]="'Your First Name'" [maxChars]="250" [errorMsg]="'Error!'"
        [controlName]="'firstName'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item class="mb-2">
      <app-text-input [type]="'text'" [label]="'Last Name'" [placeholder]="'Your Last Name'" [maxChars]="250" [errorMsg]="'Error!'"
        [controlName]="'lastName'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item class="mb-2">
      <app-text-input [type]="'username'" [label]="'Username'" [placeholder]="'Username'" [maxChars]="250" [errorMsg]="'Error!'"
        [controlName]="'username'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item class="mb-2">
      <app-text-input [type]="'text'" [label]="'Email Address'" [placeholder]="'email@domain.com'" [maxChars]="254" [errorMsg]="'Error!'"
        [controlName]="'email'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item class="mb-2">
      <app-text-input [type]="'password'" [label]="'Password'" [placeholder]="'********'" [errorMsg]="'Error!'" [maxChars]="250"
        [controlName]="'password'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item class="mb-2">
      <app-text-input [type]="'password'" [label]="'Confirm Password'" [placeholder]="'********'" [errorMsg]="'Error!'" [maxChars]="250"
        [controlName]="'password'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </mat-list-item>

    <mat-list-item>
      <button mat-button color="secondary" (click)="close.emit()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Create</button>
    </mat-list-item>
  </mat-list>
</form>