.calendar .tab-content-rmf {
    background: $slideout;
    border: none;
    padding: 15px;
}

.calendar .nav-pills > li.active > a, .calendar .nav-pills > li.active > a:focus, .calendar .nav-pills > li.active > a:hover {
    background-color: $slideout;
    color: $white;
}

.calendar .nav-pills > li.active > a, 
.calendar .nav-pills > li.active > a:focus, 
.calendar .nav-pills > li.active > a:hover {
    border-left: none;
    border-right: none;
    margin-bottom: 0px;
}

.calendar .nav {
margin-top: 25px;
}

.calendar .nav > li > a {
    color: $silver;
}

.calendar .text-lg{
    font-size: 2.8rem;
    font-weight: 800;
    color: white;
    line-height: 1.2;
}

.calendar .text-sm{
    font-size: .8rem;
    font-weight: 300;
    color: $white;
    overflow-x: hidden;
    text-transform: uppercase;
}

.date-bg{
    background: $primary-alert;
    padding: 5px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.date-icon-bg{
    background: $primary-alert;
    padding: 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.icon-calendar-settings:before {
    color: $white;
    font-size: 1.5rem;
}

.alert-calendar{
    border-left: 5px solid $pale-sky;
}

.calendar .alert {
    padding: 15px;
    background: rgba(255, 255, 255, 0.07);
}
