.dashboard-icons{
    font-size: 7rem;
    display: block;
    margin-bottom: 15px;
}

.dashboard-icons-label a{
    font-size: 1.3rem;
    color: #36414b;
}

.dashboard-hover{
    cursor: pointer;
}

.dashboard-hover:hover a{
    opacity: 1!important;
}
.dashboard-icons:before {
    color: #36414b;
}

.dashboard-hover:hover > .dashboard-icons:before,
.dashboard-hover:hover > .dashboard-icons-alt:before {
    color: #42a4ff;
    transition: all 0.4s ease;
    opacity: .5;
}


.screenshot{
    height: 350px; 
    max-width: 1000px; 
    margin:55px 0px 115px 0px;
}

.screenshot-bootstrapper {
    height: 300px;
    max-width: 1000px;
    margin: 15px 0px 45px 0px;
}

.dashboard-icon-label{
    display: block;
}

.dashboard-icon-label-strong{
font-weight: 800;
text-transform: uppercase;
}