 .footer-dock div {
  width: 60px;
  text-align: center;
  cursor: pointer;
  margin-left: 10px;
  height: 45px;
}

.footer-dock .icon-applets:before{
  color: $secondary-color;
  font-size: 1.5rem;
}

.footer-dock .footer-dock-widget:hover > .icon-applets:before{
  color: $primary-alert;
}

// Help Start

.help-bg{
  right: 0px;
  position: fixed!important;
}

.icon-help-dock:before{
color: $secondary-color;
font-size: 1.5rem;
}

.help-bg:hover > .icon-help-dock:before{
  color: $primary-alert;
}

.help-bg:hover{
  background: transparent!important;
}

// Help End