// COMPONENTS / FOOTER
.footer-bg {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 21px 25px;
    margin-left: 200px;
    background: $footer;
}

@media (max-width: 768px) {
    .footer-bg {
        margin-left: 0;
    }
}

.foot-li {
    padding: 15px 5px !important;
    cursor: pointer;
}

.widget-li{
    padding: 0px 5px!important;
}


.foot-bg{
    background:$primary;
}

.foot-bg a{
    color: white;
}