// COMPONENTS / FOOTER

.footer-bg {
    position: inherit;
    bottom: 0;
    width: 100%;
    padding: 15px 25px;
    margin-left: 200px;
    background: $footer;
}

@media (max-width: 768px) {
    .footer-bg {
        margin-left: 0;
    }
}

.foot-li {
    padding: 15px 5px !important;
    cursor: pointer;
}

.welcome-bg {
    background: #3f444b;
    padding: 5px 10px;
    color: $white;
}