// GRIDSTER

// Very light transition for blue background on body

gridster {
    transition: background-color .2s linear;

    &.fit {
        background-color: #70a5d5;
    }
}

.gridster-bg-view-mode {
    background-color: transparent !important;
}

gridster-item {
    background-color: #fff !important;
}

.gridster-card-view-mode .widget-float-body {
    opacity: 1 !important;
    filter: none !important;
    padding: 0 !important;
}