<div mat-dialog-title>
  <h4 class="title">Change password</h4>
  <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="formGroup">
    <mat-form-field class='ng-text-field full-width'>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
    <mat-form-field class='ng-text-field full-width'>
      <input
        type="password"
        matInput
        placeholder="Confirm password"
        formControlName="confirmPassword"
        [errorStateMatcher]="matcher"
      >
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button
      color="primary"
      class="primary-button"
      mat-raised-button
      (click)="changePassword()"
      [disabled]="formGroup.invalid"
  >
    Change
  </button>
  <button mat-button mat-dialog-close class="opacity-half">Cancel</button>
</div>

<div class="loading" *ngIf="loading">
  <mat-spinner [diameter]="60"></mat-spinner>
</div>
