<div class="filter-bg">
  <div class="row">
    <div class="col-lg-12">
      <div class="filter-title">Filter Results</div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
        <div class="form-row">
          <div class="col-lg-7">
            <app-text-input
              [placeholder]="searchbarPlaceholderText"
              [formGroup]="filterFormGroup"
              [controlName]="'search'"
            ></app-text-input>
          </div>
          <div class="col">
            <app-select-input
              [options]="options"
              [formGroup]="filterFormGroup"
              [controlName]="'sort'"
            ></app-select-input>
          </div>
          <div class="col">
            <button class="btn-primary-rmf btn-block" (click)="onSubmit()">Filter</button>
          </div>
        </div>
    </div>
  </div>
</div>