<button mat-icon-button matTooltip="Close" (click)="btnClick.emit('Cancel')" class="float-right mt-n1 mr-n1">
  <mat-icon>clear</mat-icon>
</button>

<mat-icon class="float-left mr-1 mt-2 line-height-1-3" *ngFor="let icon of icons" [ngClass]="icon.classList">{{icon.icon}}</mat-icon>

<h2>{{title}}</h2>

<p mat-dialog-content>
	{{message}}
</p>

<div mat-dialog-actions class="mt-2">
  <button matTooltip="{{button.title}}" mat-raised-button color="primary" *ngFor="let button of buttons" [ngClass]="button.classList" (click)="btnClick.emit(button.title)">{{button.title}}</button>
  <button mat-button (click)="btnClick.emit('Cancel')">Cancel</button>
</div>