.delete-icon {
    display: none;
}

.email-hover:hover {
    background: #C4C4C4;
    
    .delete-icon {
        display: block
    }
}

.flex-wrapper {
    align-items: baseline;
    display: flex;
}

.label {
    color: rgba(44, 44, 44, 0.54);
    font-size: small;
}

mat-divider {
    margin-left: 15px;
    margin-right: 15px;
    width: calc(100% - 30px) !important;
}