<form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
  <app-text-input [type]="'text'" [label]="'*Base URL to SSO Instance'" [placeholder]="'Begin Typing'" [maxChars]="250"
    [errorMsg]="'Error!'" [controlName]="'ssoConnection'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
  </app-text-input>

  <div class="row">
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*New Realm Display Name'" [placeholder]="'Begin Typing'" [maxChars]="250"
        [errorMsg]="'Error!'" [controlName]="'realmDisplayName'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Realm Name'" [placeholder]="'Begin Typing'" [maxChars]="250"
        [errorMsg]="'Error!'" [controlName]="'realm'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Public Authentication Client Name'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'publicClientName'" [formGroup]="form"
        [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Public Authentication Client ID'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'publicClientId'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Bearer Authentication Client Name'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'bearerClientName'" [formGroup]="form"
        [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
    <div class="col-lg-6">
      <app-text-input [type]="'text'" [label]="'*Bearer Authentication Client ID'" [placeholder]="'Begin Typing'"
        [maxChars]="250" [errorMsg]="'Error!'" [controlName]="'bearerClientId'" [formGroup]="form" [errorMsgClassList]="'alert-danger'">
      </app-text-input>
    </div>
  </div>
  <button class="btn-save btn-bootstrapper" type="submit" [disabled]="!form.valid">Next Step</button>
</form>