<div [ngClass]="type" mat-dialog-title>
  <h4 class="title">Choose Roles</h4>
  <button mat-icon-button mat-dialog-close class="close-button">
      <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div *ngFor="let role of roles">
    <mat-checkbox [(ngModel)]="role.active">{{ role.name }}</mat-checkbox>
  </div>
</div>

<div mat-dialog-actions>
  <button
      type="button"
      color="primary"
      mat-raised-button
      matTooltip="Update Permissions"
      (click)="addRoles()"
  >
    Update
  </button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
