// MANUAL UPDATES TO MATERIAL EXPANSIONS -- REFACTOR

.reqLine {
    width: 100%;
    display: block;
    clear: both;
    margin: 10px 0;
    font-size: 12px;
    color: #666;

    mat-icon {
        display: inline-block;
        float: left;
        margin-right: 10px;
        font-size: 18px;
        height: 18px;
        width: 18px;
    }
}

.reqCont {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-right: 30px;
}

mat-expansion-panel {
    box-shadow: none !important;
}

mat-expansion-panel-header {
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    opacity: 0.7;

    &:hover {
        background: transparent !important;
    }
}