<mat-accordion>
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        View Password Criteria
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="reqCont">
      <div class="reqLine" *ngIf='requirements && requirements.lowers > 0'>
        <mat-icon *ngIf="!lowersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="lowersCheck" class="round bg-green color-white">check</mat-icon> 
        {{ requirements.lowers }}+ Lowercase Characters
      </div>
      <div class="reqLine" *ngIf='requirements && requirements.uppers > 0'>
        <mat-icon *ngIf="!uppersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="uppersCheck" class="round bg-green color-white">check</mat-icon>
        {{ requirements.uppers }}+ Uppercase Characters
      </div>
      <div class="reqLine" *ngIf='requirements && requirements.numbers > 0'>
        <mat-icon *ngIf="!numbersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="numbersCheck" class="round bg-green color-white">check</mat-icon>
        {{ requirements.numbers }}+ Numerics
      </div>
      <div class="reqLine" *ngIf='requirements && requirements.specials > 0'>
        <mat-icon *ngIf="!specialsCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="specialsCheck" class="round bg-green color-white">check</mat-icon>
        {{ requirements.specials }}+ Special Characters
      </div>
      <div class="reqLine" *ngIf='requirements && requirements.minLength > 0'>
        <mat-icon *ngIf="!minLengthCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="minLengthCheck" class="round bg-green color-white">check</mat-icon>
        {{ requirements.minLength }}+ Characters
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>