<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        View Password Criteria
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="reqCont">
      <div class="reqLine">
        <mat-icon *ngIf="!lowersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="lowersCheck" class="round bg-green color-white">check</mat-icon> 2+ Lowercase Characters
      </div>
      <div class="reqLine">
        <mat-icon *ngIf="!uppersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="uppersCheck" class="round bg-green color-white">check</mat-icon> 2+ Uppercase Characters
      </div>
      <div class="reqLine">
        <mat-icon *ngIf="!numbersCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="numbersCheck" class="round bg-green color-white">check</mat-icon> 2+ Numerics
      </div>
      <div class="reqLine">
        <mat-icon *ngIf="!specialsCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="specialsCheck" class="round bg-green color-white">check</mat-icon> 2+ Special Characters
      </div>
      <div class="reqLine">
        <mat-icon *ngIf="!minLengthCheck" class="round bg-red color-white">priority_high</mat-icon>
        <mat-icon *ngIf="minLengthCheck" class="round bg-green color-white">check</mat-icon> 15+ Characters
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>