<!--<mat-password-strength #passwordComponentWithValidation [password]="passwordWithValidation.value" [min]="15" [max]="25">
</mat-password-strength>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    View Password Criteria
  </mat-expansion-panel-header>
  <mat-password-strength-info 
  [passwordComponent]="passwordComponentWithValidation" 
  minCharsCriteriaMsg="15+ characters"  
  upperCaseCriteriaMsg="2+ uppercase characters" 
  lowerCaseCriteriaMsg="2+ lowercase characters"
  digitsCriteriaMsg="2+ numerics" 
  specialCharsCriteriaMsg="2+ special characters">
  </mat-password-strength-info>
</mat-expansion-panel>
-->