<div class="remove-usecase">
  <app-card-title [cardTitle]="'Add/Remove Realm-level Roles'" [cardSubtitle]="'Choose realm-level roles below.'"></app-card-title>
</div>
<div class="row">
  <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6" *ngFor="let role of roles">
    <app-bind-checkbox-input [label]="role.name" [(value)]="role.active"></app-bind-checkbox-input>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <button type="button" class="btn-save" (click)="update()">
      Save
    </button>
  </div>
</div>