<div class="row">
  <div class="col-md-12">
    <div class="table table-emf table-responsive">

      <div class="section-title margin-bottom-md">Native MicroApps</div>

      <table class="table">
        <thead>
          <tr>
            <th class="table-force text-center">Status</th>
            <th>MicroApp Name</th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let app of apps">
            <td class="text-center">
              <span *ngIf="app.enabled" tooltip="Microapp is Enabled" tooltip-position="top">
                <span class="bg-success uk-circle-shape"></span>
              </span>
              <span *ngIf="!app.enabled" tooltip="Microapp is Enabled" tooltip-position="top">
                <span class="bg-warning uk-circle-shape"></span>
              </span>
            </td>

            <td>
              <a class="table-edit-hover" [routerLink]="['../edit', app.docId]">
                <div>{{app.appTitle}}</div>
                <div class="icon-primary-color icon-edit"></div>
              </a>
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>