<h2>Native MicroApps</h2>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>MicroApp</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let app of apps">
      <td class="text-center">
        <span *ngIf="app.enabled" tooltip="Microapp is Enabled" tooltip-position="top">
          <span class="material-icons color-green">brightness_1</span>
        </span>
        <span *ngIf="!app.enabled" tooltip="Microapp is Disabled" tooltip-position="top">
          <span class="material-icons color-red">brightness_1</span>
        </span>
      </td>

      <td>
        <a [routerLink]="['../edit', app.docId]">
          {{app.appTitle}}
        </a>
      </td>
    </tr>
  </tbody>
</table>