<h2>Widget Details</h2>
<button (click)="close.emit(null)">Back</button>
<div>
  <img *ngIf="!aww.app.native" class="mt-2" style="width: 45px; height: 45px;" [src]="getWidgetIcon(aww.widget, aww.app)" title="{{aww.widget.widgetTitle}}" />
  <mat-icon *ngIf="aww.app.native" class="md-icon mt-2">widgets</mat-icon>
  <h3>{{this.aww.widget.widgetTitle}}</h3>
  <div *ngIf="this.aww.widget.descriptionFull">{{this.aww.widget.descriptionFull}}</div>
  <div *ngIf="!this.aww.widget.descriptionFull && this.aww.widget.descriptionShort">{{this.aww.widget.descriptionFull}}</div>
  <div *ngIf="!this.aww.widget.descriptionFull && !this.aww.widget.descriptionShort">The vendor did not provide a description for this widget.</div>
</div>

<div>
  <strong>Rate this Widget: </strong>
  <bar-rating [rate]="aww.widget.rating" [readOnly]="true"></bar-rating>
</div>

<div *ngIf="vendor">
  <img *ngIf="vendor.logoImage" height="50px" widgth="50px" [src]="getVendorLogo()" />
  <h3>About {{this.vendor.name}}</h3>
  <div>{{this.vendor.description}}</div>
</div>

<div *ngIf="otherWidgets.length > 0">
  <h4>Other Widgets from this Vendor</h4>
  <div *ngFor="let appWithWidget of getSubpageArray()">
    <div *ngIf="appWithWidget.widget.docId !== this.aww.widget.docId">
        <button mat-stroked-button color="secondary" class="full-width" [matMenuTriggerFor]="widgetDetailsMenu">
          <img *ngIf="!appWithWidget.app.native" height="50px" widgth="50px" [src]="getWidgetIcon(appWithWidget.widget, appWithWidget.app)" />
          <mat-icon *ngIf="appWithWidget.app.native" class="md-icon mt-2">widgets</mat-icon>

          <strong>{{appWithWidget.widget.widgetTitle}}</strong>

          <div *ngIf="appWithWidget.widget.descriptionShort">{{appWithWidget.widget.descriptionShort}}</div>
          <div *ngIf="!appWithWidget.widget.descriptionShort">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
        </button>
        <mat-menu #widgetDetailsMenu="matMenu" [overlapTrigger]="true" xPosition="after">
          <button mat-menu-item (click)="popout.emit(appWithWidget)">
            <mat-icon>launch</mat-icon>
            <span>Launch Widget</span>
          </button>
          <button mat-menu-item (click)="addToDashboard.emit(appWithWidget)" *ngIf='onDashboard()'>
            <mat-icon>dashboard</mat-icon>
            <span>Add to Dashboard</span>
          </button>
          <button mat-menu-item (click)="this.aww = appWithWidget">
            <mat-icon>more_vert</mat-icon>
            <span>View Details</span>
          </button>
        </mat-menu>
    </div>
  </div>
  <button 
    [disabled]="!hasPrevSubpage()"
    (click)="prevSubpage()"
  >
    Previous
  </button>
  <button 
    [disabled]="!hasNextSubpage()"
    (click)="nextSubpage()"
  >
    Next
  </button>
</div>