<div class="desktop-only">
        <li class="sidebar-user-panel" (click)="toggleSlideoutB()">
           <span class="icon-widgets vertical-align icon-all-applets"></span>
           <span>Notifications Slideout</span>
        </li>
     </div>
     <div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
        <div id="slideout">
           <div id="slideout_innerB">
              <div class="row">
                 <div class="col-lg-12">
                    <div class="slideout-title">
                       <button type="button" class="btnCloseSlider" aria-label="Close">
                       <span class="close-large" aria-hidden="true">&times;</span>
                       </button>
                       <span class="slideout-applet-title-icon icon-all-applets"></span>
                       Notification Details
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-12">
                    <select class="slideout-select">
                       <option>View All</option>
                       <option>Information</option>
                       <option>Success</option>
                       <option>Warning</option>
                       <option>Danger</option>
                    </select>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-12">
                    <div class="alert alert-success" role="alert">
                       <button class="alert-slideout-close" type="button">
                       <span class="close-medium">×</span>
                       </button>
                       <div class="section-title">Well done!</div>
                       <i class="alert-date">December 13, 2018 | 09:30 EST</i>
                       <p class="small">This example text is going to run a bit longer so that you can see how spacing works.</p>
                       <hr>
                       <a class="alert-link">View in Log
                       <i class="fa fa-angle-right"></i>
                       </a>                                    
                    </div>
                    <div class="alert alert-warning" role="alert">
                       <button class="alert-slideout-close" type="button">
                       <span class="close-medium">×</span>
                       </button>
                       <div class="section-title">Well done!</div>
                       <i class="alert-date">December 13, 2018 | 09:30 EST</i>
                       <p class="small">Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
                       <hr>
                       <a class="alert-link">View in Log
                       <i class="fa fa-angle-right"></i>
                       </a>                                           
                    </div>
                    <div class="alert alert-danger" role="alert">
                       <button class="alert-slideout-close" type="button">
                       <span class="close-medium">×</span>
                       </button>
                       <div class="section-title">Well done!</div>
                       <i class="alert-date">December 13, 2018 | 09:30 EST</i>
                       <p class="small">Aww yeah, you successfully read this important alert message.</p>
                       <hr>
                       <a class="alert-link">View in Log
                       <i class="fa fa-angle-right"></i>
                       </a>                                                    
                    </div>
                    <div class="alert alert-info" role="alert">
                       <button class="alert-slideout-close" type="button">
                       <span class="close-medium">×</span>
                       </button>
                       <div class="section-title">Well done!</div>
                       <i class="alert-date">December 13, 2018 | 09:30 EST</i>
                       <p class="small">An alert works with this kind of content.</p>
                       <hr>
                       <a class="alert-link">View in Log
                       <i class="fa fa-angle-right"></i>
                       </a>
                    </div>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-12">
                    <hr>
                 </div>
              </div>
              <div class="row">
                 <div class="col-lg-12">
                    <div class="slideout-footer">
                       <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Notification Settings
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="mobile-only slideout-mobile-bg">
        <div class="row">
           <div class="col-lg-12">
              <div class="slideout-title-mobile">Widget Details</div>
           </div>
        </div>
        <ul class="nav overflow-y">
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-profile"></span>
              <span>My Profile</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-alerts"></span>
              <span>Alerts</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-chat"></span>
              <span>Chat</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-calendar"></span>
              <span>Calendar</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-docs"></span>
              <span>Docs</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-support"></span>
              <span>Support</span>
              </a>
           </li>
           <li>
              <a class="nav-li left-nav-overflow">
              <span class="icon-applets vertical-align icon-settings"></span>
              <span>Settings</span>
              </a>
           </li>
        </ul>
     </div>
     <!--
        <div class="desktop-only">
        <li class="sidebar-user-panel" (click)="toggleSlideoutB()">
                <span class="icon-widgets vertical-align icon-all-applets"></span>
                 <span>View All Widgets</span>
        </li>
        </div>
        <div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
        <div id="slideout">
            <div id="slideout_innerB">
                    <div class="row">
                            <div class="col-lg-12">
                                <div class="slideout-title">
                                    <button type="button" class="btnCloseSlider" aria-label="Close">
                                        <span class="close-large" aria-hidden="true">&times;</span>
                                      </button>
                                    <span class="slideout-applet-title-icon icon-all-applets"></span>
                                    Widget Details
                                </div>
                            </div>
                        </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-alerts icon-role"></span>
                            <span>Alerts</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-chat icon-role"></span>
                            <span>Chat</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-calendar icon-role"></span>
                            <span>Calendar</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-docs icon-role"></span>
                            <span>Docs</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-support icon-role"></span>
                            <span>Support</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-settings icon-role"></span>
                            <span>Settings</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideout-footer">
                            <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Widget Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="mobile-only slideout-mobile-bg">
        <div class="row">
            <div class="col-lg-12">
                <div class="slideout-title-mobile">Widget Details</div>
            </div>
        </div>
        <ul class="nav overflow-y">
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-profile"></span>
                    <span>My Profile</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-alerts"></span>
                    <span>Alerts</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-chat"></span>
                    <span>Chat</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-calendar"></span>
                    <span>Calendar</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-docs"></span>
                    <span>Docs</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-support"></span>
                    <span>Support</span>
                </a>
            </li>
            <li>
                <a class="nav-li left-nav-overflow">
                    <span class="icon-applets vertical-align icon-settings"></span>
                    <span>Settings</span>
                </a>
            </li>
        </ul>
        </div>
        -->