        <div class="desktop-only">
        <li class="sidebar-user-panel sidebar-leaf" (click)="toggleSlideoutB()" tooltip="View All Widgets" tooltip-position="top">
                <span class="icon-widgets vertical-align icon-all-applets"></span>
                 <span class="view-widgets">View All Widgets</span>
        </li>
        </div>
        <div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
        <div id="slideout">
            <div id="slideout_innerB">
                    <div class="row">
                            <div class="col-lg-12">
                                <div class="slideout-title">
                                    <button type="button" class="btnCloseSlider" aria-label="Close">
                                        <span class="close-large" aria-hidden="true">&times;</span>
                                      </button>
                                    <span class="slideout-applet-title-icon icon-all-applets"></span>
                                    Widget Details
                                </div>
                            </div>
                        </div>
                <div class="row text-center">
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-alerts icon-role"></span>
                            <span>Alerts</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-chat icon-role"></span>
                            <span>Chat</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-calendar icon-role"></span>
                            <span>Calendar</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-docs icon-role"></span>
                            <span>Docs</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-support icon-role"></span>
                            <span>Support</span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="btn-slideout margin-bottom-md">
                            <span class="icon-applets vertical-align slideout-icon icon-settings icon-role"></span>
                            <span>Settings</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slideout-footer">
                            <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Widget Settings
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>


        <div class="mobile-only slideout-mobile-bg">
                <nav class="navbar navbar-inverse navbar-default" role="navigation">
                        <div class="navbar-header widget-header-mobile"> 
                          <button type="button" class="navbar-toggle float-right" data-toggle="collapse" data-target="#widgets-nav">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                          <div class="navbar-brand">View All Widgets</div>
                        </div>
                        <div class="collapse navbar-collapse" id="widgets-nav">
                          <ul class="nav navbar-nav navbar-nav-widgets-mobile">
                                <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-profile"></span>
                                            <span>My Profile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-alerts"></span>
                                            <span>Alerts</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-chat"></span>
                                            <span>Chat</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-calendar"></span>
                                            <span>Calendar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-docs"></span>
                                            <span>Docs</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-support"></span>
                                            <span>Support</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-li left-nav-overflow">
                                            <span class="icon-applets vertical-align icon-settings"></span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                          </ul>
                        </div>
                    </nav>
        </div>