<div class="desktop-only">
    <li class="slide slide-widgets" (click)="toggleSlideoutB()">
        <div class="foot-li"> <span class="icon-widgets vertical-align icon-all-applets"></span> <span>View All Widgets</span></div>
    </li>
</div>


<!--Widget Slideout Start-->
<div class="collapse navbar-collapse desktop-only" id="navbarResponsive">
    <div id="slideout">
        <div id="slideout_innerB">
            <div class="row">
                <div class="col-lg-12">
                    <div class="slideout-title">Widget Details
                        <button type="button" class="btnCloseSlider">
                            <span class="icon-exit icon-slide-close"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-profile icon-role"></span>
                        <span>My Profile</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-alerts icon-role"></span>
                        <span>Alerts</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-chat icon-role"></span>
                        <span>Chat</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-calendar icon-role"></span>
                        <span>Calendar</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-docs icon-role"></span>
                        <span>Docs</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-support icon-role"></span>
                        <span>Support</span>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="btn-slideout margin-bottom-md">
                        <span class="icon-applets vertical-align slideout-icon icon-settings icon-role"></span>
                        <span>Settings</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="slideout-footer">
                        <span class="icon-applets icon-settings icon-slideout-settings"></span> Edit Widget Settings
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Widget Slideout End-->


<div class="mobile-only slideout-mobile-bg">
    <div class="row">
        <div class="col-lg-12">
            <div class="slideout-title-mobile">Widget Details</div>
        </div>
    </div>
    <ul class="nav overflow-y">
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-profile"></span>
                <span>My Profile</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-alerts"></span>
                <span>Alerts</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-chat"></span>
                <span>Chat</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-calendar"></span>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-docs"></span>
                <span>Docs</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-support"></span>
                <span>Support</span>
            </a>
        </li>
        <li>
            <a class="nav-li left-nav-overflow">
                <span class="icon-applets vertical-align icon-settings"></span>
                <span>Settings</span>
            </a>
        </li>
    </ul>
</div>