<app-page-title></app-page-title>
<ng-app-header [title]="pageTitle" (back)="goBack()"></ng-app-header>
<ng-page-tabs [tabs]="pageTabs" (change)="handlePageTabChange($event)"></ng-page-tabs>

<div class="wrapper">
  <div class="ng-page-container">
    <div class="ng-page-content" fxLayout="row" fxAlignItems="stretch" *ngIf="currentPageTab !== 'preview'">
      <ng-page-sidebar
        [active]="currentApp"
        [items]="pageSidebarItems[currentPageTab]"
        (itemClick)="handleAppChange($event)"
        fxFlex="240px"
      ></ng-page-sidebar>
      <div fxFlex class="ng-app-container">
      </div>
    </div>
  </div>
</div>