<app-page-title></app-page-title>
<ng-app-header [title]="pageTitle" (back)="goBack()">
  <mat-icon
    class="current-env-star"
    matTooltip="Current environment"
    matTooltipClass="ng-mat-tooltip"
    *ngIf="environment.boundUrl === boundUrl">star</mat-icon>
</ng-app-header>
<ng-page-tabs
  [currentTab]="currentPageTab"
  [tabs]="pageTabs"
  (change)="handlePageTabChange($event)"
></ng-page-tabs>

<div class="wrapper">
  <div class="ng-page-container" *ngIf="currentPageTab === 'configuration' || currentPageTab === 'appearance'">
    <div class="ng-page-content" fxLayout="row" fxAlignItems="stretch">
      <ng-page-sidebar [active]="currentApp" [items]="pageSidebarItems[currentPageTab]"
        (itemClick)="handleAppChange($event)" fxFlex="240px"></ng-page-sidebar>
      <div fxFlex class="ng-app-container" *ngIf="environment">
        <app-appearance-general [environment]="environment" (update)="update($event)"
          *ngIf="currentApp === 'appearance_general'">
        </app-appearance-general>
        <app-info-banner [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'info_banner'">
        </app-info-banner>
        <app-landing-text [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'landing_text'">
        </app-landing-text>
        <app-landing-buttons [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'landing_buttons'">
        </app-landing-buttons>
        <app-system-consent [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'system_consent'"></app-system-consent>
        <app-custom-css [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'custom_css'"></app-custom-css>
        <app-config-general [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'config_general'">
        </app-config-general>
        <app-smtp-relay [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'smtp_relay'">
        </app-smtp-relay>
        <app-config-support [environment]="environment" (update)="update($event)" *ngIf="currentApp === 'support_systems'"></app-config-support>
      </div>
    </div>
  </div>

  <app-faqs *ngIf="currentPageTab === 'faqs'"></app-faqs>
</div>