<mat-grid-list cols="1" rowHeight="65px" class="mb-1">
    <mat-grid-tile>
        <h1>User Manager</h1>
        <button mat-mini-fab color="primary" class="ml-2" *ngIf="canCreate" (click)="addButtonClicked()" matTooltip="Add User">
            <mat-icon>add_user</mat-icon>
        </button>
    </mat-grid-tile>
</mat-grid-list>
<mat-tab-group class="content-body" [selectedIndex]="selectedTabIndex">
    <mat-tab label="Approved">
        <app-list-active-users></app-list-active-users>
    </mat-tab>
    <mat-tab label="Pending">
        <app-list-pending-users [canUpdate]="canUpdate" (userApproved)="refreshActiveUsers($event)"></app-list-pending-users>
    </mat-tab>
    <mat-tab label="Events">
        <app-login-events></app-login-events>
    </mat-tab>
</mat-tab-group>


