.row {
  display: flex;
}

.registration-steps {
  flex: 1;
  margin-right: 90px;
}

.registration-progress {
  flex: none;
  width: 300px;
}

.actions {
  text-align: right;
  margin: 30px 10px;
}

.check-item-row {

  span {
    font-size: 12px;
  }
}

.mat-accordion .mat-expansion-panel{
	margin-top: 15px;
  }

