<div class="row mb-1">
  <div class="registration-steps">
    <h2>Registration Overview</h2>
    <mat-accordion>

      <!-- ********** STEPS ********** -->
      <mat-expansion-panel *ngFor="let step of reg.steps; index as i"
        [disabled]="currentStep < i"
        [expanded]="currentPanel === i"
        (opened)="setCurrentPanel(i)"
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>
              <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(step.status)" style="width:21px;height:21px;" [matTooltip]="statusAsString(step.status)">
                <mat-icon class="color-white sm-icon">check</mat-icon>
              </span>
              {{step.title}}
            </strong>
          </mat-panel-title>
          <div *ngIf="step.dateCompleted">
            <div class="check-item-row mb-2 ml-4">
              <span>Completed {{this.formatDate(step.dateCompleted)}}</span>
            </div>
          </div>
        </mat-expansion-panel-header>
        <div>{{step.description}}</div>

        <!-- ********** FORMS ********** -->
        <mat-accordion *ngIf="step.forms.length > 0">
          <mat-expansion-panel *ngFor="let form of step.forms; index as i"
            [expanded]="currentForm === i"
            (opened)="currentForm = i"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(form.status)" style="width:21px;height:21px;" [matTooltip]="statusAsString(form.status)">
                  <mat-icon class="color-white sm-icon">check</mat-icon>
                </span>
                {{form.title}}
              </mat-panel-title>
              <div *ngIf="form.status === 'submitted' || form.status === 'complete'">
                <div class="check-item-row mb-2 ml-4">
                  <span *ngIf="form.status === 'submitted'">Submitted {{this.formatDate(form.dateSubmitted)}}</span>
                  <span *ngIf="form.status === 'complete'">Submitted {{this.formatDate(form.dateSubmitted)}}, Completed {{this.formatDate(form.dateCompleted)}}</span>
                </div>
              </div>
            </mat-expansion-panel-header>

            <!-- ********** APPROVALS ********** -->
            <div *ngIf="form.approvals">
              <div *ngFor="let approval of form.approvals" class="check-item-row mb-2 ml-4">
                  <span class="float-left text-center round mr-1" [ngClass]="getBackgroundClass(approval.status)" style="width:21px;height:21px;" matTooltip="Completed">
                    <mat-icon class="color-white sm-icon">check</mat-icon>
                  </span>
                  {{approval.title}}
                  <br>
                  <span *ngIf="approval.dateCompleted">Completed {{this.formatDate(approval.dateCompleted)}}</span>
                </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="actions">
      <button
        mat-raised-button
        color="primary"
        routerLink="/portal/my-registration/steps"
      >
        Next
      </button>
    </div>
  </div>
  <div class="registration-progress">
    <div>
      <app-completion-progress [percent]="getPercent()"></app-completion-progress>
    </div>
  </div>
</div>
