.dashboard-cycling {
  background: #FFFFFF;
  box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  margin-right: 36px;
  margin-top: 6px;

  .mat-icon-button {
    width: 32px;
    height: 32px;
    line-height: 32px;
  }
}