<div *ngIf="!this.editMode">
  <h1>{{userDashboards[dashIndex].title}}</h1>

  <span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let dashboard of userDashboards; index as i" (click)="setDashboard.emit(i)">
        <mat-icon>settings</mat-icon>
        <span>{{dashboard.title}}</span>
      </button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="menu2">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu2="matMenu">
      <button mat-menu-item (click)="enterEditMode.emit()">
        <mat-icon>settings</mat-icon>
        <span>Edit Dashboard</span>
      </button>

      <button mat-menu-item (click)="createNewDashboard()">
        <mat-icon>add_to_photos</mat-icon>
        <span>Create New Dashboard</span>
      </button>
    </mat-menu>
  </span>

  <p class="mt-0 mb-5">
      {{userDashboards[dashIndex].description}}
  </p>
</div>

<div *ngIf="this.editMode">

  <h1>Edit {{userDashboards[dashIndex].title}}</h1>

  <span>
    <button aria-label="Edit Details" mat-icon-button (click)="dashboardDetailsModal.show = true">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button [matMenuTriggerFor]="menu3">
      <mat-icon>expand_more</mat-icon>
    </button>

    <mat-menu #menu3="matMenu">
      <button mat-menu-item *ngIf="!userDashboards[dashIndex].default" (click)="setDefault()">
        <mat-icon>check_circle</mat-icon>
        <span>Set as Default</span>
      </button>

      <button mat-menu-item *ngIf="userDashboards.length > 1" (click)="dashboardDeletionModal.show = true">
        <mat-icon>remove_circle</mat-icon>
        <span>Delete Dashboard</span>
      </button>
    </mat-menu>

    <button mat-icon-button data-toggle="modal" data-target="#widget">note_add</button>
  </span>

  <span>
    <a mat-flat-button (click)="leaveEditMode.emit(false)">Cancel</a>
    <button mat-flat-button color="primary" (click)="leaveEditMode.emit(true)">Save</button>
  </span>

</div>

<!-- 
<app-modal #confirmDashboardDeletionModal
    [title]="'Delete Dashboard'"
    [message]="'Are you sure you want to delete ' + userDashboards[dashIndex].title + ' from your dashboards?'"
    [iconClassList]="'fa fa-4x fa-trash text-danger margin-bottom'"
    [buttons]="[{title: 'Confirm', classList: 'btn btn-danger'}]"
    (btnClicked)="deleteDashboard($event)"
></app-modal>

<app-dashboard-details-modal #dashboardDetailsModal
    [dashTitle]="userDashboards[dashIndex].title" 
    [dashDescription]="userDashboards[dashIndex].description"
    (details)="setDashboardDetails($event)"
></app-dashboard-details-modal> -->