<app-page-title
  pageTitle="Session Manager">
</app-page-title>
<div class="header-new">
  <h1>Session Manager</h1>
</div>

<mat-tab-group class="content-body session-tracking" [selectedIndex]="selectedTabIndex">
  <mat-tab label="Active Sessions">
    <app-active-sessions></app-active-sessions>
  </mat-tab>
  <mat-tab label="Login Events">
    <app-login-events></app-login-events>
  </mat-tab>
  <mat-tab label="Admin Events">
    <app-admin-events></app-admin-events>
  </mat-tab>
  <mat-tab label="Config">
    <app-session-tracking-config></app-session-tracking-config>
  </mat-tab>
</mat-tab-group>