<div
  class="casting-item"
  [ngClass]="className"
  [class.draggable]="itemDraggable"
  [draggable]="itemDraggable"
  (dragstart)="drag($event)"
  (dragenter)="dragenter()"
  (dragleave)="dragleave($event)"
  (drop)="handleDrop($event)"
  ondragover="onDragOver(event)"
>
  <div class="image-container">
    <mat-icon *ngIf="!dashboard">{{ icon }}</mat-icon>
    <app-dashboard-gridster [dashboard]="dashboard" *ngIf="dashboard"></app-dashboard-gridster>
  </div>
  <div class="info">
    <div class="item-title">
      {{ title }}
    </div>
    <div class="item-subtitle" *ngIf="subtitle">
      <mat-icon class="subtitle-icon" *ngIf="subtitleIcon">{{ subtitleIcon }}</mat-icon>
      {{ subtitle }}
    </div>
  </div>
  <div class="overlay" [class.hovering]="hovering">
    <div
      matRipple
      class="disconnect-button"
      (click)="onDisconnect.emit()"
      *ngIf="showDisconnect"
    >
      <mat-icon>power_settings_new</mat-icon>
      <div>Disconnect</div>
    </div>
  </div>
</div>