<div
  class="casting-item"
  [class.draggable]="draggable"
  [draggable]="draggable"
  (dragstart)="drag($event)"
  (dragenter)="dragenter()"
  (dragleave)="dragleave($event)"
  (drop)="handleDrop($event)"
  ondragover="onDragOver(event)"
>
  <div class="image-container">
    <mat-icon>{{ icon }}</mat-icon>
  </div>
  <div class="info">
    <div class="item-title">
      {{ title }}
    </div>
    <div class="item-subtitle" *ngIf="subtitle">
      {{ subtitle }}
    </div>
  </div>
  <div class="overlay" [class.hovering]="hovering">
    <button
      color="primary"
      mat-raised-button
      (click)="onDisconnect.emit()"
      *ngIf="showDisconnect"
    >
      Disconnect
    </button>
  </div>
</div>