<!-- <app-card-title [cardTitle]="'Realm Level Roles'"></app-card-title> -->

<h2>Role Mappings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Client</th>
      <th>Permissions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let rwp of rwps">
      <td>
        {{rwp.role.name}}
      </td>

      <td>
        {{clientName}}
      </td>

      <td>
        <mat-chip-list *ngFor="let p of awp.permissions">
          <mat-chip>{{p.name}}</mat-chip>
        </mat-chip-list>

<!--         <span *ngFor="let p of rwp.permissions" [ngClass]="{'label-success': p.active, 'label-info': !p.active}">
          <span class="label">{{p.name}}</span>
        </span> -->
      </td>
    </tr>
  </tbody>
</table>