.title {
  display: flex;
  align-items: center;
}

.rolesRow {
  transition: 0.2s ease all;
  background: #eee;

  &:hover {
    background: #ddd;
  }
}

.no-roles {
  max-width: 160px;
  margin: 20px 0;
}
