      <app-card-title 
      [cardTitle]="'MicroApp Realm Level Roles'" 
      [cardSubtitle]="'View current realm level roles below.'">
    </app-card-title>

  <div class="row">
    <div class="col-md-12">
      <div class="table table-emf table-responsive">
        <table class="table mb-0 table-striped">
          <thead>
            <tr>
              <th>Role Name</th>
              <th>Permissions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let rwp of rwps">
              <td>
                {{rwp.role.name}}
              </td>
              <td>
                <div *ngFor="let p of rwp.permissions" class="highlight-row">
                  <div class="highlight">{{clientName}}:</div>
                  <div class="highlight-bold" [ngClass]="{'text-success': p.active, 'text-warning': !p.active}">
                    {{p.name}}
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>