<h2>Role Mappings</h2>

<table class="table">
  <thead>
    <tr>
      <th>Role</th>
      <th>Client</th>
      <th>Permissions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let rwp of rwps">
      <td>
        {{rwp.role.name}}
      </td>

      <td>
        {{clientName}}
      </td>

      <td>
        <mat-chip-list>
          <mat-chip 
          *ngFor="let p of rwp.permissions" 
          class="opacity-half color-white"
          [ngClass]="{'bg-green': p.active, 'bg-red': !p.active}">
          {{p.name}}
          </mat-chip>
        </mat-chip-list>
      </td>
    </tr>
  </tbody>
</table>