<h2>Active Users</h2>


<!-- <mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="progress">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full Name </th>
      <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
    </ng-container>

    <ng-container matColumnDef="color">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div> -->

<app-string-with-dropdown-filter
  [labelText]="'Search by Name, Email, or User Name'"
  [placeholderText]="'Enter Search Criteria Here'"
  [dropdownLabelText]="'Select a Role'"
  [dropdownGen]="injectable"
  [selectedItem]="activeRoleName"
  (searchUpdated)="searchUpdated($event)">
</app-string-with-dropdown-filter>

<table class="table">
  <thead>
    <tr>
      <th>Status</th>
      <th>Full Name</th>
      <th>Username</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let user of users | stringFilter:'firstName,lastName,username,email':search">
      <td>
        <span *ngIf="user.enabled" tooltip="User Approved" tooltip-position="top">
          <span class="material-icons color-green">brightness_1</span>
        </span>

        <span *ngIf="!user.enabled" tooltip="User Disabled" tooltip-position="top">
          <span class="material-icons color-red">brightness_1</span>
        </span>
      </td>

      <td>
        <a [routerLink]="['../edit', user.id]">
          {{user.firstName}} {{user.lastName}}
        </a>
      </td>

      <td>
          {{user.username}}
      </td>

      <td>
        {{user.email}}
      </td>

      <td>
        <button mat-icon-button (click)="viewAttributes(user)">
          <mat-icon aria-label="Remove User from Vendor">person_pin</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>



<!-- 
<div class="modalDialog" [ngClass]="{'display-none': !showAttributes}">
  <div class="modal-white-bg">
    <div class="widget-head">
      <div class="row">
        <div class="col-sm-9">
          <div class="widget-title">
            Attributes for {{activeUser?.firstName}} {{activeUser?.lastName}}
          </div>
        </div>
        <div class="col-sm-3 text-right">
          <button class="disabledBtn"></button>
          <button class="disabledBtn"></button>
          <div tooltip="Close" tooltip-position="top">
            <button class="redCloseBtn" data-dismiss="modal" (click)="showAttributes= false"></button>
          </div>
        </div>
      </div>
    </div>
    <div class="rmf-modal">
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-md-12">
            <app-view-attributes [user]="activeUser"></app-view-attributes>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->