<app-string-with-dropdown-filter
[labelText]="'Search by name, username or email'"
[placeholderText]="''"
[dropdownLabelText]="'Filter by role'"
[dropdownGen]="injectable"
[selectedItem]="activeRoleName"
(searchUpdated)="searchUpdated($event)">
</app-string-with-dropdown-filter>

<div class="table-container">

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Organization</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | stringFilter:'firstName,lastName,username,email':search">
        <td>
          <a [routerLink]="['../edit', user.id]" class="position-relative">
            <mat-icon class="avatar status-green float-left" style="margin-top:-7px;" *ngIf="user.enabled" matTooltip="User approved">person</mat-icon>
            <span>{{user.username}}</span>
          </a>
        </td>
        <td>
          {{user.firstName}} {{user.lastName}}
        </td>
        <td>
          <span *ngIf="user.email">{{user.email}}</span>
          <span *ngIf="!user.email" class="opacity-half">N/A</span>
        </td>
        <td>
          {{user.vendor}}
        </td>
        <td class="text-right">
          <button mat-icon-button (click)="viewAttributes(user)" matTooltip="View Attributes" *ngIf="attributes">
            <mat-icon>work_outline</mat-icon>
          </button>
          <button mat-icon-button [routerLink]="['../edit', user.id]" matTooltip="Edit User">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>