<mat-form-field class="form-group" [formGroup]="formGroup" [ngClass]="classList()">
	<mat-label *ngIf="label" class="control-label">{{label}}</mat-label>
	<div class="v-center">
        <mat-icon *ngIf="icon" class="mr-1">{{icon}}</mat-icon>
        <input 
            matInput
            class="form-control"
            [formControlName]="controlName"
            [maxLength]="maxChars"
            [ngClass]="inputClassList"
            [placeholder]="placeholder"
            [type]="type"
            (keyup)="emitValueChange()"
        >
    </div>
	<mat-hint class="control-label control-label-description">{{labelDesc}}</mat-hint>
</mat-form-field>
