::ng-deep mat-form-field {
    width: 100%;

    .mat-form-field-wrapper {
        width: 100%;
    }

    .mat-input-wrapper{
        width: 100%;
    }
}

.mat-focused .control-label {
    margin-left: 0 !important;
}