<div class="card margin-bottom">


  <div class="widget-head" *ngIf="this.inEditMode">
    <div class="widget-title">
      {{this.app.appTitle}}
    </div>
    <div class="widget-controls">
      <div class="disabledBtn"></div>
      <div class="disabledBtn"></div>
      <div class="redCloseBtn" (click)='removeWidget()'></div>
    </div>
  </div>


  <div class="widget-head widget-head-no-drag" *ngIf="!this.inEditMode">
      <div class="widget-title">
        {{this.app.appTitle}}
      </div>
      <div class="widget-controls">
        <div class="greenExpandBtn"></div>
        <div class="disabledBtn"></div>
        <div class="disabledBtn"></div>
      </div>
    </div>


  <div class="widget-float-body" #hook></div>
</div>