<div class="card margin-bottom" *ngIf="this.widget">
    <div *ngIf="!this.inEditMode">
  <div class="widget-head widget-head-no-drag">
    <div class="widget-title">
      {{this.widget.widgetTitle}}
    </div>
    <div class="widget-controls">
      <div class="greenExpandBtn"></div>
      <div class="disabledBtn"></div>
      <div class="disabledBtn"></div>
    </div>
  </div>
  </div>

<div *ngIf="this.inEditMode">
    <div class="widget-head">
      <div class="widget-title">
        {{this.widget.widgetTitle}}
      </div>
      <div class="widget-controls">
        <div class="disabledBtn"></div>
        <div class="disabledBtn"></div>
        <div class="redCloseBtn" (click)='removeWidget()'></div>
      </div>
    </div>
    </div>


  <div class="widget-float-body" [id]="containerId"></div>
</div>