<div class="card margin-bottom" *ngIf="this.widget">
    <div *ngIf="!this.inEditMode">
  <div class="widget-head widget-head-no-drag">
    <div class="widget-title">
      {{this.widget.widgetTitle}}
    </div>
    <div class="widget-controls">
      <button class="greenExpandBtn"></button>
      <button class="disabledBtn"></button>
      <button class="disabledBtn"></button>
    </div>
  </div>
  </div>

<div *ngIf="this.inEditMode">
    <div class="widget-head">
      <div class="widget-title">
        {{this.widget.widgetTitle}}
      </div>
      <div class="widget-controls">
        <button class="disabledBtn"></button>
        <button class="disabledBtn"></button>
        <button class="redCloseBtn" (click)='removeWidget()'></button>
      </div>
    </div>
    </div>


  <div class="widget-float-body" [id]="containerId"></div>
</div>