<div class="row">
  <div class="col-lg-12 margin-bottom-lg">
    <div class="table table-emf table-responsive">
      <div class="section-title margin-bottom-md">Successes</div>
      <div style="max-height:320px; overflow-y:scroll;">
        <table class="table">
          <tbody>
            <tr class="text-success" style="cursor: pointer" (click)="showRequestDetails(request)"
              *ngFor="let request of httpSuccesses">
              <td valign="top">
                {{request.verb | uppercase}}
              </td>
              <td>
                <small *ngIf="request.widgetId">
                  <strong>{{app.appTitle}}</strong><br><em>{{getWidgetTitle(request.widgetId)}}</em><br>
                  {{request.uri}}
                </small>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-lg-12">
    <div class="table table-emf table-responsive">
      <div class="section-title margin-bottom-md">Failures</div>
      <div style="max-height:160px; overflow-y:scroll;">
        <table class="table">
          <tbody>
              <tr class="text-danger pointer" style="cursor: pointer" (click)="showRequestDetails(request)"
                *ngFor="let request of httpFailures">
                <td valign="top">
                  {{request.verb | uppercase}}
                </td>
                <td>
                  <small>
                    <span *ngIf="request.widgetId">
                      <strong>{{app.appTitle}}</strong><br><em>{{getWidgetTitle(request.widgetId)}}</em><br>
                    </span>
                    {{request.uri}}
                  </small>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modalDialog" role="document" [ngClass]="{'display-none': !showDetailsModal}">
  <div class="modal-white-bg">
    <div class="rmf-modal">
      <div class="rmf-modal-header">
        <button type="button" class="btnCloseSlider" (click)="showDetailsModal = false">
          <span class="close-large modal-close">&times;</span>
        </button>
        <h1>Request Details</h1>
      </div>
      <div class="rmf-modal-body">
        <div class="row">
          <div class="col-lg-5">
              <div class="margin-top-lg margin-bottom-none">Status</div>
              <h2 class="margin-top-none text-success" *ngIf="activeRequest?.succeeded">Succeeded</h2>
              <h2 class="margin-top-none text-danger" *ngIf="!activeRequest?.succeeded">Failed</h2>
              <div class="margin-top-lg margin-bottom-none">URI</div>
              <h2 class="margin-top-none" style="text-transform:lowercase;">{{activeRequest?.uri}}</h2>
              <div class="margin-top-lg margin-bottom-none">Method</div>
              <h2 class="margin-top-none">{{activeRequest?.verb | uppercase}}</h2>
          </div>

          <div class="col-lg-7">
            <div class="margin-top-lg margin-bottom-none">Response</div>
            <div style="max-height:400px;overflow-y:scroll;margin-top:5px;padding:15px 30px;font-size:14px;background:#efefef;">
              <span *ngIf="activeRequest?.responseAsJSON">
                {{activeRequest?.response | json}}
              </span>
              <span *ngIf="!activeRequest?.responseAsJSON">
                {{activeRequest?.response}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>